mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/xsd/TestOrdering-4/tip_inv_dependencies_resource_res.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
-->
<!--
Copyright (C) 2012 [COMPANY NAME]

Licensed to [COMPANY NAME] under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
[COMPANY NAME] licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/resource/res" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" targetNamespace="http://www.tmforum.org/xml/tip/resource/res" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
			<pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: TIP_INV_Model
                        at version: 1.2
      for all artifacts in package: org.tmforum.tip.resource.res
      Model Description:
      Model Project for TIP_INV. Modify settings to suit your needs
      Package Description:
      
      Package data summary information:
            entities: 1
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
	<!-- ******************************* -->
	<!-- Package Enumeration definitions -->
	<!-- ******************************* -->
	<!-- **************************** -->
	<!-- Package Datatype definitions -->
	<!-- **************************** -->
	<!-- ************************** -->
	<!-- package Entity definitions -->
	<!-- ************************** -->
	<xsd:element name="resource" type="tns:Resource"/>
	<!--
	<xsd:complexType name="Resource" abstract="true">
	-->
	<xsd:complexType name="Resource">	
		<xsd:annotation>
			<xsd:documentation>
				<p>This is the abstract base class for all entities that are inherently manageable and make up a Product. Examples which are not Manageable include legacy Hubs that don't support any type of management protocol; rather, they must be manually managed. Entities like Policy are of course manageable, but do not make up or are found packaged inside of a Product.</p>
				<p>This entity  is  abstract</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfResource">
		<xsd:sequence>
			<xsd:element name="item" type="tns:Resource" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ************************************* -->
	<!-- Package Association Class definitions -->
	<!-- ************************************* -->
	<!-- ************************** -->
	<!-- package Event definitions -->
	<!-- ************************** -->
	<!-- ************************** -->
	<!-- package Exception definitions -->
	<!-- ************************** -->
</xsd:schema>
