mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/xsd/TestOrdering-7/SAIOrderMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TIP-SAI_OrderV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:SAIOrd="http://www.tmforum.org/xml/tip/internal/SAIOrd"
xmlns:tns="http://www.tmforum.org/tip/TPC_ord/wsdl/v1-0" 
targetNamespace="http://www.tmforum.org/tip/SAI_ord/wsdl/v1-0">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/SAIOrd" 
					  schemaLocation="MTOSI-SAI-order.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="execute_Service_Design_Order_Request">
    <wsdl:part name="payload" element="SAIOrd:service_Design_Order"/>
  </wsdl:message>
  <wsdl:message name="execute_Service_Design_Order_Response"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="execute_Service_Design_Order_Exception"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
    <wsdl:message name="execute_Service_FeasibilityCheck_Order_Request">
    <wsdl:part name="payload" element="SAIOrd:service_FeasibilityCheck_Order"/>
  </wsdl:message>
  <wsdl:message name="execute_Service_FeasibilityCheck_Order_Response"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="execute_Service_FeasibilityCheck_Order_Exception"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
    <wsdl:message name="execute_Service_Activate_Order_Request">
    <wsdl:part name="payload" element="SAIOrd:service_activate_Order"/>
  </wsdl:message>
  <wsdl:message name="execute_Service_Activate_Order_Response"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="execute_Service_Activate_Order_Exception"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
  
</wsdl:definitions>
