Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TrafficConditioningProfileRetrieval/TrafficConditioningProfileRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TrafficConditioningProfileRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tcpr="http://www.tmforum.org/mtop/mri/xsd/tcpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tcpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tcpr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TrafficConditioningProfileRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TrafficConditioningProfileRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tcpr/v1" schemaLocation="../../xsd/TrafficConditioningProfileRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTcProfilesRequest">
    <wsdl:documentation>
      <p>The getAllTcProfiles request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getAllTcProfilesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTcProfilesResponse">
    <wsdl:documentation>
      <p>The getAllTcProfiles response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getAllTcProfilesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTcProfilesException">
    <wsdl:documentation>
      <p>The getAllTcProfiles exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getAllTcProfilesException"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileRequest">
    <wsdl:documentation>
      <p>The getTcProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileResponse">
    <wsdl:documentation>
      <p>The getTcProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileException">
    <wsdl:documentation>
      <p>The getTcProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileException"/>
  </wsdl:message>
  <wsdl:message name="getTcProfilesIteratorRequest">
    <wsdl:documentation>
      <p>The getTcProfilesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfilesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTcProfilesIteratorResponse">
    <wsdl:documentation>
      <p>The getTcProfilesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfilesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTcProfilesIteratorException">
    <wsdl:documentation>
      <p>The getTcProfilesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfilesIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
