mtosi_2.0/main/DDPs/ResourcePerformanceManagement/IIS/wsdl/ThresholdCrossingAlertControl/ThresholdCrossingAlertControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ThresholdCrossingAlertControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: ThresholdCrossingAlertControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP ThresholdCrossingAlertControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0" location="ThresholdCrossingAlertControlMessages.wsdl"/>
  <wsdl:portType name="ThresholdCrossingAlertControl">
    <wsdl:documentation>
      <p>The ThresholdCrossingAlertControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="createTcaParameterProfile">
      <wsdl:input message="tns:createTcaParameterProfileRequest"/>
      <wsdl:output message="tns:createTcaParameterProfileResponse"/>
      <wsdl:fault name="createTcaParameterProfileException" message="tns:createTcaParameterProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTcaParameterProfile">
      <wsdl:input message="tns:deleteTcaParameterProfileRequest"/>
      <wsdl:output message="tns:deleteTcaParameterProfileResponse"/>
      <wsdl:fault name="deleteTcaParameterProfileException" message="tns:deleteTcaParameterProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="disableThresholdCrossingAlert">
      <wsdl:input message="tns:disableThresholdCrossingAlertRequest"/>
      <wsdl:output message="tns:disableThresholdCrossingAlertResponse"/>
      <wsdl:fault name="disableThresholdCrossingAlertException" message="tns:disableThresholdCrossingAlertException"/>
    </wsdl:operation>
    <wsdl:operation name="enableThresholdCrossingAlert">
      <wsdl:input message="tns:enableThresholdCrossingAlertRequest"/>
      <wsdl:output message="tns:enableThresholdCrossingAlertResponse"/>
      <wsdl:fault name="enableThresholdCrossingAlertException" message="tns:enableThresholdCrossingAlertException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTcaParameterProfileNames">
      <wsdl:input message="tns:getAllTcaParameterProfileNamesRequest"/>
      <wsdl:output message="tns:getAllTcaParameterProfileNamesResponse"/>
      <wsdl:fault name="getAllTcaParameterProfileNamesException" message="tns:getAllTcaParameterProfileNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTcaParameterProfiles">
      <wsdl:input message="tns:getAllTcaParameterProfilesRequest"/>
      <wsdl:output message="tns:getAllTcaParameterProfilesResponse"/>
      <wsdl:fault name="getAllTcaParameterProfilesException" message="tns:getAllTcaParameterProfilesException"/>
    </wsdl:operation>
    <wsdl:operation name="getTcaParameterProfile">
      <wsdl:input message="tns:getTcaParameterProfileRequest"/>
      <wsdl:output message="tns:getTcaParameterProfileResponse"/>
      <wsdl:fault name="getTcaParameterProfileException" message="tns:getTcaParameterProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="getTcaTpParameter">
      <wsdl:input message="tns:getTcaTpParameterRequest"/>
      <wsdl:output message="tns:getTcaTpParameterResponse"/>
      <wsdl:fault name="getTcaTpParameterException" message="tns:getTcaTpParameterException"/>
    </wsdl:operation>
    <wsdl:operation name="setTcaParameterProfile">
      <wsdl:input message="tns:setTcaParameterProfileRequest"/>
      <wsdl:output message="tns:setTcaParameterProfileResponse"/>
      <wsdl:fault name="setTcaParameterProfileException" message="tns:setTcaParameterProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="setTcaParameterProfilePointer">
      <wsdl:input message="tns:setTcaParameterProfilePointerRequest"/>
      <wsdl:output message="tns:setTcaParameterProfilePointerResponse"/>
      <wsdl:fault name="setTcaParameterProfilePointerException" message="tns:setTcaParameterProfilePointerException"/>
    </wsdl:operation>
    <wsdl:operation name="setTcaTpParameter">
      <wsdl:input message="tns:setTcaTpParameterRequest"/>
      <wsdl:output message="tns:setTcaTpParameterResponse"/>
      <wsdl:fault name="setTcaTpParameterException" message="tns:setTcaTpParameterException"/>
    </wsdl:operation>
    <wsdl:operation name="getTcaParameterProfileNamesIterator">
      <wsdl:input message="tns:getTcaParameterProfileNamesIteratorRequest"/>
      <wsdl:output message="tns:getTcaParameterProfileNamesIteratorResponse"/>
      <wsdl:fault name="getTcaParameterProfileNamesIteratorException" message="tns:getTcaParameterProfileNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTcaParameterProfilesIterator">
      <wsdl:input message="tns:getTcaParameterProfilesIteratorRequest"/>
      <wsdl:output message="tns:getTcaParameterProfilesIteratorResponse"/>
      <wsdl:fault name="getTcaParameterProfilesIteratorException" message="tns:getTcaParameterProfilesIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
