mtosi_3.0/main/DDPs/ResourceTestManagement/IIS/wsdl/ResourceTestProvisioningControl/ResourceTestProvisioningControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:rtp="http://www.tmforum.org/mtop/rt/xsd/rtp/v1" xmlns:tns="http://www.tmforum.org/mtop/rt/wsdl/rtpc/v1-0" name="mTOP-ResourceTestProvisioningControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/rt/wsdl/rtpc/v1-0">
	<wsdl:documentation>
		<p>DDP: ResourceTestManagement</p>
		<p>Module: ResourceTestProvisioningControl Service Interface WSDL Message Module</p>
		<p>Description: This module contains all the mTOP ResourceTestProvisioningControl Service Interface WSDL message definitions.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/rt/xsd/rtp/v1" schemaLocation="../../xsd/ResourceTestProvisioningControlMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createAndActivateFlowDomainFragmentWithTestRequest">
		<wsdl:documentation>
			<p>The createAndActivateFlowDomainFragmentWithTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtp:createAndActivateFlowDomainFragmentWithTestRequest"/>
	</wsdl:message>
	<wsdl:message name="createAndActivateFlowDomainFragmentWithTestResponse">
		<wsdl:documentation>
			<p>The createAndActivateFlowDomainFragmentWithTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtp:createAndActivateFlowDomainFragmentWithTestResponse"/>
	</wsdl:message>
	<wsdl:message name="createAndActivateFlowDomainFragmentWithTestException">
		<wsdl:documentation>
			<p>The createAndActivateFlowDomainFragmentWithTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtp:createAndActivateFlowDomainFragmentWithTestException"/>
	</wsdl:message>
	<wsdl:message name="createAndActivateSubnetworkConnectionWithTestRequest">
		<wsdl:documentation>
			<p>The createAndActivateSubnetworkConnectionWithTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtp:createAndActivateSubnetworkConnectionWithTestRequest"/>
	</wsdl:message>
	<wsdl:message name="createAndActivateSubnetworkConnectionWithTestResponse">
		<wsdl:documentation>
			<p>The createAndActivateSubnetworkConnectionWithTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtp:createAndActivateSubnetworkConnectionWithTestResponse"/>
	</wsdl:message>
	<wsdl:message name="createAndActivateSubnetworkConnectionWithTestException">
		<wsdl:documentation>
			<p>The createAndActivateSubnetworkConnectionWithTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtp:createAndActivateSubnetworkConnectionWithTestException"/>
	</wsdl:message>
</wsdl:definitions>
