mtosi_2.0/2.0ME/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapControl/AlarmSeverityAssignmentProfileControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-AlarmSeverityAssignmentProfileControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:asapc="http://www.tmforum.org/mtop/rtm/xsd/asapc/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmSeverityAssignmentProfileControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AlarmSeverityAssignmentProfileControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/asapc/v1" schemaLocation="../../xsd/AlarmSeverityAssignmentProfileControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="assignAlarmSeverityAssignmentProfileRequest">
    <wsdl:documentation>
      <p>The assignAlarmSeverityAssignmentProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:assignAlarmSeverityAssignmentProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="assignAlarmSeverityAssignmentProfileResponse">
    <wsdl:documentation>
      <p>The assignAlarmSeverityAssignmentProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:assignAlarmSeverityAssignmentProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="assignAlarmSeverityAssignmentProfileException">
    <wsdl:documentation>
      <p>The assignAlarmSeverityAssignmentProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:assignAlarmSeverityAssignmentProfileException"/>
  </wsdl:message>
  <wsdl:message name="createAlarmSeverityAssignmentProfileRequest">
    <wsdl:documentation>
      <p>The createAlarmSeverityAssignmentProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:createAlarmSeverityAssignmentProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="createAlarmSeverityAssignmentProfileResponse">
    <wsdl:documentation>
      <p>The createAlarmSeverityAssignmentProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:createAlarmSeverityAssignmentProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="createAlarmSeverityAssignmentProfileException">
    <wsdl:documentation>
      <p>The createAlarmSeverityAssignmentProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:createAlarmSeverityAssignmentProfileException"/>
  </wsdl:message>
  <wsdl:message name="deassignAlarmSeverityAssignmentProfileRequest">
    <wsdl:documentation>
      <p>The deassignAlarmSeverityAssignmentProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deassignAlarmSeverityAssignmentProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="deassignAlarmSeverityAssignmentProfileResponse">
    <wsdl:documentation>
      <p>The deassignAlarmSeverityAssignmentProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deassignAlarmSeverityAssignmentProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="deassignAlarmSeverityAssignmentProfileException">
    <wsdl:documentation>
      <p>The deassignAlarmSeverityAssignmentProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:deassignAlarmSeverityAssignmentProfileException"/>
  </wsdl:message>
  <wsdl:message name="deleteAlarmSeverityAssignmentProfileRequest">
    <wsdl:documentation>
      <p>The deleteAlarmSeverityAssignmentProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deleteAlarmSeverityAssignmentProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteAlarmSeverityAssignmentProfileResponse">
    <wsdl:documentation>
      <p>The deleteAlarmSeverityAssignmentProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deleteAlarmSeverityAssignmentProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteAlarmSeverityAssignmentProfileException">
    <wsdl:documentation>
      <p>The deleteAlarmSeverityAssignmentProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:deleteAlarmSeverityAssignmentProfileException"/>
  </wsdl:message>
  <wsdl:message name="modifyAlarmSeverityAssignmentProfileRequest">
    <wsdl:documentation>
      <p>The modifyAlarmSeverityAssignmentProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:modifyAlarmSeverityAssignmentProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyAlarmSeverityAssignmentProfileResponse">
    <wsdl:documentation>
      <p>The modifyAlarmSeverityAssignmentProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:modifyAlarmSeverityAssignmentProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyAlarmSeverityAssignmentProfileException">
    <wsdl:documentation>
      <p>The modifyAlarmSeverityAssignmentProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:modifyAlarmSeverityAssignmentProfileException"/>
  </wsdl:message>
</wsdl:definitions>
