mtosi_2.0/2.0ME/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapControl/AlarmSeverityAssignmentProfileControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-AlarmSeverityAssignmentProfileControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmSeverityAssignmentProfileControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP AlarmSeverityAssignmentProfileControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0" location="AlarmSeverityAssignmentProfileControlMessages.wsdl"/>
  <wsdl:portType name="AlarmSeverityAssignmentProfileControl">
    <wsdl:documentation>
      <p>The AlarmSeverityAssignmentProfileControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="assignAlarmSeverityAssignmentProfile">
      <wsdl:input message="tns:assignAlarmSeverityAssignmentProfileRequest"/>
      <wsdl:output message="tns:assignAlarmSeverityAssignmentProfileResponse"/>
      <wsdl:fault name="assignAlarmSeverityAssignmentProfileException" message="tns:assignAlarmSeverityAssignmentProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="createAlarmSeverityAssignmentProfile">
      <wsdl:input message="tns:createAlarmSeverityAssignmentProfileRequest"/>
      <wsdl:output message="tns:createAlarmSeverityAssignmentProfileResponse"/>
      <wsdl:fault name="createAlarmSeverityAssignmentProfileException" message="tns:createAlarmSeverityAssignmentProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="deassignAlarmSeverityAssignmentProfile">
      <wsdl:input message="tns:deassignAlarmSeverityAssignmentProfileRequest"/>
      <wsdl:output message="tns:deassignAlarmSeverityAssignmentProfileResponse"/>
      <wsdl:fault name="deassignAlarmSeverityAssignmentProfileException" message="tns:deassignAlarmSeverityAssignmentProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteAlarmSeverityAssignmentProfile">
      <wsdl:input message="tns:deleteAlarmSeverityAssignmentProfileRequest"/>
      <wsdl:output message="tns:deleteAlarmSeverityAssignmentProfileResponse"/>
      <wsdl:fault name="deleteAlarmSeverityAssignmentProfileException" message="tns:deleteAlarmSeverityAssignmentProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyAlarmSeverityAssignmentProfile">
      <wsdl:input message="tns:modifyAlarmSeverityAssignmentProfileRequest"/>
      <wsdl:output message="tns:modifyAlarmSeverityAssignmentProfileResponse"/>
      <wsdl:fault name="modifyAlarmSeverityAssignmentProfileException" message="tns:modifyAlarmSeverityAssignmentProfileException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
