Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapControl/AsapControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AsapControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:asapc="http://www.tmforum.org/mtop/rtm/xsd/asapc/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AsapControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AsapControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/asapc/v1" schemaLocation="../../xsd/AsapControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="assignAsapRequest">
    <wsdl:documentation>
      <p>The assignAsap request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:assignAsapRequest"/>
  </wsdl:message>
  <wsdl:message name="assignAsapResponse">
    <wsdl:documentation>
      <p>The assignAsap response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:assignAsapResponse"/>
  </wsdl:message>
  <wsdl:message name="assignAsapException">
    <wsdl:documentation>
      <p>The assignAsap exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:assignAsapException"/>
  </wsdl:message>
  <wsdl:message name="createAsapRequest">
    <wsdl:documentation>
      <p>The createAsap request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:createAsapRequest"/>
  </wsdl:message>
  <wsdl:message name="createAsapResponse">
    <wsdl:documentation>
      <p>The createAsap response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:createAsapResponse"/>
  </wsdl:message>
  <wsdl:message name="createAsapException">
    <wsdl:documentation>
      <p>The createAsap exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:createAsapException"/>
  </wsdl:message>
  <wsdl:message name="deassignAsapRequest">
    <wsdl:documentation>
      <p>The deassignAsap request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deassignAsapRequest"/>
  </wsdl:message>
  <wsdl:message name="deassignAsapResponse">
    <wsdl:documentation>
      <p>The deassignAsap response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deassignAsapResponse"/>
  </wsdl:message>
  <wsdl:message name="deassignAsapException">
    <wsdl:documentation>
      <p>The deassignAsap exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:deassignAsapException"/>
  </wsdl:message>
  <wsdl:message name="deleteAsapRequest">
    <wsdl:documentation>
      <p>The deleteAsap request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deleteAsapRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteAsapResponse">
    <wsdl:documentation>
      <p>The deleteAsap response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:deleteAsapResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteAsapException">
    <wsdl:documentation>
      <p>The deleteAsap exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:deleteAsapException"/>
  </wsdl:message>
  <wsdl:message name="modifyAsapRequest">
    <wsdl:documentation>
      <p>The modifyAsap request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:modifyAsapRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyAsapResponse">
    <wsdl:documentation>
      <p>The modifyAsap response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapc:modifyAsapResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyAsapException">
    <wsdl:documentation>
      <p>The modifyAsap exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapc:modifyAsapException"/>
  </wsdl:message>
</wsdl:definitions>
