Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapControl/AsapControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AsapControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AsapControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP AsapControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/asapc/v1-0" location="AsapControlMessages.wsdl"/>
  <wsdl:portType name="AsapControl">
    <wsdl:documentation>
      <p>The AsapControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="assignAsap">
      <wsdl:input message="tns:assignAsapRequest"/>
      <wsdl:output message="tns:assignAsapResponse"/>
      <wsdl:fault name="assignAsapException" message="tns:assignAsapException"/>
    </wsdl:operation>
    <wsdl:operation name="createAsap">
      <wsdl:input message="tns:createAsapRequest"/>
      <wsdl:output message="tns:createAsapResponse"/>
      <wsdl:fault name="createAsapException" message="tns:createAsapException"/>
    </wsdl:operation>
    <wsdl:operation name="deassignAsap">
      <wsdl:input message="tns:deassignAsapRequest"/>
      <wsdl:output message="tns:deassignAsapResponse"/>
      <wsdl:fault name="deassignAsapException" message="tns:deassignAsapException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteAsap">
      <wsdl:input message="tns:deleteAsapRequest"/>
      <wsdl:output message="tns:deleteAsapResponse"/>
      <wsdl:fault name="deleteAsapException" message="tns:deleteAsapException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyAsap">
      <wsdl:input message="tns:modifyAsapRequest"/>
      <wsdl:output message="tns:modifyAsapResponse"/>
      <wsdl:fault name="modifyAsapException" message="tns:modifyAsapException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
