Product/trunk/DDPs/Framework/IIS/wsdl/CommonObjectInfoProvisioning/CommonObjectInfoProvisioning_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:not="http://www.tmforum.org/mtop/fmw/xsd/coipmsg/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/wsdl/coip/v1-0" name="mTOP-CommonObjectInfoProvisioningV1-0" targetNamespace="http://www.tmforum.org/mtop/fmw/wsdl/coip/v1-0">
  <wsdl:documentation>
    <p>DDP: Framework</p>
    <p>Module: CommonObjectInfoProvisioning Service Interface WSDL Messages Module</p>
    <p>Description: This module contains all the mTOP CommonObjectInfoProvisioning Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/coipmsg/v1" schemaLocation="../../xsd/CommonObjectInfoProvisioningMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setAliasNamesRequest">
    <wsdl:documentation>
      <p>The setAliasNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setAliasNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="setAliasNamesResponse">
    <wsdl:documentation>
      <p>The setAliasNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setAliasNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="setAliasNamesException">
    <wsdl:documentation>
      <p>The setAliasNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="not:setAliasNamesException"/>
  </wsdl:message>
  <wsdl:message name="setUserLabelRequest">
    <wsdl:documentation>
      <p>The setUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="setUserLabelResponse">
    <wsdl:documentation>
      <p>The setUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="setUserLabelException">
    <wsdl:documentation>
      <p>The setUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="not:setUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="setOwnerRequest">
    <wsdl:documentation>
      <p>The setOwner request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setOwnerRequest"/>
  </wsdl:message>
  <wsdl:message name="setOwnerResponse">
    <wsdl:documentation>
      <p>The setOwner response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setOwnerResponse"/>
  </wsdl:message>
  <wsdl:message name="setOwnerException">
    <wsdl:documentation>
      <p>The setOwner exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="not:setOwnerException"/>
  </wsdl:message>
  <wsdl:message name="setNetworkAccessDomainRequest">
    <wsdl:documentation>
      <p>The setNetworkAccessDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setNetworkAccessDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="setNetworkAccessDomainResponse">
    <wsdl:documentation>
      <p>The setNetworkAccessDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:setNetworkAccessDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="setNetworkAccessDomainException">
    <wsdl:documentation>
      <p>The setNetworkAccessDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="not:setNetworkAccessDomainException"/>
  </wsdl:message>
</wsdl:definitions>
