mtosi_2.0/2.0ME1/DDPs/ResourceProvisioning/IIS/wsdl/ConnectionControl/ConnectionControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" location="ConnectionControlMessages.wsdl"/>
  <wsdl:portType name="ConnectionControl">
    <wsdl:documentation>
      <p>The ConnectionControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="activateSubnetworkConnection">
      <wsdl:input message="tns:activateSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:activateSubnetworkConnectionResponse"/>
      <wsdl:fault name="activateSubnetworkConnectionException" message="tns:activateSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="addRoute">
      <wsdl:input message="tns:addRouteRequest"/>
      <wsdl:output message="tns:addRouteResponse"/>
      <wsdl:fault name="addRouteException" message="tns:addRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="checkValidSubnetworkConnection">
      <wsdl:input message="tns:checkValidSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:checkValidSubnetworkConnectionResponse"/>
      <wsdl:fault name="checkValidSubnetworkConnectionException" message="tns:checkValidSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateSubnetworkConnection">
      <wsdl:input message="tns:createAndActivateSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:createAndActivateSubnetworkConnectionResponse"/>
      <wsdl:fault name="createAndActivateSubnetworkConnectionException" message="tns:createAndActivateSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="createModifiedSubnetworkConnection">
      <wsdl:input message="tns:createModifiedSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:createModifiedSubnetworkConnectionResponse"/>
      <wsdl:fault name="createModifiedSubnetworkConnectionException" message="tns:createModifiedSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="createSubnetworkConnection">
      <wsdl:input message="tns:createSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:createSubnetworkConnectionResponse"/>
      <wsdl:fault name="createSubnetworkConnectionException" message="tns:createSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteSubnetworkConnection">
      <wsdl:input message="tns:deactivateAndDeleteSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:deactivateAndDeleteSubnetworkConnectionResponse"/>
      <wsdl:fault name="deactivateAndDeleteSubnetworkConnectionException" message="tns:deactivateAndDeleteSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateSubnetworkConnection">
      <wsdl:input message="tns:deactivateSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:deactivateSubnetworkConnectionResponse"/>
      <wsdl:fault name="deactivateSubnetworkConnectionException" message="tns:deactivateSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteSubnetworkConnection">
      <wsdl:input message="tns:deleteSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:deleteSubnetworkConnectionResponse"/>
      <wsdl:fault name="deleteSubnetworkConnectionException" message="tns:deleteSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="modifySubnetworkConnection">
      <wsdl:input message="tns:modifySubnetworkConnectionRequest"/>
      <wsdl:output message="tns:modifySubnetworkConnectionResponse"/>
      <wsdl:fault name="modifySubnetworkConnectionException" message="tns:modifySubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="removeRoute">
      <wsdl:input message="tns:removeRouteRequest"/>
      <wsdl:output message="tns:removeRouteResponse"/>
      <wsdl:fault name="removeRouteException" message="tns:removeRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="setIntendedRoute">
      <wsdl:input message="tns:setIntendedRouteRequest"/>
      <wsdl:output message="tns:setIntendedRouteResponse"/>
      <wsdl:fault name="setIntendedRouteException" message="tns:setIntendedRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="setRoutesAdminState">
      <wsdl:input message="tns:setRoutesAdminStateRequest"/>
      <wsdl:output message="tns:setRoutesAdminStateResponse"/>
      <wsdl:fault name="setRoutesAdminStateException" message="tns:setRoutesAdminStateException"/>
    </wsdl:operation>
    <wsdl:operation name="swapSubnetworkConnection">
      <wsdl:input message="tns:swapSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:swapSubnetworkConnectionResponse"/>
      <wsdl:fault name="swapSubnetworkConnectionException" message="tns:swapSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="switchRoute">
      <wsdl:input message="tns:switchRouteRequest"/>
      <wsdl:output message="tns:switchRouteResponse"/>
      <wsdl:fault name="switchRouteException" message="tns:switchRouteException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
