Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/porttypes/MeRetrieval_Rpc_PortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-ManagedElementRetrieval" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="tmforum.mtop.om-mri.v1.ws" xmlns:tns="tmforum.mtop.om-mri.v1.ws">
  <wsdl:import namespace="tmforum.mtop.om-mri.v1.ws" location="../messages/MeRetrieval_Messages.wsdl"/>
  <wsdl:portType name="ManagedElementRetrieval_RPC">
    <wsdl:documentation>
      <p>The ManagedElementRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns</p>
    </wsdl:documentation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNames">
      <wsdl:documentation>
        <p>This is the getAllManagedElementNames SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNames"/>
      <wsdl:output message="tns:getAllManagedElementNamesResponse"/>
      <wsdl:fault name="getAllManagedElementNamesException" message="tns:getAllManagedElementNamesException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElements">
      <wsdl:documentation>
        <p>This is the getAllManagedElements SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElements"/>
      <wsdl:output message="tns:getAllManagedElementsResponse"/>
      <wsdl:fault name="getAllManagedElementsException" message="tns:getAllManagedElementsException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtMLSN">
      <wsdl:documentation>
        <p>This is the getAllManagedElementNamesWrtMLSN SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNamesWrtMLSN"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtMLSNResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtMLSNException" message="tns:getAllManagedElementNamesWrtMLSNException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtMLSN">
      <wsdl:documentation>
        <p>This is the getAllManagedElementsWrtMLSN SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementsWrtMLSN"/>
      <wsdl:output message="tns:getAllManagedElementsWrtMLSNResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtMLSNException" message="tns:getAllManagedElementsWrtMLSNException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMENamesPassingFilter">
      <wsdl:documentation>
        <p>This is the getAllMENamesPassingFilter SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMENamesPassingFilter"/>
      <wsdl:output message="tns:getAllMENamesPassingFilterResponse"/>
      <wsdl:fault name="getAllMENamesPassingFilterException" message="tns:getAllMENamesPassingFilterException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMEsPassingFilter">
      <wsdl:documentation>
        <p>This is the getAllMEsPassingFilter SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMEsPassingFilter"/>
      <wsdl:output message="tns:getAllMEsPassingFilterResponse"/>
      <wsdl:fault name="getAllMEsPassingFilterException" message="tns:getAllMEsPassingFilterException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMENamesWrtOS">
      <wsdl:documentation>
        <p>This is the getAllMENamesWrtOS SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMENamesWrtOS"/>
      <wsdl:output message="tns:getAllMENamesWrtOSResponse"/>
      <wsdl:fault name="getAllMENamesWrtOSException" message="tns:getAllMENamesWrtOSException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMEsWrtOS">
      <wsdl:documentation>
        <p>This is the getAllMEsWrtOS SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMEsWrtOS"/>
      <wsdl:output message="tns:getAllMEsWrtOSResponse"/>
      <wsdl:fault name="getAllMEsWrtOSException" message="tns:getAllMEsWrtOSException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElement">
      <wsdl:documentation>
        <p>This is the getManagedElement SRR operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getManagedElement"/>
      <wsdl:output message="tns:getManagedElementResponse"/>
      <wsdl:fault name="getManagedElementException" message="tns:getManagedElementException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElementsIterator">
      <wsdl:documentation>
        <p>This is the getManagedElements iterator SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getManagedElementsIterator"/>
      <wsdl:output message="tns:getManagedElementsIteratorResponse"/>
      <wsdl:fault name="getManagedElementsIteratorException" message="tns:getManagedElementsIteratorException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElementNamesIterator">
      <wsdl:documentation>
        <p>This is the getManagedElementNames iterator SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getManagedElementNamesIterator"/>
      <wsdl:output message="tns:getManagedElementNamesIteratorResponse"/>
      <wsdl:fault name="getManagedElementNamesIteratorException" message="tns:getManagedElementNamesIteratorException"/>
    </wsdl:operation>
    <!-- ================ -->
  </wsdl:portType>
</wsdl:definitions>
