Product/tags/DDPs-mtosi2.1/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:pmr="http://www.tmforum.org/mtop/rpm/xsd/pmr/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/pmr/v1" schemaLocation="../../xsd/PerformanceManagementRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCurrentPerformanceMonitoringDataRequest">
    <wsdl:documentation>
      <p>The getAllCurrentPerformanceMonitoringData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllCurrentPerformanceMonitoringDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPerformanceMonitoringDataResponse">
    <wsdl:documentation>
      <p>The getAllCurrentPerformanceMonitoringData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllCurrentPerformanceMonitoringDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPerformanceMonitoringDataException">
    <wsdl:documentation>
      <p>The getAllCurrentPerformanceMonitoringData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getAllCurrentPerformanceMonitoringDataException"/>
  </wsdl:message>
  <wsdl:message name="getAllPerformanceMonitoringPointsRequest">
    <wsdl:documentation>
      <p>The getAllPerformanceMonitoringPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllPerformanceMonitoringPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPerformanceMonitoringPointsResponse">
    <wsdl:documentation>
      <p>The getAllPerformanceMonitoringPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllPerformanceMonitoringPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPerformanceMonitoringPointsException">
    <wsdl:documentation>
      <p>The getAllPerformanceMonitoringPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getAllPerformanceMonitoringPointsException"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPerformanceMonitoringDataRequest">
    <wsdl:documentation>
      <p>The getHistoryPerformanceMonitoringData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHistoryPerformanceMonitoringDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPerformanceMonitoringDataResponse">
    <wsdl:documentation>
      <p>The getHistoryPerformanceMonitoringData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHistoryPerformanceMonitoringDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPerformanceMonitoringDataException">
    <wsdl:documentation>
      <p>The getHistoryPerformanceMonitoringData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getHistoryPerformanceMonitoringDataException"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeRequest">
    <wsdl:documentation>
      <p>The getHoldingTime request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHoldingTimeRequest"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeResponse">
    <wsdl:documentation>
      <p>The getHoldingTime response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHoldingTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeException">
    <wsdl:documentation>
      <p>The getHoldingTime exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getHoldingTimeException"/>
  </wsdl:message>
  <wsdl:message name="getMePerformanceMonitoringCapabilitiesRequest">
    <wsdl:documentation>
      <p>The getMePerformanceMonitoringCapabilities request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getMePerformanceMonitoringCapabilitiesRequest"/>
  </wsdl:message>
  <wsdl:message name="getMePerformanceMonitoringCapabilitiesResponse">
    <wsdl:documentation>
      <p>The getMePerformanceMonitoringCapabilities response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getMePerformanceMonitoringCapabilitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="getMePerformanceMonitoringCapabilitiesException">
    <wsdl:documentation>
      <p>The getMePerformanceMonitoringCapabilities exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getMePerformanceMonitoringCapabilitiesException"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getProfileAssociatedTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getProfileAssociatedTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getProfileAssociatedTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getProfileAssociatedTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTerminationPointsException">
    <wsdl:documentation>
      <p>The getProfileAssociatedTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getProfileAssociatedTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getPerformanceMonitoringDataIteratorRequest">
    <wsdl:documentation>
      <p>The getPerformanceMonitoringDataIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPerformanceMonitoringDataIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getPerformanceMonitoringDataIteratorResponse">
    <wsdl:documentation>
      <p>The getPerformanceMonitoringDataIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPerformanceMonitoringDataIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getPerformanceMonitoringDataIteratorException">
    <wsdl:documentation>
      <p>The getPerformanceMonitoringDataIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getPerformanceMonitoringDataIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getPerformanceMonitoringPointsIteratorRequest">
    <wsdl:documentation>
      <p>The getPerformanceMonitoringPointsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPerformanceMonitoringPointsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getPerformanceMonitoringPointsIteratorResponse">
    <wsdl:documentation>
      <p>The getPerformanceMonitoringPointsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPerformanceMonitoringPointsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getPerformanceMonitoringPointsIteratorException">
    <wsdl:documentation>
      <p>The getPerformanceMonitoringPointsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getPerformanceMonitoringPointsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
