mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/EquipmentInventoryRetrieval/EquipmentInventoryRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-EquipmentInventoryRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: EquipmentInventoryRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP EquipmentInventoryRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0" location="EquipmentInventoryRetrievalMessages.wsdl"/>
  <wsdl:portType name="EquipmentInventoryRetrieval_RPC">
    <wsdl:documentation>
      <p>The EquipmentInventoryRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllEquipment">
      <wsdl:input message="tns:getAllEquipmentRequest"/>
      <wsdl:output message="tns:getAllEquipmentResponse"/>
      <wsdl:fault name="getAllEquipmentException" message="tns:getAllEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentNames">
      <wsdl:input message="tns:getAllEquipmentNamesRequest"/>
      <wsdl:output message="tns:getAllEquipmentNamesResponse"/>
      <wsdl:fault name="getAllEquipmentNamesException" message="tns:getAllEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipment">
      <wsdl:input message="tns:getAllSupportingEquipmentRequest"/>
      <wsdl:output message="tns:getAllSupportingEquipmentResponse"/>
      <wsdl:fault name="getAllSupportingEquipmentException" message="tns:getAllSupportingEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipmentNames">
      <wsdl:input message="tns:getAllSupportingEquipmentNamesRequest"/>
      <wsdl:output message="tns:getAllSupportingEquipmentNamesResponse"/>
      <wsdl:fault name="getAllSupportingEquipmentNamesException" message="tns:getAllSupportingEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedEquipment">
      <wsdl:input message="tns:getContainedEquipmentRequest"/>
      <wsdl:output message="tns:getContainedEquipmentResponse"/>
      <wsdl:fault name="getContainedEquipmentException" message="tns:getContainedEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getEquipment">
      <wsdl:input message="tns:getEquipmentRequest"/>
      <wsdl:output message="tns:getEquipmentResponse"/>
      <wsdl:fault name="getEquipmentException" message="tns:getEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipment">
      <wsdl:input message="tns:getSupportedEquipmentRequest"/>
      <wsdl:output message="tns:getSupportedEquipmentResponse"/>
      <wsdl:fault name="getSupportedEquipmentException" message="tns:getSupportedEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipmentNames">
      <wsdl:input message="tns:getSupportedEquipmentNamesRequest"/>
      <wsdl:output message="tns:getSupportedEquipmentNamesResponse"/>
      <wsdl:fault name="getSupportedEquipmentNamesException" message="tns:getSupportedEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipment">
      <wsdl:input message="tns:getSupportingEquipmentRequest"/>
      <wsdl:output message="tns:getSupportingEquipmentResponse"/>
      <wsdl:fault name="getSupportingEquipmentException" message="tns:getSupportingEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipmentNames">
      <wsdl:input message="tns:getSupportingEquipmentNamesRequest"/>
      <wsdl:output message="tns:getSupportingEquipmentNamesResponse"/>
      <wsdl:fault name="getSupportingEquipmentNamesException" message="tns:getSupportingEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getEquipmentIterator">
      <wsdl:input message="tns:getEquipmentIteratorRequest"/>
      <wsdl:output message="tns:getEquipmentIteratorResponse"/>
      <wsdl:fault name="getEquipmentIteratorException" message="tns:getEquipmentIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EquipmentInventoryRetrievalSoapHttpBinding" type="tns:EquipmentInventoryRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the EquipmentInventoryRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllEquipment">
      <soap:operation soapAction="getAllEquipment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEquipmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEquipmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentException">
        <soap:fault name="getAllEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentNames">
      <soap:operation soapAction="getAllEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEquipmentNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEquipmentNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentNamesException">
        <soap:fault name="getAllEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipment">
      <soap:operation soapAction="getAllSupportingEquipment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportingEquipmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportingEquipmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportingEquipmentException">
        <soap:fault name="getAllSupportingEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipmentNames">
      <soap:operation soapAction="getAllSupportingEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportingEquipmentNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportingEquipmentNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportingEquipmentNamesException">
        <soap:fault name="getAllSupportingEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedEquipment">
      <soap:operation soapAction="getContainedEquipment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedEquipmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedEquipmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedEquipmentException">
        <soap:fault name="getContainedEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEquipment">
      <soap:operation soapAction="getEquipment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getEquipmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getEquipmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getEquipmentException">
        <soap:fault name="getEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipment">
      <soap:operation soapAction="getSupportedEquipment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSupportedEquipmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSupportedEquipmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportedEquipmentException">
        <soap:fault name="getSupportedEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipmentNames">
      <soap:operation soapAction="getSupportedEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSupportedEquipmentNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSupportedEquipmentNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportedEquipmentNamesException">
        <soap:fault name="getSupportedEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipment">
      <soap:operation soapAction="getSupportingEquipment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSupportingEquipmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSupportingEquipmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportingEquipmentException">
        <soap:fault name="getSupportingEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipmentNames">
      <soap:operation soapAction="getSupportingEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSupportingEquipmentNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSupportingEquipmentNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportingEquipmentNamesException">
        <soap:fault name="getSupportingEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEquipmentIterator">
      <soap:operation soapAction="getEquipmentIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getEquipmentIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getEquipmentIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getEquipmentIteratorException">
        <soap:fault name="getEquipmentIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquipmentInventoryRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the EquipmentInventoryRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="EquipmentInventoryRetrievalSoapHttp" binding="tns:EquipmentInventoryRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/EquipmentInventoryRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
