mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/wsdl/GuiCutThroughControl/GuiCutThroughControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-GuiCutThroughControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:gctc="http://www.tmforum.org/mtop/rp/xsd/gctc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/gctc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/gctc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: GuiCutThroughControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP GuiCutThroughControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/gctc/v1" schemaLocation="../../xsd/GuiCutThroughControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="destroyGuiCutThroughRequest">
    <wsdl:documentation>
      <p>The destroyGuiCutThrough request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:destroyGuiCutThroughRequest"/>
  </wsdl:message>
  <wsdl:message name="destroyGuiCutThroughResponse">
    <wsdl:documentation>
      <p>The destroyGuiCutThrough response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:destroyGuiCutThroughResponse"/>
  </wsdl:message>
  <wsdl:message name="destroyGuiCutThroughException">
    <wsdl:documentation>
      <p>The destroyGuiCutThrough exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="gctc:destroyGuiCutThroughException"/>
  </wsdl:message>
  <wsdl:message name="getGuiCutThroughProfileInfoRequest">
    <wsdl:documentation>
      <p>The getGuiCutThroughProfileInfo request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:getGuiCutThroughProfileInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="getGuiCutThroughProfileInfoResponse">
    <wsdl:documentation>
      <p>The getGuiCutThroughProfileInfo response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:getGuiCutThroughProfileInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="getGuiCutThroughProfileInfoException">
    <wsdl:documentation>
      <p>The getGuiCutThroughProfileInfo exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="gctc:getGuiCutThroughProfileInfoException"/>
  </wsdl:message>
  <wsdl:message name="launchGuiCutThroughRequest">
    <wsdl:documentation>
      <p>The launchGuiCutThrough request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:launchGuiCutThroughRequest"/>
  </wsdl:message>
  <wsdl:message name="launchGuiCutThroughResponse">
    <wsdl:documentation>
      <p>The launchGuiCutThrough response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:launchGuiCutThroughResponse"/>
  </wsdl:message>
  <wsdl:message name="launchGuiCutThroughException">
    <wsdl:documentation>
      <p>The launchGuiCutThrough exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="gctc:launchGuiCutThroughException"/>
  </wsdl:message>
</wsdl:definitions>
