mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/xsd/TestOrdering-6/tip_inv_dependencies_product_prod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
-->
<!--
Copyright (C) 2012 [COMPANY NAME]

Licensed to [COMPANY NAME] under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
[COMPANY NAME] licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/product/prod" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" targetNamespace="http://www.tmforum.org/xml/tip/product/prod" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
			<pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: TIP_INV_Model
                        at version: 1.2
      for all artifacts in package: org.tmforum.tip.product.prod
      Model Description:
      Model Project for TIP_INV. Modify settings to suit your needs
      Package Description:
      
      Package data summary information:
            entities: 1
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
	<!-- ******************************* -->
	<!-- Package Enumeration definitions -->
	<!-- ******************************* -->
	<!-- **************************** -->
	<!-- Package Datatype definitions -->
	<!-- **************************** -->
	<!-- ************************** -->
	<!-- package Entity definitions -->
	<!-- ************************** -->
	<xsd:element name="product" type="tns:Product"/>
	<xsd:complexType name="Product" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				<p>A ProductOffering procured by a Customer, or other interested Party playing a PartyRole, appearing as a BusinessInteractionItem, which could take the form of a Agreement. ProductSpecificationCharacteristic(s) in part define the Product. A Product is realized as one or more Service(s) and/or Resource(s).</p>
				<p>This entity  is  abstract</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfProduct">
		<xsd:sequence>
			<xsd:element name="item" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ************************************* -->
	<!-- Package Association Class definitions -->
	<!-- ************************************* -->
	<!-- ************************** -->
	<!-- package Event definitions -->
	<!-- ************************** -->
	<!-- ************************** -->
	<!-- package Exception definitions -->
	<!-- ************************** -->
</xsd:schema>
