Product/trunk/DDPs/NetworkResourceAssurance/IIS/xsd/PmDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Network Resource Fulfillment - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/nra/xsd/pm/v1" xmlns:tns="http://www.tmforum.org/mtop/nra/xsd/pm/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<p>DDP: Data Model Network Resource Assurance</p>
			<p>Module: Aggregate XSD Module</p>
			<p>Description: This module contains the XML Schema type definition of the mTOP basic PM Definitions XML structure.</p>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ============== -->
	<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd"/>
	<!-- ================= -->
	<xsd:simpleType name="PmParameterNameType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Holds the name of Performance Measurements. It has been defined as a string to accommodate backward compatibility and proprietary extension. </p>
				<p>For currently standardized values see Performance Parameters. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================ -->
	<xsd:complexType name="PmParameterNameListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PmParameterName</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterName" type="tns:PmParameterNameType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PmParameterListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PmParameter</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameter" type="tns:PmParameterType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PmParameterType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Used to represent the PM parameter name of the PM measure qualified by its location.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameter" type="tns:PmParameterType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measurement.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmLocation" type="tns:PmLocationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the location of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PmThresholdListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMThresholds</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmThreshold" type="tns:PmThresholdType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PmThresholdType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This structure represents a Performance Monitoring Threshold. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="thresholdType" type="tns:PmThresholdTypeType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the type of threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trigger" type="xsd:boolean" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Indicates if the threshold is for the trigger (TRUE) or the clear (FALSE).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:float" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Threshold value (float used to incorporate gauge PM parameters).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="measurementUnits" type="xsd:string" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Free format string describing the units for the threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PmThresholdValueListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMThresholdValues</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmThresholdValue" type="tns:PmThresholdValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PmThresholdValueType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This structure represents a Holds a PM threshold value.</p>
				<p>See SD1-37 PM Threshold Types for information on how threshold values are used.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterName" type="tns:PmParameterNameType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Holds the name of the PM Measure. It has been defined as a string to accomodate backward compatibility and proprietary extensions.</p>
						<p>Refer to SD1-28 Performance Parameters for an overview of the standardized PM parameters currently supported by the MTNM interface.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmLocation" type="tns:PmLocationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the location of the PM Measurement.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="thresholdType" type="tns:PmThresholdTypeType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the type of threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="triggerFlag" type="xsd:boolean" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Indicates if the threshold is for the trigger (TRUE) or the clear (FALSE).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:float" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Threshold value (float used to incorporate gauge PM parameters).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="units" type="xsd:string" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Free format string describing the units for the threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="PmThresholdTypeType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Count period (interval) for which PM data may be collected (and subsequently retrieved).</p>
				<p><br>The value is one of: </br>
				<br>"15min" (15 minute interval collection)</br>
				<br>"24h" (24 hour interval collection)</br>
				<br>"NA" (for current instantaneous measurements)</br></p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="15min "/>
			<xsd:enumeration value="24h "/>
			<xsd:enumeration value="NA "/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================ -->
	<xsd:complexType name="PmGranularityListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMGranularity</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmGranularity" type="tns:PmGranularityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="PmGranularityType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Describes threshold types (watermark levels) for TCA parameters. The TWM_HIGH and TWM_HIGHEST types are used for TCAs </p>
				<p>that are raised when the measured value goes above the threshold. The TWM_LOW and TWM_LOWEST types are used for TCAs that </p>
				<p>are raised when the measured value goes below the threshold (only apply to gauges). </p>
				<p/>
				<p>When there is only one level of TCA trigger, only TWM_HIGH and/or TWM_LOW are used. When there are two levels of TCA triggers, </p>
				<p>TWM_HIGHEST and/or TWM_LOWEST are used in addition. </p>
				<p>See SD1-37 PM Threshold Types for information on how water mark levels are used. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TWM_HIGHEST"/>
			<xsd:enumeration value="TWM_HIGH"/>
			<xsd:enumeration value="TWM_LOW"/>
			<xsd:enumeration value="TWM_LOWEST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================ -->
	<xsd:simpleType name="PmIntervalStatusType">
		<xsd:annotation>
			<xsd:documentation>
				<p>The following string values, to indicate the relationship of measurement value and measurement interval</p>
				<p><br>The value is one of: </br>
				<br>PMIS_Valid - Valid data</br>
				<br>PMIS_Incomplete - Data not available for the complete interval</br>
				<br>PMIS_Invalid - Data available but marked as invalid for the interval (when the NMS can not distinguish incomplete measurements from invalid measurements</br>
				<br>PMIS_Unavailable - No data available at all for this interval</br>
				<br>PMIS_ZeroSuppressed - Zero-suppressed intervals.</br></p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PMIS_Valid"/>
			<xsd:enumeration value="PMIS_Incomplete"/>
			<xsd:enumeration value="PMIS_Invalid"/>
			<xsd:enumeration value="PMIS_Unavailable"/>
			<xsd:enumeration value="PMIS_ZeroSuppressed"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<!-- ================ -->
	<xsd:complexType name="PmLocationListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMLocation</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmLocation" type="tns:PmLocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="PmLocationType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Specification of PM location. For further details, see supporting documentation: Location Identification).</p>
				<p>PM parameters may relate to measurements taken on receive or transmit traffic either at the named TP (PML_NEAR_END_Rx/Tx) or at the TP at the far end of the trail (circuit/path) connected to the named TP (PML_FAR_END_Rx/Tx). Alternatively, the PM parameters may be bidirectional (PML_BIDIRECTIONAL) e.g. resulting from a second by second summation and evaluation of both far and near TPs.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PML_NEAR_END_Rx"/>
			<xsd:enumeration value="PML_FAR_END_Rx"/>
			<xsd:enumeration value="PML_FAR_ENDTypex"/>
			<xsd:enumeration value="PML_BIDIRECTIONAL"/>
			<xsd:enumeration value="PML_CONTRA_NEAR_END_Rx"/>
			<xsd:enumeration value="PML_CONTRA_FAR_END_Rx"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<!-- ================ -->
	<xsd:simpleType name="HoldingTimeType">
		<xsd:annotation>
			<xsd:documentation>
				<p>By means of this struct, the EMS informs the NMS about the minimum time it holds 24h PM data records and 15min PM data records. This minimum time refers to the time after the particular collection bins are closed.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="storeTime24hr"/>
			<xsd:enumeration value="storeTime15min"/>
		</xsd:restriction>
	</xsd:simpleType>	
</xsd:schema>
