Product/trunk/DDPs/NetworkResourceAssurance/IIS/xsd/Pmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Network Resource Fulfillment - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/mtop/nra/xsd/pmp/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:prc="http://www.tmforum.org/mtop/nra/prc/v1" xmlns:cri="http://www.tmforum.org/mtop/nrb/xsd/cri/v1" targetNamespace="http://www.tmforum.org/mtop/nra/xsd/pmp/v1" xmlns:lay="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:itu="http://www.tmforum.org/mtop/nrb/xsd/itu/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<p>DDP: Data Model Network Resource Assurance</p>
			<p>Module: Aggregate XSD Module</p>
			<p>Description: This module contains the XML Schema type definition of the mTOP Pmp XML structure.</p>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ============== -->
	<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrb/xsd/cri/v1" schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceInfo.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrb/xsd/itu/v1" schemaLocation="../../../NetworkResourceBasic/IIS/xsd/ITU-T-Definitions.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd"/>
	<!-- ================= -->
	<xsd:complexType name="PerformanceMonitoringPointType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This object represents one performance monitoring point (PMP). It is determined by the containing TerminationPoint (TP) and by the layer rate, the PM 
				location and the granularity the monitoring is done for. PMP objects are contained in TPs and represent the PM capabilities of their containing TP(s).</p>
				<p>Activation and deactivation of Performance Monitoring respectively Performance Threshold Supervision is achieved by changing the Monitoring 
				State or Supervision State of the related PMP.</p>
				<p>The monitoring state of a PMP is set to:
					<ul>
						<li>unlocked using the operation enablePMData, (activate Performance Monitoring)</li>
						<li>locked using the operation disablePMData, (deactivate Performance Monitoring)</li>
					</ul>
				</p>
				<p>The supervision state of a PMP is set to:
					<ul>
						<li><b>unlocked</b> by using the operation enableTCA, (activate Performance Threshold Supervision),</li>
						<li><b>locked</b> by using the operation disableTCA, (deactivate Performance Threshold Supervision).</li>
					</ul>
				</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cri:CommonResourceInfoType">
				<xsd:annotation>
					<xsd:documentation>
						<p>This element entails the attributes common to all mTOP network resource objects.</p>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="layerRate" type="lay:LayerRateType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents the layer rate of the PMP. The layer specified must be supported by the containing TP.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="location" type="gen:LocationType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents the location of the performance monitoring measurement.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="granularity" type="tns:PMGranularityType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents the time granularity of the PMP, either 15 minutes or 24 hours. This attribute is not applicable for instantaneous measurements (i.e. gauge type measurements).</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="supervisionState" type="itu:X721.AdministrativeStateType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents whether threshold supervision is enabled or disabled.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="monitoringState" type="itu:X721.AdministrativeStateType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents performance monitoring is enabled or disabled.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pmParameterList" type="tns:PMParameterNameListType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents a list of the names of the PM parameter associated with the PMP. Refer to supporting document PerformanceParameters.pdf for the list of currently defined performance parameters.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pmParameterWithThresholdsList" type="tns:PMThresholdListType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Represents a list of the names of the thresholds associated with each PM parameter.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PerformanceMonitoringPointListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PerformanceMonitoringPoint</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmp" type="tns:PerformanceMonitoringPointType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PMParameterWithThresholdsListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMParameterWithThresholds</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterWithThreshold" type="tns:PMParameterWithThresholdsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMParameterWithThresholdsType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This structure represents the list of thresholds associated with a particular PM Parameter. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterName" type="tns:PMParameterNameType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmThresholdList" type="tns:PMThresholdListType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Holds the list of PM thresholds associated with the named PM parameter.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PMParameterNameListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMParameterName</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterName" type="tns:PMParameterNameType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:simpleType name="PMParameterNameType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Holds the name of Performance Measurements. It has been defined as a string to accommodate backward compatibility and proprietary extension. </p>
				<p>For currently standardized values see Performance Parameters. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================ -->
	<xsd:complexType name="PMParameterListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMParameter</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameter" type="tns:PMParameterType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMParameterType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Used to represent the PM parameter name of the PM measure qualified by its location.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameter" type="tns:PMParameterType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measurement.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmLocation" type="tns:PMLocationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the location of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PMThresholdListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMThresholds</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmThreshold" type="tns:PMThresholdType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMThresholdType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This structure represents a Performance Monitoring Threshold. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="thresholdType" type="tns:PMThresholdTypeType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the type of threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trigger" type="xsd:boolean" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Indicates if the threshold is for the trigger (TRUE) or the clear (FALSE).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:float" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Threshold value (float used to incorporate gauge PM parameters).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="measurementUnits" type="xsd:string" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Free format string describing the units for the threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PMThresholdValueListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMThresholdValues</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmThresholdValue" type="tns:PMThresholdValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMThresholdValueType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This structure represents a Holds a PM threshold value.</p>
				<p>See SD1-37 PM Threshold Types for information on how threshold values are used.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterName" type="tns:PMParameterNameType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Holds the name of the PM Measure. It has been defined as a string to accomodate backward compatibility and proprietary extensions.</p>
						<p>Refer to SD1-28 Performance Parameters for an overview of the standardized PM parameters currently supported by the MTNM interface.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmLocation" type="tns:PMLocationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the location of the PM Measurement.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="thresholdType" type="tns:PMThresholdTypeType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the type of threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="triggerFlag" type="xsd:boolean" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Indicates if the threshold is for the trigger (TRUE) or the clear (FALSE).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:float" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Threshold value (float used to incorporate gauge PM parameters).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="units" type="xsd:string" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Free format string describing the units for the threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="TCAParametersType">
		<xsd:annotation>
			<xsd:documentation>
				<p>The TCAParameters structure is used to get or set one or more PM Threshold values for a given TP/layer/granularity measurement point.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
					<xsd:element name="layerRate" type="lay:LayerRateType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Identifies the layer to which tcaTypeValues applies.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="granularity" type="tns:PMGranularityType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Identifies the granularity of the data. For gauges, this should be "NA".</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tcaTypeValues" type="tns:PMThresholdValueListType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Identifies threshold values. for PM parameters, PM locations and threshold types, and indicates Trigger/Clear properties.</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="PMThresholdTypeType">
		<!-- == NOTE: TODO This should be made extensible: Can take any minunte/hr value == -->
		<xsd:annotation>
			<xsd:documentation>
				<p>Count period (interval) for which PM data may be collected (and subsequently retrieved).</p>
				<p><br>The value is one of: </br>
				<br>"15min" (15 minute interval collection)</br>
				<br>"24h" (24 hour interval collection)</br>
				<br>"NA" (for current instantaneous measurements)</br></p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="15min "/>
			<xsd:enumeration value="24h "/>
			<xsd:enumeration value="NA "/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================ -->
	<xsd:complexType name="PMGranularityListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMGranularity</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmGranularity" type="tns:PMGranularityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="PMGranularityType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Describes threshold types (watermark levels) for TCA parameters. The TWM_HIGH and TWM_HIGHEST types are used for TCAs </p>
				<p>that are raised when the measured value goes above the threshold. The TWM_LOW and TWM_LOWEST types are used for TCAs that </p>
				<p>are raised when the measured value goes below the threshold (only apply to gauges). </p>
				<p/>
				<p>When there is only one level of TCA trigger, only TWM_HIGH and/or TWM_LOW are used. When there are two levels of TCA triggers, </p>
				<p>TWM_HIGHEST and/or TWM_LOWEST are used in addition. </p>
				<p>See SD1-37 PM Threshold Types for information on how water mark levels are used. </p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TWM_HIGHEST"/>
			<xsd:enumeration value="TWM_HIGH"/>
			<xsd:enumeration value="TWM_LOW"/>
			<xsd:enumeration value="TWM_LOWEST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================ -->
	<xsd:simpleType name="PMIntervalStatusType">
		<xsd:annotation>
			<xsd:documentation>
				<p>The following string values, to indicate the relationship of measurement value and measurement interval</p>
				<p><br>The value is one of: </br>
				<br>PMIS_Valid - Valid data</br>
				<br>PMIS_Incomplete - Data not available for the complete interval</br>
				<br>PMIS_Invalid - Data available but marked as invalid for the interval (when the NMS can not distinguish incomplete measurements from invalid measurements</br>
				<br>PMIS_Unavailable - No data available at all for this interval</br>
				<br>PMIS_ZeroSuppressed - Zero-suppressed intervals.</br></p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PMIS_Valid"/>
			<xsd:enumeration value="PMIS_Incomplete"/>
			<xsd:enumeration value="PMIS_Invalid"/>
			<xsd:enumeration value="PMIS_Unavailable"/>
			<xsd:enumeration value="PMIS_ZeroSuppressed"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<!-- ================ -->
	<xsd:complexType name="PMLocationListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMLocation</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmLocation" type="tns:PMLocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="PMLocationType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Specification of PM location. For further details, see supporting documentation: Location Identification).</p>
				<p>PM parameters may relate to measurements taken on receive or transmit traffic either at the named TP (PML_NEAR_END_Rx/Tx) or at the TP at the far end of the trail (circuit/path) connected to the named TP (PML_FAR_END_Rx/Tx). Alternatively, the PM parameters may be bidirectional (PML_BIDIRECTIONAL) e.g. resulting from a second by second summation and evaluation of both far and near TPs.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PML_NEAR_END_Rx"/>
			<xsd:enumeration value="PML_FAR_END_Rx"/>
			<xsd:enumeration value="PML_FAR_ENDTypex"/>
			<xsd:enumeration value="PML_BIDIRECTIONAL"/>
			<xsd:enumeration value="PML_CONTRA_NEAR_END_Rx"/>
			<xsd:enumeration value="PML_CONTRA_FAR_END_Rx"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<!-- ================ -->
	<xsd:complexType name="PMMeasurementListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMMeasurements</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmMeasurement" type="tns:PMMeasurementType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMMeasurementType">
		<xsd:annotation>
			<xsd:documentation>
				<p>Holds a PM measurement and description of validity.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmParameterName" type="tns:PMParameterNameType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmLocation" type="tns:PMLocationType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the location of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:float" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Threshold value (float used to incorporate gauge PM parameters).</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="measurementUnits" type="xsd:string" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Free format string describing the units for the threshold value.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmIntervalStatus" type="tns:PMIntervalStatusType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the relationship of measurement value and measurement interval.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PMDataListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMData</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmData" type="tns:PMDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMDataType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This struct is used to pass current PM data for one collection bin from the EMS to the NMS. It is also used to pass historic PM data across the NML-EML interface when the file transfer capability via FTP is not preferred.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tpName" type="nam:NamingAttributesType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the name of the PM Measure.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="layerRate" type="lay:LayerRateType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Represents the layer rate of the Layer of the collected PM data.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="granularity" type="tns:PMGranularityType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>This attribute identifies the granularity of the data.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retrievalTime" type="xsd:dateTime" minOccurs="0">
				<!-- =TODO: Is this the correct type here: xsd:dateTime? Taken from definition of neTime in EventStateChange.xsd= -->
				<xsd:annotation>
					<xsd:documentation>
						<p>The time provided by the NE. In a case where the NE does not report time, this field is optional or an empty string can be reported.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmMeasurementList" type="tns:PMMeasurementListType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>This attribute identifies the PM measurement values.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:complexType name="PMTPSelectListType">
		<xsd:annotation>
			<xsd:documentation>
				<p>A list of PMTPSelectType</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pmTPSelect" type="tns:PMTPSelectType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================= -->
	<xsd:complexType name="PMTPSelectType">
		<xsd:annotation>
			<xsd:documentation>
				<p>This is used to specify the scope/target for a PM operation.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="nam:NamingAttributesType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>The name of the object to which this selection applies. (i.e. the target of the PM operation). This may be:</p>
						<p><br>ManagedElement: The selection applies to all termination points contained within the ManagedElement.</br>
						<br>TerminationPoint: The selection applies only to the named termination point which will be a PTP, an FTP or a CTP. Unlike the case for ManagedElement, the operation will not apply to any "contained" TPs when a PTP, an FTP or CTP is specified.</br></p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="layerRates" type="lay:LayerRateListType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Identifies the set of layers to which the selection applies. An empty list means all layers supported by the equipment.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pMLocationList" type="tns:PMLocationListType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Identifies the set of locations to which the selection applies. An empty list means all locations supported by the equipment.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="granularityList" type="tns:PMGranularityListType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<p>Identifies set of granularities to which the selection applies. An empty list means all granularities supported by the equipment.</p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
	<xsd:simpleType name="HoldingTimeType">
		<xsd:annotation>
			<xsd:documentation>
				<p>By means of this struct, the EMS informs the NMS about the minimum time it holds 24h PM data records and 15min PM data records. This minimum time refers to the time after the particular collection bins are closed.</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="storeTime24hr"/>
			<xsd:enumeration value="storeTime15min"/>
		</xsd:restriction>
	</xsd:simpleType>	
</xsd:schema>
