Product/trunk/DDPs/ServiceActivation/IIS/wsdl/ServiceComponentActivationInterface/ServiceComponentActivationInterfaceJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ServiceActivation - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/sa/wsdl/scai/v1-0" name="mTOP-ServiceComponentActivationInterfaceV1-0" targetNamespace="http://www.tmforum.org/mtop/sa/wsdl/scai/v1-0">
	<wsdl:documentation><p>DDP: ServiceActivation</p><p>Module: ServiceComponentActivationInterface Service Interface WSDL JMS Module</p><p>Description: This module contains all the mTOP ServiceComponentActivationInterface Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p><p>Version: 1.0</p></wsdl:documentation>
	<wsdl:import namespace="http://www.tmforum.org/mtop/sa/wsdl/scai/v1-0" location="ServiceComponentActivationInterfacePortType.wsdl"/>
	<wsdl:binding name="ServiceComponentActivationInterfaceSoapJmsBinding" type="tns:ServiceComponentActivationInterface">
		<wsdl:documentation><p>SOAP JMS binding definitions of the operations of the ServiceComponentActivationInterface portType (interface)</p></wsdl:documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
		<wsdl:operation name="feasibilityCheck">
			<soap:operation soapAction="feasibilityCheck" style="document"/>
			<wsdl:input>
				<soap:header message="tns:feasibilityCheckRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:feasibilityCheckResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="feasibilityCheckException">
				<soap:fault name="feasibilityCheckException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="reserve">
			<soap:operation soapAction="reserve" style="document"/>
			<wsdl:input>
				<soap:header message="tns:reserveRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:reserveResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="reserveException">
				<soap:fault name="reserveException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="provision">
			<soap:operation soapAction="provision" style="document"/>
			<wsdl:input>
				<soap:header message="tns:provisionRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:provisionResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="provisionException">
				<soap:fault name="provisionException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="activate">
			<soap:operation soapAction="activate" style="document"/>
			<wsdl:input>
				<soap:header message="tns:activateRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:activateResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="activateException">
				<soap:fault name="activateException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deactivate">
			<soap:operation soapAction="deactivate" style="document"/>
			<wsdl:input>
				<soap:header message="tns:deactivateRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:deactivateResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="deactivateException">
				<soap:fault name="deactivateException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="terminate">
			<soap:operation soapAction="terminate" style="document"/>
			<wsdl:input>
				<soap:header message="tns:terminateRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:terminateResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="terminateException">
				<soap:fault name="terminateException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modify">
			<soap:operation soapAction="modify" style="document"/>
			<wsdl:input>
				<soap:header message="tns:modifyRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:modifyResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="modifyException">
				<soap:fault name="modifyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceComponentActivationInterfaceJms">
		<wsdl:documentation><p>Example of the ServiceComponentActivationInterface WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p></wsdl:documentation>
		<wsdl:port name="ServiceComponentActivationInterfaceSoapJms" binding="tns:ServiceComponentActivationInterfaceSoapJmsBinding">
			<soap:address location="jms://aserver/mtosi/ServiceComponentActivationInterface"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
