mtosi_2.0/main/DDPs/Framework/IIS/wsdl/Mart/MartMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM Framework - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MartV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:mart="http://www.tmforum.org/mtop/fmw/xsd/mart/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/wsdl/mart/v1-0" targetNamespace="http://www.tmforum.org/mtop/fmw/wsdl/mart/v1-0">
  <wsdl:documentation>
    <p>DDP: Framework</p>
    <p>Module: Mart Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP Mart Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/mart/v1" schemaLocation="../../xsd/MartMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="doProcessRequest">
    <wsdl:documentation>
      <p>The doProcess request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mart:doProcessRequest"/>
  </wsdl:message>
  <wsdl:message name="doProcessResponse">
    <wsdl:documentation>
      <p>The doProcess response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mart:doProcessResponse"/>
  </wsdl:message>
  <wsdl:message name="doProcessException">
    <wsdl:documentation>
      <p>The doProcess exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mart:doProcessException"/>
  </wsdl:message>
  <wsdl:message name="getProcessStateRequest">
    <wsdl:documentation>
      <p>The getProcessState request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mart:getProcessStateRequest"/>
  </wsdl:message>
  <wsdl:message name="getProcessStateResponse">
    <wsdl:documentation>
      <p>The getProcessState response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mart:getProcessStateResponse"/>
  </wsdl:message>
  <wsdl:message name="getProcessStateException">
    <wsdl:documentation>
      <p>The getProcessState exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mart:getProcessStateException"/>
  </wsdl:message>
  <wsdl:message name="terminateProcessRequest">
    <wsdl:documentation>
      <p>The terminateProcess request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mart:terminateProcessRequest"/>
  </wsdl:message>
  <wsdl:message name="terminateProcessResponse">
    <wsdl:documentation>
      <p>The terminateProcess response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mart:terminateProcessResponse"/>
  </wsdl:message>
  <wsdl:message name="terminateProcessException">
    <wsdl:documentation>
      <p>The terminateProcess exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mart:terminateProcessException"/>
  </wsdl:message>
</wsdl:definitions>
