mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/xsd/TestOrdering-8/GenericOrderMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TIP-GenericOrderV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ord="http://www.tmforum.org/xml/tip/internal/ord"
xmlns:tns="http://www.tmforum.org/tip/gord/wsdl/v1-0" 
targetNamespace="http://www.tmforum.org/tip/gord/wsdl/v1-0">

  <wsdl:types>
    <xsd:schema>
      <xsd:import 	namespace="http://www.tmforum.org/xml/tip/internal/ord" 
							schemaLocation="order_entity.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="startOrderRequest">
    <wsdl:part name="payload" element="ord:Order"/>
  </wsdl:message>
  <wsdl:message name="startOrderResponse"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="startOrderException"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="suspendOrderRequest">
    <wsdl:part name="payload" element="ord:Identifier"/>
  </wsdl:message>
  <wsdl:message name="suspendOrderResponse"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="suspendOrderException"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>

</wsdl:definitions>
