mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/xsd/TestOrdering-8/TPCOrderMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TIP-TPControl_OrderV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:RpTPControlOrd="http://www.tmforum.org/xml/tip/internal/RpTPControlOrd"
xmlns:tns="http://www.tmforum.org/tip/TPC_ord/wsdl/v1-0" 
targetNamespace="http://www.tmforum.org/tip/TPC_ord/wsdl/v1-0">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/RpTPControlOrd" 
					  schemaLocation="MTOSI-RP-TPControl-order.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="execute_FTP_Create_Order_Request">
    <wsdl:part name="payload" element="RpTPControlOrd:fTP_Create_Order"/>
  </wsdl:message>
  <wsdl:message name="execute_FTP_Create_Order_Response"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="execute_FTP_Create_Order_Exception"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="execute_GTP_Create_Order_Request">
    <wsdl:part name="payload" element="RpTPControlOrd:gTP_Create_Order"/>
  </wsdl:message>
  <wsdl:message name="execute_GTP_Create_Order_Response"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="execute_GTP_Create_Order_Exception"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="execute_TP_setTerminationPointData_Order_Request">
    <wsdl:part name="payload" element="RpTPControlOrd:tP_setTerminationPointData_Order"/>
  </wsdl:message>
  <wsdl:message name="execute_TP_setTerminationPointData_Order_Response"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="execute_TP_setTerminationPointData_Order_Exception"> <!-- TBD -->
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>
  
</wsdl:definitions>
