Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/SoftwareAndDataControl/SoftwareAndDataControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-SoftwareAndDataControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:sdc="http://www.tmforum.org/mtop/rp/xsd/sdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: SoftwareAndDataControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP SoftwareAndDataControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/sdc/v1" schemaLocation="../../xsd/SoftwareAndDataControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="abortMeBackupRequest">
    <wsdl:documentation>
      <p>The abortMeBackup request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:abortMeBackupRequest"/>
  </wsdl:message>
  <wsdl:message name="abortMeBackupResponse">
    <wsdl:documentation>
      <p>The abortMeBackup response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:abortMeBackupResponse"/>
  </wsdl:message>
  <wsdl:message name="abortMeBackupException">
    <wsdl:documentation>
      <p>The abortMeBackup exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:abortMeBackupException"/>
  </wsdl:message>
  <wsdl:message name="backupMeRequest">
    <wsdl:documentation>
      <p>The backupMe request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:backupMeRequest"/>
  </wsdl:message>
  <wsdl:message name="backupMeResponse">
    <wsdl:documentation>
      <p>The backupMe response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:backupMeResponse"/>
  </wsdl:message>
  <wsdl:message name="backupMeException">
    <wsdl:documentation>
      <p>The backupMe exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:backupMeException"/>
  </wsdl:message>
  <wsdl:message name="getBackupListRequest">
    <wsdl:documentation>
      <p>The getBackupList request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getBackupListRequest"/>
  </wsdl:message>
  <wsdl:message name="getBackupListResponse">
    <wsdl:documentation>
      <p>The getBackupList response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getBackupListResponse"/>
  </wsdl:message>
  <wsdl:message name="getBackupListException">
    <wsdl:documentation>
      <p>The getBackupList exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:getBackupListException"/>
  </wsdl:message>
  <wsdl:message name="getMeBackupStatusRequest">
    <wsdl:documentation>
      <p>The getMeBackupStatus request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getMeBackupStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="getMeBackupStatusResponse">
    <wsdl:documentation>
      <p>The getMeBackupStatus response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getMeBackupStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeBackupStatusException">
    <wsdl:documentation>
      <p>The getMeBackupStatus exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:getMeBackupStatusException"/>
  </wsdl:message>
</wsdl:definitions>
