Methodology/Topics/DDPs/DM/Fulfillment/v1-0/SS/xsd/Tp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - DM Fulfillment - Copyright TeleManagement Forum 2006 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="tmforum.mtop.dm-fulfillment.v1" xmlns:tns="tmforum.mtop.dm-fulfillment.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <!-- ============== -->
  <xsd:import schemaLocation="../../../../Basic/v1-0/SS/xsd/AllDefinitions.xsd" namespace="tmforum.mtop.dm-basic.v1"/>
  <xsd:include schemaLocation="./DataTypes.xsd"/>
  <!-- ================= -->
  <xsd:complexType name="ConnectionTerminationPoint_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>This aggregate defines the ConnectionTerminationPoint mTOP network resource object.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="comResInfo" type="mtop.basic:CommonResourceInfo_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="direction" type="tns:Directionality_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="tpProtectionAssociation" type="tns:TPProtectionAssociation_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="edgePoint" type="xsd:boolean" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Indicates if the TP is an edge point of at least one subnetwork, i.e. if it is an end point of a potential inter-subnetwork topological link.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="networkAccessDomain" type="mtop.basic:NetworkAccessDomain_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="equipmentProtected" type="xsd:boolean" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The attribute indicates whether or not the TP is supported by a protected equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="egressTMDState" type="tns:TMDState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the state of consistency between a TP and its associated egress TransmissionDescriptor.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ingressTMDState" type="tns:TMDState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the state of consistency between a TP and its associated eingress TransmissionDescriptor.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionState" type="tns:TPConnectionState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>This attribute is only applicable to CTPs and FTPs. If the source is connected to one entity and the sink is connected to another entity then the value of this attribute is TPCS_BI_CONNECTED.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tpMappingMode" type="tns:TerminationMode_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="ingressTransmissionDescriptorName" type="mtop.basic:NamingAttributes_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A connection Connection Termination Point may have an optional reference to an ingress (incoming) Transmission Descriptor. The Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Ingress Descriptor name is that of a Transmission Descriptor then the Egress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="egressTransmissionDescriptorName" type="mtop.basic:NamingAttributes_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A connection Connection Termination Point may have an optional reference to an egress (outgoing) Transmission Descriptor. The Transmission Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Egress Descriptor name is that of a Transmission Descriptor then the Ingress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transmissionParams" type="mtop.basic:LayeredParametersList_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A list of transmission parameters which can be set and/or retrieved on the TP at a specified layer. This attribute must contain the complete set of layer rates represented by a CTP - even if they have no parameters associated with them. The layerRates are listed in the order of their client-server relationship (see layering for more details). </p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vendorExtensions" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Allows for vendor extensions</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mtopExtensions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Allows for mtop extensions</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FloatingTerminationPoint_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>This aggregate defines the FloatingTerminationPoint mTOP network resource object.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="comResInfo" type="mtop.basic:CommonResourceInfo_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="direction" type="tns:Directionality_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="tpProtectionAssociation" type="tns:TPProtectionAssociation_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="edgePoint" type="xsd:boolean" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Indicates if the TP is an edge point of at least one subnetwork, i.e. if it is an end point of a potential inter-subnetwork topological link.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="networkAccessDomain" type="mtop.basic:NetworkAccessDomain_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="equipmentProtected" type="xsd:boolean" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The attribute indicates whether or not the TP is supported by a protected equipment. </p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="egressTMDState" type="tns:TMDState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the state of consistency between a TP and its associated egress TransmissionDescriptor.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ingressTMDState" type="tns:TMDState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the state of consistency between a TP and its associated eingress TransmissionDescriptor.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionState" type="tns:TPConnectionState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>This attribute is only applicable to CTPs and FTPs. If the source is connected to one entity and the sink is connected to another entity then the value of this attribute is TPCS_BI_CONNECTED.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tpMappingMode" type="tns:TerminationMode_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="ingressTransmissionDescriptorName" type="mtop.basic:NamingAttributes_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A connection Floating Termination Point may have an optional reference to an ingress (incoming) Transmission Descriptor. The Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Ingress Descriptor name is that of a Transmission Descriptor then the Egress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="egressTransmissionDescriptorName" type="mtop.basic:NamingAttributes_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A connection Floating Termination Point may have an optional reference to an egress (outgoing) Transmission Descriptor. The Transmission Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Egress Descriptor name is that of a Transmission Descriptor then the Ingress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transmissionParams" type="mtop.basic:LayeredParametersList_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A list of transmission parameters which can be set and/or retrieved on the TP at a specified layer. This attribute must contain the complete set of layer rates represented by a FTP - even if they have no parameters associated with them. The layerRates are listed in the order of their client-server relationship (see layering for more details).</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vendorExtensions" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Allows for vendor extensions</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mtopExtensions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Allows for mtop extensions</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PhysicalTerminationPoint_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>This aggregate defines the PhysicalTerminationPoint mTOP network resource object.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="comResInfo" type="mtop.basic:CommonResourceInfo_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="direction" type="tns:Directionality_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="tpProtectionAssociation" type="tns:TPProtectionAssociation_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="edgePoint" type="xsd:boolean" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Indicates if the TP is an edge point of at least one subnetwork, i.e. if it is an end point of a potential inter-subnetwork topological link.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="networkAccessDomain" type="mtop.basic:NetworkAccessDomain_T" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="equipmentProtected" type="xsd:boolean" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The attribute indicates whether or not the TP is supported by a protected equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="egressTMDState" type="tns:TMDState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the state of consistency between a TP and its associated egress TransmissionDescriptor.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ingressTMDState" type="tns:TMDState_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the state of consistency between a TP and its associated eingress TransmissionDescriptor.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ingressTransmissionDescriptorName" type="mtop.basic:NamingAttributes_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A connection Physical Termination Point may have an optional reference to an ingress (incoming) Transmission Descriptor. The Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Ingress Descriptor name is that of a Transmission Descriptor then the Egress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="egressTransmissionDescriptorName" type="mtop.basic:NamingAttributes_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A connection Physical Termination Point may have an optional reference to an egress (outgoing) Transmission Descriptor. The Transmission Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Egress Descriptor name is that of a Transmission Descriptor then the Ingress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transmissionParams" type="mtop.basic:LayeredParametersList_T" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>A list of transmission parameters which can be set and/or retrieved on the TP at a specified layer. This attribute must contain the complete set of layer rates represented by a PTP - even if they have no parameters associated with them. The layerRates are listed in the order of their client-server relationship (see layering for more details).</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vendorExtensions" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Allows for vendor extensions</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mtopExtensions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Allows for mtop extensions</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PhysicalTerminationPointList_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>A list of PhysicalTerminationPoints.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ptp" type="tns:PhysicalTerminationPoint_T" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="ConnectionTerminationPointList_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>A list of ConnectionTerminationPoints.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ctp" type="tns:ConnectionTerminationPoint_T" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FloatingTerminationPointList_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>A list of FloatinglTerminationPoints.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ftp" type="tns:FloatingTerminationPoint_T" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TerminationPoint_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>A union containment of all forms of TerminationPoints (PTP, FTP, and CTP).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="ptp" type="tns:PhysicalTerminationPoint_T"/>
      <xsd:element name="ftp" type="tns:FloatingTerminationPoint_T"/>
      <xsd:element name="ctp" type="tns:ConnectionTerminationPoint_T"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TerminationPointList_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>A heterogeneous list of TerminationPoints (PTPs, FTPs, and CTPs) with no particular order.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tp" type="tns:TerminationPoint_T" minOccurs="0" maxOccurs="unbounded">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
