mtosi_3.0/main/DDPs/TestManagement/IIS/wsdl/TestControl/TestControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM TestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tc="http://www.tmforum.org/mtop/tm/xsd/tc/v1" xmlns:tns="http://www.tmforum.org/mtop/tm/wsdl/tc/v1-0" name="mTOP-TestControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/tm/wsdl/tc/v1-0">
	<wsdl:documentation>
		<p>DDP: TestManagement</p>
		<p>Module: TestControl Service Interface WSDL Message Module</p>
		<p>Description: This module contains all the mTOP TestControl Service Interface WSDL message definitions.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/tm/xsd/tc/v1" schemaLocation="../../xsd/TestControlMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="startTestRequest">
		<wsdl:documentation>
			<p>The startTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:startTestRequest"/>
	</wsdl:message>
	<wsdl:message name="startTestResponse">
		<wsdl:documentation>
			<p>The startTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:startTestResponse"/>
	</wsdl:message>
	<wsdl:message name="startTestException">
		<wsdl:documentation>
			<p>The startTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="tc:startTestException"/>
	</wsdl:message>
	<wsdl:message name="suspendTestRequest">
		<wsdl:documentation>
			<p>The suspendTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:suspendTestRequest"/>
	</wsdl:message>
	<wsdl:message name="suspendTestResponse">
		<wsdl:documentation>
			<p>The suspendTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:suspendTestResponse"/>
	</wsdl:message>
	<wsdl:message name="suspendTestException">
		<wsdl:documentation>
			<p>The suspendTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="tc:suspendTestException"/>
	</wsdl:message>
	<wsdl:message name="resumeTestRequest">
		<wsdl:documentation>
			<p>The resumeTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:resumeTestRequest"/>
	</wsdl:message>
	<wsdl:message name="resumeTestResponse">
		<wsdl:documentation>
			<p>The resumeTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:resumeTestResponse"/>
	</wsdl:message>
	<wsdl:message name="resumeTestException">
		<wsdl:documentation>
			<p>The resumeTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="tc:resumeTestException"/>
	</wsdl:message>
	<wsdl:message name="stopTestRequest">
		<wsdl:documentation>
			<p>The stopTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:stopTestRequest"/>
	</wsdl:message>
	<wsdl:message name="stopTestResponse">
		<wsdl:documentation>
			<p>The stopTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:stopTestResponse"/>
	</wsdl:message>
	<wsdl:message name="stopTestException">
		<wsdl:documentation>
			<p>The stopTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="tc:stopTestException"/>
	</wsdl:message>
	<wsdl:message name="getTestResultsRequest">
		<wsdl:documentation>
			<p>The getTestResults request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:getTestResultsRequest"/>
	</wsdl:message>
	<wsdl:message name="getTestResultsResponse">
		<wsdl:documentation>
			<p>The getTestResults response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:getTestResultsResponse"/>
	</wsdl:message>
	<wsdl:message name="getTestResultsException">
		<wsdl:documentation>
			<p>The getTestResults exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="tc:getTestResultsException"/>
	</wsdl:message>
	<wsdl:message name="deleteTestRequest">
		<wsdl:documentation>
			<p>The deleteTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:deleteTestRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteTestResponse">
		<wsdl:documentation>
			<p>The deleteTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="tc:deleteTestResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteTestException">
		<wsdl:documentation>
			<p>The deleteTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="tc:deleteTestException"/>
	</wsdl:message>
	<!-- startTest messages -->
	<!-- suspendTest messages -->
	<!-- resumeTest messages -->
	<!-- stopTest messages -->
	<!-- getTestResults messages -->
	<!-- deleteTest messages -->
</wsdl:definitions>
