Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TerminationPointRetrieval/TerminationPointRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TerminationPointRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TerminationPointRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP TerminationPointRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" location="TerminationPointRetrievalMessages.wsdl"/>
  <wsdl:portType name="TerminationPointRetrieval_MSG">
    <wsdl:documentation>
      <p>The TerminationPointRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssignableConnectionlessPortTerminationPoints">
      <wsdl:input message="tns:getAllAssignableConnectionlessPortTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllAssignableConnectionlessPortTerminationPointsResponse"/>
      <wsdl:fault name="getAllAssignableConnectionlessPortTerminationPointsException" message="tns:getAllAssignableConnectionlessPortTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedConnectionlessPortTerminationPoints">
      <wsdl:input message="tns:getAllAssignedConnectionlessPortTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllAssignedConnectionlessPortTerminationPointsResponse"/>
      <wsdl:fault name="getAllAssignedConnectionlessPortTerminationPointsException" message="tns:getAllAssignedConnectionlessPortTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllConnectionlessPortTerminationPoints">
      <wsdl:input message="tns:getAllConnectionlessPortTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllConnectionlessPortTerminationPointsResponse"/>
      <wsdl:fault name="getAllConnectionlessPortTerminationPointsException" message="tns:getAllConnectionlessPortTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePointNames">
      <wsdl:input message="tns:getAllEdgePointNamesRequest"/>
      <wsdl:output message="tns:getAllEdgePointNamesResponse"/>
      <wsdl:fault name="getAllEdgePointNamesException" message="tns:getAllEdgePointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <wsdl:input message="tns:getAllEdgePointsRequest"/>
      <wsdl:output message="tns:getAllEdgePointsResponse"/>
      <wsdl:fault name="getAllEdgePointsException" message="tns:getAllEdgePointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFloatingTerminationPointNames">
      <wsdl:input message="tns:getAllFloatingTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getAllFloatingTerminationPointNamesResponse"/>
      <wsdl:fault name="getAllFloatingTerminationPointNamesException" message="tns:getAllFloatingTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFloatingTerminationPoints">
      <wsdl:input message="tns:getAllFloatingTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllFloatingTerminationPointsResponse"/>
      <wsdl:fault name="getAllFloatingTerminationPointsException" message="tns:getAllFloatingTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGroupTerminationPointNames">
      <wsdl:input message="tns:getAllGroupTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getAllGroupTerminationPointNamesResponse"/>
      <wsdl:fault name="getAllGroupTerminationPointNamesException" message="tns:getAllGroupTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGroupTerminationPoints">
      <wsdl:input message="tns:getAllGroupTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllGroupTerminationPointsResponse"/>
      <wsdl:fault name="getAllGroupTerminationPointsException" message="tns:getAllGroupTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointNames">
      <wsdl:input message="tns:getAllPhysicalTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getAllPhysicalTerminationPointNamesResponse"/>
      <wsdl:fault name="getAllPhysicalTerminationPointNamesException" message="tns:getAllPhysicalTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointNamesWithoutFtps">
      <wsdl:input message="tns:getAllPhysicalTerminationPointNamesWithoutFtpsRequest"/>
      <wsdl:output message="tns:getAllPhysicalTerminationPointNamesWithoutFtpsResponse"/>
      <wsdl:fault name="getAllPhysicalTerminationPointNamesWithoutFtpsException" message="tns:getAllPhysicalTerminationPointNamesWithoutFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPoints">
      <wsdl:input message="tns:getAllPhysicalTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllPhysicalTerminationPointsResponse"/>
      <wsdl:fault name="getAllPhysicalTerminationPointsException" message="tns:getAllPhysicalTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointsWithoutFtps">
      <wsdl:input message="tns:getAllPhysicalTerminationPointsWithoutFtpsRequest"/>
      <wsdl:output message="tns:getAllPhysicalTerminationPointsWithoutFtpsResponse"/>
      <wsdl:fault name="getAllPhysicalTerminationPointsWithoutFtpsException" message="tns:getAllPhysicalTerminationPointsWithoutFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPhysicalTerminationPointNames">
      <wsdl:input message="tns:getAllSupportedPhysicalTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getAllSupportedPhysicalTerminationPointNamesResponse"/>
      <wsdl:fault name="getAllSupportedPhysicalTerminationPointNamesException" message="tns:getAllSupportedPhysicalTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPhysicalTerminationPoints">
      <wsdl:input message="tns:getAllSupportedPhysicalTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllSupportedPhysicalTerminationPointsResponse"/>
      <wsdl:fault name="getAllSupportedPhysicalTerminationPointsException" message="tns:getAllSupportedPhysicalTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTerminationPointPoolNames">
      <wsdl:input message="tns:getAllTerminationPointPoolNamesRequest"/>
      <wsdl:output message="tns:getAllTerminationPointPoolNamesResponse"/>
      <wsdl:fault name="getAllTerminationPointPoolNamesException" message="tns:getAllTerminationPointPoolNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTerminationPointPools">
      <wsdl:input message="tns:getAllTerminationPointPoolsRequest"/>
      <wsdl:output message="tns:getAllTerminationPointPoolsResponse"/>
      <wsdl:fault name="getAllTerminationPointPoolsException" message="tns:getAllTerminationPointPoolsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPoint">
      <wsdl:input message="tns:getAssociatedTerminationPointRequest"/>
      <wsdl:output message="tns:getAssociatedTerminationPointResponse"/>
      <wsdl:fault name="getAssociatedTerminationPointException" message="tns:getAssociatedTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPointsWrtTmd">
      <wsdl:input message="tns:getAssociatedTerminationPointsWrtTmdRequest"/>
      <wsdl:output message="tns:getAssociatedTerminationPointsWrtTmdResponse"/>
      <wsdl:fault name="getAssociatedTerminationPointsWrtTmdException" message="tns:getAssociatedTerminationPointsWrtTmdException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentConnectionTerminationPointNames">
      <wsdl:input message="tns:getContainedCurrentConnectionTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getContainedCurrentConnectionTerminationPointNamesResponse"/>
      <wsdl:fault name="getContainedCurrentConnectionTerminationPointNamesException" message="tns:getContainedCurrentConnectionTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentConnectionTerminationPoints">
      <wsdl:input message="tns:getContainedCurrentConnectionTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainedCurrentConnectionTerminationPointsResponse"/>
      <wsdl:fault name="getContainedCurrentConnectionTerminationPointsException" message="tns:getContainedCurrentConnectionTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseConnectionTerminationPointNames">
      <wsdl:input message="tns:getContainedInUseConnectionTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getContainedInUseConnectionTerminationPointNamesResponse"/>
      <wsdl:fault name="getContainedInUseConnectionTerminationPointNamesException" message="tns:getContainedInUseConnectionTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseConnectionTerminationPoints">
      <wsdl:input message="tns:getContainedInUseConnectionTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainedInUseConnectionTerminationPointsResponse"/>
      <wsdl:fault name="getContainedInUseConnectionTerminationPointsException" message="tns:getContainedInUseConnectionTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialConnectionTerminationPointNames">
      <wsdl:input message="tns:getContainedPotentialConnectionTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getContainedPotentialConnectionTerminationPointNamesResponse"/>
      <wsdl:fault name="getContainedPotentialConnectionTerminationPointNamesException" message="tns:getContainedPotentialConnectionTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialConnectionTerminationPoints">
      <wsdl:input message="tns:getContainedPotentialConnectionTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainedPotentialConnectionTerminationPointsResponse"/>
      <wsdl:fault name="getContainedPotentialConnectionTerminationPointsException" message="tns:getContainedPotentialConnectionTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingGroupTerminationPoint">
      <wsdl:input message="tns:getContainingGroupTerminationPointRequest"/>
      <wsdl:output message="tns:getContainingGroupTerminationPointResponse"/>
      <wsdl:fault name="getContainingGroupTerminationPointException" message="tns:getContainingGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingTerminationPointNames">
      <wsdl:input message="tns:getContainingTerminationPointNamesRequest"/>
      <wsdl:output message="tns:getContainingTerminationPointNamesResponse"/>
      <wsdl:fault name="getContainingTerminationPointNamesException" message="tns:getContainingTerminationPointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingTerminationPoints">
      <wsdl:input message="tns:getContainingTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainingTerminationPointsResponse"/>
      <wsdl:fault name="getContainingTerminationPointsException" message="tns:getContainingTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPoint">
      <wsdl:input message="tns:getGroupTerminationPointRequest"/>
      <wsdl:output message="tns:getGroupTerminationPointResponse"/>
      <wsdl:fault name="getGroupTerminationPointException" message="tns:getGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPoint">
      <wsdl:input message="tns:getTerminationPointRequest"/>
      <wsdl:output message="tns:getTerminationPointResponse"/>
      <wsdl:fault name="getTerminationPointException" message="tns:getTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointGroupingRelationships">
      <wsdl:input message="tns:getTerminationPointGroupingRelationshipsRequest"/>
      <wsdl:output message="tns:getTerminationPointGroupingRelationshipsResponse"/>
      <wsdl:fault name="getTerminationPointGroupingRelationshipsException" message="tns:getTerminationPointGroupingRelationshipsException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPool">
      <wsdl:input message="tns:getTerminationPointPoolRequest"/>
      <wsdl:output message="tns:getTerminationPointPoolResponse"/>
      <wsdl:fault name="getTerminationPointPoolException" message="tns:getTerminationPointPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="getTrafficConditioningProfileAssociatedTps">
      <wsdl:input message="tns:getTrafficConditioningProfileAssociatedTpsRequest"/>
      <wsdl:output message="tns:getTrafficConditioningProfileAssociatedTpsResponse"/>
      <wsdl:fault name="getTrafficConditioningProfileAssociatedTpsException" message="tns:getTrafficConditioningProfileAssociatedTpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointNamesIterator">
      <wsdl:input message="tns:getTerminationPointNamesIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointNamesIteratorResponse"/>
      <wsdl:fault name="getTerminationPointNamesIteratorException" message="tns:getTerminationPointNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointsIterator">
      <wsdl:input message="tns:getTerminationPointsIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointsIteratorResponse"/>
      <wsdl:fault name="getTerminationPointsIteratorException" message="tns:getTerminationPointsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPointNamesIterator">
      <wsdl:input message="tns:getGroupTerminationPointNamesIteratorRequest"/>
      <wsdl:output message="tns:getGroupTerminationPointNamesIteratorResponse"/>
      <wsdl:fault name="getGroupTerminationPointNamesIteratorException" message="tns:getGroupTerminationPointNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPointsIterator">
      <wsdl:input message="tns:getGroupTerminationPointsIteratorRequest"/>
      <wsdl:output message="tns:getGroupTerminationPointsIteratorResponse"/>
      <wsdl:fault name="getGroupTerminationPointsIteratorException" message="tns:getGroupTerminationPointsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPoolNamesIterator">
      <wsdl:input message="tns:getTerminationPointPoolNamesIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointPoolNamesIteratorResponse"/>
      <wsdl:fault name="getTerminationPointPoolNamesIteratorException" message="tns:getTerminationPointPoolNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPoolsIterator">
      <wsdl:input message="tns:getTerminationPointPoolsIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointPoolsIteratorResponse"/>
      <wsdl:fault name="getTerminationPointPoolsIteratorException" message="tns:getTerminationPointPoolsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TerminationPointRetrievalSoapJmsBinding" type="tns:TerminationPointRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the TerminationPointRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllAssignableConnectionlessPortTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssignableConnectionlessPortTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssignableConnectionlessPortTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssignableConnectionlessPortTerminationPointsException">
        <soap:fault name="getAllAssignableConnectionlessPortTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedConnectionlessPortTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssignedConnectionlessPortTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssignedConnectionlessPortTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssignedConnectionlessPortTerminationPointsException">
        <soap:fault name="getAllAssignedConnectionlessPortTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllConnectionlessPortTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllConnectionlessPortTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllConnectionlessPortTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllConnectionlessPortTerminationPointsException">
        <soap:fault name="getAllConnectionlessPortTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEdgePointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEdgePointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEdgePointNamesException">
        <soap:fault name="getAllEdgePointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEdgePointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEdgePointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEdgePointsException">
        <soap:fault name="getAllEdgePointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFloatingTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFloatingTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFloatingTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFloatingTerminationPointNamesException">
        <soap:fault name="getAllFloatingTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFloatingTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFloatingTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFloatingTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFloatingTerminationPointsException">
        <soap:fault name="getAllFloatingTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGroupTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllGroupTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllGroupTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllGroupTerminationPointNamesException">
        <soap:fault name="getAllGroupTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGroupTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllGroupTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllGroupTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllGroupTerminationPointsException">
        <soap:fault name="getAllGroupTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPhysicalTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPhysicalTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPhysicalTerminationPointNamesException">
        <soap:fault name="getAllPhysicalTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointNamesWithoutFtps">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPhysicalTerminationPointNamesWithoutFtpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPhysicalTerminationPointNamesWithoutFtpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPhysicalTerminationPointNamesWithoutFtpsException">
        <soap:fault name="getAllPhysicalTerminationPointNamesWithoutFtpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPhysicalTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPhysicalTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPhysicalTerminationPointsException">
        <soap:fault name="getAllPhysicalTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointsWithoutFtps">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPhysicalTerminationPointsWithoutFtpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPhysicalTerminationPointsWithoutFtpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPhysicalTerminationPointsWithoutFtpsException">
        <soap:fault name="getAllPhysicalTerminationPointsWithoutFtpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPhysicalTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportedPhysicalTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportedPhysicalTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedPhysicalTerminationPointNamesException">
        <soap:fault name="getAllSupportedPhysicalTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPhysicalTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportedPhysicalTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportedPhysicalTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedPhysicalTerminationPointsException">
        <soap:fault name="getAllSupportedPhysicalTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTerminationPointPoolNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTerminationPointPoolNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTerminationPointPoolNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTerminationPointPoolNamesException">
        <soap:fault name="getAllTerminationPointPoolNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTerminationPointPools">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTerminationPointPoolsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTerminationPointPoolsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTerminationPointPoolsException">
        <soap:fault name="getAllTerminationPointPoolsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPoint">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssociatedTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssociatedTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatedTerminationPointException">
        <soap:fault name="getAssociatedTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPointsWrtTmd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssociatedTerminationPointsWrtTmdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssociatedTerminationPointsWrtTmdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatedTerminationPointsWrtTmdException">
        <soap:fault name="getAssociatedTerminationPointsWrtTmdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentConnectionTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedCurrentConnectionTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedCurrentConnectionTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedCurrentConnectionTerminationPointNamesException">
        <soap:fault name="getContainedCurrentConnectionTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentConnectionTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedCurrentConnectionTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedCurrentConnectionTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedCurrentConnectionTerminationPointsException">
        <soap:fault name="getContainedCurrentConnectionTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseConnectionTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedInUseConnectionTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedInUseConnectionTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedInUseConnectionTerminationPointNamesException">
        <soap:fault name="getContainedInUseConnectionTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseConnectionTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedInUseConnectionTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedInUseConnectionTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedInUseConnectionTerminationPointsException">
        <soap:fault name="getContainedInUseConnectionTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialConnectionTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedPotentialConnectionTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedPotentialConnectionTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedPotentialConnectionTerminationPointNamesException">
        <soap:fault name="getContainedPotentialConnectionTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialConnectionTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedPotentialConnectionTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedPotentialConnectionTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedPotentialConnectionTerminationPointsException">
        <soap:fault name="getContainedPotentialConnectionTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingGroupTerminationPoint">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingGroupTerminationPointException">
        <soap:fault name="getContainingGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingTerminationPointNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingTerminationPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingTerminationPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingTerminationPointNamesException">
        <soap:fault name="getContainingTerminationPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingTerminationPoints">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingTerminationPointsException">
        <soap:fault name="getContainingTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPoint">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getGroupTerminationPointException">
        <soap:fault name="getGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPoint">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointException">
        <soap:fault name="getTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointGroupingRelationships">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointGroupingRelationshipsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointGroupingRelationshipsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointGroupingRelationshipsException">
        <soap:fault name="getTerminationPointGroupingRelationshipsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPool">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointPoolException">
        <soap:fault name="getTerminationPointPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTrafficConditioningProfileAssociatedTps">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTrafficConditioningProfileAssociatedTpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTrafficConditioningProfileAssociatedTpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTrafficConditioningProfileAssociatedTpsException">
        <soap:fault name="getTrafficConditioningProfileAssociatedTpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointNamesIteratorException">
        <soap:fault name="getTerminationPointNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointsIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointsIteratorException">
        <soap:fault name="getTerminationPointsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPointNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getGroupTerminationPointNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getGroupTerminationPointNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getGroupTerminationPointNamesIteratorException">
        <soap:fault name="getGroupTerminationPointNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPointsIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getGroupTerminationPointsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getGroupTerminationPointsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getGroupTerminationPointsIteratorException">
        <soap:fault name="getGroupTerminationPointsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPoolNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointPoolNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointPoolNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointPoolNamesIteratorException">
        <soap:fault name="getTerminationPointPoolNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPoolsIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointPoolsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointPoolsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointPoolsIteratorException">
        <soap:fault name="getTerminationPointPoolsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminationPointRetrievalJms">
    <wsdl:documentation>
      <p>Example of the TerminationPointRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TerminationPointRetrievalSoapJms" binding="tns:TerminationPointRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/TerminationPointRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
