mtosi_2.0/2.0ME1/DDPs/ManageResourceInventory/IIS/xsd/EquipmentInventoryRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/eir/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/eir/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:eq="http://www.tmforum.org/mtop/nrf/xsd/eq/v1" xmlns:eh="http://www.tmforum.org/mtop/nrf/xsd/eh/v1" xmlns:ei="http://www.tmforum.org/mtop/nrf/xsd/eq-inv/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP EquipmentInventoryRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Eq.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eq/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Eh.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eh/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/EquipmentInventory.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eq-inv/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllEquipmentRequest" type="tns:GetAllEquipmentRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEquipment operation</p>
        <p>This operation allows an NMS to request all of the equipments and equipment holders that are contained in a managed element or equipment holder.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEquipmentResponse" type="ei:EquipmentOrHolderListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllEquipmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportingEquipmentRequest" type="tns:GetAllEquipmentWithPtpRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportingEquipment operation</p>
        <p>This operation allows an NMS to request all of the equipment which implement a PTP/FTP. For a PTP, the equipments that are returned are those which support the physical layer of the PTP (i.e. have the port on them or are connected by a fibre, wire, etc.). For an FTP, the equipments returned are those which support the physical circuitry implementing the FTP and will include the equipment from which the FTP is named (the FTPs will depend upon the presence of that equipment for their most basic operation). For a particular PTP/FTP the Tx port/function and Rx port/function may be on different cards and in this case both should be returned. Equipment that are used by the PTPs/FTPs, but that do not support them directly (such as a shared DEMUX card) are not reported. When there is equipment protection, this operation reports the primary equipment only. The protecting equipment will not be returned by this operation
.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportingEquipmentResponse" type="ei:EquipmentOrHolderListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportingEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSupportingEquipmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportingEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedEquipmentRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedEquipment operation</p>
        <p>This operation returns the equipments and equipment holders directly contained by a specific equipment holder. This method differs from getAllEquipment in that it only looks at the next level of the containment hierarchy</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="equipmentHolderName" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the equipment holder for which to retrieve the directly contained equipment and equipment holders.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedEquipmentResponse" type="ei:EquipmentOrHolderListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getContainedEquipmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getEquipmentRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getEquipment operation</p>
        <p>This operation returns the equipments and equipment holders directly contained by a specific equipment holder. This method differs from getAllEquipment in that it only looks at the next level of the containment hierarchy</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="equipmentOrHolderName" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the equipment or equipment holder to retrieve.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getEquipmentResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="equip" type="ei:EquipmentOrHolderType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>the returned equipment or equipment holder</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getEquipmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getSupportedEquipmentRequest" type="tns:GetSupportEquipmentRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSupportedEquipment operation</p>
        <p>This operation allows an NMS to request all of the pieces of equipment supported by a given piece of equipment, e.g., a power pack might support many circuit packs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getSupportedEquipmentResponse" type="ei:EquipmentOrHolderListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSupportedEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSupportedEquipmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSupportedEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getSupportingEquipmentRequest" type="tns:GetSupportEquipmentRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSupportingEquipment operation</p>
        <p>This operation allows an NMS to request all of the pieces of equipment supported by a given piece of equipment, e.g., a power pack might support many circuit packs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getSupportingEquipmentResponse" type="ei:EquipmentOrHolderListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSupportingEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSupportingEquipmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSupportingEquipment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getEquipmentIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getEquipmentIterator operation</p>
        <p>This operation allows an NMS to request iteratively all the batches of equipments and equipment holders based on an initial specific request.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getEquipmentIteratorResponse" type="ei:EquipmentOrHolderListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getEquipmentIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getEquipmentIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getEquipmentIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <!-- == Local Data Types == -->
  <!-- ================ -->
  <xsd:complexType name="GetSupportEquipmentRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSupportEquipment(Names) operations</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="equipmentName" type="nam:NamingAttributeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>the name of the equipment for which to retrieve the supported/supporting equipment list.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================ -->
  <xsd:complexType name="GetAllEquipmentRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEquipment(Names) operations</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meOrHolderName" type="nam:NamingAttributeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>the name of the ME or equipment holder for which to retrieve contained equipments and equipment holders.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================ -->
  <xsd:complexType name="GetAllEquipmentWithPtpRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEquipment(Names) operations wrt PTP</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ptpName" type="nam:NamingAttributeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>the name of the PTP/FTP for which to retrieve the equipments. The termination point name must be explicit (a generic endpoint specification may not be used in this case). See Object Naming for further detail on FTP naming.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
</xsd:schema>
