Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/ConnectionRetrieval/ConnectionRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ConnectionRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" xmlns:conr="http://www.tmforum.org/mtop/mri/xsd/conr/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: ConnectionRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ConnectionRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/conr/v1" schemaLocation="../../xsd/ConnectionRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCrossConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsException">
    <wsdl:documentation>
      <p>The getAllCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsException">
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesRequest">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesResponse">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesException">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesWithTpRequest">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNamesWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesWithTpResponse">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNamesWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesWithTpException">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNamesWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsException">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpRequest">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionsWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpResponse">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionsWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpException">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionsWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesRequest">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesResponse">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesException">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTpRequest">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNamesWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTpResponse">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNamesWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTpException">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNamesWithT exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsException">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpRequest">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpResponse">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpException">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesRequest">
    <wsdl:documentation>
      <p>The getBackupRoutes request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesRequest"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesResponse">
    <wsdl:documentation>
      <p>The getBackupRoutes response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesResponse"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesException">
    <wsdl:documentation>
      <p>The getBackupRoutes exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesException"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteRequest">
    <wsdl:documentation>
      <p>The getIntendedRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteResponse">
    <wsdl:documentation>
      <p>The getIntendedRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteException">
    <wsdl:documentation>
      <p>The getIntendedRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteException"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCcsRequest">
    <wsdl:documentation>
      <p>The getPotentialFixedCCs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCcsRequest"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCcsResponse">
    <wsdl:documentation>
      <p>The getPotentialFixedCcs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCcsResponse"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCcsException">
    <wsdl:documentation>
      <p>The getPotentialFixedCcs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCcsException"/>
  </wsdl:message>
  <wsdl:message name="getRouteRequest">
    <wsdl:documentation>
      <p>The getRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getRouteResponse">
    <wsdl:documentation>
      <p>The getRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getRouteException">
    <wsdl:documentation>
      <p>The getRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getRouteException"/>
  </wsdl:message>
  <wsdl:message name="getSncRequest">
    <wsdl:documentation>
      <p>The getSNC request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSncRequest"/>
  </wsdl:message>
  <wsdl:message name="getSncResponse">
    <wsdl:documentation>
      <p>The getSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSncResponse"/>
  </wsdl:message>
  <wsdl:message name="getSncException">
    <wsdl:documentation>
      <p>The getSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncException"/>
  </wsdl:message>
  <wsdl:message name="getSncsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getSncsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSncsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getSncsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getSncsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSncsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getSncsByUserLabelException">
    <wsdl:documentation>
      <p>The getSncsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsIteratorRequest">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsIteratorResponse">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsIteratorException">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionNamesIteratorException">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getCrossConnectionsIteratorRequest">
    <wsdl:documentation>
      <p>The getCrossConnectionsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getCrossConnectionsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getCrossConnectionsIteratorResponse">
    <wsdl:documentation>
      <p>The getCrossConnectionsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getCrossConnectionsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getCrossConnectionsIteratorException">
    <wsdl:documentation>
      <p>The getCrossConnectionsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getCrossConnectionsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
