Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/ConnectionRetrieval/ConnectionRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" name="mTOP-ConnectionRetrievalJmsV1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: ConnectionRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains the mTOP connectionRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/ws/conr/v1-0" location="ConnectionRetrievalMessages.wsdl"/>
  <wsdl:portType name="ConnectionRetrieval_MSG">
    <wsdl:documentation>
      <p>The ConnectionRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllCrossConnections">
      <wsdl:documentation>
        <p>This ABR operation allows an NMS to request a list of the cross-connects for the specified managed element at the specified layer rates.
        This operation returns cross-connects between CTPs/FTPs.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllCrossConnectionsRequest"/>
      <wsdl:output message="tns:getAllCrossConnectionsResponse"/>
      <wsdl:fault name="getAllCrossConnectionsException" message="tns:getAllCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnections">
      <wsdl:documentation>
        <p>This ABR operation has exactly the same behaviour as getAllCrossConnections(), but instead returns only fixed Cross Connection object structures.
        See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
        <p>A cross connection is identified as fixed using additional information.
        See Additional Information Usage for detail on additional information for SNCs, cross connections and TPs.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFixedCrossConnectionsRequest"/>
      <wsdl:output message="tns:getAllFixedCrossConnectionsResponse"/>
      <wsdl:fault name="getAllFixedCrossConnectionsException" message="tns:getAllFixedCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <wsdl:documentation>
        <p>This ARR operation has exactly the same behaviour as getAllFixedSubnetworkConnections(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionNamesRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionNamesResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException" message="tns:getAllFixedSubnetworkConnectionNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnections">
      <wsdl:documentation>
        <p>This ABR operation has exactly the same behaviour as getAllSubnetworkConnections(), but instead returns only fixed SNCs object structures. See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsException" message="tns:getAllFixedSubnetworkConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <wsdl:documentation>
        <p>This ARR operation has exactly the same behaviour as getAllSubnetworkConnectionNames but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllSubnetworkConnectionNamesRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionNamesResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException" message="tns:getAllSubnetworkConnectionNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <wsdl:documentation>
        <p>This ARR operation has exactly the same behaviour as getAllSubnetworkConnectionsWithTP(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllSubnetworkConnectionNamesWithTpRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionNamesWithTpResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException" message="tns:getAllSubnetworkConnectionNamesWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnections">
      <wsdl:documentation>
        <p>This ABR operation allows an NMS to request a list of the SNCs for the specified Subnetwork at the specified connectionRates. This operation also returns bundled SNCs, if any (see Bundled SNC overview for further details).</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllSubnetworkConnectionsRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsException" message="tns:getAllSubnetworkConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTp">
      <wsdl:documentation>
        <p>This ABR operation allows an NMS to request a list of the SNCs using the specified termination point at the specified connection rates.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithTpRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithTpResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpException" message="tns:getAllSubnetworkConnectionsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <wsdl:documentation>
        <p>This ARR operation returns the requested route for the SNC whose name is specified as a parameter. If the input route is not specified (empty string), the operation replies all the routes of the SNC, intended and backup ones. The rest of the behavior is same as getRoute().</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getBackupRoutesRequest"/>
      <wsdl:output message="tns:getBackupRoutesResponse"/>
      <wsdl:fault name="getBackupRoutesException" message="tns:getBackupRoutesException"/>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <wsdl:documentation>
        <p>This ARR operation returns the intended route for the SNC whose name is specified as a parameter. The behavior is essentially the same as getRoute().</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getIntendedRouteRequest"/>
      <wsdl:output message="tns:getIntendedRouteResponse"/>
      <wsdl:fault name="getIntendedRouteException" message="tns:getIntendedRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <wsdl:documentation>
        <p>This ABR operation is used to retrieve fixed connection schemes related to normal and inverse multiplexing.
See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getPotentialFixedCcsRequest"/>
      <wsdl:output message="tns:getPotentialFixedCcsResponse"/>
      <wsdl:fault name="getPotentialFixedCcsException" message="tns:getPotentialFixedCcsException"/>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <wsdl:documentation>
        <p>This ARR operation returns the route for the SNC whose name is specified as a parameter. This operation also works for bundled SNCs.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getRouteRequest"/>
      <wsdl:output message="tns:getRouteResponse"/>
      <wsdl:fault name="getRouteException" message="tns:getRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <wsdl:documentation>
        <p>This ARR operation will return the SubnetworkConnection structure for the SNC whose name is supplied as a parameter. This operations will provide a bundled SNC structure if the name provided is that of a bundled SNC (see Bundled SNC overview for further details).</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getSncRequest"/>
      <wsdl:output message="tns:getSncResponse"/>
      <wsdl:fault name="getSncException" message="tns:getSncException"/>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <wsdl:documentation>
        <p>This ARR operation will return the SubnetworkConnection structures for the SNCs whose userLabel is supplied as a parameter. This operations will provide a bundled SNC structure if the name provided is that of a bundled SNC (see Bundled SNC overview for further details).</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getSncsByUserLabelRequest"/>
      <wsdl:output message="tns:getSncsByUserLabelResponse"/>
      <wsdl:fault name="getSncsByUserLabelException" message="tns:getSncsByUserLabelException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectionRetrievalSoapJmsBinding" type="tns:ConnectionRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the ConnectionRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllCrossConnections">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsException">
        <soap:fault name="getAllCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnections">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsException">
        <soap:fault name="getAllFixedCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnections">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException">
        <soap:fault name="getAllSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionNamesWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionNamesWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnections">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsException">
        <soap:fault name="getAllSubnetworkConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getBackupRoutesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getBackupRoutesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getBackupRoutesException">
        <soap:fault name="getBackupRoutesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getIntendedRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getIntendedRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getIntendedRouteException">
        <soap:fault name="getIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPotentialFixedCcsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPotentialFixedCcsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPotentialFixedCcsException">
        <soap:fault name="getPotentialFixedCcsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteException">
        <soap:fault name="getRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncException">
        <soap:fault name="getSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSncsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSncsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncsByUserLabelException">
        <soap:fault name="getSncsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionRetrievalJms">
    <wsdl:documentation>
      <p>Example of the ConnectionRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ConnectionRetrievalSoapJms" binding="tns:ConnectionRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/ConnectionRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
