Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/ConnectionRetrieval/ConnectionRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ConnectionRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ConnectionRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP ConnectionRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" location="ConnectionRetrievalMessages.wsdl"/>
  <wsdl:portType name="ConnectionRetrieval_RPC">
    <wsdl:documentation>
      <p>The ConnectionRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllCrossConnections">
      <wsdl:input message="tns:getAllCrossConnectionsRequest"/>
      <wsdl:output message="tns:getAllCrossConnectionsResponse"/>
      <wsdl:fault name="getAllCrossConnectionsException" message="tns:getAllCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnections">
      <wsdl:input message="tns:getAllFixedCrossConnectionsRequest"/>
      <wsdl:output message="tns:getAllFixedCrossConnectionsResponse"/>
      <wsdl:fault name="getAllFixedCrossConnectionsException" message="tns:getAllFixedCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnections">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsException" message="tns:getAllFixedSubnetworkConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTp">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsWithTpRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsWithTpResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpException" message="tns:getAllFixedSubnetworkConnectionsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnections">
      <wsdl:input message="tns:getAllSubnetworkConnectionsRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsException" message="tns:getAllSubnetworkConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTp">
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithTpRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithTpResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpException" message="tns:getAllSubnetworkConnectionsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <wsdl:input message="tns:getBackupRoutesRequest"/>
      <wsdl:output message="tns:getBackupRoutesResponse"/>
      <wsdl:fault name="getBackupRoutesException" message="tns:getBackupRoutesException"/>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <wsdl:input message="tns:getIntendedRouteRequest"/>
      <wsdl:output message="tns:getIntendedRouteResponse"/>
      <wsdl:fault name="getIntendedRouteException" message="tns:getIntendedRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCrossConnections">
      <wsdl:input message="tns:getPotentialFixedCrossConnectionsRequest"/>
      <wsdl:output message="tns:getPotentialFixedCrossConnectionsResponse"/>
      <wsdl:fault name="getPotentialFixedCrossConnectionsException" message="tns:getPotentialFixedCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <wsdl:input message="tns:getRouteRequest"/>
      <wsdl:output message="tns:getRouteResponse"/>
      <wsdl:fault name="getRouteException" message="tns:getRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnection">
      <wsdl:input message="tns:getSubnetworkConnectionRequest"/>
      <wsdl:output message="tns:getSubnetworkConnectionResponse"/>
      <wsdl:fault name="getSubnetworkConnectionException" message="tns:getSubnetworkConnectionException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionsByUserLabel">
      <wsdl:input message="tns:getSubnetworkConnectionsByUserLabelRequest"/>
      <wsdl:output message="tns:getSubnetworkConnectionsByUserLabelResponse"/>
      <wsdl:fault name="getSubnetworkConnectionsByUserLabelException" message="tns:getSubnetworkConnectionsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionsIterator">
      <wsdl:input message="tns:getSubnetworkConnectionsIteratorRequest"/>
      <wsdl:output message="tns:getSubnetworkConnectionsIteratorResponse"/>
      <wsdl:fault name="getSubnetworkConnectionsIteratorException" message="tns:getSubnetworkConnectionsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getCrossConnectionsIterator">
      <wsdl:input message="tns:getCrossConnectionsIteratorRequest"/>
      <wsdl:output message="tns:getCrossConnectionsIteratorResponse"/>
      <wsdl:fault name="getCrossConnectionsIteratorException" message="tns:getCrossConnectionsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectionRetrievalSoapHttpBinding" type="tns:ConnectionRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the ConnectionRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllCrossConnections">
      <soap:operation soapAction="getAllCrossConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsException">
        <soap:fault name="getAllCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnections">
      <soap:operation soapAction="getAllFixedCrossConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsException">
        <soap:fault name="getAllFixedCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnections">
      <soap:operation soapAction="getAllFixedSubnetworkConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTp">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionsWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnections">
      <soap:operation soapAction="getAllSubnetworkConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsException">
        <soap:fault name="getAllSubnetworkConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTp">
      <soap:operation soapAction="getAllSubnetworkConnectionsWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <soap:operation soapAction="getBackupRoutes" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getBackupRoutesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getBackupRoutesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getBackupRoutesException">
        <soap:fault name="getBackupRoutesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <soap:operation soapAction="getIntendedRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getIntendedRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getIntendedRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getIntendedRouteException">
        <soap:fault name="getIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCrossConnections">
      <soap:operation soapAction="getPotentialFixedCrossConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPotentialFixedCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPotentialFixedCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPotentialFixedCrossConnectionsException">
        <soap:fault name="getPotentialFixedCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <soap:operation soapAction="getRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteException">
        <soap:fault name="getRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnection">
      <soap:operation soapAction="getSubnetworkConnection" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubnetworkConnectionException">
        <soap:fault name="getSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
   
    <wsdl:operation name="getSubnetworkConnectionsByUserLabel">
      <soap:operation soapAction="getSubnetworkConnectionsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSubnetworkConnectionsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSubnetworkConnectionsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubnetworkConnectionsByUserLabelException">
        <soap:fault name="getSubnetworkConnectionsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionsIterator">
      <soap:operation soapAction="getSubnetworkConnectionsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSubnetworkConnectionsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSubnetworkConnectionsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubnetworkConnectionsIteratorException">
        <soap:fault name="getSubnetworkConnectionsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCrossConnectionsIterator">
      <soap:operation soapAction="getCrossConnectionsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCrossConnectionsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCrossConnectionsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCrossConnectionsIteratorException">
        <soap:fault name="getCrossConnectionsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the ConnectionRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ConnectionRetrievalSoapHttp" binding="tns:ConnectionRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ConnectionRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
