Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/ConnectionControl/ConnectionControlJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" location="ConnectionControlPortType.wsdl"/>
  <wsdl:binding name="ConnectionControlSoapJmsBinding" type="tns:ConnectionControl">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the ConnectionControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="activateSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:activateSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:activateSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="activateSubnetworkConnectionException">
        <soap:fault name="activateSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:addRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:addRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="addRouteException">
        <soap:fault name="addRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkValidSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:checkValidSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:checkValidSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="checkValidSubnetworkConnectionException">
        <soap:fault name="checkValidSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createAndActivateSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createAndActivateSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createAndActivateSubnetworkConnectionException">
        <soap:fault name="createAndActivateSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createModifiedSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createModifiedSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createModifiedSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createModifiedSubnetworkConnectionException">
        <soap:fault name="createModifiedSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createSubnetworkConnectionException">
        <soap:fault name="createSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateAndDeleteSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateAndDeleteSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateAndDeleteSubnetworkConnectionException">
        <soap:fault name="deactivateAndDeleteSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateSubnetworkConnectionException">
        <soap:fault name="deactivateSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteSubnetworkConnectionException">
        <soap:fault name="deleteSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifySubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifySubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifySubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifySubnetworkConnectionException">
        <soap:fault name="modifySubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:removeRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:removeRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="removeRouteException">
        <soap:fault name="removeRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setIntendedRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:setIntendedRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setIntendedRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setIntendedRouteException">
        <soap:fault name="setIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRoutesAdminState">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:setRoutesAdminStateRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setRoutesAdminStateResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setRoutesAdminStateException">
        <soap:fault name="setRoutesAdminStateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="swapSubnetworkConnection">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:swapSubnetworkConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:swapSubnetworkConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="swapSubnetworkConnectionException">
        <soap:fault name="swapSubnetworkConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="switchRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:switchRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:switchRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="switchRouteException">
        <soap:fault name="switchRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionControlJms">
    <wsdl:documentation>
      <p>Example of the ConnectionControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ConnectionControlSoapJms" binding="tns:ConnectionControlSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/ConnectionControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
