Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/ConnectionControl/ConnectionControlHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" location="ConnectionControlPortType.wsdl"/>
  <wsdl:binding name="ConnectionControlSoapHttpBinding" type="tns:ConnectionControl">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the ConnectionControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="activateSnc">
      <soap:operation soapAction="activateSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:activateSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:activateSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="activateSncException">
        <soap:fault name="activateSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRoute">
      <soap:operation soapAction="addRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:addRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:addRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="addRouteException">
        <soap:fault name="addRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkValidSnc">
      <soap:operation soapAction="checkValidSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:checkValidSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:checkValidSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="checkValidSncException">
        <soap:fault name="checkValidSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateSnc">
      <soap:operation soapAction="createAndActivateSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createAndActivateSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createAndActivateSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createAndActivateSncException">
        <soap:fault name="createAndActivateSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createModifiedSnc">
      <soap:operation soapAction="createModifiedSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createModifiedSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createModifiedSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createModifiedSncException">
        <soap:fault name="createModifiedSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSnc">
      <soap:operation soapAction="createSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createSncException">
        <soap:fault name="createSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteSnc">
      <soap:operation soapAction="deactivateAndDeleteSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateAndDeleteSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateAndDeleteSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateAndDeleteSncException">
        <soap:fault name="deactivateAndDeleteSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateSnc">
      <soap:operation soapAction="deactivateSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateSncException">
        <soap:fault name="deactivateSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSnc">
      <soap:operation soapAction="deleteSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteSncException">
        <soap:fault name="deleteSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifySnc">
      <soap:operation soapAction="modifySnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifySncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifySncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifySncException">
        <soap:fault name="modifySncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoute">
      <soap:operation soapAction="removeRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:removeRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:removeRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="removeRouteException">
        <soap:fault name="removeRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setIntendedRoute">
      <soap:operation soapAction="setIntendedRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:setIntendedRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setIntendedRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setIntendedRouteException">
        <soap:fault name="setIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRoutesAdminState">
      <soap:operation soapAction="setRoutesAdminState" style="document"/>
      <wsdl:input>
        <soap:header message="tns:setRoutesAdminStateRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setRoutesAdminStateResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setRoutesAdminStateException">
        <soap:fault name="setRoutesAdminStateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="swapSnc">
      <soap:operation soapAction="swapSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:swapSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:swapSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="swapSncException">
        <soap:fault name="swapSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="switchRoute">
      <soap:operation soapAction="switchRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:switchRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:switchRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="switchRouteException">
        <soap:fault name="switchRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionControlHttp">
    <wsdl:documentation>
      <p>Example of the ConnectionControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ConnectionControlSoapHttp" binding="tns:ConnectionControlSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ConnectionControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
