Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/ConnectionControl/ConnectionControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" location="ConnectionControlMessages.wsdl"/>
  <wsdl:portType name="ConnectionControl">
    <wsdl:documentation>
      <p>The ConnectionControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="activateSnc">
      <wsdl:input message="tns:activateSncRequest"/>
      <wsdl:output message="tns:activateSncResponse"/>
      <wsdl:fault name="activateSncException" message="tns:activateSncException"/>
    </wsdl:operation>
    <wsdl:operation name="addRoute">
      <wsdl:input message="tns:addRouteRequest"/>
      <wsdl:output message="tns:addRouteResponse"/>
      <wsdl:fault name="addRouteException" message="tns:addRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="checkValidSnc">
      <wsdl:input message="tns:checkValidSncRequest"/>
      <wsdl:output message="tns:checkValidSncResponse"/>
      <wsdl:fault name="checkValidSncException" message="tns:checkValidSncException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateSnc">
      <wsdl:input message="tns:createAndActivateSncRequest"/>
      <wsdl:output message="tns:createAndActivateSncResponse"/>
      <wsdl:fault name="createAndActivateSncException" message="tns:createAndActivateSncException"/>
    </wsdl:operation>
    <wsdl:operation name="createModifiedSnc">
      <wsdl:input message="tns:createModifiedSncRequest"/>
      <wsdl:output message="tns:createModifiedSncResponse"/>
      <wsdl:fault name="createModifiedSncException" message="tns:createModifiedSncException"/>
    </wsdl:operation>
    <wsdl:operation name="createSnc">
      <wsdl:input message="tns:createSncRequest"/>
      <wsdl:output message="tns:createSncResponse"/>
      <wsdl:fault name="createSncException" message="tns:createSncException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteSnc">
      <wsdl:input message="tns:deactivateAndDeleteSncRequest"/>
      <wsdl:output message="tns:deactivateAndDeleteSncResponse"/>
      <wsdl:fault name="deactivateAndDeleteSncException" message="tns:deactivateAndDeleteSncException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateSnc">
      <wsdl:input message="tns:deactivateSncRequest"/>
      <wsdl:output message="tns:deactivateSncResponse"/>
      <wsdl:fault name="deactivateSncException" message="tns:deactivateSncException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteSnc">
      <wsdl:input message="tns:deleteSncRequest"/>
      <wsdl:output message="tns:deleteSncResponse"/>
      <wsdl:fault name="deleteSncException" message="tns:deleteSncException"/>
    </wsdl:operation>
    <wsdl:operation name="modifySnc">
      <wsdl:input message="tns:modifySncRequest"/>
      <wsdl:output message="tns:modifySncResponse"/>
      <wsdl:fault name="modifySncException" message="tns:modifySncException"/>
    </wsdl:operation>
    <wsdl:operation name="removeRoute">
      <wsdl:input message="tns:removeRouteRequest"/>
      <wsdl:output message="tns:removeRouteResponse"/>
      <wsdl:fault name="removeRouteException" message="tns:removeRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="setIntendedRoute">
      <wsdl:input message="tns:setIntendedRouteRequest"/>
      <wsdl:output message="tns:setIntendedRouteResponse"/>
      <wsdl:fault name="setIntendedRouteException" message="tns:setIntendedRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="setRoutesAdminState">
      <wsdl:input message="tns:setRoutesAdminStateRequest"/>
      <wsdl:output message="tns:setRoutesAdminStateResponse"/>
      <wsdl:fault name="setRoutesAdminStateException" message="tns:setRoutesAdminStateException"/>
    </wsdl:operation>
    <wsdl:operation name="swapSnc">
      <wsdl:input message="tns:swapSncRequest"/>
      <wsdl:output message="tns:swapSncResponse"/>
      <wsdl:fault name="swapSncException" message="tns:swapSncException"/>
    </wsdl:operation>
    <wsdl:operation name="switchRoute">
      <wsdl:input message="tns:switchRouteRequest"/>
      <wsdl:output message="tns:switchRouteResponse"/>
      <wsdl:fault name="switchRouteException" message="tns:switchRouteException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
