Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/ConnectionControl/ConnectionControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:conc="http://www.tmforum.org/mtop/rp/xsd/conc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/conc/v1" schemaLocation="../../xsd/ConnectionControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="activateSncRequest">
    <wsdl:documentation>
      <p>The activateSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:activateSncRequest"/>
  </wsdl:message>
  <wsdl:message name="activateSncResponse">
    <wsdl:documentation>
      <p>The activateSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:activateSncResponse"/>
  </wsdl:message>
  <wsdl:message name="activateSncException">
    <wsdl:documentation>
      <p>The activateSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:activateSncException"/>
  </wsdl:message>
  <wsdl:message name="addRouteRequest">
    <wsdl:documentation>
      <p>The addRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:addRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="addRouteResponse">
    <wsdl:documentation>
      <p>The addRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:addRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="addRouteException">
    <wsdl:documentation>
      <p>The addRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:addRouteException"/>
  </wsdl:message>
  <wsdl:message name="checkValidSncRequest">
    <wsdl:documentation>
      <p>The checkValidSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:checkValidSncRequest"/>
  </wsdl:message>
  <wsdl:message name="checkValidSncResponse">
    <wsdl:documentation>
      <p>The checkValidSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:checkValidSncResponse"/>
  </wsdl:message>
  <wsdl:message name="checkValidSncException">
    <wsdl:documentation>
      <p>The checkValidSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:checkValidSncException"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateSncRequest">
    <wsdl:documentation>
      <p>The createAndActivateSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createAndActivateSncRequest"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateSncResponse">
    <wsdl:documentation>
      <p>The createAndActivateSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createAndActivateSncResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateSncException">
    <wsdl:documentation>
      <p>The createAndActivateSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:createAndActivateSncException"/>
  </wsdl:message>
  <wsdl:message name="createModifiedSncRequest">
    <wsdl:documentation>
      <p>The createModifiedSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createModifiedSncRequest"/>
  </wsdl:message>
  <wsdl:message name="createModifiedSncResponse">
    <wsdl:documentation>
      <p>The createModifiedSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createModifiedSncResponse"/>
  </wsdl:message>
  <wsdl:message name="createModifiedSncException">
    <wsdl:documentation>
      <p>The createModifiedSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:createModifiedSncException"/>
  </wsdl:message>
  <wsdl:message name="createSncRequest">
    <wsdl:documentation>
      <p>The createSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createSncRequest"/>
  </wsdl:message>
  <wsdl:message name="createSncResponse">
    <wsdl:documentation>
      <p>The createSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createSncResponse"/>
  </wsdl:message>
  <wsdl:message name="createSncException">
    <wsdl:documentation>
      <p>The createSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:createSncException"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteSncRequest">
    <wsdl:documentation>
      <p>The deactivateAndDeleteSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateAndDeleteSncRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteSncResponse">
    <wsdl:documentation>
      <p>The deactivateAndDeleteSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateAndDeleteSncResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteSncException">
    <wsdl:documentation>
      <p>The deactivateAndDeleteSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:deactivateAndDeleteSncException"/>
  </wsdl:message>
  <wsdl:message name="deactivateSncRequest">
    <wsdl:documentation>
      <p>The deactivateSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateSncRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateSncResponse">
    <wsdl:documentation>
      <p>The deactivateSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateSncResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateSncException">
    <wsdl:documentation>
      <p>The deactivateSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:deactivateSncException"/>
  </wsdl:message>
  <wsdl:message name="deleteSncRequest">
    <wsdl:documentation>
      <p>The deleteSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deleteSncRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteSncResponse">
    <wsdl:documentation>
      <p>The deleteSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deleteSncResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteSncException">
    <wsdl:documentation>
      <p>The deleteSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:deleteSncException"/>
  </wsdl:message>
  <wsdl:message name="modifySncRequest">
    <wsdl:documentation>
      <p>The modifySnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:modifySncRequest"/>
  </wsdl:message>
  <wsdl:message name="modifySncResponse">
    <wsdl:documentation>
      <p>The modifySnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:modifySncResponse"/>
  </wsdl:message>
  <wsdl:message name="modifySncException">
    <wsdl:documentation>
      <p>The modifySnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:modifySncException"/>
  </wsdl:message>
  <wsdl:message name="removeRouteRequest">
    <wsdl:documentation>
      <p>The removeRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:removeRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="removeRouteResponse">
    <wsdl:documentation>
      <p>The removeRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:removeRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="removeRouteException">
    <wsdl:documentation>
      <p>The removeRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:removeRouteException"/>
  </wsdl:message>
  <wsdl:message name="setIntendedRouteRequest">
    <wsdl:documentation>
      <p>The setIntendedRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setIntendedRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="setIntendedRouteResponse">
    <wsdl:documentation>
      <p>The setIntendedRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setIntendedRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="setIntendedRouteException">
    <wsdl:documentation>
      <p>The setIntendedRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:setIntendedRouteException"/>
  </wsdl:message>
  <wsdl:message name="setRoutesAdminStateRequest">
    <wsdl:documentation>
      <p>The setRoutesAdminState request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setRoutesAdminStateRequest"/>
  </wsdl:message>
  <wsdl:message name="setRoutesAdminStateResponse">
    <wsdl:documentation>
      <p>The setRoutesAdminState response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setRoutesAdminStateResponse"/>
  </wsdl:message>
  <wsdl:message name="setRoutesAdminStateException">
    <wsdl:documentation>
      <p>The setRoutesAdminState exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:setRoutesAdminStateException"/>
  </wsdl:message>
  <wsdl:message name="swapSncRequest">
    <wsdl:documentation>
      <p>The swapSnc request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:swapSncRequest"/>
  </wsdl:message>
  <wsdl:message name="swapSncResponse">
    <wsdl:documentation>
      <p>The swapSnc response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:swapSncResponse"/>
  </wsdl:message>
  <wsdl:message name="swapSncException">
    <wsdl:documentation>
      <p>The swapSnc exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:swapSncException"/>
  </wsdl:message>
  <wsdl:message name="switchRouteRequest">
    <wsdl:documentation>
      <p>The switchRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:switchRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="switchRouteResponse">
    <wsdl:documentation>
      <p>The switchRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:switchRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="switchRouteException">
    <wsdl:documentation>
      <p>The switchRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:switchRouteException"/>
  </wsdl:message>
</wsdl:definitions>
