mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/TrafficConditioningProfileControl/TrafficConditioningProfileControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TrafficConditioningProfileControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tcpc="http://www.tmforum.org/mtop/rp/xsd/tcpc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tcpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tcpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TrafficConditioningProfileControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TrafficConditioningProfileControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tcpc/v1" schemaLocation="../../xsd/TrafficConditioningProfileControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTcProfileRequest">
    <wsdl:documentation>
      <p>The createTcProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:createTcProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="createTcProfileResponse">
    <wsdl:documentation>
      <p>The createTcProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:createTcProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="createTcProfileException">
    <wsdl:documentation>
      <p>The createTcProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpc:createTcProfileException"/>
  </wsdl:message>
  <wsdl:message name="deleteTcProfileRequest">
    <wsdl:documentation>
      <p>The deleteTcProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:deleteTcProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTcProfileResponse">
    <wsdl:documentation>
      <p>The deleteTcProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:deleteTcProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTcProfileException">
    <wsdl:documentation>
      <p>The deleteTcProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpc:deleteTcProfileException"/>
  </wsdl:message>
  <wsdl:message name="modifyTcProfileRequest">
    <wsdl:documentation>
      <p>The modifyTcProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:modifyTcProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyTcProfileResponse">
    <wsdl:documentation>
      <p>The modifyTcProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:modifyTcProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyTcProfileException">
    <wsdl:documentation>
      <p>The modifyTcProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpc:modifyTcProfileException"/>
  </wsdl:message>
</wsdl:definitions>
