mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/TrafficConditioningProfileControl/TrafficConditioningProfileControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TrafficConditioningProfileControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tcpc="http://www.tmforum.org/mtop/rp/xsd/tcpc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tcpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tcpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TrafficConditioningProfileControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TrafficConditioningProfileControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tcpc/v1" schemaLocation="../../xsd/TrafficConditioningProfileControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTrafficConditioningProfileRequest">
    <wsdl:documentation>
      <p>The createTrafficConditioningProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:createTrafficConditioningProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="createTrafficConditioningProfileResponse">
    <wsdl:documentation>
      <p>The createTrafficConditioningProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:createTrafficConditioningProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="createTrafficConditioningProfileException">
    <wsdl:documentation>
      <p>The createTrafficConditioningProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpc:createTrafficConditioningProfileException"/>
  </wsdl:message>
  <wsdl:message name="deleteTrafficConditioningProfileRequest">
    <wsdl:documentation>
      <p>The deleteTrafficConditioningProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:deleteTrafficConditioningProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTrafficConditioningProfileResponse">
    <wsdl:documentation>
      <p>The deleteTrafficConditioningProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:deleteTrafficConditioningProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTrafficConditioningProfileException">
    <wsdl:documentation>
      <p>The deleteTrafficConditioningProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpc:deleteTrafficConditioningProfileException"/>
  </wsdl:message>
  <wsdl:message name="modifyTrafficConditioningProfileRequest">
    <wsdl:documentation>
      <p>The modifyTrafficConditioningProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:modifyTrafficConditioningProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyTrafficConditioningProfileResponse">
    <wsdl:documentation>
      <p>The modifyTrafficConditioningProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpc:modifyTrafficConditioningProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyTrafficConditioningProfileException">
    <wsdl:documentation>
      <p>The modifyTrafficConditioningProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpc:modifyTrafficConditioningProfileException"/>
  </wsdl:message>
</wsdl:definitions>
