mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/TopologicalLinkRetrieval/TopologicalLinkRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TopologicalLinkRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tlr="http://www.tmforum.org/mtop/mri/xsd/tlr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TopologicalLinkRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TopologicalLinkRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tlr/v1" schemaLocation="../../xsd/TopologicalLinkRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTopLevelTopologicalLinkNamesRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinkNamesResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinkNamesException">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinksRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinksResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinksException">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinksException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesBetweenMdsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesBetweenMds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesBetweenMdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesBetweenMdsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesBetweenMds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesBetweenMdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesBetweenMdsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesBetweenMds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesBetweenMdsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksBetweenMdsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksBetweenMds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksBetweenMdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksBetweenMdsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksBetweenMds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksBetweenMdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksBetweenMdsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksBetweenMds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksBetweenMdsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksOfFdRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksOfFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksOfFdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksOfFdResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksOfFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksOfFdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksOfFdException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksOfFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksOfFdException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksWrtOsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getRouteAndTopologicalLinksRequest">
    <wsdl:documentation>
      <p>The getRouteAndTopologicalLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getRouteAndTopologicalLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getRouteAndTopologicalLinksResponse">
    <wsdl:documentation>
      <p>The getRouteAndTopologicalLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getRouteAndTopologicalLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getRouteAndTopologicalLinksException">
    <wsdl:documentation>
      <p>The getRouteAndTopologicalLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getRouteAndTopologicalLinksException"/>
  </wsdl:message>
  <wsdl:message name="getTopLevelTopologicalLinkRequest">
    <wsdl:documentation>
      <p>The getTopLevelTopologicalLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopLevelTopologicalLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopLevelTopologicalLinkResponse">
    <wsdl:documentation>
      <p>The getTopLevelTopologicalLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopLevelTopologicalLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopLevelTopologicalLinkException">
    <wsdl:documentation>
      <p>The getTopLevelTopologicalLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopLevelTopologicalLinkException"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkRequest">
    <wsdl:documentation>
      <p>The getTopologicalLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkResponse">
    <wsdl:documentation>
      <p>The getTopologicalLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkException">
    <wsdl:documentation>
      <p>The getTopologicalLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkException"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinksIteratorRequest">
    <wsdl:documentation>
      <p>The getTopologicalLinksIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinksIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinksIteratorResponse">
    <wsdl:documentation>
      <p>The getTopologicalLinksIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinksIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinksIteratorException">
    <wsdl:documentation>
      <p>The getTopologicalLinksIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinksIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getTopologicalLinkNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getTopologicalLinkNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkNamesIteratorException">
    <wsdl:documentation>
      <p>The getTopologicalLinkNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkNamesIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
