mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/TopologicalLinkRetrieval/TopologicalLinkRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TopologicalLinkRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TopologicalLinkRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP TopologicalLinkRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0" location="TopologicalLinkRetrievalMessages.wsdl"/>
  <wsdl:portType name="TopologicalLinkRetrieval_MSG">
    <wsdl:documentation>
      <p>The TopologicalLinkRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllTopLevelTopologicalLinkNames">
      <wsdl:input message="tns:getAllTopLevelTopologicalLinkNamesRequest"/>
      <wsdl:output message="tns:getAllTopLevelTopologicalLinkNamesResponse"/>
      <wsdl:fault name="getAllTopLevelTopologicalLinkNamesException" message="tns:getAllTopLevelTopologicalLinkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelTopologicalLinks">
      <wsdl:input message="tns:getAllTopLevelTopologicalLinksRequest"/>
      <wsdl:output message="tns:getAllTopLevelTopologicalLinksResponse"/>
      <wsdl:fault name="getAllTopLevelTopologicalLinksException" message="tns:getAllTopLevelTopologicalLinksException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNames">
      <wsdl:input message="tns:getAllTopologicalLinkNamesRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinkNamesResponse"/>
      <wsdl:fault name="getAllTopologicalLinkNamesException" message="tns:getAllTopologicalLinkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesBetweenMds">
      <wsdl:input message="tns:getAllTopologicalLinkNamesBetweenMdsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinkNamesBetweenMdsResponse"/>
      <wsdl:fault name="getAllTopologicalLinkNamesBetweenMdsException" message="tns:getAllTopologicalLinkNamesBetweenMdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesWrtOs">
      <wsdl:input message="tns:getAllTopologicalLinkNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinkNamesWrtOsResponse"/>
      <wsdl:fault name="getAllTopologicalLinkNamesWrtOsException" message="tns:getAllTopologicalLinkNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinks">
      <wsdl:input message="tns:getAllTopologicalLinksRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksResponse"/>
      <wsdl:fault name="getAllTopologicalLinksException" message="tns:getAllTopologicalLinksException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksBetweenMds">
      <wsdl:input message="tns:getAllTopologicalLinksBetweenMdsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksBetweenMdsResponse"/>
      <wsdl:fault name="getAllTopologicalLinksBetweenMdsException" message="tns:getAllTopologicalLinksBetweenMdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksOfFd">
      <wsdl:input message="tns:getAllTopologicalLinksOfFdRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksOfFdResponse"/>
      <wsdl:fault name="getAllTopologicalLinksOfFdException" message="tns:getAllTopologicalLinksOfFdException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksWrtOs">
      <wsdl:input message="tns:getAllTopologicalLinksWrtOsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksWrtOsResponse"/>
      <wsdl:fault name="getAllTopologicalLinksWrtOsException" message="tns:getAllTopologicalLinksWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getRouteAndTopologicalLinks">
      <wsdl:input message="tns:getRouteAndTopologicalLinksRequest"/>
      <wsdl:output message="tns:getRouteAndTopologicalLinksResponse"/>
      <wsdl:fault name="getRouteAndTopologicalLinksException" message="tns:getRouteAndTopologicalLinksException"/>
    </wsdl:operation>
    <wsdl:operation name="getTopLevelTopologicalLink">
      <wsdl:input message="tns:getTopLevelTopologicalLinkRequest"/>
      <wsdl:output message="tns:getTopLevelTopologicalLinkResponse"/>
      <wsdl:fault name="getTopLevelTopologicalLinkException" message="tns:getTopLevelTopologicalLinkException"/>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLink">
      <wsdl:input message="tns:getTopologicalLinkRequest"/>
      <wsdl:output message="tns:getTopologicalLinkResponse"/>
      <wsdl:fault name="getTopologicalLinkException" message="tns:getTopologicalLinkException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TopologicalLinkRetrievalSoapJmsBinding" type="tns:TopologicalLinkRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the TopologicalLinkRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllTopLevelTopologicalLinkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopLevelTopologicalLinkNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopLevelTopologicalLinkNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelTopologicalLinkNamesException">
        <soap:fault name="getAllTopLevelTopologicalLinkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelTopologicalLinks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopLevelTopologicalLinksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopLevelTopologicalLinksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelTopologicalLinksException">
        <soap:fault name="getAllTopLevelTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinkNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinkNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesException">
        <soap:fault name="getAllTopologicalLinkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesBetweenMds">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinkNamesBetweenMdsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinkNamesBetweenMdsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesBetweenMdsException">
        <soap:fault name="getAllTopologicalLinkNamesBetweenMdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinkNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinkNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesWrtOsException">
        <soap:fault name="getAllTopologicalLinkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksException">
        <soap:fault name="getAllTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksBetweenMds">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinksBetweenMdsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinksBetweenMdsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksBetweenMdsException">
        <soap:fault name="getAllTopologicalLinksBetweenMdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksOfFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinksOfFdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinksOfFdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksOfFdException">
        <soap:fault name="getAllTopologicalLinksOfFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopologicalLinksWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopologicalLinksWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksWrtOsException">
        <soap:fault name="getAllTopologicalLinksWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRouteAndTopologicalLinks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getRouteAndTopologicalLinksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getRouteAndTopologicalLinksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteAndTopologicalLinksException">
        <soap:fault name="getRouteAndTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopLevelTopologicalLink">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTopLevelTopologicalLinkRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTopLevelTopologicalLinkResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopLevelTopologicalLinkException">
        <soap:fault name="getTopLevelTopologicalLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLink">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTopologicalLinkRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTopologicalLinkResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinkException">
        <soap:fault name="getTopologicalLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TopologicalLinkRetrievalJms">
    <wsdl:documentation>
      <p>Example of the TopologicalLinkRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TopologicalLinkRetrievalSoapJms" binding="tns:TopologicalLinkRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/TopologicalLinkRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
