Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapRetrieval/AlarmSeverityAssignmentProfileRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-AlarmSeverityAssignmentProfileRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:asapr="http://www.tmforum.org/mtop/rtm/xsd/asapr/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmSeverityAssignmentProfileRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AlarmSeverityAssignmentProfileRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/asapr/v1" schemaLocation="../../xsd/AlarmSeverityAssignmentProfileRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAlarmSeverityAssignmentProfileRequest">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileResponse">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileException">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileException"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileByResourceRequest">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfileByResource request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileByResourceRequest"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileByResourceResponse">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfileByResource response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileByResourceResponse"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileByResourceException">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfileByResource exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileByResourceException"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileIteratorRequest">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfileIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileIteratorResponse">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfileIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAlarmSeverityAssignmentProfileIteratorException">
    <wsdl:documentation>
      <p>The getAlarmSeverityAssignmentProfileIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAlarmSeverityAssignmentProfileIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllAlarmSeverityAssignmentProfileNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllAlarmSeverityAssignmentProfileNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAlarmSeverityAssignmentProfileNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAlarmSeverityAssignmentProfileNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllAlarmSeverityAssignmentProfileNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAlarmSeverityAssignmentProfileNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAlarmSeverityAssignmentProfileNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllAlarmSeverityAssignmentProfileNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAllAlarmSeverityAssignmentProfileNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllAlarmSeverityAssignmentProfilesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllAlarmSeverityAssignmentProfilesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAlarmSeverityAssignmentProfilesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAlarmSeverityAssignmentProfilesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllAlarmSeverityAssignmentProfilesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAlarmSeverityAssignmentProfilesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAlarmSeverityAssignmentProfilesWrtOsException">
    <wsdl:documentation>
      <p>The getAllAlarmSeverityAssignmentProfilesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAllAlarmSeverityAssignmentProfilesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAsapAssociatedResourceNamesRequest">
    <wsdl:documentation>
      <p>The getAsapAssociatedResourceNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapAssociatedResourceNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAsapAssociatedResourceNamesResponse">
    <wsdl:documentation>
      <p>The getAsapAssociatedResourceNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapAssociatedResourceNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAsapAssociatedResourceNamesException">
    <wsdl:documentation>
      <p>The getAsapAssociatedResourceNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAsapAssociatedResourceNamesException"/>
  </wsdl:message>
</wsdl:definitions>
