Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapRetrieval/AlarmSeverityAssignmentProfileRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-AlarmSeverityAssignmentProfileRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmSeverityAssignmentProfileRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP AlarmSeverityAssignmentProfileRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" location="AlarmSeverityAssignmentProfileRetrievalPortType.wsdl"/>
  <wsdl:binding name="AlarmSeverityAssignmentProfileRetrievalSoapHttpBinding" type="tns:AlarmSeverityAssignmentProfileRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the AlarmSeverityAssignmentProfileRetrieval portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAlarmSeverityAssignmentProfile">
      <soap:operation soapAction="getAlarmSeverityAssignmentProfile" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAlarmSeverityAssignmentProfileRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAlarmSeverityAssignmentProfileResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAlarmSeverityAssignmentProfileException">
        <soap:fault name="getAlarmSeverityAssignmentProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAlarmSeverityAssignmentProfileByResource">
      <soap:operation soapAction="getAlarmSeverityAssignmentProfileByResource" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAlarmSeverityAssignmentProfileByResourceRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAlarmSeverityAssignmentProfileByResourceResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAlarmSeverityAssignmentProfileByResourceException">
        <soap:fault name="getAlarmSeverityAssignmentProfileByResourceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAlarmSeverityAssignmentProfileIterator">
      <soap:operation soapAction="getAlarmSeverityAssignmentProfileIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAlarmSeverityAssignmentProfileIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAlarmSeverityAssignmentProfileIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAlarmSeverityAssignmentProfileIteratorException">
        <soap:fault name="getAlarmSeverityAssignmentProfileIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmSeverityAssignmentProfileNamesWrtOs">
      <soap:operation soapAction="getAllAlarmSeverityAssignmentProfileNamesWrtOs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAlarmSeverityAssignmentProfileNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAlarmSeverityAssignmentProfileNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAlarmSeverityAssignmentProfileNamesWrtOsException">
        <soap:fault name="getAllAlarmSeverityAssignmentProfileNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmSeverityAssignmentProfilesWrtOs">
      <soap:operation soapAction="getAllAlarmSeverityAssignmentProfilesWrtOs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAlarmSeverityAssignmentProfilesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAlarmSeverityAssignmentProfilesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAlarmSeverityAssignmentProfilesWrtOsException">
        <soap:fault name="getAllAlarmSeverityAssignmentProfilesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAsapAssociatedResourceNames">
      <soap:operation soapAction="getAsapAssociatedResourceNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAsapAssociatedResourceNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAsapAssociatedResourceNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAsapAssociatedResourceNamesException">
        <soap:fault name="getAsapAssociatedResourceNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmSeverityAssignmentProfileRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the AlarmSeverityAssignmentProfileRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="AlarmSeverityAssignmentProfileRetrievalSoapHttp" binding="tns:AlarmSeverityAssignmentProfileRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/AlarmSeverityAssignmentProfileRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
