Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapRetrieval/AsapRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AsapRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AsapRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP AsapRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" location="AsapRetrievalPortType.wsdl"/>
  <wsdl:binding name="AsapRetrievalSoapJmsBinding" type="tns:AsapRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the AsapRetrieval portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllAsapNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAsapNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAsapNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAsapNamesWrtOsException">
        <soap:fault name="getAllAsapNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAsapsWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAsapsWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAsapsWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAsapsWrtOsException">
        <soap:fault name="getAllAsapsWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAsap">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAsapRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAsapResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAsapException">
        <soap:fault name="getAsapException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAsapAssociatedResourceNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAsapAssociatedResourceNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAsapAssociatedResourceNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAsapAssociatedResourceNamesException">
        <soap:fault name="getAsapAssociatedResourceNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAsapByResource">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAsapByResourceRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAsapByResourceResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAsapByResourceException">
        <soap:fault name="getAsapByResourceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAsapIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAsapIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAsapIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAsapIteratorException">
        <soap:fault name="getAsapIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsapRetrievalJms">
    <wsdl:documentation>
      <p>Example of the AsapRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="AsapRetrievalSoapJms" binding="tns:AsapRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/AsapRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
