Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapRetrieval/AsapRetrievalPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AsapRetrievalV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AsapRetrieval Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP AsapRetrieval Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" location="AsapRetrievalMessages.wsdl"/>
  <wsdl:portType name="AsapRetrieval">
    <wsdl:documentation>
      <p>The AsapRetrieval porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAsapNamesWrtOs">
      <wsdl:input message="tns:getAllAsapNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllAsapNamesWrtOsResponse"/>
      <wsdl:fault name="getAllAsapNamesWrtOsException" message="tns:getAllAsapNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllAsapsWrtOs">
      <wsdl:input message="tns:getAllAsapsWrtOsRequest"/>
      <wsdl:output message="tns:getAllAsapsWrtOsResponse"/>
      <wsdl:fault name="getAllAsapsWrtOsException" message="tns:getAllAsapsWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAsap">
      <wsdl:input message="tns:getAsapRequest"/>
      <wsdl:output message="tns:getAsapResponse"/>
      <wsdl:fault name="getAsapException" message="tns:getAsapException"/>
    </wsdl:operation>
    <wsdl:operation name="getAsapAssociatedResourceNames">
      <wsdl:input message="tns:getAsapAssociatedResourceNamesRequest"/>
      <wsdl:output message="tns:getAsapAssociatedResourceNamesResponse"/>
      <wsdl:fault name="getAsapAssociatedResourceNamesException" message="tns:getAsapAssociatedResourceNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAsapByResource">
      <wsdl:input message="tns:getAsapByResourceRequest"/>
      <wsdl:output message="tns:getAsapByResourceResponse"/>
      <wsdl:fault name="getAsapByResourceException" message="tns:getAsapByResourceException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
