Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerRoutingAreaRetrieval/MultiLayerRoutingAreaRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerRoutingAreaRetrievalV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" 
xmlns:mlrar="http://www.tmforum.org/mtop/mri/xsd/mlrar/v1" 
xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlrar/v1-0" 
targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlrar/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerRoutingAreaRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MultiLayerRoutingAreaRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlrar/v1" schemaLocation="../../xsd/MultiLayerRoutingAreaRetrievalMessages.xsd"/>
    </xsd:schema>
   
  </wsdl:types>
  
  <wsdl:message name="getAllMultiLayerRoutingAreasWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerRoutingAreasWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllMultiLayerRoutingAreasWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerRoutingAreasWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerRoutingAreasWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllMultiLayerRoutingAreasWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerRoutingAreasWrtOsException">
    <wsdl:documentation>
      <p>The getAllMultiLayerRoutingAreasWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlrar:getAllMultiLayerRoutingAreasWrtOsException"/>
  </wsdl:message>
  
  <wsdl:message name="getAllMultiLayerRoutingAreasRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerRoutingAreas request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllMultiLayerRoutingAreasRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerRoutingAreasResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerRoutingAreas response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllMultiLayerRoutingAreasResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerRoutingAreasException">
    <wsdl:documentation>
      <p>The getAllMultiLayerRoutingAreas exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlrar:getAllMultiLayerRoutingAreasException"/>
  </wsdl:message>  
  
  <wsdl:message name="getAllSubordinateMultiLayerRoutingAreasRequest">
    <wsdl:documentation>
      <p>The getAllSubordinateMultiLayerRoutingAreas request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllSubordinateMultiLayerRoutingAreasRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubordinateMultiLayerRoutingAreasResponse">
    <wsdl:documentation>
      <p>The getAllSubordinateMultiLayerRoutingAreas response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllSubordinateMultiLayerRoutingAreasResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubordinateMultiLayerRoutingAreasException">
    <wsdl:documentation>
      <p>The getAllSubordinateMultiLayerRoutingAreas exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlrar:getAllSubordinateMultiLayerRoutingAreasException"/>
  </wsdl:message>  
  
  <wsdl:message name="getAllSubordinateRoutingAreaIDsWrtConnectionRequest">
    <wsdl:documentation>
      <p>The getAllSubordinateRoutingAreaIDsWrtConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllSubordinateRoutingAreaIDsWrtConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubordinateRoutingAreaIDsWrtConnectionResponse">
    <wsdl:documentation>
      <p>The getAllSubordinateRoutingAreaIDsWrtConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getAllSubordinateRoutingAreaIDsWrtConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubordinateRoutingAreaIDsWrtConnectionException">
    <wsdl:documentation>
      <p>The getAllSubordinateRoutingAreaIDsWrtConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlrar:getAllSubordinateRoutingAreaIDsWrtConnectionException"/>
  </wsdl:message>  
  
  <wsdl:message name="getMultiLayerRoutingAreasIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerRoutingAreasIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getMultiLayerRoutingAreasIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerRoutingAreasIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerRoutingAreasIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getMultiLayerRoutingAreasIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerRoutingAreasIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerRoutingAreasIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlrar:getMultiLayerRoutingAreasIteratorException"/>
  </wsdl:message>  
  
    <wsdl:message name="getMultiLayerRoutingAreaNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerRoutingAreaNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getMultiLayerRoutingAreaNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerRoutingAreaNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerRoutingAreaNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlrar:getMultiLayerRoutingAreaNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerRoutingAreaNamesIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerRoutingAreaNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlrar:getMultiLayerRoutingAreaNamesIteratorException"/>
  </wsdl:message>
  
</wsdl:definitions>
