Test/ProductJM/DDPs/tags/mtosi_R2-1/ManageResourceInventory/IIS/wsdl/MeRetrieval/MeRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-ManagedElementRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:me="http://www.tmforum.org/mtop/mri/me/v1" xmlns:fmw.hdr="http://www.tmforum.org/mtop/framework/header/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/ws/me/v1" targetNamespace="http://www.tmforum.org/mtop/mri/ws/me/v1">
  <wsdl:documentation>
    <p>DDP: Operation Model Manage Resource Inventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP ManagedElementRetrieval Service Interface WSDL message definitions.</p>
    <p>Change Policy: TBD.</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tmforum.org/mtop/mri/ws/me/v1">
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/me/v1" schemaLocation="../../xsd/MeRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagedElementNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementNames"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElements">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElements"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMLSN">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMLSN request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementNamesWrtMLSN"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMLSNResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMLSN response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementNamesWrtMLSNResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMLSNException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMLSN exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementNamesWrtMLSNException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMLSN">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMLSN request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementsWrtMLSN"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMLSNResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMLSN response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementsWrtMLSNResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMLSNException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMLSN exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllManagedElementsWrtMLSNException"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilter">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMENamesPassingFilter"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilterResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMENamesPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilterException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllMENamesPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsPassingFilter">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMEsPassingFilter"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsPassingFilterResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMEsPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsPassingFilterException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllMEsPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesWrtOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesWrtOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMENamesWrtOS"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesWrtOSResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesWrtOS response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMENamesWrtOSResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesWrtOSException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesWrtOS exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllMENamesWrtOSException"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsWrtOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsWrtOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMEsWrtOS"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsWrtOSResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsWrtOS response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getAllMEsWrtOSResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsWrtOSException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsWrtOS exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getAllMEsWrtOSException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElement">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getManagedElement"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getManagedElementResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getManagedElementException"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getMeNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getMeNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNamesIteratorException exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getMeNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getMeIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getMeIterator"/>
  </wsdl:message>
  <wsdl:message name="getMeIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="fmw.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getMeIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getMeIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
