mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerSubnetworkRetrieval/MultiLayerSubnetworkRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSubnetworkRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:mlsnr="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSubnetworkRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSubnetworkRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" schemaLocation="../../xsd/MultiLayerSubnetworkRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllMultiLayerSubnetworkNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworkNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworkNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworkNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworkNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworkNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworkNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworkNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworkNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsException">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksException">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworkNamesRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworkNamesResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworkNamesException">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesRequest">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesResponse">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesException">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkException">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkException"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworkNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworkNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkNamesIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworkNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworksIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworksIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworksIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworksIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworksIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworksIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworksIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworksIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworksIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
