Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/ConnectionRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:conr="http://www.tmforum.org/mtop/mri/xsd/conr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" name="mTOP-ConnectionRetrievalV1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0">
  <wsdl:documentation><p>DDP: ManageResourceInventory</p><p>Module: ConnectionRetrieval Service Interface WSDL Module</p><p>Description: This module contains all the mTOP ConnectionRetrieval Service Interface WSDL definitions.</p><p>Version: 1.0</p></wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/conr/v1" schemaLocation="../xsd/ConnectionRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCrossConnectionsWithIteratorRequest">
    <wsdl:documentation><p>The getAllCrossConnectionsWithIterator request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsWithIteratorResponse">
    <wsdl:documentation><p>The getAllCrossConnectionsWithIterator response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsWithIteratorException">
    <wsdl:documentation><p>The getAllCrossConnectionsWithIterator exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsWithBatchNotificationsRequest">
    <wsdl:documentation><p>The getAllCrossConnectionsWithBatchNotifications request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsWithBatchNotificationsResponse">
    <wsdl:documentation><p>The getAllCrossConnectionsWithBatchNotifications response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsWithBatchNotificationsException">
    <wsdl:documentation><p>The getAllCrossConnectionsWithBatchNotifications exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsWithIteratorRequest">
    <wsdl:documentation><p>The getAllFixedCrossConnectionsWithIterator request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsWithIteratorResponse">
    <wsdl:documentation><p>The getAllFixedCrossConnectionsWithIterator response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsWithIteratorException">
    <wsdl:documentation><p>The getAllFixedCrossConnectionsWithIterator exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsWithBatchNotificationsRequest">
    <wsdl:documentation><p>The getAllFixedCrossConnectionsWithBatchNotifications request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsWithBatchNotificationsResponse">
    <wsdl:documentation><p>The getAllFixedCrossConnectionsWithBatchNotifications response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsWithBatchNotificationsException">
    <wsdl:documentation><p>The getAllFixedCrossConnectionsWithBatchNotifications exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesRequest">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionNames request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesResponse">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionNames response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesException">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionNames exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesWithTpRequest">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionNamesWithTp request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesWithTpResponse">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionNamesWithTp response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesWithTpException">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionNamesWithTp exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionNamesWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithIteratorRequest">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithIterator request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithIteratorResponse">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithIterator response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithIteratorException">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithIterator exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithBatchNotificationsRequest">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithBatchNotifications request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithBatchNotificationsResponse">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithBatchNotifications response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithBatchNotifications exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpWithIteratorRequest">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithTpWithIterator request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpWithIteratorResponse">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithTpWithIterator response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithTpWithIterator exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsRequest">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsResponse">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException">
    <wsdl:documentation><p>The getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesRequest">
    <wsdl:documentation><p>The getAllSubnetworkConnectionNames request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesResponse">
    <wsdl:documentation><p>The getAllSubnetworkConnectionNames response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesException">
    <wsdl:documentation><p>The getAllSubnetworkConnectionNames exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTpRequest">
    <wsdl:documentation><p>The getAllSubnetworkConnectionNamesWithTp request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTpResponse">
    <wsdl:documentation><p>The getAllSubnetworkConnectionNamesWithTp response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTpException">
    <wsdl:documentation><p>The getAllSubnetworkConnectionNamesWithTp exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionNamesWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithIteratorRequest">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithIterator request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithIteratorResponse">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithIterator response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithIteratorException">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithIterator exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithBatchNotificationsRequest">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithBatchNotifications request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithBatchNotificationsResponse">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithBatchNotifications response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithBatchNotificationsException">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithBatchNotifications exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpWithIteratorRequest">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithTpWithIterator request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpWithIteratorResponse">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithTpWithIterator response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpWithIteratorException">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithTpWithIterator exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsRequest">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithTpWithBatchNotifications request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsResponse">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithTpWithBatchNotifications response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException">
    <wsdl:documentation><p>The getAllSubnetworkConnectionsWithTpWithBatchNotifications exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesRequest">
    <wsdl:documentation><p>The getBackupRoutes request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesRequest"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesResponse">
    <wsdl:documentation><p>The getBackupRoutes response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesResponse"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesException">
    <wsdl:documentation><p>The getBackupRoutes exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesException"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteRequest">
    <wsdl:documentation><p>The getIntendedRoute request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteResponse">
    <wsdl:documentation><p>The getIntendedRoute response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteException">
    <wsdl:documentation><p>The getIntendedRoute exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteException"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCcsRequest">
    <wsdl:documentation><p>The getPotentialFixedCcs request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCcsRequest"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCcsResponse">
    <wsdl:documentation><p>The getPotentialFixedCcs response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCcsResponse"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCcsException">
    <wsdl:documentation><p>The getPotentialFixedCcs exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCcsException"/>
  </wsdl:message>
  <wsdl:message name="getRouteRequest">
    <wsdl:documentation><p>The getRoute request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getRouteResponse">
    <wsdl:documentation><p>The getRoute response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getRouteException">
    <wsdl:documentation><p>The getRoute exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getRouteException"/>
  </wsdl:message>
  <wsdl:message name="getSncRequest">
    <wsdl:documentation><p>The getSnc request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncRequest"/>
  </wsdl:message>
  <wsdl:message name="getSncResponse">
    <wsdl:documentation><p>The getSnc response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncResponse"/>
  </wsdl:message>
  <wsdl:message name="getSncException">
    <wsdl:documentation><p>The getSnc exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncException"/>
  </wsdl:message>
  <wsdl:message name="getSncsByUserLabelRequest">
    <wsdl:documentation><p>The getSncsByUserLabel request message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getSncsByUserLabelResponse">
    <wsdl:documentation><p>The getSncsByUserLabel response message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getSncsByUserLabelException">
    <wsdl:documentation><p>The getSncsByUserLabel exception message.</p></wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSncsByUserLabelException"/>
  </wsdl:message>
  <wsdl:portType name="ConnectionRetrieval">
    <wsdl:documentation><p>The ConnectionRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p></wsdl:documentation>
    <wsdl:operation name="getAllCrossConnectionsWithIterator">
      <wsdl:input message="tns:getAllCrossConnectionsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllCrossConnectionsWithIteratorResponse"/>
      <wsdl:fault name="getAllCrossConnectionsWithIteratorException" message="tns:getAllCrossConnectionsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllCrossConnectionsWithBatchNotifications">
      <wsdl:input message="tns:getAllCrossConnectionsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllCrossConnectionsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllCrossConnectionsWithBatchNotificationsException" message="tns:getAllCrossConnectionsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnectionsWithIterator">
      <wsdl:input message="tns:getAllFixedCrossConnectionsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllFixedCrossConnectionsWithIteratorResponse"/>
      <wsdl:fault name="getAllFixedCrossConnectionsWithIteratorException" message="tns:getAllFixedCrossConnectionsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnectionsWithBatchNotifications">
      <wsdl:input message="tns:getAllFixedCrossConnectionsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllFixedCrossConnectionsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllFixedCrossConnectionsWithBatchNotificationsException" message="tns:getAllFixedCrossConnectionsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionNamesRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionNamesResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException" message="tns:getAllFixedSubnetworkConnectionNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNamesWithTp">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionNamesWithTpRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionNamesWithTpResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesWithTpException" message="tns:getAllFixedSubnetworkConnectionNamesWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithIterator">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsWithIteratorResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithIteratorException" message="tns:getAllFixedSubnetworkConnectionsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithBatchNotifications">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException" message="tns:getAllFixedSubnetworkConnectionsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTpWithIterator">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsWithTpWithIteratorRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsWithTpWithIteratorResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException" message="tns:getAllFixedSubnetworkConnectionsWithTpWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException" message="tns:getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <wsdl:input message="tns:getAllSubnetworkConnectionNamesRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionNamesResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException" message="tns:getAllSubnetworkConnectionNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <wsdl:input message="tns:getAllSubnetworkConnectionNamesWithTpRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionNamesWithTpResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException" message="tns:getAllSubnetworkConnectionNamesWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithIterator">
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithIteratorResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithIteratorException" message="tns:getAllSubnetworkConnectionsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithBatchNotifications">
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithBatchNotificationsException" message="tns:getAllSubnetworkConnectionsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTpWithIterator">
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithTpWithIteratorRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithTpWithIteratorResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpWithIteratorException" message="tns:getAllSubnetworkConnectionsWithTpWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTpWithBatchNotifications">
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithTpWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithTpWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException" message="tns:getAllSubnetworkConnectionsWithTpWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <wsdl:input message="tns:getBackupRoutesRequest"/>
      <wsdl:output message="tns:getBackupRoutesResponse"/>
      <wsdl:fault name="getBackupRoutesException" message="tns:getBackupRoutesException"/>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <wsdl:input message="tns:getIntendedRouteRequest"/>
      <wsdl:output message="tns:getIntendedRouteResponse"/>
      <wsdl:fault name="getIntendedRouteException" message="tns:getIntendedRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <wsdl:input message="tns:getPotentialFixedCcsRequest"/>
      <wsdl:output message="tns:getPotentialFixedCcsResponse"/>
      <wsdl:fault name="getPotentialFixedCcsException" message="tns:getPotentialFixedCcsException"/>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <wsdl:input message="tns:getRouteRequest"/>
      <wsdl:output message="tns:getRouteResponse"/>
      <wsdl:fault name="getRouteException" message="tns:getRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <wsdl:input message="tns:getSncRequest"/>
      <wsdl:output message="tns:getSncResponse"/>
      <wsdl:fault name="getSncException" message="tns:getSncException"/>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <wsdl:input message="tns:getSncsByUserLabelRequest"/>
      <wsdl:output message="tns:getSncsByUserLabelResponse"/>
      <wsdl:fault name="getSncsByUserLabelException" message="tns:getSncsByUserLabelException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectionRetrievalSoapHttpBinding" type="tns:ConnectionRetrieval">
    <wsdl:documentation><p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p></wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllCrossConnectionsWithIterator">
      <soap:operation soapAction="getAllCrossConnectionsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsWithIteratorException">
        <soap:fault name="getAllCrossConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCrossConnectionsWithBatchNotifications">
      <soap:operation soapAction="getAllCrossConnectionsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllCrossConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnectionsWithIterator">
      <soap:operation soapAction="getAllFixedCrossConnectionsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsWithIteratorException">
        <soap:fault name="getAllFixedCrossConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnectionsWithBatchNotifications">
      <soap:operation soapAction="getAllFixedCrossConnectionsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllFixedCrossConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNamesWithTp">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionNamesWithTp" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithIterator">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithIteratorException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithBatchNotifications">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTpWithIterator">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionsWithTpWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <soap:operation soapAction="getAllSubnetworkConnectionNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException">
        <soap:fault name="getAllSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <soap:operation soapAction="getAllSubnetworkConnectionNamesWithTp" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithIterator">
      <soap:operation soapAction="getAllSubnetworkConnectionsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithIteratorException">
        <soap:fault name="getAllSubnetworkConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithBatchNotifications">
      <soap:operation soapAction="getAllSubnetworkConnectionsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllSubnetworkConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTpWithIterator">
      <soap:operation soapAction="getAllSubnetworkConnectionsWithTpWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpWithIteratorException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTpWithBatchNotifications">
      <soap:operation soapAction="getAllSubnetworkConnectionsWithTpWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <soap:operation soapAction="getBackupRoutes" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getBackupRoutesException">
        <soap:fault name="getBackupRoutesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <soap:operation soapAction="getIntendedRoute" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getIntendedRouteException">
        <soap:fault name="getIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <soap:operation soapAction="getPotentialFixedCcs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPotentialFixedCcsException">
        <soap:fault name="getPotentialFixedCcsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <soap:operation soapAction="getRoute" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteException">
        <soap:fault name="getRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <soap:operation soapAction="getSnc" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncException">
        <soap:fault name="getSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <soap:operation soapAction="getSncsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncsByUserLabelException">
        <soap:fault name="getSncsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConnectionRetrievalSoapJmsBinding" type="tns:ConnectionRetrieval">
    <wsdl:documentation><p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p></wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllCrossConnectionsWithIterator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsWithIteratorException">
        <soap:fault name="getAllCrossConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCrossConnectionsWithBatchNotifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllCrossConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnectionsWithIterator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsWithIteratorException">
        <soap:fault name="getAllFixedCrossConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnectionsWithBatchNotifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllFixedCrossConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNamesWithTp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithIterator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithIteratorException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithBatchNotifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTpWithIterator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException">
        <soap:fault name="getAllSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithIterator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithIteratorException">
        <soap:fault name="getAllSubnetworkConnectionsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithBatchNotifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithBatchNotificationsException">
        <soap:fault name="getAllSubnetworkConnectionsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTpWithIterator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpWithIteratorException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTpWithBatchNotifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getBackupRoutesException">
        <soap:fault name="getBackupRoutesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getIntendedRouteException">
        <soap:fault name="getIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPotentialFixedCcsException">
        <soap:fault name="getPotentialFixedCcsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteException">
        <soap:fault name="getRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncException">
        <soap:fault name="getSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncsByUserLabelException">
        <soap:fault name="getSncsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionRetrieval">
    <wsdl:documentation><p>Example of the ConnectionRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p></wsdl:documentation>
    <wsdl:port name="ConnectionRetrievalSoapJms" binding="tns:ConnectionRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/ConnectionRetrieval"/>
    </wsdl:port>
    <wsdl:port name="ConnectionRetrievalSoapHttp" binding="tns:ConnectionRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ConnectionRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
