Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/EquipmentInventoryRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-EquipmentInventoryRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:eir="http://www.tmforum.org/mtop/mri/xsd/eir/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: EquipmentInventoryRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP EquipmentInventoryRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/eir/v1" schemaLocation="../xsd/EquipmentInventoryRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllEquipmentWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllEquipmentWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllEquipmentWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentWithIteratorException">
    <wsdl:documentation>
      <p>The getAllEquipmentWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllEquipmentWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllEquipmentWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllEquipmentWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getAllEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getAllEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesException">
    <wsdl:documentation>
      <p>The getAllEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentRequest">
    <wsdl:documentation>
      <p>The getAllSupportingEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentResponse">
    <wsdl:documentation>
      <p>The getAllSupportingEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentException">
    <wsdl:documentation>
      <p>The getAllSupportingEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesException">
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentRequest">
    <wsdl:documentation>
      <p>The getContainedEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getContainedEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentResponse">
    <wsdl:documentation>
      <p>The getContainedEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getContainedEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentException">
    <wsdl:documentation>
      <p>The getContainedEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getContainedEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentRequest">
    <wsdl:documentation>
      <p>The getEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentResponse">
    <wsdl:documentation>
      <p>The getEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentException">
    <wsdl:documentation>
      <p>The getEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentRequest">
    <wsdl:documentation>
      <p>The getSupportedEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentResponse">
    <wsdl:documentation>
      <p>The getSupportedEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentException">
    <wsdl:documentation>
      <p>The getSupportedEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesException">
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentRequest">
    <wsdl:documentation>
      <p>The getSupportingEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentResponse">
    <wsdl:documentation>
      <p>The getSupportingEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentException">
    <wsdl:documentation>
      <p>The getSupportingEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesException">
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:portType name="EquipmentInventoryRetrieval">
    <wsdl:documentation>
      <p>The EquipmentInventoryRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllEquipmentWithIterator">
      <wsdl:input message="tns:getAllEquipmentWithIteratorRequest"/>
      <wsdl:output message="tns:getAllEquipmentWithIteratorResponse"/>
      <wsdl:fault name="getAllEquipmentWithIteratorException" message="tns:getAllEquipmentWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentWithBatchNotifications">
      <wsdl:input message="tns:getAllEquipmentWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllEquipmentWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllEquipmentWithBatchNotificationsException" message="tns:getAllEquipmentWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentNames">
      <wsdl:input message="tns:getAllEquipmentNamesRequest"/>
      <wsdl:output message="tns:getAllEquipmentNamesResponse"/>
      <wsdl:fault name="getAllEquipmentNamesException" message="tns:getAllEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipment">
      <wsdl:input message="tns:getAllSupportingEquipmentRequest"/>
      <wsdl:output message="tns:getAllSupportingEquipmentResponse"/>
      <wsdl:fault name="getAllSupportingEquipmentException" message="tns:getAllSupportingEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipmentNames">
      <wsdl:input message="tns:getAllSupportingEquipmentNamesRequest"/>
      <wsdl:output message="tns:getAllSupportingEquipmentNamesResponse"/>
      <wsdl:fault name="getAllSupportingEquipmentNamesException" message="tns:getAllSupportingEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedEquipment">
      <wsdl:input message="tns:getContainedEquipmentRequest"/>
      <wsdl:output message="tns:getContainedEquipmentResponse"/>
      <wsdl:fault name="getContainedEquipmentException" message="tns:getContainedEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getEquipment">
      <wsdl:input message="tns:getEquipmentRequest"/>
      <wsdl:output message="tns:getEquipmentResponse"/>
      <wsdl:fault name="getEquipmentException" message="tns:getEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipment">
      <wsdl:input message="tns:getSupportedEquipmentRequest"/>
      <wsdl:output message="tns:getSupportedEquipmentResponse"/>
      <wsdl:fault name="getSupportedEquipmentException" message="tns:getSupportedEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipmentNames">
      <wsdl:input message="tns:getSupportedEquipmentNamesRequest"/>
      <wsdl:output message="tns:getSupportedEquipmentNamesResponse"/>
      <wsdl:fault name="getSupportedEquipmentNamesException" message="tns:getSupportedEquipmentNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipment">
      <wsdl:input message="tns:getSupportingEquipmentRequest"/>
      <wsdl:output message="tns:getSupportingEquipmentResponse"/>
      <wsdl:fault name="getSupportingEquipmentException" message="tns:getSupportingEquipmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipmentNames">
      <wsdl:input message="tns:getSupportingEquipmentNamesRequest"/>
      <wsdl:output message="tns:getSupportingEquipmentNamesResponse"/>
      <wsdl:fault name="getSupportingEquipmentNamesException" message="tns:getSupportingEquipmentNamesException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EquipmentInventoryRetrievalSoapHttpBinding" type="tns:EquipmentInventoryRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllEquipmentWithIterator">
      <soap:operation soapAction="getAllEquipmentWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentWithIteratorException">
        <soap:fault name="getAllEquipmentWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentWithBatchNotifications">
      <soap:operation soapAction="getAllEquipmentWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentWithBatchNotificationsException">
        <soap:fault name="getAllEquipmentWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentNames">
      <soap:operation soapAction="getAllEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentNamesException">
        <soap:fault name="getAllEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipment">
      <soap:operation soapAction="getAllSupportingEquipment" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportingEquipmentException">
        <soap:fault name="getAllSupportingEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipmentNames">
      <soap:operation soapAction="getAllSupportingEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportingEquipmentNamesException">
        <soap:fault name="getAllSupportingEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedEquipment">
      <soap:operation soapAction="getContainedEquipment" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedEquipmentException">
        <soap:fault name="getContainedEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEquipment">
      <soap:operation soapAction="getEquipment" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getEquipmentException">
        <soap:fault name="getEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipment">
      <soap:operation soapAction="getSupportedEquipment" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportedEquipmentException">
        <soap:fault name="getSupportedEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipmentNames">
      <soap:operation soapAction="getSupportedEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportedEquipmentNamesException">
        <soap:fault name="getSupportedEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipment">
      <soap:operation soapAction="getSupportingEquipment" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportingEquipmentException">
        <soap:fault name="getSupportingEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipmentNames">
      <soap:operation soapAction="getSupportingEquipmentNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportingEquipmentNamesException">
        <soap:fault name="getSupportingEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquipmentInventoryRetrievalSoapJmsBinding" type="tns:EquipmentInventoryRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllEquipmentWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentWithIteratorException">
        <soap:fault name="getAllEquipmentWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentWithBatchNotificationsException">
        <soap:fault name="getAllEquipmentWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEquipmentNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentNamesException">
        <soap:fault name="getAllEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportingEquipmentException">
        <soap:fault name="getAllSupportingEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportingEquipmentNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportingEquipmentNamesException">
        <soap:fault name="getAllSupportingEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedEquipment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedEquipmentException">
        <soap:fault name="getContainedEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEquipment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getEquipmentException">
        <soap:fault name="getEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportedEquipmentException">
        <soap:fault name="getSupportedEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEquipmentNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportedEquipmentNamesException">
        <soap:fault name="getSupportedEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportingEquipmentException">
        <soap:fault name="getSupportingEquipmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportingEquipmentNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSupportingEquipmentNamesException">
        <soap:fault name="getSupportingEquipmentNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquipmentInventoryRetrieval">
    <wsdl:documentation>
      <p>Example of the EquipmentInventoryRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="EquipmentInventoryRetrievalSoapJms" binding="tns:EquipmentInventoryRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/EquipmentInventoryRetrieval"/>
    </wsdl:port>
    <wsdl:port name="EquipmentInventoryRetrievalSoapHttp" binding="tns:EquipmentInventoryRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/EquipmentInventoryRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
