Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/FlowDomainRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-FlowDomainRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:fdr="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: FlowDomainRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP FlowDomainRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" schemaLocation="../xsd/FlowDomainRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllAssociatedMfdsRequest">
    <wsdl:documentation>
      <p>The getAllAssociatedMfds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMfdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssociatedMfdsResponse">
    <wsdl:documentation>
      <p>The getAllAssociatedMfds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMfdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssociatedMfdsException">
    <wsdl:documentation>
      <p>The getAllAssociatedMfds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMfdsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFdfrsRequest">
    <wsdl:documentation>
      <p>The getAllFdfrs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFdfrsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFdfrsResponse">
    <wsdl:documentation>
      <p>The getAllFdfrs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFdfrsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFdfrsException">
    <wsdl:documentation>
      <p>The getAllFdfrs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFdfrsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsRequest">
    <wsdl:documentation>
      <p>The getAllFlowDomains request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsResponse">
    <wsdl:documentation>
      <p>The getAllFlowDomains response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsException">
    <wsdl:documentation>
      <p>The getAllFlowDomains exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMfdsRequest">
    <wsdl:documentation>
      <p>The getAllSupportedMfds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMfdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMfdsResponse">
    <wsdl:documentation>
      <p>The getAllSupportedMfds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMfdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMfdsException">
    <wsdl:documentation>
      <p>The getAllSupportedMfds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMfdsException"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMfdRequest">
    <wsdl:documentation>
      <p>The getAssigningMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMfdResponse">
    <wsdl:documentation>
      <p>The getAssigningMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMfdException">
    <wsdl:documentation>
      <p>The getAssigningMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMfdException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFdRequest">
    <wsdl:documentation>
      <p>The getAssociatingFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFdResponse">
    <wsdl:documentation>
      <p>The getAssociatingFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFdException">
    <wsdl:documentation>
      <p>The getAssociatingFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFdException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRequest">
    <wsdl:documentation>
      <p>The getFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrResponse">
    <wsdl:documentation>
      <p>The getFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrException">
    <wsdl:documentation>
      <p>The getFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRouteRequest">
    <wsdl:documentation>
      <p>The getFdfrRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRouteResponse">
    <wsdl:documentation>
      <p>The getFdfrRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRouteException">
    <wsdl:documentation>
      <p>The getFdfrRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRouteException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getFdfrsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getFdfrsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsByUserLabelException">
    <wsdl:documentation>
      <p>The getFdfrsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsWithTpRequest">
    <wsdl:documentation>
      <p>The getFdfrsWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsWithTpResponse">
    <wsdl:documentation>
      <p>The getFdfrsWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsWithTpException">
    <wsdl:documentation>
      <p>The getFdfrsWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainRequest">
    <wsdl:documentation>
      <p>The getFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainResponse">
    <wsdl:documentation>
      <p>The getFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainException">
    <wsdl:documentation>
      <p>The getFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelException">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getMfdRequest">
    <wsdl:documentation>
      <p>The getMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="getMfdResponse">
    <wsdl:documentation>
      <p>The getMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="getMfdException">
    <wsdl:documentation>
      <p>The getMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMfdException"/>
  </wsdl:message>
  <wsdl:portType name="FlowDomainRetrieval">
    <wsdl:documentation>
      <p>The FlowDomainRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssociatedMfds">
      <wsdl:input message="tns:getAllAssociatedMfdsRequest"/>
      <wsdl:output message="tns:getAllAssociatedMfdsResponse"/>
      <wsdl:fault name="getAllAssociatedMfdsException" message="tns:getAllAssociatedMfdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFdfrs">
      <wsdl:input message="tns:getAllFdfrsRequest"/>
      <wsdl:output message="tns:getAllFdfrsResponse"/>
      <wsdl:fault name="getAllFdfrsException" message="tns:getAllFdfrsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <wsdl:input message="tns:getAllFlowDomainsRequest"/>
      <wsdl:output message="tns:getAllFlowDomainsResponse"/>
      <wsdl:fault name="getAllFlowDomainsException" message="tns:getAllFlowDomainsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMfds">
      <wsdl:input message="tns:getAllSupportedMfdsRequest"/>
      <wsdl:output message="tns:getAllSupportedMfdsResponse"/>
      <wsdl:fault name="getAllSupportedMfdsException" message="tns:getAllSupportedMfdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMfd">
      <wsdl:input message="tns:getAssigningMfdRequest"/>
      <wsdl:output message="tns:getAssigningMfdResponse"/>
      <wsdl:fault name="getAssigningMfdException" message="tns:getAssigningMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFd">
      <wsdl:input message="tns:getAssociatingFdRequest"/>
      <wsdl:output message="tns:getAssociatingFdResponse"/>
      <wsdl:fault name="getAssociatingFdException" message="tns:getAssociatingFdException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfr">
      <wsdl:input message="tns:getFdfrRequest"/>
      <wsdl:output message="tns:getFdfrResponse"/>
      <wsdl:fault name="getFdfrException" message="tns:getFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfrRoute">
      <wsdl:input message="tns:getFdfrRouteRequest"/>
      <wsdl:output message="tns:getFdfrRouteResponse"/>
      <wsdl:fault name="getFdfrRouteException" message="tns:getFdfrRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsByUserLabel">
      <wsdl:input message="tns:getFdfrsByUserLabelRequest"/>
      <wsdl:output message="tns:getFdfrsByUserLabelResponse"/>
      <wsdl:fault name="getFdfrsByUserLabelException" message="tns:getFdfrsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsWithTp">
      <wsdl:input message="tns:getFdfrsWithTpRequest"/>
      <wsdl:output message="tns:getFdfrsWithTpResponse"/>
      <wsdl:fault name="getFdfrsWithTpException" message="tns:getFdfrsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <wsdl:input message="tns:getFlowDomainRequest"/>
      <wsdl:output message="tns:getFlowDomainResponse"/>
      <wsdl:fault name="getFlowDomainException" message="tns:getFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <wsdl:input message="tns:getFlowDomainsByUserLabelRequest"/>
      <wsdl:output message="tns:getFlowDomainsByUserLabelResponse"/>
      <wsdl:fault name="getFlowDomainsByUserLabelException" message="tns:getFlowDomainsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getMfd">
      <wsdl:input message="tns:getMfdRequest"/>
      <wsdl:output message="tns:getMfdResponse"/>
      <wsdl:fault name="getMfdException" message="tns:getMfdException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlowDomainRetrievalSoapHttpBinding" type="tns:FlowDomainRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllAssociatedMfds">
      <soap:operation soapAction="getAllAssociatedMfds" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssociatedMfdsException">
        <soap:fault name="getAllAssociatedMfdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFdfrs">
      <soap:operation soapAction="getAllFdfrs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFdfrsException">
        <soap:fault name="getAllFdfrsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <soap:operation soapAction="getAllFlowDomains" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFlowDomainsException">
        <soap:fault name="getAllFlowDomainsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMfds">
      <soap:operation soapAction="getAllSupportedMfds" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedMfdsException">
        <soap:fault name="getAllSupportedMfdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMfd">
      <soap:operation soapAction="getAssigningMfd" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssigningMfdException">
        <soap:fault name="getAssigningMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFd">
      <soap:operation soapAction="getAssociatingFd" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatingFdException">
        <soap:fault name="getAssociatingFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfr">
      <soap:operation soapAction="getFdfr" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrException">
        <soap:fault name="getFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrRoute">
      <soap:operation soapAction="getFdfrRoute" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrRouteException">
        <soap:fault name="getFdfrRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsByUserLabel">
      <soap:operation soapAction="getFdfrsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrsByUserLabelException">
        <soap:fault name="getFdfrsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsWithTp">
      <soap:operation soapAction="getFdfrsWithTp" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrsWithTpException">
        <soap:fault name="getFdfrsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <soap:operation soapAction="getFlowDomain" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainException">
        <soap:fault name="getFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <soap:operation soapAction="getFlowDomainsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainsByUserLabelException">
        <soap:fault name="getFlowDomainsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMfd">
      <soap:operation soapAction="getMfd" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMfdException">
        <soap:fault name="getMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlowDomainRetrievalSoapJmsBinding" type="tns:FlowDomainRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllAssociatedMfds">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssociatedMfdsException">
        <soap:fault name="getAllAssociatedMfdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFdfrs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFdfrsException">
        <soap:fault name="getAllFdfrsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFlowDomainsException">
        <soap:fault name="getAllFlowDomainsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMfds">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedMfdsException">
        <soap:fault name="getAllSupportedMfdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssigningMfdException">
        <soap:fault name="getAssigningMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatingFdException">
        <soap:fault name="getAssociatingFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfr">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrException">
        <soap:fault name="getFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrRoute">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrRouteException">
        <soap:fault name="getFdfrRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsByUserLabel">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrsByUserLabelException">
        <soap:fault name="getFdfrsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsWithTp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrsWithTpException">
        <soap:fault name="getFdfrsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainException">
        <soap:fault name="getFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainsByUserLabelException">
        <soap:fault name="getFlowDomainsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMfdException">
        <soap:fault name="getMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowDomainRetrieval">
    <wsdl:documentation>
      <p>Example of the FlowDomainRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="FlowDomainRetrievalSoapJms" binding="tns:FlowDomainRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/FlowDomainRetrieval"/>
    </wsdl:port>
    <wsdl:port name="FlowDomainRetrievalSoapHttp" binding="tns:FlowDomainRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/FlowDomainRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
