Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/ManagedElementRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ManagedElementRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mer="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP ManagedElementRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mer/v1" schemaLocation="../xsd/ManagedElementRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagedElementNamesRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesException">
    <wsdl:documentation>
      <p>The getAllManagedElementNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesPassingFilterRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesPassingFilterRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesPassingFilterResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesPassingFilterException">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnException">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWithIteratorException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilterWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilterWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterWithIteratorException">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilterWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilterWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilterWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilterWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsnWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsnWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnWithIteratorException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsnWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsnWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsnWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsnWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOsWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOsWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsWithIteratorException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOsWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOsWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOsWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOsWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementRequest">
    <wsdl:documentation>
      <p>The getManagedElement request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementRequest"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementResponse">
    <wsdl:documentation>
      <p>The getManagedElement response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementException">
    <wsdl:documentation>
      <p>The getManagedElement exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementException"/>
  </wsdl:message>
  <wsdl:portType name="ManagedElementRetrieval">
    <wsdl:documentation>
      <p>The ManagedElementRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllManagedElementNames">
      <wsdl:input message="tns:getAllManagedElementNamesRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesResponse"/>
      <wsdl:fault name="getAllManagedElementNamesException" message="tns:getAllManagedElementNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <wsdl:input message="tns:getAllManagedElementNamesPassingFilterRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesPassingFilterResponse"/>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException" message="tns:getAllManagedElementNamesPassingFilterException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <wsdl:input message="tns:getAllManagedElementNamesWrtMlsnRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtMlsnResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException" message="tns:getAllManagedElementNamesWrtMlsnException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <wsdl:input message="tns:getAllManagedElementNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtOsResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException" message="tns:getAllManagedElementNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWithIterator">
      <wsdl:input message="tns:getAllManagedElementsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWithIteratorResponse"/>
      <wsdl:fault name="getAllManagedElementsWithIteratorException" message="tns:getAllManagedElementsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWithBatchNotifications">
      <wsdl:input message="tns:getAllManagedElementsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllManagedElementsWithBatchNotificationsException" message="tns:getAllManagedElementsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilterWithIterator">
      <wsdl:input message="tns:getAllManagedElementsPassingFilterWithIteratorRequest"/>
      <wsdl:output message="tns:getAllManagedElementsPassingFilterWithIteratorResponse"/>
      <wsdl:fault name="getAllManagedElementsPassingFilterWithIteratorException" message="tns:getAllManagedElementsPassingFilterWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilterWithBatchNotifications">
      <wsdl:input message="tns:getAllManagedElementsPassingFilterWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsPassingFilterWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllManagedElementsPassingFilterWithBatchNotificationsException" message="tns:getAllManagedElementsPassingFilterWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsnWithIterator">
      <wsdl:input message="tns:getAllManagedElementsWrtMlsnWithIteratorRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtMlsnWithIteratorResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtMlsnWithIteratorException" message="tns:getAllManagedElementsWrtMlsnWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsnWithBatchNotifications">
      <wsdl:input message="tns:getAllManagedElementsWrtMlsnWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtMlsnWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtMlsnWithBatchNotificationsException" message="tns:getAllManagedElementsWrtMlsnWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOsWithIterator">
      <wsdl:input message="tns:getAllManagedElementsWrtOsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtOsWithIteratorResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtOsWithIteratorException" message="tns:getAllManagedElementsWrtOsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOsWithBatchNotifications">
      <wsdl:input message="tns:getAllManagedElementsWrtOsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtOsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtOsWithBatchNotificationsException" message="tns:getAllManagedElementsWrtOsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <wsdl:input message="tns:getManagedElementRequest"/>
      <wsdl:output message="tns:getManagedElementResponse"/>
      <wsdl:fault name="getManagedElementException" message="tns:getManagedElementException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagedElementRetrievalSoapHttpBinding" type="tns:ManagedElementRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllManagedElementNames">
      <soap:operation soapAction="getAllManagedElementNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesException">
        <soap:fault name="getAllManagedElementNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <soap:operation soapAction="getAllManagedElementNamesPassingFilter" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException">
        <soap:fault name="getAllManagedElementNamesPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <soap:operation soapAction="getAllManagedElementNamesWrtMlsn" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException">
        <soap:fault name="getAllManagedElementNamesWrtMlsnException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <soap:operation soapAction="getAllManagedElementNamesWrtOs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException">
        <soap:fault name="getAllManagedElementNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWithIterator">
      <soap:operation soapAction="getAllManagedElementsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWithIteratorException">
        <soap:fault name="getAllManagedElementsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWithBatchNotifications">
      <soap:operation soapAction="getAllManagedElementsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilterWithIterator">
      <soap:operation soapAction="getAllManagedElementsPassingFilterWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterWithIteratorException">
        <soap:fault name="getAllManagedElementsPassingFilterWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilterWithBatchNotifications">
      <soap:operation soapAction="getAllManagedElementsPassingFilterWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsPassingFilterWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsnWithIterator">
      <soap:operation soapAction="getAllManagedElementsWrtMlsnWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMlsnWithIteratorException">
        <soap:fault name="getAllManagedElementsWrtMlsnWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsnWithBatchNotifications">
      <soap:operation soapAction="getAllManagedElementsWrtMlsnWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMlsnWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsWrtMlsnWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOsWithIterator">
      <soap:operation soapAction="getAllManagedElementsWrtOsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsWithIteratorException">
        <soap:fault name="getAllManagedElementsWrtOsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOsWithBatchNotifications">
      <soap:operation soapAction="getAllManagedElementsWrtOsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsWrtOsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <soap:operation soapAction="getManagedElement" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementException">
        <soap:fault name="getManagedElementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagedElementRetrievalSoapJmsBinding" type="tns:ManagedElementRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllManagedElementNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesException">
        <soap:fault name="getAllManagedElementNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException">
        <soap:fault name="getAllManagedElementNamesPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException">
        <soap:fault name="getAllManagedElementNamesWrtMlsnException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException">
        <soap:fault name="getAllManagedElementNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWithIteratorException">
        <soap:fault name="getAllManagedElementsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilterWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterWithIteratorException">
        <soap:fault name="getAllManagedElementsPassingFilterWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilterWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsPassingFilterWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsnWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMlsnWithIteratorException">
        <soap:fault name="getAllManagedElementsWrtMlsnWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsnWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMlsnWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsWrtMlsnWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOsWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsWithIteratorException">
        <soap:fault name="getAllManagedElementsWrtOsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOsWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsWithBatchNotificationsException">
        <soap:fault name="getAllManagedElementsWrtOsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementException">
        <soap:fault name="getManagedElementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagedElementRetrieval">
    <wsdl:documentation>
      <p>Example of the ManagedElementRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ManagedElementRetrievalSoapJms" binding="tns:ManagedElementRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/ManagedElementRetrieval"/>
    </wsdl:port>
    <wsdl:port name="ManagedElementRetrievalSoapHttp" binding="tns:ManagedElementRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ManagedElementRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
