Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/MultiLayerSubnetworkRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSubnetworkRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mlsnr="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSubnetworkRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSubnetworkRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" schemaLocation="../xsd/MultiLayerSubnetworkRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllMultiLayerSubnetworkNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworkNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworkNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworkNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworkNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworkNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworkNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworkNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworkNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOsWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOsWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsWithIteratorException">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOsWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOsWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOsWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOsWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworksWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworksWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksWithIteratorException">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworksWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworksWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworksWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworksWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworkNamesRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworkNamesResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworkNamesException">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesRequest">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesResponse">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesException">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkException">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkException"/>
  </wsdl:message>
  <wsdl:portType name="MultiLayerSubnetworkRetrieval">
    <wsdl:documentation>
      <p>The MultiLayerSubnetworkRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <wsdl:input message="tns:getAllMultiLayerSubnetworkNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworkNamesWrtOsResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" message="tns:getAllMultiLayerSubnetworkNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOsWithIterator">
      <wsdl:input message="tns:getAllMultiLayerSubnetworksWrtOsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworksWrtOsWithIteratorResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsWithIteratorException" message="tns:getAllMultiLayerSubnetworksWrtOsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOsWithBatchNotifications">
      <wsdl:input message="tns:getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException" message="tns:getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworksWithIterator">
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworksWithIteratorRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworksWithIteratorResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksWithIteratorException" message="tns:getAllTopLevelMultiLayerSubnetworksWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworksWithBatchNotifications">
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException" message="tns:getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworkNamesRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworkNamesResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" message="tns:getAllTopLevelMultiLayerSubnetworkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <wsdl:input message="tns:getContainingMultiLayerSubnetworkNamesRequest"/>
      <wsdl:output message="tns:getContainingMultiLayerSubnetworkNamesResponse"/>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException" message="tns:getContainingMultiLayerSubnetworkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <wsdl:input message="tns:getMultiLayerSubnetworkRequest"/>
      <wsdl:output message="tns:getMultiLayerSubnetworkResponse"/>
      <wsdl:fault name="getMultiLayerSubnetworkException" message="tns:getMultiLayerSubnetworkException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultiLayerSubnetworkRetrievalSoapHttpBinding" type="tns:MultiLayerSubnetworkRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <soap:operation soapAction="getAllMultiLayerSubnetworkNamesWrtOs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException">
        <soap:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOsWithIterator">
      <soap:operation soapAction="getAllMultiLayerSubnetworksWrtOsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsWithIteratorException">
        <soap:fault name="getAllMultiLayerSubnetworksWrtOsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOsWithBatchNotifications">
      <soap:operation soapAction="getAllMultiLayerSubnetworksWrtOsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException">
        <soap:fault name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworksWithIterator">
      <soap:operation soapAction="getAllTopLevelMultiLayerSubnetworksWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksWithIteratorException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworksWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworksWithBatchNotifications">
      <soap:operation soapAction="getAllTopLevelMultiLayerSubnetworksWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <soap:operation soapAction="getAllTopLevelMultiLayerSubnetworkNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <soap:operation soapAction="getContainingMultiLayerSubnetworkNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException">
        <soap:fault name="getContainingMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <soap:operation soapAction="getMultiLayerSubnetwork" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSubnetworkException">
        <soap:fault name="getMultiLayerSubnetworkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MultiLayerSubnetworkRetrievalSoapJmsBinding" type="tns:MultiLayerSubnetworkRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException">
        <soap:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOsWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsWithIteratorException">
        <soap:fault name="getAllMultiLayerSubnetworksWrtOsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOsWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException">
        <soap:fault name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworksWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksWithIteratorException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworksWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworksWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException">
        <soap:fault name="getContainingMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSubnetworkException">
        <soap:fault name="getMultiLayerSubnetworkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiLayerSubnetworkRetrieval">
    <wsdl:documentation>
      <p>Example of the MultiLayerSubnetworkRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="MultiLayerSubnetworkRetrievalSoapJms" binding="tns:MultiLayerSubnetworkRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/MultiLayerSubnetworkRetrieval"/>
    </wsdl:port>
    <wsdl:port name="MultiLayerSubnetworkRetrievalSoapHttp" binding="tns:MultiLayerSubnetworkRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/MultiLayerSubnetworkRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
