Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/OperationsSystemRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-OperationsSystemRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:osr="http://www.tmforum.org/mtop/mri/xsd/osr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: OperationsSystemRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP OperationsSystemRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/osr/v1" schemaLocation="../xsd/OperationsSystemRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllOperationsSystemNamesRequest">
    <wsdl:documentation>
      <p>The getAllOperationsSystemNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemNamesResponse">
    <wsdl:documentation>
      <p>The getAllOperationsSystemNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemNamesException">
    <wsdl:documentation>
      <p>The getAllOperationsSystemNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsWithIteratorRequest">
    <wsdl:documentation>
      <p>The getAllOperationsSystemsWithIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsWithIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsWithIteratorResponse">
    <wsdl:documentation>
      <p>The getAllOperationsSystemsWithIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsWithIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsWithIteratorException">
    <wsdl:documentation>
      <p>The getAllOperationsSystemsWithIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsWithIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsWithBatchNotificationsRequest">
    <wsdl:documentation>
      <p>The getAllOperationsSystemsWithBatchNotifications request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsWithBatchNotificationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsWithBatchNotificationsResponse">
    <wsdl:documentation>
      <p>The getAllOperationsSystemsWithBatchNotifications response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsWithBatchNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsWithBatchNotificationsException">
    <wsdl:documentation>
      <p>The getAllOperationsSystemsWithBatchNotifications exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsWithBatchNotificationsException"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemRequest">
    <wsdl:documentation>
      <p>The getOperationsSystem request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemRequest"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemResponse">
    <wsdl:documentation>
      <p>The getOperationsSystem response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemResponse"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemException">
    <wsdl:documentation>
      <p>The getOperationsSystem exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemException"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOperationsSystemRequest">
    <wsdl:documentation>
      <p>The getSubordinateOperationsSystem request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getSubordinateOperationsSystemRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOperationsSystemResponse">
    <wsdl:documentation>
      <p>The getSubordinateOperationsSystem response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getSubordinateOperationsSystemResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOperationsSystemException">
    <wsdl:documentation>
      <p>The getSubordinateOperationsSystem exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getSubordinateOperationsSystemException"/>
  </wsdl:message>
  <wsdl:portType name="OperationsSystemRetrieval">
    <wsdl:documentation>
      <p>The OperationsSystemRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllOperationsSystemNames">
      <wsdl:input message="tns:getAllOperationsSystemNamesRequest"/>
      <wsdl:output message="tns:getAllOperationsSystemNamesResponse"/>
      <wsdl:fault name="getAllOperationsSystemNamesException" message="tns:getAllOperationsSystemNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystemsWithIterator">
      <wsdl:input message="tns:getAllOperationsSystemsWithIteratorRequest"/>
      <wsdl:output message="tns:getAllOperationsSystemsWithIteratorResponse"/>
      <wsdl:fault name="getAllOperationsSystemsWithIteratorException" message="tns:getAllOperationsSystemsWithIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystemsWithBatchNotifications">
      <wsdl:input message="tns:getAllOperationsSystemsWithBatchNotificationsRequest"/>
      <wsdl:output message="tns:getAllOperationsSystemsWithBatchNotificationsResponse"/>
      <wsdl:fault name="getAllOperationsSystemsWithBatchNotificationsException" message="tns:getAllOperationsSystemsWithBatchNotificationsException"/>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystem">
      <wsdl:input message="tns:getOperationsSystemRequest"/>
      <wsdl:output message="tns:getOperationsSystemResponse"/>
      <wsdl:fault name="getOperationsSystemException" message="tns:getOperationsSystemException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubordinateOperationsSystem">
      <wsdl:input message="tns:getSubordinateOperationsSystemRequest"/>
      <wsdl:output message="tns:getSubordinateOperationsSystemResponse"/>
      <wsdl:fault name="getSubordinateOperationsSystemException" message="tns:getSubordinateOperationsSystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperationsSystemRetrievalSoapHttpBinding" type="tns:OperationsSystemRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllOperationsSystemNames">
      <soap:operation soapAction="getAllOperationsSystemNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemNamesException">
        <soap:fault name="getAllOperationsSystemNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystemsWithIterator">
      <soap:operation soapAction="getAllOperationsSystemsWithIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemsWithIteratorException">
        <soap:fault name="getAllOperationsSystemsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystemsWithBatchNotifications">
      <soap:operation soapAction="getAllOperationsSystemsWithBatchNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemsWithBatchNotificationsException">
        <soap:fault name="getAllOperationsSystemsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystem">
      <soap:operation soapAction="getOperationsSystem" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getOperationsSystemException">
        <soap:fault name="getOperationsSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubordinateOperationsSystem">
      <soap:operation soapAction="getSubordinateOperationsSystem" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubordinateOperationsSystemException">
        <soap:fault name="getSubordinateOperationsSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OperationsSystemRetrievalSoapJmsBinding" type="tns:OperationsSystemRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllOperationsSystemNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemNamesException">
        <soap:fault name="getAllOperationsSystemNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystemsWithIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemsWithIteratorException">
        <soap:fault name="getAllOperationsSystemsWithIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystemsWithBatchNotifications">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemsWithBatchNotificationsException">
        <soap:fault name="getAllOperationsSystemsWithBatchNotificationsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystem">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getOperationsSystemException">
        <soap:fault name="getOperationsSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubordinateOperationsSystem">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubordinateOperationsSystemException">
        <soap:fault name="getSubordinateOperationsSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperationsSystemRetrieval">
    <wsdl:documentation>
      <p>Example of the OperationsSystemRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="OperationsSystemRetrievalSoapJms" binding="tns:OperationsSystemRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/OperationsSystemRetrieval"/>
    </wsdl:port>
    <wsdl:port name="OperationsSystemRetrievalSoapHttp" binding="tns:OperationsSystemRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/OperationsSystemRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
