Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/TopologicalLinkRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TopologicalLinkRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tlr="http://www.tmforum.org/mtop/mri/xsd/tlr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tlr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TopologicalLinkRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP TopologicalLinkRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tlr/v1" schemaLocation="../xsd/TopologicalLinkRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTopLevelTopologicalLinkNamesRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinkNamesResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinkNamesException">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinksRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinksResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelTopologicalLinksException">
    <wsdl:documentation>
      <p>The getAllTopLevelTopologicalLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopLevelTopologicalLinksException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesBetweenMdsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesBetweenMds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesBetweenMdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesBetweenMdsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesBetweenMds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesBetweenMdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesBetweenMdsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesBetweenMds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesBetweenMdsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinkNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinkNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinkNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksBetweenMdsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksBetweenMds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksBetweenMdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksBetweenMdsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksBetweenMds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksBetweenMdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksBetweenMdsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksBetweenMds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksBetweenMdsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksOfFdRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksOfFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksOfFdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksOfFdResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksOfFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksOfFdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksOfFdException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksOfFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksOfFdException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopologicalLinksWrtOsException">
    <wsdl:documentation>
      <p>The getAllTopologicalLinksWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getAllTopologicalLinksWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getRouteAndTopologicalLinksRequest">
    <wsdl:documentation>
      <p>The getRouteAndTopologicalLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getRouteAndTopologicalLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getRouteAndTopologicalLinksResponse">
    <wsdl:documentation>
      <p>The getRouteAndTopologicalLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getRouteAndTopologicalLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getRouteAndTopologicalLinksException">
    <wsdl:documentation>
      <p>The getRouteAndTopologicalLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getRouteAndTopologicalLinksException"/>
  </wsdl:message>
  <wsdl:message name="getTopLevelTopologicalLinkRequest">
    <wsdl:documentation>
      <p>The getTopLevelTopologicalLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopLevelTopologicalLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopLevelTopologicalLinkResponse">
    <wsdl:documentation>
      <p>The getTopLevelTopologicalLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopLevelTopologicalLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopLevelTopologicalLinkException">
    <wsdl:documentation>
      <p>The getTopLevelTopologicalLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopLevelTopologicalLinkException"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkRequest">
    <wsdl:documentation>
      <p>The getTopologicalLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkResponse">
    <wsdl:documentation>
      <p>The getTopologicalLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkException">
    <wsdl:documentation>
      <p>The getTopologicalLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkException"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinksIteratorRequest">
    <wsdl:documentation>
      <p>The getTopologicalLinksIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinksIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinksIteratorResponse">
    <wsdl:documentation>
      <p>The getTopologicalLinksIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinksIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinksIteratorException">
    <wsdl:documentation>
      <p>The getTopologicalLinksIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinksIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getTopologicalLinkNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getTopologicalLinkNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTopologicalLinkNamesIteratorException">
    <wsdl:documentation>
      <p>The getTopologicalLinkNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlr:getTopologicalLinkNamesIteratorException"/>
  </wsdl:message>
  <wsdl:portType name="TopologicalLinkRetrieval">
    <wsdl:documentation>
      <p>The TopologicalLinkRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllTopLevelTopologicalLinkNames">
      <wsdl:input message="tns:getAllTopLevelTopologicalLinkNamesRequest"/>
      <wsdl:output message="tns:getAllTopLevelTopologicalLinkNamesResponse"/>
      <wsdl:fault name="getAllTopLevelTopologicalLinkNamesException" message="tns:getAllTopLevelTopologicalLinkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelTopologicalLinks">
      <wsdl:input message="tns:getAllTopLevelTopologicalLinksRequest"/>
      <wsdl:output message="tns:getAllTopLevelTopologicalLinksResponse"/>
      <wsdl:fault name="getAllTopLevelTopologicalLinksException" message="tns:getAllTopLevelTopologicalLinksException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNames">
      <wsdl:input message="tns:getAllTopologicalLinkNamesRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinkNamesResponse"/>
      <wsdl:fault name="getAllTopologicalLinkNamesException" message="tns:getAllTopologicalLinkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesBetweenMds">
      <wsdl:input message="tns:getAllTopologicalLinkNamesBetweenMdsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinkNamesBetweenMdsResponse"/>
      <wsdl:fault name="getAllTopologicalLinkNamesBetweenMdsException" message="tns:getAllTopologicalLinkNamesBetweenMdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesWrtOs">
      <wsdl:input message="tns:getAllTopologicalLinkNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinkNamesWrtOsResponse"/>
      <wsdl:fault name="getAllTopologicalLinkNamesWrtOsException" message="tns:getAllTopologicalLinkNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinks">
      <wsdl:input message="tns:getAllTopologicalLinksRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksResponse"/>
      <wsdl:fault name="getAllTopologicalLinksException" message="tns:getAllTopologicalLinksException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksBetweenMds">
      <wsdl:input message="tns:getAllTopologicalLinksBetweenMdsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksBetweenMdsResponse"/>
      <wsdl:fault name="getAllTopologicalLinksBetweenMdsException" message="tns:getAllTopologicalLinksBetweenMdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksOfFd">
      <wsdl:input message="tns:getAllTopologicalLinksOfFdRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksOfFdResponse"/>
      <wsdl:fault name="getAllTopologicalLinksOfFdException" message="tns:getAllTopologicalLinksOfFdException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksWrtOs">
      <wsdl:input message="tns:getAllTopologicalLinksWrtOsRequest"/>
      <wsdl:output message="tns:getAllTopologicalLinksWrtOsResponse"/>
      <wsdl:fault name="getAllTopologicalLinksWrtOsException" message="tns:getAllTopologicalLinksWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getRouteAndTopologicalLinks">
      <wsdl:input message="tns:getRouteAndTopologicalLinksRequest"/>
      <wsdl:output message="tns:getRouteAndTopologicalLinksResponse"/>
      <wsdl:fault name="getRouteAndTopologicalLinksException" message="tns:getRouteAndTopologicalLinksException"/>
    </wsdl:operation>
    <wsdl:operation name="getTopLevelTopologicalLink">
      <wsdl:input message="tns:getTopLevelTopologicalLinkRequest"/>
      <wsdl:output message="tns:getTopLevelTopologicalLinkResponse"/>
      <wsdl:fault name="getTopLevelTopologicalLinkException" message="tns:getTopLevelTopologicalLinkException"/>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLink">
      <wsdl:input message="tns:getTopologicalLinkRequest"/>
      <wsdl:output message="tns:getTopologicalLinkResponse"/>
      <wsdl:fault name="getTopologicalLinkException" message="tns:getTopologicalLinkException"/>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLinksIterator">
      <wsdl:input message="tns:getTopologicalLinksIteratorRequest"/>
      <wsdl:output message="tns:getTopologicalLinksIteratorResponse"/>
      <wsdl:fault name="getTopologicalLinksIteratorException" message="tns:getTopologicalLinksIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLinkNamesIterator">
      <wsdl:input message="tns:getTopologicalLinkNamesIteratorRequest"/>
      <wsdl:output message="tns:getTopologicalLinkNamesIteratorResponse"/>
      <wsdl:fault name="getTopologicalLinkNamesIteratorException" message="tns:getTopologicalLinkNamesIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TopologicalLinkRetrievalSoapHttpBinding" type="tns:TopologicalLinkRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllTopLevelTopologicalLinkNames">
      <soap:operation soapAction="getAllTopLevelTopologicalLinkNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelTopologicalLinkNamesException">
        <soap:fault name="getAllTopLevelTopologicalLinkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelTopologicalLinks">
      <soap:operation soapAction="getAllTopLevelTopologicalLinks" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelTopologicalLinksException">
        <soap:fault name="getAllTopLevelTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNames">
      <soap:operation soapAction="getAllTopologicalLinkNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesException">
        <soap:fault name="getAllTopologicalLinkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesBetweenMds">
      <soap:operation soapAction="getAllTopologicalLinkNamesBetweenMds" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesBetweenMdsException">
        <soap:fault name="getAllTopologicalLinkNamesBetweenMdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesWrtOs">
      <soap:operation soapAction="getAllTopologicalLinkNamesWrtOs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesWrtOsException">
        <soap:fault name="getAllTopologicalLinkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinks">
      <soap:operation soapAction="getAllTopologicalLinks" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksException">
        <soap:fault name="getAllTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksBetweenMds">
      <soap:operation soapAction="getAllTopologicalLinksBetweenMds" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksBetweenMdsException">
        <soap:fault name="getAllTopologicalLinksBetweenMdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksOfFd">
      <soap:operation soapAction="getAllTopologicalLinksOfFd" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksOfFdException">
        <soap:fault name="getAllTopologicalLinksOfFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksWrtOs">
      <soap:operation soapAction="getAllTopologicalLinksWrtOs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksWrtOsException">
        <soap:fault name="getAllTopologicalLinksWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRouteAndTopologicalLinks">
      <soap:operation soapAction="getRouteAndTopologicalLinks" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteAndTopologicalLinksException">
        <soap:fault name="getRouteAndTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopLevelTopologicalLink">
      <soap:operation soapAction="getTopLevelTopologicalLink" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopLevelTopologicalLinkException">
        <soap:fault name="getTopLevelTopologicalLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLink">
      <soap:operation soapAction="getTopologicalLink" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinkException">
        <soap:fault name="getTopologicalLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLinksIterator">
      <soap:operation soapAction="getTopologicalLinksIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinksIteratorException">
        <soap:fault name="getTopologicalLinksIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLinkNamesIterator">
      <soap:operation soapAction="getTopologicalLinkNamesIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinkNamesIteratorException">
        <soap:fault name="getTopologicalLinkNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TopologicalLinkRetrievalSoapJmsBinding" type="tns:TopologicalLinkRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllTopLevelTopologicalLinkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelTopologicalLinkNamesException">
        <soap:fault name="getAllTopLevelTopologicalLinkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelTopologicalLinks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelTopologicalLinksException">
        <soap:fault name="getAllTopLevelTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesException">
        <soap:fault name="getAllTopologicalLinkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesBetweenMds">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesBetweenMdsException">
        <soap:fault name="getAllTopologicalLinkNamesBetweenMdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinkNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinkNamesWrtOsException">
        <soap:fault name="getAllTopologicalLinkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksException">
        <soap:fault name="getAllTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksBetweenMds">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksBetweenMdsException">
        <soap:fault name="getAllTopologicalLinksBetweenMdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksOfFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksOfFdException">
        <soap:fault name="getAllTopologicalLinksOfFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopologicalLinksWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopologicalLinksWrtOsException">
        <soap:fault name="getAllTopologicalLinksWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRouteAndTopologicalLinks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteAndTopologicalLinksException">
        <soap:fault name="getRouteAndTopologicalLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopLevelTopologicalLink">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopLevelTopologicalLinkException">
        <soap:fault name="getTopLevelTopologicalLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLink">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinkException">
        <soap:fault name="getTopologicalLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLinksIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinksIteratorException">
        <soap:fault name="getTopologicalLinksIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologicalLinkNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTopologicalLinkNamesIteratorException">
        <soap:fault name="getTopologicalLinkNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TopologicalLinkRetrieval">
    <wsdl:documentation>
      <p>Example of the TopologicalLinkRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TopologicalLinkRetrievalSoapJms" binding="tns:TopologicalLinkRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/TopologicalLinkRetrieval"/>
    </wsdl:port>
    <wsdl:port name="TopologicalLinkRetrievalSoapHttp" binding="tns:TopologicalLinkRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TopologicalLinkRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
