Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/TrafficConditioningProfileRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TrafficConditioningProfileRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tcpr="http://www.tmforum.org/mtop/mri/xsd/tcpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tcpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tcpr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TrafficConditioningProfileRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP TrafficConditioningProfileRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tcpr/v1" schemaLocation="../xsd/TrafficConditioningProfileRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTcProfilesRequest">
    <wsdl:documentation>
      <p>The getAllTcProfiles request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getAllTcProfilesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTcProfilesResponse">
    <wsdl:documentation>
      <p>The getAllTcProfiles response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getAllTcProfilesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTcProfilesException">
    <wsdl:documentation>
      <p>The getAllTcProfiles exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getAllTcProfilesException"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileRequest">
    <wsdl:documentation>
      <p>The getTcProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileResponse">
    <wsdl:documentation>
      <p>The getTcProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileException">
    <wsdl:documentation>
      <p>The getTcProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileException"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileAssociatedTpsRequest">
    <wsdl:documentation>
      <p>The getTcProfileAssociatedTps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileAssociatedTpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileAssociatedTpsResponse">
    <wsdl:documentation>
      <p>The getTcProfileAssociatedTps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileAssociatedTpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getTcProfileAssociatedTpsException">
    <wsdl:documentation>
      <p>The getTcProfileAssociatedTps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTcProfileAssociatedTpsException"/>
  </wsdl:message>
  <wsdl:portType name="TrafficConditioningProfileRetrieval">
    <wsdl:documentation>
      <p>The TrafficConditioningProfileRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllTcProfiles">
      <wsdl:input message="tns:getAllTcProfilesRequest"/>
      <wsdl:output message="tns:getAllTcProfilesResponse"/>
      <wsdl:fault name="getAllTcProfilesException" message="tns:getAllTcProfilesException"/>
    </wsdl:operation>
    <wsdl:operation name="getTcProfile">
      <wsdl:input message="tns:getTcProfileRequest"/>
      <wsdl:output message="tns:getTcProfileResponse"/>
      <wsdl:fault name="getTcProfileException" message="tns:getTcProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="getTcProfileAssociatedTps">
      <wsdl:input message="tns:getTcProfileAssociatedTpsRequest"/>
      <wsdl:output message="tns:getTcProfileAssociatedTpsResponse"/>
      <wsdl:fault name="getTcProfileAssociatedTpsException" message="tns:getTcProfileAssociatedTpsException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrafficConditioningProfileRetrievalSoapHttpBinding" type="tns:TrafficConditioningProfileRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllTcProfiles">
      <soap:operation soapAction="getAllTcProfiles" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTcProfilesException">
        <soap:fault name="getAllTcProfilesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcProfile">
      <soap:operation soapAction="getTcProfile" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcProfileException">
        <soap:fault name="getTcProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcProfileAssociatedTps">
      <soap:operation soapAction="getTcProfileAssociatedTps" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcProfileAssociatedTpsException">
        <soap:fault name="getTcProfileAssociatedTpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrafficConditioningProfileRetrievalSoapJmsBinding" type="tns:TrafficConditioningProfileRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllTcProfiles">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTcProfilesException">
        <soap:fault name="getAllTcProfilesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcProfile">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcProfileException">
        <soap:fault name="getTcProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcProfileAssociatedTps">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcProfileAssociatedTpsException">
        <soap:fault name="getTcProfileAssociatedTpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrafficConditioningProfileRetrieval">
    <wsdl:documentation>
      <p>Example of the TrafficConditioningProfileRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TrafficConditioningProfileRetrievalSoapJms" binding="tns:TrafficConditioningProfileRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/TrafficConditioningProfileRetrieval"/>
    </wsdl:port>
    <wsdl:port name="TrafficConditioningProfileRetrievalSoapHttp" binding="tns:TrafficConditioningProfileRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TrafficConditioningProfileRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
