Test/Jerome_Test/ManageResourceInventory/IIS/wsdl/TransmissionDescriptorRetrievalV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TransmissionDescriptorRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tmdr="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tmdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tmdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TransmissionDescriptorRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP TransmissionDescriptorRetrieval Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" schemaLocation="../xsd/TransmissionDescriptorRetrievalMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTransmissionDescriptorNamesRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorNamesIteratorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorException"/>
  </wsdl:message>
  <wsdl:portType name="TransmissionDescriptorRetrieval">
    <wsdl:documentation>
      <p>The TransmissionDescriptorRetrieval porttype (abstract interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllTransmissionDescriptorNames">
      <wsdl:input message="tns:getAllTransmissionDescriptorNamesRequest"/>
      <wsdl:output message="tns:getAllTransmissionDescriptorNamesResponse"/>
      <wsdl:fault name="getAllTransmissionDescriptorNamesException" message="tns:getAllTransmissionDescriptorNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptorNamesWrtOs">
      <wsdl:input message="tns:getAllTransmissionDescriptorNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllTransmissionDescriptorNamesWrtOsResponse"/>
      <wsdl:fault name="getAllTransmissionDescriptorNamesWrtOsException" message="tns:getAllTransmissionDescriptorNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptors">
      <wsdl:input message="tns:getAllTransmissionDescriptorsRequest"/>
      <wsdl:output message="tns:getAllTransmissionDescriptorsResponse"/>
      <wsdl:fault name="getAllTransmissionDescriptorsException" message="tns:getAllTransmissionDescriptorsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptorsWrtOs">
      <wsdl:input message="tns:getAllTransmissionDescriptorsWrtOsRequest"/>
      <wsdl:output message="tns:getAllTransmissionDescriptorsWrtOsResponse"/>
      <wsdl:fault name="getAllTransmissionDescriptorsWrtOsException" message="tns:getAllTransmissionDescriptorsWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptor">
      <wsdl:input message="tns:getTransmissionDescriptorRequest"/>
      <wsdl:output message="tns:getTransmissionDescriptorResponse"/>
      <wsdl:fault name="getTransmissionDescriptorException" message="tns:getTransmissionDescriptorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptorNamesIterator">
      <wsdl:input message="tns:getTransmissionDescriptorNamesIteratorRequest"/>
      <wsdl:output message="tns:getTransmissionDescriptorNamesIteratorResponse"/>
      <wsdl:fault name="getTransmissionDescriptorNamesIteratorException" message="tns:getTransmissionDescriptorNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptorsIterator">
      <wsdl:input message="tns:getTransmissionDescriptorsIteratorRequest"/>
      <wsdl:output message="tns:getTransmissionDescriptorsIteratorResponse"/>
      <wsdl:fault name="getTransmissionDescriptorsIteratorException" message="tns:getTransmissionDescriptorsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransmissionDescriptorRetrievalSoapHttpBinding" type="tns:TransmissionDescriptorRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="getAllTransmissionDescriptorNames">
      <soap:operation soapAction="getAllTransmissionDescriptorNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorNamesException">
        <soap:fault name="getAllTransmissionDescriptorNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptorNamesWrtOs">
      <soap:operation soapAction="getAllTransmissionDescriptorNamesWrtOs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorNamesWrtOsException">
        <soap:fault name="getAllTransmissionDescriptorNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptors">
      <soap:operation soapAction="getAllTransmissionDescriptors" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorsException">
        <soap:fault name="getAllTransmissionDescriptorsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptorsWrtOs">
      <soap:operation soapAction="getAllTransmissionDescriptorsWrtOs" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorsWrtOsException">
        <soap:fault name="getAllTransmissionDescriptorsWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptor">
      <soap:operation soapAction="getTransmissionDescriptor" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionDescriptorException">
        <soap:fault name="getTransmissionDescriptorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptorNamesIterator">
      <soap:operation soapAction="getTransmissionDescriptorNamesIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionDescriptorNamesIteratorException">
        <soap:fault name="getTransmissionDescriptorNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptorsIterator">
      <soap:operation soapAction="getTransmissionDescriptorsIterator" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionDescriptorsIteratorException">
        <soap:fault name="getTransmissionDescriptorsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransmissionDescriptorRetrievalSoapJmsBinding" type="tns:TransmissionDescriptorRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions (concrete interface) of the operations defined in portType</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllTransmissionDescriptorNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorNamesException">
        <soap:fault name="getAllTransmissionDescriptorNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptorNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorNamesWrtOsException">
        <soap:fault name="getAllTransmissionDescriptorNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptors">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorsException">
        <soap:fault name="getAllTransmissionDescriptorsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTransmissionDescriptorsWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTransmissionDescriptorsWrtOsException">
        <soap:fault name="getAllTransmissionDescriptorsWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptor">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionDescriptorException">
        <soap:fault name="getTransmissionDescriptorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptorNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionDescriptorNamesIteratorException">
        <soap:fault name="getTransmissionDescriptorNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionDescriptorsIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionDescriptorsIteratorException">
        <soap:fault name="getTransmissionDescriptorsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransmissionDescriptorRetrieval">
    <wsdl:documentation>
      <p>Example of the TransmissionDescriptorRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TransmissionDescriptorRetrievalSoapJms" binding="tns:TransmissionDescriptorRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/TransmissionDescriptorRetrieval"/>
    </wsdl:port>
    <wsdl:port name="TransmissionDescriptorRetrievalSoapHttp" binding="tns:TransmissionDescriptorRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TransmissionDescriptorRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
