mtosi_3.0/main/DDPs/ResourceProvisioning/IIS/wsdl/CallControl/CallControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-CallControlV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" 
xmlns:callc="http://www.tmforum.org/mtop/rp/xsd/callc/v1" 
xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/callc/v1-0"
targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/callc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: CallControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP CallControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/callc/v1" schemaLocation="../../xsd/CallControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
   <wsdl:message name="establishCallRequest">
    <wsdl:documentation>
      <p>The establishCall request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:establishCallRequest"/>
  </wsdl:message>
  <wsdl:message name="establishCallResponse">
    <wsdl:documentation>
      <p>The establishCall response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:establishCallResponse"/>
  </wsdl:message>
  <wsdl:message name="establishCallException">
    <wsdl:documentation>
      <p>The establishCall exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callc:establishCallException"/>
  </wsdl:message>
   
  <wsdl:message name="modifyCallRequest">
    <wsdl:documentation>
      <p>The modifyCall request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:modifyCallRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyCallResponse">
    <wsdl:documentation>
      <p>The modifyCall response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:modifyCallResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyCallException">
    <wsdl:documentation>
      <p>The modifyCall exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callc:modifyCallException"/>
  </wsdl:message>   
   
  <wsdl:message name="releaseCallRequest">
    <wsdl:documentation>
      <p>The releaseCall request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:releaseCallRequest"/>
  </wsdl:message>
  <wsdl:message name="releaseCallResponse">
    <wsdl:documentation>
      <p>The releaseCall response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:releaseCallResponse"/>
  </wsdl:message>
  <wsdl:message name="releaseCallException">
    <wsdl:documentation>
      <p>The releaseCall exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callc:releaseCallException"/>
  </wsdl:message>   
   
  <wsdl:message name="addConnectionsRequest">
    <wsdl:documentation>
      <p>The addConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:addConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="addConnectionsResponse">
    <wsdl:documentation>
      <p>The addConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:addConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="addConnectionsException">
    <wsdl:documentation>
      <p>The addConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callc:addConnectionsException"/>
  </wsdl:message>   
   
  <wsdl:message name="removeConnectionsRequest">
    <wsdl:documentation>
      <p>The removeConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:removeConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="removeConnectionsResponse">
    <wsdl:documentation>
      <p>The removeConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:removeConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="removeConnectionsException">
    <wsdl:documentation>
      <p>The removeConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callc:removeConnectionsException"/>
  </wsdl:message>   
   
     <wsdl:message name="modifyDiversityAndCoroutingRequest">
    <wsdl:documentation>
      <p>The modifyDiversityAndCorouting request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:modifyDiversityAndCoroutingRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyDiversityAndCoroutingResponse">
    <wsdl:documentation>
      <p>The modifyDiversityAndCorouting response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callc:modifyDiversityAndCoroutingResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyDiversityAndCoroutingException">
    <wsdl:documentation>
      <p>The modifyDiversityAndCorouting exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callc:modifyDiversityAndCoroutingException"/>
  </wsdl:message>
   
</wsdl:definitions>
