Product/trunk/DDPs/Framework/IIS/xsd/CommonObjectInfoProvisioningMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/fmw/xsd/coipmsg/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/xsd/coipmsg/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Framework</p>
      <p>Module: XSD Messages Module</p>
      <p>Description: This module contains the XML Schema definitions of the mTOP CommonObjectInfoProvisioning service interface messages.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <!--  ============== -->
  <xsd:element name="setAliasNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setAliasNames operation</p>
        <p>This operation allows the Client OS to set one or many of the alias names of the specified object by its name.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="objectName" type="nam:NamingAttributesType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the object for which to change the owner designation</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="aliasNames" type="gen:AliasNameListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of alias names to set or modify</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setAliasNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setAliasNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="aliasNames" type="gen:AliasNameListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of alias names that were successfully set.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setAliasNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setAliasNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionEntityNotFound" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessageType"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setUserLabel operation</p>
        <p>This operation allows the Client OS to set the userLabel attribute of the specified object by its name.</p>
        <p>The userLabel is owned by the NMSes. It is a string assigned by an NMS to an object. The difference between the userLabel and the NamingAttributes name is that the userLabel is an attribute of the objects that may be "set" by the NMS through well defined interfaces (setUserLabel).</p>
        <p>When an object is created by an NMS, the NMS specifies the userLabel for the object.</p>
        <p>When an object is created by the EMS, the EMS sets the userLabel to the nativeEMSName.</p>
        <p>Once an object is created, the userLabel may only be changed by an NMS through the setUserLabel operation.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="objectName" type="nam:NamingAttributesType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the object for which to change the userLabel designation</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="userLabel" type="gen:UserLabelType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>New userLabel value to assign to the object</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="enforceUniqueness" type="xsd:boolean" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Specifies whether or not userLabel should be checked for uniqueness amongst objects of the same class within the EMS. If true, then the operation will fail if userLabel is already in use</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setUserLabelResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionEntityNotFound" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionUserLabelInUse" type="msg:BaseExceptionMessageType"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setOwnerRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setOwner operation</p>
        <p>This operation allows the Client OS to set the owner attribute of the specified object by its name.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="objectName" type="nam:NamingAttributesType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the object for which to change the userLabel designation</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="owner" type="gen:OwnerType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>New owner value to assign to the object</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setOwnerResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setOwner operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setOwnerException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setOwner operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionEntityNotFound" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessageType"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setNetworkAccessDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setNetworkAccessDomain operation</p>
        <p>This operation allows the Client OS to set the networkAccessDomain attribute of the specified object by its name.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="objectName" type="nam:NamingAttributesType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the object for which to change the userLabel designation</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="networkAccessDomain" type="gen:NetworkAccessDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>New networkAccessDomain value to assign to the object</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setNetworkAccessDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setNetworkAccessDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="setNetworkAccessDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setNetworkAccessDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessageType"/>
        <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessageType"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
</xsd:schema>
