Product/trunk/DDPs/Framework/IIS/xsd/EventObjectCreation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/fmw/xsd/oc/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/xsd/oc/v1" xmlns:cei="http://www.tmforum.org/mtop/fmw/xsd/cei/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Framework</p>
      <p>Module: Aggregate XSD Module</p>
      <p>Description: This module contains the XML Schema definitions of the ObjectCreation event.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="CommonEventInfo.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/cei/v1"/>
  <xsd:import schemaLocation="NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <!-- ================ -->
  <xsd:element name="objectCreation" type="tns:ObjectCreation_T" substitutionGroup="cei:commonEventInfo">
    <xsd:annotation>
      <xsd:documentation>
        <p>The element definition of the ObjectCreation event.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:complexType name="ObjectCreation_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The type definition of the ObjectCreation event.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cei:CommonEventInfo_T">
        <xsd:sequence>
          <xsd:element name="objectType" type="gen:ObjectType_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Identifies the type of the object associated with the event.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="objectName" type="nam:NamingAttributes_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Identifies the name of the object associated with the event.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="neTime" type="xsd:dateTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The time provided by the NE. In a case where the NE does not report time, this field is optional or an empty string can be reported.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="edgePointRelated" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>TRUE if this event relates to a PTP that is an edge point or to a PGP that contains a PTP that is an edge point. FALSE otherwise; this field is optional in this case.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="object" type="cei:AnyList_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This definition allows for the full XML object to be inserted here.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================ -->
</xsd:schema>
