mtosi_2.0/2.0ME1/DDPs/Framework/IIS/xsd/Md.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/fmw/xsd/md/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/xsd/md/v1" xmlns:coi="http://www.tmforum.org/mtop/fmw/xsd/coi/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Framework</p>
      <p>Module: Aggregate XSD Module</p>
      <p>Description: This module contains the XML Schema type definition of the mTOP MD XML structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ============== -->
  <xsd:import schemaLocation="CommonObjectInfo.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/coi/v1"/>
  <!-- ================= -->
  <xsd:element name="md" type="tns:ManagementDomainType"/>
  <!-- ================= -->
  <xsd:complexType name="ManagementDomainType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This aggregate defines the Management Domain mTOP network resource object attributes.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="coi:CommonObjectInfoType">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="ManagementDomainListType">
    <xsd:annotation>
      <xsd:documentation>
        <p>List of ManagementDomains</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="tns:md" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
