mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/TerminationPointRetrieval/TerminationPointRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TerminationPointRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TerminationPointRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP TerminationPointRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" location="TerminationPointRetrievalMessages.wsdl"/>
  <wsdl:portType name="TerminationPointRetrieval_RPC">
    <wsdl:documentation>
      <p>The TerminationPointRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssignableConnectionlessPortTerminationPoints">
      <wsdl:input message="tns:getAllAssignableConnectionlessPortTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllAssignableConnectionlessPortTerminationPointsResponse"/>
      <wsdl:fault name="getAllAssignableConnectionlessPortTerminationPointsException" message="tns:getAllAssignableConnectionlessPortTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedConnectionlessPortTerminationPoints">
      <wsdl:input message="tns:getAllAssignedConnectionlessPortTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllAssignedConnectionlessPortTerminationPointsResponse"/>
      <wsdl:fault name="getAllAssignedConnectionlessPortTerminationPointsException" message="tns:getAllAssignedConnectionlessPortTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllConnectionlessPortTerminationPoints">
      <wsdl:input message="tns:getAllConnectionlessPortTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllConnectionlessPortTerminationPointsResponse"/>
      <wsdl:fault name="getAllConnectionlessPortTerminationPointsException" message="tns:getAllConnectionlessPortTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <wsdl:input message="tns:getAllEdgePointsRequest"/>
      <wsdl:output message="tns:getAllEdgePointsResponse"/>
      <wsdl:fault name="getAllEdgePointsException" message="tns:getAllEdgePointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFloatingTerminationPoints">
      <wsdl:input message="tns:getAllFloatingTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllFloatingTerminationPointsResponse"/>
      <wsdl:fault name="getAllFloatingTerminationPointsException" message="tns:getAllFloatingTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGroupTerminationPoints">
      <wsdl:input message="tns:getAllGroupTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllGroupTerminationPointsResponse"/>
      <wsdl:fault name="getAllGroupTerminationPointsException" message="tns:getAllGroupTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPoints">
      <wsdl:input message="tns:getAllPhysicalTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllPhysicalTerminationPointsResponse"/>
      <wsdl:fault name="getAllPhysicalTerminationPointsException" message="tns:getAllPhysicalTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointsWithoutFtps">
      <wsdl:input message="tns:getAllPhysicalTerminationPointsWithoutFtpsRequest"/>
      <wsdl:output message="tns:getAllPhysicalTerminationPointsWithoutFtpsResponse"/>
      <wsdl:fault name="getAllPhysicalTerminationPointsWithoutFtpsException" message="tns:getAllPhysicalTerminationPointsWithoutFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPhysicalTerminationPoints">
      <wsdl:input message="tns:getAllSupportedPhysicalTerminationPointsRequest"/>
      <wsdl:output message="tns:getAllSupportedPhysicalTerminationPointsResponse"/>
      <wsdl:fault name="getAllSupportedPhysicalTerminationPointsException" message="tns:getAllSupportedPhysicalTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTerminationPointPools">
      <wsdl:input message="tns:getAllTerminationPointPoolsRequest"/>
      <wsdl:output message="tns:getAllTerminationPointPoolsResponse"/>
      <wsdl:fault name="getAllTerminationPointPoolsException" message="tns:getAllTerminationPointPoolsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPoint">
      <wsdl:input message="tns:getAssociatedTerminationPointRequest"/>
      <wsdl:output message="tns:getAssociatedTerminationPointResponse"/>
      <wsdl:fault name="getAssociatedTerminationPointException" message="tns:getAssociatedTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPointsWrtTmd">
      <wsdl:input message="tns:getAssociatedTerminationPointsWrtTmdRequest"/>
      <wsdl:output message="tns:getAssociatedTerminationPointsWrtTmdResponse"/>
      <wsdl:fault name="getAssociatedTerminationPointsWrtTmdException" message="tns:getAssociatedTerminationPointsWrtTmdException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentConnectionTerminationPoints">
      <wsdl:input message="tns:getContainedCurrentConnectionTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainedCurrentConnectionTerminationPointsResponse"/>
      <wsdl:fault name="getContainedCurrentConnectionTerminationPointsException" message="tns:getContainedCurrentConnectionTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseConnectionTerminationPoints">
      <wsdl:input message="tns:getContainedInUseConnectionTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainedInUseConnectionTerminationPointsResponse"/>
      <wsdl:fault name="getContainedInUseConnectionTerminationPointsException" message="tns:getContainedInUseConnectionTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialConnectionTerminationPoints">
      <wsdl:input message="tns:getContainedPotentialConnectionTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainedPotentialConnectionTerminationPointsResponse"/>
      <wsdl:fault name="getContainedPotentialConnectionTerminationPointsException" message="tns:getContainedPotentialConnectionTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingGroupTerminationPoint">
      <wsdl:input message="tns:getContainingGroupTerminationPointRequest"/>
      <wsdl:output message="tns:getContainingGroupTerminationPointResponse"/>
      <wsdl:fault name="getContainingGroupTerminationPointException" message="tns:getContainingGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingTerminationPoints">
      <wsdl:input message="tns:getContainingTerminationPointsRequest"/>
      <wsdl:output message="tns:getContainingTerminationPointsResponse"/>
      <wsdl:fault name="getContainingTerminationPointsException" message="tns:getContainingTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPoint">
      <wsdl:input message="tns:getGroupTerminationPointRequest"/>
      <wsdl:output message="tns:getGroupTerminationPointResponse"/>
      <wsdl:fault name="getGroupTerminationPointException" message="tns:getGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPoint">
      <wsdl:input message="tns:getTerminationPointRequest"/>
      <wsdl:output message="tns:getTerminationPointResponse"/>
      <wsdl:fault name="getTerminationPointException" message="tns:getTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointGroupingRelationships">
      <wsdl:input message="tns:getTerminationPointGroupingRelationshipsRequest"/>
      <wsdl:output message="tns:getTerminationPointGroupingRelationshipsResponse"/>
      <wsdl:fault name="getTerminationPointGroupingRelationshipsException" message="tns:getTerminationPointGroupingRelationshipsException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPool">
      <wsdl:input message="tns:getTerminationPointPoolRequest"/>
      <wsdl:output message="tns:getTerminationPointPoolResponse"/>
      <wsdl:fault name="getTerminationPointPoolException" message="tns:getTerminationPointPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="getTrafficConditioningProfileAssociatedTps">
      <wsdl:input message="tns:getTrafficConditioningProfileAssociatedTpsRequest"/>
      <wsdl:output message="tns:getTrafficConditioningProfileAssociatedTpsResponse"/>
      <wsdl:fault name="getTrafficConditioningProfileAssociatedTpsException" message="tns:getTrafficConditioningProfileAssociatedTpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointsIterator">
      <wsdl:input message="tns:getTerminationPointsIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointsIteratorResponse"/>
      <wsdl:fault name="getTerminationPointsIteratorException" message="tns:getTerminationPointsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPointsIterator">
      <wsdl:input message="tns:getGroupTerminationPointsIteratorRequest"/>
      <wsdl:output message="tns:getGroupTerminationPointsIteratorResponse"/>
      <wsdl:fault name="getGroupTerminationPointsIteratorException" message="tns:getGroupTerminationPointsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPoolsIterator">
      <wsdl:input message="tns:getTerminationPointPoolsIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointPoolsIteratorResponse"/>
      <wsdl:fault name="getTerminationPointPoolsIteratorException" message="tns:getTerminationPointPoolsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TerminationPointRetrievalSoapHttpBinding" type="tns:TerminationPointRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the TerminationPointRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllAssignableConnectionlessPortTerminationPoints">
      <soap:operation soapAction="getAllAssignableConnectionlessPortTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssignableConnectionlessPortTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssignableConnectionlessPortTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssignableConnectionlessPortTerminationPointsException">
        <soap:fault name="getAllAssignableConnectionlessPortTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedConnectionlessPortTerminationPoints">
      <soap:operation soapAction="getAllAssignedConnectionlessPortTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssignedConnectionlessPortTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssignedConnectionlessPortTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssignedConnectionlessPortTerminationPointsException">
        <soap:fault name="getAllAssignedConnectionlessPortTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllConnectionlessPortTerminationPoints">
      <soap:operation soapAction="getAllConnectionlessPortTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllConnectionlessPortTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllConnectionlessPortTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllConnectionlessPortTerminationPointsException">
        <soap:fault name="getAllConnectionlessPortTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <soap:operation soapAction="getAllEdgePoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEdgePointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEdgePointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEdgePointsException">
        <soap:fault name="getAllEdgePointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFloatingTerminationPoints">
      <soap:operation soapAction="getAllFloatingTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFloatingTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFloatingTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFloatingTerminationPointsException">
        <soap:fault name="getAllFloatingTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGroupTerminationPoints">
      <soap:operation soapAction="getAllGroupTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllGroupTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllGroupTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllGroupTerminationPointsException">
        <soap:fault name="getAllGroupTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPoints">
      <soap:operation soapAction="getAllPhysicalTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPhysicalTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPhysicalTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPhysicalTerminationPointsException">
        <soap:fault name="getAllPhysicalTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPhysicalTerminationPointsWithoutFtps">
      <soap:operation soapAction="getAllPhysicalTerminationPointsWithoutFtps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPhysicalTerminationPointsWithoutFtpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPhysicalTerminationPointsWithoutFtpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPhysicalTerminationPointsWithoutFtpsException">
        <soap:fault name="getAllPhysicalTerminationPointsWithoutFtpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPhysicalTerminationPoints">
      <soap:operation soapAction="getAllSupportedPhysicalTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportedPhysicalTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportedPhysicalTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedPhysicalTerminationPointsException">
        <soap:fault name="getAllSupportedPhysicalTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTerminationPointPools">
      <soap:operation soapAction="getAllTerminationPointPools" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTerminationPointPoolsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTerminationPointPoolsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTerminationPointPoolsException">
        <soap:fault name="getAllTerminationPointPoolsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPoint">
      <soap:operation soapAction="getAssociatedTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssociatedTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssociatedTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatedTerminationPointException">
        <soap:fault name="getAssociatedTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTerminationPointsWrtTmd">
      <soap:operation soapAction="getAssociatedTerminationPointsWrtTmd" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssociatedTerminationPointsWrtTmdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssociatedTerminationPointsWrtTmdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatedTerminationPointsWrtTmdException">
        <soap:fault name="getAssociatedTerminationPointsWrtTmdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentConnectionTerminationPoints">
      <soap:operation soapAction="getContainedCurrentConnectionTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedCurrentConnectionTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedCurrentConnectionTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedCurrentConnectionTerminationPointsException">
        <soap:fault name="getContainedCurrentConnectionTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseConnectionTerminationPoints">
      <soap:operation soapAction="getContainedInUseConnectionTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedInUseConnectionTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedInUseConnectionTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedInUseConnectionTerminationPointsException">
        <soap:fault name="getContainedInUseConnectionTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialConnectionTerminationPoints">
      <soap:operation soapAction="getContainedPotentialConnectionTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainedPotentialConnectionTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainedPotentialConnectionTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainedPotentialConnectionTerminationPointsException">
        <soap:fault name="getContainedPotentialConnectionTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingGroupTerminationPoint">
      <soap:operation soapAction="getContainingGroupTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingGroupTerminationPointException">
        <soap:fault name="getContainingGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingTerminationPoints">
      <soap:operation soapAction="getContainingTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingTerminationPointsException">
        <soap:fault name="getContainingTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPoint">
      <soap:operation soapAction="getGroupTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getGroupTerminationPointException">
        <soap:fault name="getGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPoint">
      <soap:operation soapAction="getTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointException">
        <soap:fault name="getTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointGroupingRelationships">
      <soap:operation soapAction="getTerminationPointGroupingRelationships" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointGroupingRelationshipsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointGroupingRelationshipsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointGroupingRelationshipsException">
        <soap:fault name="getTerminationPointGroupingRelationshipsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPool">
      <soap:operation soapAction="getTerminationPointPool" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointPoolException">
        <soap:fault name="getTerminationPointPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTrafficConditioningProfileAssociatedTps">
      <soap:operation soapAction="getTrafficConditioningProfileAssociatedTps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTrafficConditioningProfileAssociatedTpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTrafficConditioningProfileAssociatedTpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTrafficConditioningProfileAssociatedTpsException">
        <soap:fault name="getTrafficConditioningProfileAssociatedTpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointsIterator">
      <soap:operation soapAction="getTerminationPointsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointsIteratorException">
        <soap:fault name="getTerminationPointsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupTerminationPointsIterator">
      <soap:operation soapAction="getGroupTerminationPointsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getGroupTerminationPointsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getGroupTerminationPointsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getGroupTerminationPointsIteratorException">
        <soap:fault name="getGroupTerminationPointsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointPoolsIterator">
      <soap:operation soapAction="getTerminationPointPoolsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTerminationPointPoolsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTerminationPointPoolsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTerminationPointPoolsIteratorException">
        <soap:fault name="getTerminationPointPoolsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminationPointRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the TerminationPointRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TerminationPointRetrievalSoapHttp" binding="tns:TerminationPointRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TerminationPointRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
