Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/ThresholdCrossingAlertControl/ThresholdCrossingAlertControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ThresholdCrossingAlertControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tcac="http://www.tmforum.org/mtop/rpm/xsd/tcac/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: ThresholdCrossingAlertControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ThresholdCrossingAlertControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/tcac/v1" schemaLocation="../../xsd/ThresholdCrossingAlertControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTcaParameterProfileRequest">
    <wsdl:documentation>
      <p>The createTcaParameterProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:createTcaParameterProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="createTcaParameterProfileResponse">
    <wsdl:documentation>
      <p>The createTcaParameterProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:createTcaParameterProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="createTcaParameterProfileException">
    <wsdl:documentation>
      <p>The createTcaParameterProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:createTcaParameterProfileException"/>
  </wsdl:message>
  <wsdl:message name="deleteTcaParameterProfileRequest">
    <wsdl:documentation>
      <p>The deleteTcaParameterProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:deleteTcaParameterProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTcaParameterProfileResponse">
    <wsdl:documentation>
      <p>The deleteTcaParameterProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:deleteTcaParameterProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTcaParameterProfileException">
    <wsdl:documentation>
      <p>The deleteTcaParameterProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:deleteTcaParameterProfileException"/>
  </wsdl:message>
  <wsdl:message name="disableTcaRequest">
    <wsdl:documentation>
      <p>The disableTca request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:disableTcaRequest"/>
  </wsdl:message>
  <wsdl:message name="disableTcaResponse">
    <wsdl:documentation>
      <p>The disableTca response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:disableTcaResponse"/>
  </wsdl:message>
  <wsdl:message name="disableTcaException">
    <wsdl:documentation>
      <p>The disableTca exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:disableTcaException"/>
  </wsdl:message>
  <wsdl:message name="enableTcaRequest">
    <wsdl:documentation>
      <p>The enableTca request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:enableTcaRequest"/>
  </wsdl:message>
  <wsdl:message name="enableTcaResponse">
    <wsdl:documentation>
      <p>The enableTca response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:enableTcaResponse"/>
  </wsdl:message>
  <wsdl:message name="enableTcaException">
    <wsdl:documentation>
      <p>The enableTca exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:enableTcaException"/>
  </wsdl:message>
  <wsdl:message name="getAllTcaParameterProfileNamesRequest">
    <wsdl:documentation>
      <p>The getAllTcaParameterProfileNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getAllTcaParameterProfileNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTcaParameterProfileNamesResponse">
    <wsdl:documentation>
      <p>The getAllTcaParameterProfileNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getAllTcaParameterProfileNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTcaParameterProfileNamesException">
    <wsdl:documentation>
      <p>The getAllTcaParameterProfileNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:getAllTcaParameterProfileNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTcaParameterProfilesRequest">
    <wsdl:documentation>
      <p>The getAllTcaParameterProfiles request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getAllTcaParameterProfilesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTcaParameterProfilesResponse">
    <wsdl:documentation>
      <p>The getAllTcaParameterProfiles response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getAllTcaParameterProfilesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTcaParameterProfilesException">
    <wsdl:documentation>
      <p>The getAllTcaParameterProfiles exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:getAllTcaParameterProfilesException"/>
  </wsdl:message>
  <wsdl:message name="getTcaParameterProfileRequest">
    <wsdl:documentation>
      <p>The getTcaParameterProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getTcaParameterProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="getTcaParameterProfileResponse">
    <wsdl:documentation>
      <p>The getTcaParameterProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getTcaParameterProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="getTcaParameterProfileException">
    <wsdl:documentation>
      <p>The getTcaParameterProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:getTcaParameterProfileException"/>
  </wsdl:message>
  <wsdl:message name="getTcaTpParameterRequest">
    <wsdl:documentation>
      <p>The getTcaTpParameter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getTcaTpParameterRequest"/>
  </wsdl:message>
  <wsdl:message name="getTcaTpParameterResponse">
    <wsdl:documentation>
      <p>The getTcaTpParameter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:getTcaTpParameterResponse"/>
  </wsdl:message>
  <wsdl:message name="getTcaTpParameterException">
    <wsdl:documentation>
      <p>The getTcaTpParameter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:getTcaTpParameterException"/>
  </wsdl:message>
  <wsdl:message name="setTcaParameterProfileRequest">
    <wsdl:documentation>
      <p>The setTcaParameterProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:setTcaParameterProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="setTcaParameterProfileResponse">
    <wsdl:documentation>
      <p>The setTcaParameterProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:setTcaParameterProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="setTcaParameterProfileException">
    <wsdl:documentation>
      <p>The setTcaParameterProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:setTcaParameterProfileException"/>
  </wsdl:message>
  <wsdl:message name="setTcaParameterProfilePointerRequest">
    <wsdl:documentation>
      <p>The setTcaParameterProfilePointer request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:setTcaParameterProfilePointerRequest"/>
  </wsdl:message>
  <wsdl:message name="setTcaParameterProfilePointerResponse">
    <wsdl:documentation>
      <p>The setTcaParameterProfilePointer response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:setTcaParameterProfilePointerResponse"/>
  </wsdl:message>
  <wsdl:message name="setTcaParameterProfilePointerException">
    <wsdl:documentation>
      <p>The setTcaParameterProfilePointer exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:setTcaParameterProfilePointerException"/>
  </wsdl:message>
  <wsdl:message name="setTcaTpParameterRequest">
    <wsdl:documentation>
      <p>The setTcaTpParameter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:setTcaTpParameterRequest"/>
  </wsdl:message>
  <wsdl:message name="setTcaTpParameterResponse">
    <wsdl:documentation>
      <p>The setTcaTpParameter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcac:setTcaTpParameterResponse"/>
  </wsdl:message>
  <wsdl:message name="setTcaTpParameterException">
    <wsdl:documentation>
      <p>The setTcaTpParameter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcac:setTcaTpParameterException"/>
  </wsdl:message>
</wsdl:definitions>
