Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/ThresholdCrossingAlertControl/ThresholdCrossingAlertControlJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ThresholdCrossingAlertControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: ThresholdCrossingAlertControl Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP ThresholdCrossingAlertControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/tcac/v1-0" location="ThresholdCrossingAlertControlPortType.wsdl"/>
  <wsdl:binding name="ThresholdCrossingAlertControlSoapJmsBinding" type="tns:ThresholdCrossingAlertControl">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the ThresholdCrossingAlertControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="createTcaParameterProfile">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createTcaParameterProfileRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createTcaParameterProfileResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createTcaParameterProfileException">
        <soap:fault name="createTcaParameterProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteTcaParameterProfile">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteTcaParameterProfileRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteTcaParameterProfileResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteTcaParameterProfileException">
        <soap:fault name="deleteTcaParameterProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disableThresholdCrossingAlert">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:disableThresholdCrossingAlertRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:disableThresholdCrossingAlertResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="disableThresholdCrossingAlertException">
        <soap:fault name="disableThresholdCrossingAlertException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enableThresholdCrossingAlert">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:enableThresholdCrossingAlertRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:enableThresholdCrossingAlertResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="enableThresholdCrossingAlertException">
        <soap:fault name="enableThresholdCrossingAlertException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTcaParameterProfileNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTcaParameterProfileNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTcaParameterProfileNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTcaParameterProfileNamesException">
        <soap:fault name="getAllTcaParameterProfileNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTcaParameterProfiles">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTcaParameterProfilesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTcaParameterProfilesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTcaParameterProfilesException">
        <soap:fault name="getAllTcaParameterProfilesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcaParameterProfile">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTcaParameterProfileRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTcaParameterProfileResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcaParameterProfileException">
        <soap:fault name="getTcaParameterProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcaTpParameter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTcaTpParameterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTcaTpParameterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcaTpParameterException">
        <soap:fault name="getTcaTpParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTcaParameterProfile">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:setTcaParameterProfileRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setTcaParameterProfileResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setTcaParameterProfileException">
        <soap:fault name="setTcaParameterProfileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTcaParameterProfilePointer">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:setTcaParameterProfilePointerRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setTcaParameterProfilePointerResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setTcaParameterProfilePointerException">
        <soap:fault name="setTcaParameterProfilePointerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTcaTpParameter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:setTcaTpParameterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setTcaTpParameterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setTcaTpParameterException">
        <soap:fault name="setTcaTpParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcaParameterProfileNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTcaParameterProfileNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTcaParameterProfileNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcaParameterProfileNamesIteratorException">
        <soap:fault name="getTcaParameterProfileNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTcaParameterProfilesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTcaParameterProfilesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTcaParameterProfilesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTcaParameterProfilesIteratorException">
        <soap:fault name="getTcaParameterProfilesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThresholdCrossingAlertControlJms">
    <wsdl:documentation>
      <p>Example of the ThresholdCrossingAlertControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ThresholdCrossingAlertControlSoapJms" binding="tns:ThresholdCrossingAlertControlSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/ThresholdCrossingAlertControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
