Product/trunk/DDPs/Framework/IIS/wsdl/Mart_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:mrt="http://www.tmforum.org/mtop/fmw/xsd/martmsg/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/wsdl/mart/v1-0" targetNamespace="http://www.tmforum.org/mtop/fmw/wsdl/mart/v1-0" name="mTOP-MARTV1-0">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/martmsg/v1" schemaLocation="../../xsd/Mart.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="martRequest">
		<wsdl:documentation>
			<p>The mart request message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="mrt:martRequest"/>
	</wsdl:message>
	<wsdl:message name="martResponse">
		<wsdl:documentation>
			<p>The Mart response message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="mrt:martResponse"/>
	</wsdl:message>
	<wsdl:message name="martException">
		<wsdl:documentation>
			<p>The mart exception message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopBody" element="mrt:martException"/>
	</wsdl:message>
	<wsdl:message name="martGetProgressRequest">
		<wsdl:documentation>
			<p>The MART getProgress request message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="mrt:martGetProgressRequest"/>
	</wsdl:message>
	<wsdl:message name="martGetProgressResponse">
		<wsdl:documentation>
			<p>The MART getProgress response message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="mrt:martGetProgressResponse"/>
	</wsdl:message>
	<wsdl:message name="martTerminationRequest">
		<wsdl:documentation>
			<p>The MART termination request message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="mrt:martTerminationRequest"/>
	</wsdl:message>
	<wsdl:message name="martTerminationResponse">
		<wsdl:documentation>
			<p>The MART termination response message.</p>
		</wsdl:documentation>
		<!-- ================ -->
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="mrt:martTerminationResponse"/>
	</wsdl:message>
	<wsdl:documentation>
		<p>DDP: Framework</p>
		<p>Module: MART Interface WSDL Messages Module</p>
		<p>Description: This module contains all the mTOP MART Interface WSDL message definitions.</p>
		<p>Version: 1.0 draft</p>
	</wsdl:documentation>
</wsdl:definitions>
