Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/ConnectionRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-ConnectionRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the ConnectionRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/ConnectionRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCrossConnections">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllCrossConnections"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnections">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedCrossConnections"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCCs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getPotentialFixedCCs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getPotentialFixedCCs"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCCsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getPotentialFixedCCs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getPotentialFixedCCsResponse"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCCsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getPotentialFixedCCs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getPotentialFixedCCsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionNames"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTP">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNamesWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionNamesWithTP"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTPResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNamesWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionNamesWithTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionNamesWithTPException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionNamesWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionNamesWithTPException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnections">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnections"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTP">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionsWithTP"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTPResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionsWithTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTPException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSubnetworkConnectionsWithTPException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedSubnetworkConnectionNames"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedSubnetworkConnectionNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedSubnetworkConnectionNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnections">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedSubnetworkConnections"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedSubnetworkConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFixedSubnetworkConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getRoute">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getRoute"/>
  </wsdl:message>
  <wsdl:message name="getRouteResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getRouteException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getRouteException"/>
  </wsdl:message>
  <wsdl:message name="getSNC">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSNC request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSNC"/>
  </wsdl:message>
  <wsdl:message name="getSNCResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSNC response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSNCResponse"/>
  </wsdl:message>
  <wsdl:message name="getSNCException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSNC exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSNCException"/>
  </wsdl:message>
  <wsdl:message name="getSNCsByUserLabel">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSNCsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSNCsByUserLabel"/>
  </wsdl:message>
  <wsdl:message name="getSNCsByUserLabelResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSNCsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSNCsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getSNCsByUserLabelException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSNCsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSNCsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getSncNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSncNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSncNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getSncNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSncNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSncNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getSncNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSncNamesIteratorException exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSncNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getSncIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSnc iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSncIterator"/>
  </wsdl:message>
  <wsdl:message name="getSncIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSnc iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSncIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getSncIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSnc iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSncIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getCcIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getCc iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getCcIterator"/>
  </wsdl:message>
  <wsdl:message name="getCcIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getCc iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getCcIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getCcIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getCc iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getCcIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
