Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/EquipmentRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-EquipmentInventoryRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the EquipmentInventoryRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/EquipmentRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllEquipmentNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEquipmentNames"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipment">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEquipment"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportingEquipmentNames"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportingEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportingEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipment">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportingEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportingEquipment"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportingEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportingEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportingEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportingEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipment">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedEquipment"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getEquipment">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipment"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportedEquipmentNames"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportedEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportedEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipment">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportedEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportedEquipment"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportedEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportedEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportedEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportedEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportingEquipmentNames"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportingEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportingEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipment">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The  request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportingEquipment"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportingEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportingEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSupportingEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSupportingEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipmentNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipmentNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipmentNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipment iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentIterator"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipment iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getEquipment iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getEquipmentIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
