Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/MdRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-ManagementDomainRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the ManagementDomainRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/MdRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllMDNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMDNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMDNames"/>
  </wsdl:message>
  <wsdl:message name="getAllMDNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMDNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMDNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMDNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMDNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMDNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllMDs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMDs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMDs"/>
  </wsdl:message>
  <wsdl:message name="getAllMDsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMDs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMDsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMDsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMDs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMDsException"/>
  </wsdl:message>
  <wsdl:message name="getMD">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMD request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMD"/>
  </wsdl:message>
  <wsdl:message name="getMDResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMD response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMDResponse"/>
  </wsdl:message>
  <wsdl:message name="getMDException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMD exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMDException"/>
  </wsdl:message>
  <wsdl:message name="getMdNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMdNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMdNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getMdNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMdNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMdNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMdNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMdNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getMdIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMd iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMdIterator"/>
  </wsdl:message>
  <wsdl:message name="getMdIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMd iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMdIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMdIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMd iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMdIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
