Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/MeRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-ManagedElementRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the ManagedElementRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/MeRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagedElementNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNames"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElements">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElements"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMLSN">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMLSN request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNamesWrtMLSN"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMLSNResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMLSN response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNamesWrtMLSNResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMLSNException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMLSN exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNamesWrtMLSNException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMLSN">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMLSN request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsWrtMLSN"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMLSNResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMLSN response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsWrtMLSNResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMLSNException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMLSN exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsWrtMLSNException"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilter">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMENamesPassingFilter"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilterResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMENamesPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilterException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMENamesPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsPassingFilter">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMEsPassingFilter"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsPassingFilterResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMEsPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsPassingFilterException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMEsPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesWrtOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesWrtOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMENamesWrtOS"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesWrtOSResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesWrtOS response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMENamesWrtOSResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesWrtOSException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMENamesWrtOS exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMENamesWrtOSException"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsWrtOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsWrtOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMEsWrtOS"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsWrtOSResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsWrtOS response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMEsWrtOSResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMEsWrtOSException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMEsWrtOS exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllMEsWrtOSException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElement">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getManagedElement"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getManagedElementResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getManagedElementException"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMeNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMeNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNamesIteratorException exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMeNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getMeIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMeIterator"/>
  </wsdl:message>
  <wsdl:message name="getMeIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMeIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMeIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
