Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/MeRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions  name="mTOP-ManagedElementRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the ManagedElementRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.dm-basic.v1" schemaLocation="../../../../../../DM/Basic/v1-0/SS/xsd/MessageDefinitions.xsd"/>
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/CommonRetrieval.xsd"/>
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/MeRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagedElementNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementNames"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllObjectNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllObjectNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllObjectNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllObjectNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElements">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElements"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements fault message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllManagedElementsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getManagedElementIterator"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements iterator fault message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getManagedElementIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
