Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/MlsnRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-MultiLayerSubnetworkRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the MultiLayerSubnetworkRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/MlsnRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The  request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:"/>
  </wsdl:message>
  <wsdl:message name="Response">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The  response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:Response"/>
  </wsdl:message>
  <wsdl:message name="Exception">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The  exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:Exception"/>
  </wsdl:message>
  <wsdl:message name="getMlsnNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMlsnNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMlsnNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getMlsnNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMlsnNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMlsnNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMlsnNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMlsnNamesIteratorException exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMlsnNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getMlsnIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMlsn iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMlsnIterator"/>
  </wsdl:message>
  <wsdl:message name="getMlsnIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMlsn iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMlsnIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMlsnIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMlsn iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getMlsnIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
