Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/OsRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-OperationsSystemRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the OperationsSystemRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/OsRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllOSNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllOSNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllOSNames"/>
  </wsdl:message>
  <wsdl:message name="getAllOSNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllOSNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllOSNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOSNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllOSNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllOSNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllOSs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllOSs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllOSs"/>
  </wsdl:message>
  <wsdl:message name="getAllOSsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllOSs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllOSsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOSsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllOSs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllOSsException"/>
  </wsdl:message>
  <wsdl:message name="getOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOS"/>
  </wsdl:message>
  <wsdl:message name="getOSResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOS response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOSResponse"/>
  </wsdl:message>
  <wsdl:message name="getOSException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOS exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOSException"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSubordinateOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSubordinateOS"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOSResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSubordinateOS response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSubordinateOSResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOSException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getSubordinateOS exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getSubordinateOSException"/>
  </wsdl:message>
  <wsdl:message name="getOsNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOsNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOsNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getOsNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOsNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOsNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getOsNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOsNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOsNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getOsIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOs iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOsIterator"/>
  </wsdl:message>
  <wsdl:message name="getOsIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOs iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getOsIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getOs iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getOsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
