Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/wsdl/messages/TpRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions  name="mTOP-TerminationPointtRetrieval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mtop.mri="tmforum.mtop.om-mri.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" xmlns:tns="tmforum.mtop.om-mri.v1.ws" targetNamespace="tmforum.mtop.om-mri.v1.ws">
  <wsdl:types>
    <wsdl:documentation>
      <p>All WSDL definitions of the TerminationPointRetrieval mTOP Service Interface messages</p>
    </wsdl:documentation>
    <xsd:schema targetNamespace="tmforum.mtop.om-mri.v1.ws">
      <xsd:import namespace="tmforum.mtop.om-mri.v1" schemaLocation="../../xsd/TpRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllFTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFTPNames"/>
  </wsdl:message>
  <wsdl:message name="getAllFTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllFTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFTPs"/>
  </wsdl:message>
  <wsdl:message name="getAllFTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllFTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllFTPsException"/>
  </wsdl:message>
  <wsdl:message name="getAllGTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllGTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllGTPNames"/>
  </wsdl:message>
  <wsdl:message name="getAllGTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllGTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllGTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllGTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllGTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllGTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllGTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllGTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllGTPs"/>
  </wsdl:message>
  <wsdl:message name="getAllGTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllGTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllGTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllGTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllGTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllGTPsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPNames"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPs"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPNamesWithoutFTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPNamesWithoutFTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPNamesWithoutFTPs"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPNamesWithoutFTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPNamesWithoutFTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPNamesWithoutFTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPNamesWithoutFTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPNamesWithoutFTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPNamesWithoutFTPsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPsWithoutFTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPsWithoutFTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPsWithoutFTPs"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPsWithoutFTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPsWithoutFTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPsWithoutFTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPTPsWithoutFTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllPTPsWithoutFTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllPTPsWithoutFTPsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportedPTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportedPTPNames"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportedPTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportedPTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportedPTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportedPTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportedPTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportedPTPs"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportedPTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportedPTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllSupportedPTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllSupportedPTPsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedCurrentCTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedCurrentCTPNames"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedCurrentCTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedCurrentCTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedCurrentCTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedCurrentCTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedCurrentCTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedCurrentCTPs"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedCurrentCTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedCurrentCTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedCurrentCTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedCurrentCTPsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedInUseCTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedInUseCTPNames"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedInUseCTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedInUseCTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedInUseCTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedInUseCTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedInUseCTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedInUseCTPs"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedInUseCTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedInUseCTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedInUseCTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedInUseCTPsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedPotentialCTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedPotentialCTPNames"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedPotentialCTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedPotentialCTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedPotentialCTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedPotentialCTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedPotentialCTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedPotentialCTPs"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedPotentialCTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedPotentialCTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainedPotentialCTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainedPotentialCTPsException"/>
  </wsdl:message>
  <wsdl:message name="getContainingGTP">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingGTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingGTP"/>
  </wsdl:message>
  <wsdl:message name="getContainingGTPResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingGTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingGTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingGTPException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingGTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingGTPException"/>
  </wsdl:message>
  <wsdl:message name="getContainingTPNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingTPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingTPNames"/>
  </wsdl:message>
  <wsdl:message name="getContainingTPNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingTPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingTPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingTPNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingTPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingTPNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainingTPs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingTPs"/>
  </wsdl:message>
  <wsdl:message name="getContainingTPsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingTPsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getContainingTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getContainingTPsException"/>
  </wsdl:message>
  <wsdl:message name="getGTP">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getGTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getGTP"/>
  </wsdl:message>
  <wsdl:message name="getGTPResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getGTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getGTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getGTPException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getGTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getGTPException"/>
  </wsdl:message>
  <wsdl:message name="getTP">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTP"/>
  </wsdl:message>
  <wsdl:message name="getTPResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getTPException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPException"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEdgePointNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEdgePointNames"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEdgePointNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEdgePointNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEdgePointNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEdgePointNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePoints">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEdgePoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEdgePoints"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEdgePoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEdgePointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllEdgePoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllEdgePointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTPPoolNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllTPPoolNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllTPPoolNames"/>
  </wsdl:message>
  <wsdl:message name="getAllTPPoolNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllTPPoolNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllTPPoolNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTPPoolNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllTPPoolNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllTPPoolNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTPPools">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllTPPools request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllTPPools"/>
  </wsdl:message>
  <wsdl:message name="getAllTPPoolsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllTPPools response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllTPPoolsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTPPoolsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllTPPools exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAllTPPoolsException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTP">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAssociatedTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAssociatedTP"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTPResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAssociatedTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAssociatedTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTPException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAssociatedTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getAssociatedTPException"/>
  </wsdl:message>
  <wsdl:message name="getTPGroupingRelationships">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTPGroupingRelationships request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPGroupingRelationships"/>
  </wsdl:message>
  <wsdl:message name="getTPGroupingRelationshipsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTPGroupingRelationships response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPGroupingRelationshipsResponse"/>
  </wsdl:message>
  <wsdl:message name="getTPGroupingRelationshipsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTPGroupingRelationships exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPGroupingRelationshipsException"/>
  </wsdl:message>
  <wsdl:message name="getTPPool">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTPPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPPool"/>
  </wsdl:message>
  <wsdl:message name="getTPPoolResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTPPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="getTPPoolException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTPPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTPPoolException"/>
  </wsdl:message>
  <wsdl:message name="getTpNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getTpNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTpIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTp iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpIterator"/>
  </wsdl:message>
  <wsdl:message name="getTpIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTp iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTp iterator fault message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getGtpIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getGtp iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getGtpIterator"/>
  </wsdl:message>
  <wsdl:message name="getGtpIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getGtp iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getGtpIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getGtpIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getGtp iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getGtpIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpPool iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpPoolIterator"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpPool iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiHeader" element="mtop.basic:header"/>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpPoolIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getTpPool iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtosiBody" element="mtop.mri:getTpPoolIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
