Product/trunk/DDPs/ServiceActivation/IIS/xsd/wsdl/ServiceComponentActivationInterface/ServiceComponentActivationInterfaceMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ServiceActivation - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:scai="http://www.tmforum.org/mtop/sa/xsd/scai/v1" xmlns:tns="http://www.tmforum.org/mtop/sa/wsdl/scai/v1-0" name="mTOP-ServiceComponentActivationInterfaceV1-0" targetNamespace="http://www.tmforum.org/mtop/sa/wsdl/scai/v1-0">
	<wsdl:documentation><p>DDP: ServiceActivation</p><p>Module: ServiceComponentActivationInterface Service Interface WSDL Message Module</p><p>Description: This module contains all the mTOP ServiceComponentActivationInterface Service Interface WSDL message definitions.</p><p>Version: 1.0</p></wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/sa/xsd/scai/v1" schemaLocation="../../xsd/ServiceComponentActivationInterfaceMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="feasibilityCheckRequest">
		<wsdl:documentation><p>The feasibilityCheck request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:feasibilityCheckRequest"/>
	</wsdl:message>
	<wsdl:message name="feasibilityCheckResponse">
		<wsdl:documentation><p>The feasibilityCheck response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:feasibilityCheckResponse"/>
	</wsdl:message>
	<wsdl:message name="feasibilityCheckException">
		<wsdl:documentation><p>The feasibilityCheck exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:feasibilityCheckException"/>
	</wsdl:message>
	<wsdl:message name="reserveRequest">
		<wsdl:documentation><p>The reserve request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:reserveRequest"/>
	</wsdl:message>
	<wsdl:message name="reserveResponse">
		<wsdl:documentation><p>The reserve response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:reserveResponse"/>
	</wsdl:message>
	<wsdl:message name="reserveException">
		<wsdl:documentation><p>The reserve exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:reserveException"/>
	</wsdl:message>
	<wsdl:message name="provisionRequest">
		<wsdl:documentation><p>The provision request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:provisionRequest"/>
	</wsdl:message>
	<wsdl:message name="provisionResponse">
		<wsdl:documentation><p>The provision response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:provisionResponse"/>
	</wsdl:message>
	<wsdl:message name="provisionException">
		<wsdl:documentation><p>The provision exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:provisionException"/>
	</wsdl:message>
		<wsdl:message name="activateRequest">
		<wsdl:documentation><p>The activate request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:activateRequest"/>
	</wsdl:message>
	<wsdl:message name="activateResponse">
		<wsdl:documentation><p>The activate response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:activateResponse"/>
	</wsdl:message>
	<wsdl:message name="activateException">
		<wsdl:documentation><p>The activate exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:activateException"/>
	</wsdl:message>
	<wsdl:message name="deactivateRequest">
		<wsdl:documentation><p>The deactivate request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:deactivateRequest"/>
	</wsdl:message>
	<wsdl:message name="deactivateResponse">
		<wsdl:documentation><p>The deactivate response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:deactivateResponse"/>
	</wsdl:message>
	<wsdl:message name="deactivateException">
		<wsdl:documentation><p>The deactivate exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:deactivateException"/>
	</wsdl:message>
	<wsdl:message name="terminateRequest">
		<wsdl:documentation><p>The terminate request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:terminateRequest"/>
	</wsdl:message>
	<wsdl:message name="terminateResponse">
		<wsdl:documentation><p>The terminate response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:terminateResponse"/>
	</wsdl:message>
	<wsdl:message name="terminateException">
		<wsdl:documentation><p>The terminate exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:terminateException"/>
	</wsdl:message>
	<wsdl:message name="modifyRequest">
		<wsdl:documentation><p>The modify request message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:modifyRequest"/>
	</wsdl:message>
	<wsdl:message name="modifyResponse">
		<wsdl:documentation><p>The modify response message.</p></wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="scai:modifyResponse"/>
	</wsdl:message>
	<wsdl:message name="modifyException">
		<wsdl:documentation><p>The modify exception message.</p></wsdl:documentation>
		<wsdl:part name="mtopBody" element="scai:modifyException"/>
	</wsdl:message>
</wsdl:definitions>
