Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/ConnectionRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema targetNamespace="http://www.tmforum.org/mtop/mri/xsd/conr/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/conr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:lay="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:snc="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" xmlns:cc="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" xmlns:rt="http://www.tmforum.org/mtop/nrf/xsd/route/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP ConnectionRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Snc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Cc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Route.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/route/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllCrossConnectionsRequest" type="tns:GetCcsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllCrossConnections operation</p>
        <p>This allows an NMS to request a list of the cross-connects for the specified managed element at the specified layer rates.
        This operation returns cross-connects between CTPs/FTPs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllCrossConnectionsResponse" type="tns:MultipleCcObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllCrossConnectionsException" type="tns:ExceptionProfile2_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllCrossConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedCrossConnectionsRequest" type="tns:GetCcsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedCrossConnections operation</p>
        <p>This operation has exactly the same behaviour as getAllCrossConnections(), but instead returns only fixed Cross Connection object structures.
        See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
        <p>A cross connection is identified as fixed using additional information.
        See Additional Information Usage for detail on additional information for SNCs, cross connections and TPs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedCrossConnectionsResponse" type="tns:MultipleCcObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedCrossConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedCrossConnectionsException" type="tns:ExceptionProfile2o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedCrossConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesRequest" type="tns:GetSncsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionNames operation</p>
        <p>This operation has exactly the same behaviour as getAllFixedSubnetworkConnections(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesResponse" type="tns:MultipleSncObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesException" type="tns:ExceptionProfile1o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesWithTpRequest" type="tns:GetSncsWithTpRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionNamesWithTp operation</p>
        <p>This operation has exactly the same behaviour as getAllFixedSubnetworkConnectionsWithTp(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesWithTpResponse" type="tns:MultipleSncObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesWithTpException" type="tns:ExceptionProfile1o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionsRequest" type="tns:GetSncsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnections operation</p>
        <p>This operation has exactly the same behaviour as getAllSubnetworkConnections(), but instead returns only fixed SNCs object structures. See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionsResponse" type="tns:MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionsException" type="tns:ExceptionProfile2o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpRequest" type="tns:GetSncsWithTpRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionsWithTp operation</p>
        <p>This operation has exactly the same behaviour as getAllSubnetworkConnectionsWithTP(), but instead returns only fixed SNCs object structures. See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
        <p>An SNC is identified as fixed using additional information. See Additional Information Usage for detail on additional information for SNCs, cross connections and TPs..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpResponse" type="tns:MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpException" type="tns:ExceptionProfile2o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionNamesRequest" type="tns:GetSncsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionNames operation</p>
        <p>This operation has exactly the same behaviour as getAllSubnetworkConnectionNames but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionNamesResponse" type="tns:MultipleSncObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionNamesException" type="tns:ExceptionProfile1_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionNamesWithTpRequest" type="tns:GetSncsWithTpRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionNamesWithTp operation</p>
        <p>This operation has exactly the same behaviour as getAllSubnetworkConnectionsWithTP(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionNamesWithTpResponse" type="tns:MultipleSncObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionNamesWithTpException" type="tns:ExceptionProfile1_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionsRequest" type="tns:GetSncsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnections operation</p>
        <p>This allows an NMS to request a list of the SNCs for the specified Subnetwork at the specified connectionRates. This operation also returns bundled SNCs, if any (see Bundled SNC overview for further details).</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionsResponse" type="tns:MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionsException" type="tns:ExceptionProfile2_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnections operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionsWithTpRequest" type="tns:GetSncsWithTpRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionsWithTp operation</p>
        <p>This allows an NMS to request a list of the SNCs using the specified termination point at the specified connection rates. A SNC is using the specified TP if any of its routes, intended and/or backup, in any state, use this TP. A TP may be a PTP in which case a full list of SNCs using any of its contained CTPs is required. A TP may be:
<ul>
            <li>a CTP, in which case SNCs using that CTP or any of its contained CTPs are required. This includes SNCs in which any of the referenced CTPs participate that match the specified connection rate filter. </li>
            <li>an FTP, in which case a full list of SNCs using the FTP or any of its contained CTPs is required. This includes SNCs in which the FTP or any of the referenced CTPs participate that match the specified connection rate filter. </li>
          </ul>
        </p>
        <p>All legs of a broadcast system can be retrieved using this operation where the source TP of the broadcast system is used as input to the operation.The output will be the list of individual SNCs that make up the broadcast system.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionsWithTpResponse" type="tns:MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllSubnetworkConnectionsWithTpException" type="tns:ExceptionProfile2_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getBackupRoutesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getBackupRoutes operation</p>
        <p>The operation returns the requested route for the SNC whose name is specified as a parameter. If the input route is not specified (empty string), the operation replies all the routes of the SNC, intended and backup ones. The rest of the behavior is same as getRoute().</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sncName" type="nam:NamingAttributes_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the subnetwork connection.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="routeId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              <p>The id of the route.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="includeHigherOrderCCs" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>
              <p>Specifies whether the higher order CCs of other SNCs used to carry the queried SNC route have to be included in addition to the CCs of the queried SNC route.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="additionalInfo" type="nam:NvsList_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>to allow the communication of additional information which is not explicitly modelled.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getBackupRoutesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getBackupRoutes operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="additionalInfo" type="nam:NvsList_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>to allow the communication of additional information which is not explicitly modelled.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="routeList" type="rt:RouteList_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The route(s) of the SNC..</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getBackupRoutesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getBackupRoutes operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:ExceptionProfile1o_T">
          <xsd:choice>
            <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessage_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Raised when the provided value for includeHigherOrderCCs is "True" and OS is not able to provide higher order CCs in the reply</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getIntendedRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getIntendedRoute operation</p>
        <p>The operation returns the intended route for the SNC whose name is specified as a parameter. The behavior is essentially the same as getRoute().</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sncName" type="nam:NamingAttributes_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the subnetwork connection.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="routeId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              <p>The id of the route.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="includeHigherOrderCCs" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>
              <p>Specifies whether the higher order CCs of other SNCs used to carry the queried SNC route have to be included in addition to the CCs of the queried SNC route.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="additionalInfo" type="nam:NvsList_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>to allow the communication of additional information which is not explicitly modelled.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getIntendedRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getIntendedRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="additionalInfo" type="nam:NvsList_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>to allow the communication of additional information which is not explicitly modelled.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="route" type="rt:Route_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The route of the SNC..</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getIntendedRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getIntendedRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:ExceptionProfile1o_T">
          <xsd:choice>
            <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessage_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Raised when the OS is unable to execute the request because at least one of the parameters although valid can not be set and that parameter is identified as "not best effort" in the Additional Information Usage document. If the OS cannot determine the reason it could not comply, it is also allowed to throw this exception</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getPotentialFixedCcsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getPotentialFixedCcs operation</p>
        <p>The operation is used to retrieve fixed connection schemes related to normal and inverse multiplexing.
See Subnetwork Connection Types for an explanation of fixed SNCs.</p>
        <p>The operation takes as an input a TP and if this TP may be or is involved in a multiplexing or inverse multiplexing scheme, it will report:<ul>
            <li>The TP containing the fixed layer.</li>
            <li>the list of potential fixed cross connects that will exist if the containing TP's clientConnectivity or serverConnectivity is set to "Connected" (i.e. If the containing TP is set to multiplexing or inverse multiplexing). </li>
          </ul>
        </p>
        <p>If the clientConnectivity (resp. serverConnectivity) of the TP is currently set to "Connected", the potentialCCList matches the list of active fixed cross connects that involve its client TPs (resp. server TPs).</p>
        <p>If the TP client layer (resp. server layer) is always fixed cross connected (hard-wired), the potentialCCList always matches the list of active fixed cross connects that involve the client TPs (resp. server TPs).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="inputTP" type="nam:NamingAttributes_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>any TP name of the ME. The operation will return the multiplexing or inverse multiplexing scheme in which this TP is involved.
          The input TP may be either the containing TP or one of the end TPs of the portentialCCList.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getPotentialFixedCcsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getPotentialFixedCcs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="containingTP" type="nam:NamingAttributes_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The TP supporting the attribute clientConnectivity or serverConnectivity</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="portentialCCList" type="nam:NamingAttributes_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of fixed Cross Connect of that multiplexing scheme, i.e. the list of cross connects that will exist when the containing TP clientConnectivity or serverConnectiivty is set to "Connected". The A_end TPs of the cross connects should be the low order TPs that can be flexibly cross connected, and the Z_end TPs the TP client of the high order TP. The list of cross connect does not take any specific order. If there are no potential fixed cross connects and empty list is returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getPotentialFixedCcsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getPotentialFixedCcs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:ExceptionProfile1o_T">
          <xsd:choice>
            <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessage_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Raised when TP is neither a higher order TP that supports fixed multiplexing nor a lower order TP that supports fixed inverse multiplexing</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getRoute operation</p>
        <p>This operation returns the route for the SNC whose name is specified as a parameter. This operation also works for bundled SNCs.</p>
        <p>The route information, in the form of crossconnects, should identify the resources allocated to the SNC at the time of the request and the way in which these resources are used. For example, for a resilient SNC that is implemented in the subnetwork using subnetwork connection protection, all details of the route including normal and alternative paths should be provided. If the SNC is using some form of dynamic rerouting then it is clearly acceptable that the route include only the single thread of crossconnections that is supporting the traffic (as there may be many alternative potential paths that could be selected).</p>
        <p>The NMS specifies if it wants to retrieve only resources in the layer of the SNC (the CCs that belong to the SNC), or higher order CCs also (the CCs of other SNCs that are used to carry the traffic of the queried SNC). The ability to retrieve higher order CCs is optional.</p>
        <p>All cross-connections allocated to the SNC must be returned, even if they are not active in the managed elements. This allows the NMS to query the route that will be used before activating an SNC.</p>
        <p>If the SNC has more alternative routes, then it retrieves the intended route if the SNC is pending or partial, otherwise it retrieves the active route. This because there can be more partial routes and no active route, in such case the intended route is replied, as it is not known which of the partial routes is the candidate for becoming the active route.</p>
        <p>In the vendorExtension field of first CrossConnect_T (first XC is the one involving A1 end point of the SNC) record of the replied sequence the following parameters may be present:
<ul>
            <li>name="RouteId"; value="id" </li>
            <li>name="RouteIntended "; value="y" | "n" </li>
            <li>name="RouteActualState"; value="inactive" | "partial" | "active" </li>
            <li>name="RouteAdminState"; value="locked" | "unlocked" </li>
            <li>name="RouteInUse"; value="y" | "n" </li>
            <li>name="RouteExclusive"; value="y" | "n"</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sncName" type="nam:NamingAttributes_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the SNC.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="includeHigherOrderCCs" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>
              <p>Specifies whether the higher order CCs of other SNCs used to carry the queried SNC have to be included in addition to the CCs of the queried SNC</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="route" type="rt:Route_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The route of the SNC.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:ExceptionProfile1o_T">
          <xsd:choice>
            <xsd:element name="exceptionUnableToComply" type="msg:BaseExceptionMessage_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Raised when the provided value for includeHigherOrderCCs is "True" and OS is not able to provide higher order CCs in the reply</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSnc operation</p>
        <p>This operation will return the SubnetworkConnection structure for the SNC whose name is supplied as a parameter. This operations will provide a bundled SNC structure if the name provided is that of a bundled SNC (see Bundled SNC overview for further details).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sncName" type="nam:NamingAttributes_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the SNC.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="snc" type="snc:SubnetworkConnection_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>the SNC.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncException" type="tns:ExceptionProfile1_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncsByUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSncsByUserLabel operation</p>
        <p>This operation will return the SubnetworkConnection structures for the SNCs whose userLabel is supplied as a parameter. This operations will provide a bundled SNC structure if the name provided is that of a bundled SNC (see Bundled SNC overview for further details).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userLabel" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              <p>The userLabel of the SNCs to retrieve.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncsByUserLabelResponse" type="tns:MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSncsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncsByUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSncsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessage_T"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================= -->
  <!-- Definitions of Iterator messages for Object and Object Name retrievals  -->
  <!-- ================= -->
  <xsd:element name="getCcIteratorRequest" type="msg:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getCcIterator operation</p>
        <p>This is the iterator request to return the next batch of CC from the OS to which a CC retrieval request was initially sent.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getCcIteratorResponse" type="tns:MultipleCcObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getCcIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getCcIteratorException" type="tns:ExceptionProfile1_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getCcIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================= -->
  <xsd:element name="getSncIteratorRequest" type="msg:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getCcIterator operation</p>
        <p>This is the iterator request to return the next batch of CC from the OS to which a CC retrieval request was initially sent.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncIteratorResponse" type="tns:MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSncIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getSncIteratorException" type="tns:ExceptionProfile1_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSncIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================= -->
  <!-- Local Data Type Definitions of various messages  -->
  <!-- ================== -->
  <xsd:complexType name="GetCcsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure for a set of CC object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meName" type="nam:NamingAttributes_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the Managed Element for which to retrieve CCs.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionRateList" type="lay:LayerRateList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of rates for which to retrieve CCs. This must not be an empty list. In this case an INVALID_INPUT exception is thrown.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetSncsRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure for a set of SNC object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="subnetName" type="nam:NamingAttributes_T">
        <xsd:annotation>
          <xsd:documentation>
            Name of the subnetwork
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionRateList" type="lay:LayerRateList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of rates of the SNC names to be reported. If an empty list is specified, then all SNC names of all rates are to be reported.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetSncsWithTpRequest_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure for a set of SNC object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpName" type="nam:NamingAttributes_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>Termination point for which to report SNCs. The termination point name must be explicit (a generic endpoint specification may not be used in this case). See Object Naming for further detail on FTP naming</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionRateList" type="lay:LayerRateList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of rates of the SNC names to be reported. If an empty list is specified, then all SNC names of all rates are to be reported.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleSncObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of SNC object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of SNC names</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleCcObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of CC objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ccList" type="cc:CrossConnectList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CCs</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleSncObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of SNC objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sncList" type="snc:SubnetworkConnectionList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CCs</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="ExceptionProfile1_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure operation profile#1</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case of non-specific OS internal failure</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessage_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case one of the request parameters is not a valid object reference</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionEntityNotFound" type="msg:BaseExceptionMessage_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case one of the request parameters does not a refer to an existing object</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessage_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised when communication to an entity (needed to help fulfill the request) is lost</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="ExceptionProfile1o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure operation profile#1 (OPTIONAL)</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ExceptionProfile1_T">
        <xsd:choice>
          <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessage_T">
            <xsd:annotation>
              <xsd:documentation>
                <p>Raised when this optional operation is not implemented</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="ExceptionProfile2_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure operation profile#2</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ExceptionProfile1_T">
        <xsd:choice>
          <xsd:element name="exceptionTooManyOpenIterators" type="msg:BaseExceptionMessage_T">
            <xsd:annotation>
              <xsd:documentation>
                <p>Raised when maximum number of iterators that the OS can support has been reached</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="ExceptionProfile2o_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure operation profile#2 (OPTIONAL)</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ExceptionProfile2_T">
        <xsd:choice>
          <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessage_T">
            <xsd:annotation>
              <xsd:documentation>
                <p>Raised when this optional operation is not implemented</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
