Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/FlowDomainRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:fd="http://www.tmforum.org/mtop/nrf/xsd/fd/v1" xmlns:fdfr="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" xmlns:mfd="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1" xmlns:mfdfr="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1" xmlns:fdfrr="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" xmlns:lp="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:lay="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP FlowDomainRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/FdfrRoute.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Cc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpData.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllAssociatedMatrixFlowDomainsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssociatedMatrixFlowDomains operation</p>
        <p>This operation allows an OS to request a list of matrix flow domains that are contained by a specified managed element or associated with a specified equipment, transmission descriptor or flow domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="holderName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the managed element, equipment, transmission descriptor or flow domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssociatedMatrixFlowDomainsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssociatedMatrixFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdList" type="mfd:MatrixFlowDomainListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved MatrixFlowDomains with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssociatedMatrixFlowDomainsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssociatedMatrixFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFlowDomainFragmentsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFlowDomainFragments operation</p>
        <p>This operation an OS to request a list of flow domain fragments for the specified flow domain at the specified connectivityRates.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the flow domain</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="connectivityRateList" type="lay:LayerRateListType">
          <xsd:annotation>
            <xsd:documentation>
              <p>List of rates of the flow domain fragments to be reported. If an empty list is specified, then all flow domain fragments of all rates are to be reported</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFlowDomainFragmentsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFlowDomainFragments operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrList" type="fdfr:FlowDomainFragmentListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved FdFrList with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFlowDomainFragmentsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFlowDomainFragments operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFlowDomainsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFlowDomains operation</p>
        <p>This operation allows an OS to request a list of the flow domains that exist under the given MD..</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the Management Domain whose contained FDs are being requested</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFlowDomainsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdList" type="fd:FdListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>List of flowDomains.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFlowDomainsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedMatrixFlowDomainsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedMatrixFlowDomains operation</p>
        <p>This operation allows an OS to request a list of matrix flow domains that are contained by a specified managed element or supported with a specified equipment.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="holderName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the managed element, equipment, transmission descriptor or flow domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedMatrixFlowDomainsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedMatrixFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdList" type="mfd:MatrixFlowDomainListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved MatrixFlowDomains with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedMatrixFlowDomainsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedMatrixFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssigningMatrixFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssigningMatrixFlowDomain operation</p>
        <p>This operation returns the matrix flow domain to which is assigned a given "CPTP" termination point.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cptpName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the CPTP termination point to which the MatrixFlowDomain is assigned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssigningMatrixFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssigningMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfd" type="mfd:MatrixFlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Matrix flow domain structure returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssigningMatrixFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssigningMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatingFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatingFlowDomain operation</p>
        <p>This operation returns the flow domain structure for the (single) flow domain that the Matrix Flow Domain that is supplied as a parameter is associated to.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the MatrixFlowDomain</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatingFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatingFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fd" type="fd:FlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The flow domain that the Matrix Flow Domain is associated to.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatingFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatingFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainFragmentRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainFragment operation</p>
        <p>This operation returns the flow domain fragment structure for the flow domain fragment whose name is supplied as a parameter.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the FdFr to retrieve.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfr" type="fdfr:FlowDomainFragmentType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved FdFr with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainFragmentRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainFragmentRoute operation</p>
        <p>This operation returns the route for the FdFr whose name is specified as a parameter. It is only used for systems where the route is provisioned by the OS (e.g., it is not useful for Ethernet networks using GVRP)..</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the FdFr.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainFragmentRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="route" type="fdfrr:FlowDomainFragmentRouteType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The route of the FdFr.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainFragmentRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainFragmentsByUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainFragmentsByUserLabel operation</p>
        <p>This operation returns the flow domain fragment structures for the flow domain fragments whose userLabel is supplied as a parameter.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userLabel" type="gen:UserLabelType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The user label of the flow domain fragments to retrieve.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsByUserLabelResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainFragmentsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrList" type="fdfr:FlowDomainFragmentListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved FdFrList with the userLabel as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsByUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainFragmentsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainFragmentsWithTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainFragmentsWithTp operation</p>
        <p>This operation allows the OS to request from the EMS the flow domain fragments that are connected to a specified flow point or CPTP. In case of a flow point as input parameter not more then one flow domain fragment will be returned.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow point or CPTP for which the connected flow domain fragments shall be returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsWithTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainFragmentsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrList" type="fdfr:FlowDomainFragmentListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved FdFrList with the termination point name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsWithTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainFragmentsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomain operation</p>
        <p>This operation allows an OS to request a flow domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the FlowDomain</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fd" type="fd:FlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Flow Domain Structure returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainsByUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainsByUserLabel operation</p>
        <p>This operation allows an NMS to request a list of the flow domains for a specified userLabel.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userLabel" type="gen:UserLabelType">
          <xsd:annotation>
            <xsd:documentation>
              <p>UserLabel of the FlowDomain</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainsByUserLabelResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdList" type="fd:FdListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>List of flowDomains.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainsByUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getMatrixFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getMatrixFlowDomain operation</p>
        <p>This operation returns a matrix flow domain given a matrix flow domain name.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the matrix flow domain to retrieve.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMatrixFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfd" type="mfd:MatrixFlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Matrix flow domain structure returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMatrixFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getMatrixFlowDomainsIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getMatrixFlowDomainsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getMatrixFlowDomainsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getMatrixFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdList" type="mfd:MatrixFlowDomainListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved MatrixFlowDomains with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMatrixFlowDomainsIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getMatrixFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainsIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdList" type="fd:FdListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>List of flowDomains.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainsIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainFragmentsIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainFragmentsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainFragmentsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrList" type="fdfr:FlowDomainFragmentListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved FdFrList with the termination point name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainFragmentsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
