Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/FlowDomainRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:fd="http://www.tmforum.org/mtop/nrf/xsd/fd/v1" xmlns:fdfr="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" xmlns:mfd="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1" xmlns:mfdfr="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" xmlns:lp="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:lay="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP FlowDomainRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Cc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpData.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllAssociatedMfdsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssociatedMfds operation</p>
        <p>This operation allows an NMS to request a list of matrix flow domains that are contained by a specified managed element or associated with a specified equipment, transmission descriptor or flow domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="holderName" type="nam:NamingAttributesType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the managed element, equipment, transmission descriptor or flow domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssociatedMfdsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssociatedMfds operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfds" type="mfd:MfdListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved Mfds with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssociatedMfdsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssociatedMfds operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFdfrsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFdfrs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFdfrsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFdfrs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFdfrsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFdfrs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFlowDomainsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFlowDomains operation</p>
        <p>This operation allows an NMS to request a list of the flow domains that exist under the given MD..</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mdName" type="nam:NamingAttributesType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the Management Domain whose contained FDs are being requested</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFlowDomainsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="flowDomains" type="fd:FdListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>List of flowDomains.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFlowDomainsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFlowDomains operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedMfdsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedMfds operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedMfdsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedMfds operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedMfdsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedMfds operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssigningMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssigningMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssigningMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssigningMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssigningMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssigningMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatingFdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatingFd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatingFdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatingFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatingFdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatingFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFdfrRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFdfr operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFdfrRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFdfrRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFdfrRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFdfrRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFdfrsByUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFdfrsByUserLabel operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrsByUserLabelResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFdfrsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrsByUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFdfrsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFdfrsWithTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFdfrsWithTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrsWithTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFdfrsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFdfrsWithTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFdfrsWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainsByUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainsByUserLabel operation</p>
        <p>This operation allows an NMS to request a list of the flow domains for a specified userLabel.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userLabel" type="gen:UserLabelType">
          <xsd:annotation>
            <xsd:documentation>
              <p>UserLabel of the FlowDomain</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainsByUserLabelResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="flowDomains" type="fd:FdListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>List of flowDomains.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getFlowDomainsByUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTransmissionParamsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTransmissionParams operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionParamsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTransmissionParams operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionParamsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTransmissionParams operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getMatrixFlowDomainsIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getMatrixFlowDomainsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getMatrixFlowDomainsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getMatrixFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getMatrixFlowDomainsIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getMatrixFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainsIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainsIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getFlowDomainFragmentsIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getFlowDomainFragmentsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getFlowDomainFragmentsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getFlowDomainFragmentsIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getFlowDomainFragmentsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
