Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/ResourceInventoryRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/invr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/invr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:vro="http://www.tmforum.org/mtop/nrb/xsd/vro/v1" xmlns:md="http://www.tmforum.org/mtop/nrf/xsd/md/v1" xmlns:me="http://www.tmforum.org/mtop/nrf/xsd/me/v1" xmlns:eq="http://www.tmforum.org/mtop/nrf/xsd/eq/v1" xmlns:eh="http://www.tmforum.org/mtop/nrf/xsd/eh/v1" xmlns:ptp="http://www.tmforum.org/mtop/nrf/xsd/ptp/v1" xmlns:ftp="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1" xmlns:ctp="http://www.tmforum.org/mtop/nrf/xsd/ctp/v1" xmlns:tppool="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1" xmlns:mlsn="http://www.tmforum.org/mtop/nrf/xsd/mlsn/v1" xmlns:snc="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" xmlns:cc="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" xmlns:os="http://www.tmforum.org/mtop/nrf/xsd/os/v1" xmlns:pgp="http://www.tmforum.org/mtop/nrf/xsd/pgp/v1" xmlns:epgp="http://www.tmforum.org/mtop/nrf/xsd/epgp/v1" xmlns:route="http://www.tmforum.org/mtop/nrf/xsd/route/v1" xmlns:tl="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" xmlns:tmd="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP InventoryRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Cc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Ctp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/ctp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Eh.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eh/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Epgp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/epgp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Eq.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eq/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Ftp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Gtp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Md.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/md/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Me.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mlsn.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mlsn/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Os.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/os/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Ptp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/ptp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Pgp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/pgp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Route.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/route/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Snc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tl.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tl/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tmd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpPool.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/VendorResourceObject.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/vro/v1"/>
  <!-- ================= -->
  <xsd:element name="getInventoryRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getInventory operation</p>
        <p>This operation returns a specified portion of the inventory data from the OS to which the request is directed (i.e., the target OS). The target OS returns all objects satisfying the scope and filter constraints of the requesting OS that have a modification date equal to or later than the Diff Date and Time.</p>
        <p>The operation can only be directed to a top-level OS and not to a subordinate OS.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="filter" type="tns:SimpleFilter_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>defines the subset of the total inventory to be returned to the requesting OS.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="diffDateAndTime" type="xsd:dateTime" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>All objects with a modification date equal to or greater than this value are in scope of this operation.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getInventoryResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getInventory operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="inventoryData" type="tns:InventoryData_T" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The inventory data which may vary based on the MEP. Refer to the TMF 854 XML Solution Set for more details. Also, note that the atomic elements of the inventory data XML representation are all the following top-level objects: MD, ME, MLSN, OS, TL, and TMD. It means that all top-level object instances must be fully encapsulated in one batch when the MEP involves multiple responses.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getInventoryException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getInventory operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionUnsupportedCompressionFormat" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionUnsupportedPackingFormat" type="msg:BaseExceptionMessage_T"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================= -->
  <xsd:element name="getInventoryIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getInventoryIterator operation</p>
        <p>This is the iterator request to return the next batch of InventoryData from the target OS.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getInventoryIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getInventoryIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="inventoryData" type="tns:InventoryData_T" minOccurs="0">
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getInventoryIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getInventoryIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessage_T"/>
        <xsd:element name="exceptionCommFailure" type="msg:BaseExceptionMessage_T"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================= -->
  <!--         All local types       -->
  <!-- ================= -->
  <xsd:simpleType name="Granularity_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Filter attribute used to select the granularity of the Inventory report.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NAME">
        <xsd:annotation>
          <xsd:documentation>
            <p>Retrieve the name only.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ATTRS">
        <xsd:annotation>
          <xsd:documentation>
            <p>Retrieve the name and the other object attributes.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FULL">
        <xsd:annotation>
          <xsd:documentation>
            <p>Retrieve the name, the object attributes adn all the relationsship object pointers.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================= -->
  <xsd:complexType name="SimpleFilter_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Inventory Retrieval filter. Some examples are listed in the following table.
        <table cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top">
                <p>
                  <b>Filter Constraint</b>
                </p>
              </td>
              <td valign="top">
                <p>
                  <b>Simple Filter</b>
                </p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Given an ME name (e.g., md1/ME123), get all the EHs and Equipment
          Attributes</p>
              </td>
              <td valign="top">
                <p>BaseInstanceList: { (MD=md1;ME=ME123)}</p>
                <p>IncludedObjectTypes: { (EH, ATTRS), (EQ, ATTRS) }</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Given an ME name
          (e.g., md1/ME123), get all the contained Ehs Attributes and the ME attibutes</p>
              </td>
              <td valign="top">
                <p>BaseInstanceList: { (MD=md1;ME=ME123) }</p>
                <p>IncludedObjectTypes: { (ME, ATTRS), (EH, ATTRS) }</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Get all MEs and
          associated attributes (within the entire inventory known to the target OS)</p>
              </td>
              <td valign="top">
                <p>BaseInstanceList: { }</p>
                <p>IncludedObjectTypes { (ME, ATTRS) }</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Get all ME, OS
          and MD names (within the entire inventory known to the target OS)</p>
              </td>
              <td valign="top">
                <p>BaseInstanceList: { }</p>
                <p>IncludedObjectTypes: { (ME, NAME), (MD, NAME), (OS, NAME) }</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Given an EH name
          (e.g., md1/ME123/ACME7), get all the contained Equipment (and relationship
          pointers)</p>
              </td>
              <td valign="top">
                <p>BaseInstanceList: { (MD=md1;ME=ME123;EH=ACME7) }</p>
                <p>IncludedObjectTypes: { (EQ,FULL)}</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Given a PTP name
          (e.g., md1/ME123/PTPxyz), get the PTP Attributes</p>
              </td>
              <td valign="top">
                <p>BaseInstanceList: { (MD=md1;ME=ME123;PTP=PTPxyz) }</p>
                <p>IncludedObjectTypes: { (PTP, ATTRS) }</p>
              </td>
            </tr>
          </table>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="baseInstance" type="nam:NamingAttributes_T" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <p>This attribute identifies a list of base object instances for the subtrees to be retrieved. BaseInstanceList is a list of serialized MTOSI names. If the BaseInstanceList is left empty then all the nodes at the top of the MTOSI instance tree are selected (i.e., all MDs, TMDs, and OSs are selected). Specification of the BaseInstanceList does not select any objects in and of itself. In order to select specific objects, one needs to specify the IncludedObjectTypes.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="includedObjectType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <p>This attribute identifies the type of objects contained under the selected base object instances that are to be included in the returned inventory file. The base object itself is included only if the type of the base instance appears in the IncludedObjectTypes list. If no included object types are listed, then the entire subtree under the base object instance is returned. For each included object type, one needs to indicate whether.
            <ul>
                <li>just the name,</li>
                <li>all the associated attributes (including the name), or</li>
                <li>the associated attributes and relationship pointers are to be returned for each instance.</li>
              </ul>
            The IncludedObjectTypes need to be picked such that each selected base class has a single (connected) subtree below it. For example, if all the EHs under a given MD where needed, the requesting OS would need to list the given MD as a base instance and put ME and EH in the IncludedObjectTypes list. The requesting OS could just request the names of the MEs to reduce the size of the returned file.
            </p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="objectType" type="gen:ObjectType_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Specify the object type acronym.  The ";" is used as a separator, and "=" is used to associate a value with a type of object. For example, MD=md1;ME=ME123;EH=ACME7 identifies an equipment holder within managed element ME123 within management domain md1. The relative name of the equipment holder is ACME7.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="granularity" type="tns:Granularity_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Specify the granularity of the inventory report.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ==================== -->
  <xsd:complexType name="InventoryData_T">
    <xsd:sequence>
      <xsd:element name="mdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Management Domain inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="md" type="tns:MdInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An MD inventory with the OS relationship</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="topLevelTlList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of top level TL inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="topLevelTopLink" type="tns:TlInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TL inventory with the OS relationship</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tmdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of top level TMD inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tmd" type="tns:TmdInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TMD inventory with the OS relationship</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="osList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of OS inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="os" type="tns:OsInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An OS inventory</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="voList" type="vro:VendorResourceObjectList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Vendor Objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ==================== -->
  <xsd:complexType name="DataQualityIndicator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>This is the in-line exception log found in the inventory report on object retrieval exception.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="suspect" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descendant" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to all the children of the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reason" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Free string to provide reason description on suspect data issue.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="OsInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Operations System as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="osNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the OS.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="osAttrs" type="os:OperationsSystem_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the OS.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="subordinateOsNameList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the subordinate OS names.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osNm" type="xsd:string" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The name of a subordinate OS</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="supportedMDNameList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the supported Management Domain names.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mdNm" type="xsd:string" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The name of a supported MD.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on OS data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MdInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Management Domain as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mdNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mdAttrs" type="md:ManagementDomain_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingOSNameList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of OS names supporting this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osNm" type="xsd:string" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The name of a supporting OS.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="meList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of ME inventories contained in this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="meInv" type="tns:MeInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A Managed Element inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mlsnList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of MLSN inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mlsnInv" type="tns:MlsnInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An MLSN inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TL inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tlInv" type="tns:TlInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A Topological Link inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MeInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Managed Element as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the ME in the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="meAttrs" type="me:ManagedElement_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="containingMLSNNameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MLSN names that the Managed Element belongs to.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The equipment inventory contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An Equipment Holder inventory (note recursivity of EH)</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ptpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ptpInv" type="tns:PtpInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A PTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ftpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ftpInv" type="tns:FtpInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A FTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ccList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Cross Connects contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccAttr" type="cc:CrossConnect_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Cross Connect attributes.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pgpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pgpInv" type="tns:PgpInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A PGP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="epgpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of EPGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="epgpInv" type="tns:EpgpInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A EPGP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on ME data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EhInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Holder as returned in inventory report.
        Refer to the InventoryLayout and the EquipmentModel supporting documents.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ehNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the Equipment Holder in the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehAttrs" type="eh:EquipmentHolder_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the Equipment Holder.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of contained equipments (EQ or EH).
            It is optional to terminate recursive definition.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventory_T" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Inventory of a contained Equipment Holder.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eqInv" type="tns:EqInventory_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The inventory of the Equipment contained directly in this Equipment Holder</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EH data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EqInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="eqNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the EQ in the EH.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="eqAttrs" type="eq:Equipment_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the Equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedPTPNameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The PTPs that are returned are those that share their physical layer with the primary equipment (i.e. that represent a port on the equipment or are connected by a fibre, wire, etc.). The FTPs that are returned are those which are implemented by the physical circuitry supported by the equipment and will include FTPs that are named from the specified equipment (the FTPs will depend upon the presence of that equipment for their most basic operation). When there is equipment protection, this list reports PTPs/FTPs for the primary equipment only. That is, when called on a protecting equipment (as opposed to the primary equipment), this list returns an empty list, irrespective of the current switch status.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedEQNameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment names supported by a given piece of equipment, e.g., a power pack might support many circuit packs.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEQNameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment that supports a given piece of equipment, e.g., the power pack and synchronization card that support a given piece of equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EQ data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PtpInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Physical Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ptpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the PTP in the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ptpAttrs" type="ptp:PhysicalTerminationPoint_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventory_T" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A contained CTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FtpInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Floating Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ftpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the FTP in the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpAttrs" type="ftp:FloatingTerminationPoint_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventory_T" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A contained CTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on FTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="CtpInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Connection Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ctpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the CTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpAttrs" type="ctp:ConnectionTerminationPoint_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the CTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on CTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TpPoolInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the TPPool as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tppoolNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the TPPool.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tppoolAttrs" type="tppool:TpPool_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the TPPool.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TPPool data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PgpInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pgpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the PGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pgpAttrs" type="pgp:ProtectionGroup_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the PGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EpgpInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="epgpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the EPGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="epgpAttrs" type="epgp:EquipmentProtectionGroup_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the EPGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EPGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MlsnInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Multi Layer Subnetwork as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mlsnNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the MLSN in the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mlsnAttrs" type="mlsn:MultiLayerSubnetwork_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sncList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of SubnetworkConnection inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sncInv" type="tns:SncInventory_T" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A SNC inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpPoolList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TPPool inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpPoolInv" type="tns:TpPoolInventory_T" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TPPool inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TL inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tlInv" type="tns:TlInventory_T" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TL inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associatedMeList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of ME names associated with the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="associatedMe" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An associated ME structure including the ME absolute name and edge PTPs/FTPs.</p>
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="name" type="nam:NamingAttributes_T">
                    <xsd:annotation>
                      <xsd:documentation>
                        <p>An absolute ME name.</p>
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="edgePtpList" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>
                        <p>The list of edge PTP inventories associated with the MLSN. When this list is populated, the associated ME and the Topological Links are typically not provided.</p>
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="edgePtpInv" type="tns:PtpInventory_T" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation>
                              <p>An edge PTP inventory.</p>
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="edgeFtpList" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>
                        <p>The list of edge FTP inventories associated with the MLSN. When this list is populated, the associated ME and the Topological Links are typically not provided.</p>
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="edgeFtpInv" type="tns:FtpInventory_T" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation>
                              <p>An edge FTP inventory.</p>
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MLSN data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="SncInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Subnetwork Connection as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sncNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the SNC.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sncAttrs" type="snc:SubnetworkConnection_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the SNC.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="route" type="route:Route_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Route for the SNC (List of cross-connects)</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on SNC data retrieval .</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TlInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Topological Link as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tlNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TL.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tlAttrs" type="tl:TopologicalLink_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the TL.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TL data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TmdInventory_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Transmission Descriptor as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tmdNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TMD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tmdAttrs" type="tmd:TransmissionDescriptor_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the TMD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicator_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TMD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
