Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/TerminationPointRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:lr="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" xmlns:tp="http://www.tmforum.org/mtop/nrf/xsd/tp/v1" xmlns:tpp="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1" xmlns:gtp="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1" xmlns:fd="http://www.tmforum.org/mtop/nrf/xsd/fd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TP Retrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpPool.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Gtp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllAssignableCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssignableCptps operation</p>
        <p>This operation returns the structures of all "CPTP" TPs that which are potentially able to be assigned to a matrix flow domain Potentially means: The CPTPs are on the same equipment or same rack with backplane connectivity as the NMS specified Mfd. It is irrelevant whether the CPTPs are already assigned to an Mfd or not.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the matrix flow domain whose potential CPTPs shall be returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignableCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssignableCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cptpList" type="tp:TerminationPointListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved CPTPs with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignableCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssignableCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllAssignedCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssignedCptps operation</p>
        <p>This operation returns the structures of all CPTPs assigned to a matrix flow domain..</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the matrix flow domain whose assigned CPTPs shall be returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignedCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssignedCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cptpList" type="tp:TerminationPointListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved CPTPs with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignedCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssignedCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllCptps operation</p>
        <p>This operation returns the structures of all CPTPs, or all flow domain edge CPTPs, or all flow domain internal CPTPs, associated with a flow domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the flow domain whose associated edge CPTPs shall be returned    
            or name of the matrix flow domain whose assigned CPTPs shall be returned</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cptpRole" type="com:CptpRoleType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Which CPTPs to return : flow domain edge, flow domain internal, or all CPTPs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cptpList" type="tp:TerminationPointListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Retrieved CPTPs with the name as specified in input.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointNamesRequest" type="tns:GetAllEdgePointsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePointNames operation</p>
        <p>This operation has exactly the same behaviour as getAllEdgePoints(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointsRequest" type="tns:GetAllEdgePointsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePoints operation</p>
        <p>This operation allows an NMS to request a list of the edge termination points (PTPs/FTPs) for the specified subnetwork, at one or more of the NMS- specified layers, and that are capable of containing CTPs that can be connected at one or more of the NMS-specified connection layer rates. This operation considers the capability/flexibility of the TPs, not their current states.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePoints operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePoints operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpNamesRequest" type="tns:GetAllTpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtpNames operation</p>
        <p>This operation has exactly the same behaviour as getAllFtps but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpsRequest" type="tns:GetAllTpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtps operation</p>
        <p>This operation has exactly the same behaviour as getAllPtps(), but instead of returning both PTPs and FTPs it returns solely FTPs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpNamesRequest" type="tns:GetAllGtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtpNames operation</p>
        <p>This operation has exactly the same behaviour as getAllGtps but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpsRequest" type="tns:GetAllGtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtps operation</p>
        <p>This operation allows an OS to request all of the GTPs (on the given Managed Element) that contain one or more TPs at the specified layer rates. If there are no GTPs that match the layer constraints, an empty list is returned (see SD1-3 Bundled SNC overview for further information on GTP usage).</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpsResponse" type="tns:MultipleGtpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpNamesRequest" type="tns:GetAllTpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpNames operation</p>
        <p>This operation has exactly the same behaviour as getAllPtps(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpNamesWithoutFtpsRequest" type="tns:GetAllTpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpNamesWithoutFtps operation</p>
        <p>This operation has exactly the same behaviour as getAllPtpsWithoutFtps(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesWithoutFtpsResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpNamesWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesWithoutFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpNamesWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsRequest" type="tns:GetAllTpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtps operation</p>
        <p>This operation an OS to request all of the PTPs and FTPs on the specified Managed Element, that contain one or more of the OS-specified PTP/FTP layer rates, and that are capable of supporting one or more of the OS-specified connection layer rates. If there are no PTPs/FTPs that match the layer constraints, an empty list is returned. A PTP/FTP will be returned regardless of connectivity to other managed elements and regardless of position in the subnetwork (both edgepoints of the subnetwork and the PTPs/FTPs that are internal to the subnetwork are reported).</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsWithoutFtpsRequest" type="tns:GetAllTpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpsWithoutFtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpsWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpsWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpNamesRequest" type="tns:RequestProfile3Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtpNames operation</p>
        <p>This operation has exactly the same behaviour as getAllSupportedPTPs(), but returns the object names instead of returning the entire objects.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpsRequest" type="tns:RequestProfile3Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtps operation</p>
        <p>This operation allows an OS to request the PTPs/FTPs that are directly supported by a given equipment. The PTPs that are returned are those that share their physical layer with the primary equipment (i.e. that represent a port on the equipment or are connected by a fibre, wire, etc.). The FTPs that are returned are those which are implemented by the physical circuitry supported by the equipment and will include FTPs that are named from the specified equipment (the FTPs will depend upon the presence of that equipment for their most basic operation).</p>
        <p>When there is equipment protection, this operation reports PTPs/FTPs for the primary equipment only. That is, when called on a protecting equipment (as opposed to the primary equipment), this operation returns an empty list, irrespective of the current switch status.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolNamesRequest" type="tns:RequestProfile1Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPoolNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolsRequest" type="tns:RequestProfile1Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPools operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolsResponse" type="tns:MultipleTpPoolObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPools operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPools operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpRequest" type="tns:RequestProfile2Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTp operation</p>
        <p>This operation returns a list of PSR (UPSR or SNCP) associated termination points for the TP whose name is passed as a parameter. Note: The termination point name must be explicit (a generic endpoint specification may not be used in this case). See Object Naming for further detail on FTP naming.
When this service is invoked with a TP that is not an edge point, the returned TPs will be on the same Managed Element</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpsWrtTmdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTpsWrtTmd operation</p>
        <p>This operation allows an OS to request all of the TPs associated with the specified Transmission Descriptor.
      If there are no TPs which are associated with the specified Transmission Descriptor, then an empty list is returned.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tmdName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the TMD</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTpsWrtTmd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdException" type="tns:RequestProfile1Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTpsWrtTmd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpNamesRequest" type="tns:GetAllCtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtpNames operation</p>
        <p>This operation has exactly the same behaviour as getContainedCurrentCtps(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpsRequest" type="tns:GetAllCtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtps operation</p>
        <p>This operation is used to retrieve the "current" CTPs that are contained within a specific PTP, FTP or CTP, at specific layer rates. A "current" CTP is defined as a CTP that is either cross-connectable or cross-connected,in the current mapping configuration.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpNamesRequest" type="tns:GetAllCtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtpNames operation</p>
        <p>This operation has exactly the same behaviour as getContainedInUseCtps(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpsRequest" type="tns:GetAllCtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtps operation</p>
        <p>This operation is used to retrieve the "in use" CTPs that are contained within a specific PTP, FTP or CTP, at specific layer rates. An "in use" CTP is defined as a CTP that is used by an SNC in any state (including pending), either as a CM end point or as an intermediate connection point, or a CTP that is terminated and mapped. This operation will be used when there are a large number of potential CTPs (e.g., in ATM).</p>
        <p>Example of usage with respect to ATM:
To retrieve all actual ATM Network Interfaces associated with a PTP, this operation will be invoked using the PTP name as the tpName and LR_ATM_NI as the only layer rate in the layerRateList. The VPI and VCI ranges that are specified in the returned ATM Network Interface transmissionParams (i.e., Max_VPI_Bits and Max_VCI_Bits) can then be used to determine the potential VPI/VCI range. A subsequent invocation of this operation using an ATM Network Interface CTP as input can be used to determine which VPIs/VCIs are actually in use (with LR_ATM_VP and LR_ATM_VC included in the connectionRateList).</p>
        <p>Example of usage with respect to SONET/SDH:
Consider an STM4 PTP with layerRate: LR_Optical_OC12_and_STM4. Assume that the set of CTPs returned by operation getContainedPotentialTPs() contains one CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminating an SNC (layerRate LR_STS3c_and_AU4_VC4), and another CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminated and mapped (attribute tpMappingMode is set to TMTypeERMINATED_AND_AVAILABLE_FOR_MAPPING). The CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminated and mapped contains one CTP with layerRate LR_VT2_andTypeU12_VC12 that is involved in an SNC. None of the other contained CTPs have attribute tpMappingMode set to TMTypeERMINATED_AND_AVAILABLE_FOR_MAPPING, or are involved in an SNC.
Operation getContainedInUseTPs then returns three CTPs:<ul>
            <li>The CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminating an SNC.</li>
            <li>The CTP with layerRate LR_STS3c_and_AU4_VC4 that has attribute tpMappingMode set to TMTypeERMINATED_AND_AVAILABLE_FOR_MAPPING.</li>
            <li>The CTP with layerRate LR_VT2_andTypeU12_VC12 that is terminating an SNC.</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpNamesRequest" type="tns:GetAllCtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtpNames operation</p>
        <p>This operation has exactly the same behaviour as getContainedPotentialCtps(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpsRequest" type="tns:GetAllCtpsType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtps operation</p>
        <p>This operation an OS to request all of the CTPs that it is potentially capable of supporting in all possible mapping configurations, at the specified rates and that are contained by the specified termination point.</p>
        <p>This operation returns all potential contained CTPs for a given TP. The TP may be a PTP, an FTP or a CTP. If the layerRateList is empty then contained CTPs at all flexible and/or static LayerRates are returned.</p>
        <p>For an OC3 PTP that has the potential of mapping to VT1.5 the response would contain 3 STS1 CTPs and 84 VT1.5 CTPs; on a T1 PTP, the contained TPs would be one T1 CTP; for an STS1 CTP the response would contain 28 VT1.5 CTPs. In the case where an OC3 PTP supports mapping to T1s and VT1.5, then the contained list for the OC3 PTP could be 1 STS3c, 3 STS1, 84 VT1.5 and 84 T1 CTPs; if a VT1.5 CTP is provided, 1 T1 CTP is returned; if a T1 CTP is provided, the result is an empty list.</p>
        <p>Whenever a protection group is involved, the behaviour of this service is described below:</p>
        <p>Scenario 1: Before the Protection Group is created  
<ul>
            <li>Query On Worker TPs returns list of all CTPs</li>
            <li>Query On Protection TPs returns list of all CTPs </li>
          </ul>
        </p>
        <p>Scenario 2: After ProtectionGroup is created, if extra (preemptible/non-pre-emptible) traffic is allowed.
<ul>
            <li>Query On Worker TPs returns list of all CTPs</li>
            <li>Query On Protection TPs returns list of all CTPs</li>
          </ul>
        </p>
        <p>Scenario 3: After ProtectionGroup is created, if extra (preemptible/non-pre-emptible) traffic is not allowed
<ul>
            <li>Query On Worker TPs returns list of CTPs that allow protected traffic</li>
            <li>Query On Protection TPs returns an empty list (regardless of the switch status)</li>
          </ul>
        </p>
        <p>In case the protection group is created after a query is made, no object delete notification is made, the NMS is expected to query the ports in the protection group to find the list of contained CTPs.</p>
        <p>When ATM, this operation needs to be used with caution. The reason for this is that, in ATM, there can be a prohibitively large number of potential VP and VC CTPs returned by this operation. For retrieving ATM CTPs, the getContainedInUseTPs() operation should be considered.</p>
        <p>If DWDM, SONET and/or SDH is combined with ATM, it is advisable that this operation be used with the appropriate DWDM, SONET and/or SDH layer rates entered into the layerRateList. Otherwise, ATM CTPs will be returned and the resulting list of contained TPs could get prohibitive.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingGtpRequest" type="tns:RequestProfile4Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingGtp operation</p>
        <p>This operation returns the GTP object containing a given CTP (see SD1-3 Bundled SNC overview for further information on GTP usage). If the CTP is not contained in a GTP, the gtp output parameter is left empty.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingGtpResponse" type="tns:SingleGtpObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingGtpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTpNamesRequest" type="tns:RequestProfile4Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTpNames operation</p>
        <p>This operation has exactly the same behaviour as getContainingTps(), but instead of returning the entire object structures, this operation returns their names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpNamesResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTpsRequest" type="tns:RequestProfile4Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTps operation</p>
        <p>This operation returns a list of the containing TPs given a CTP. This will return an PTP or FTP where there is only one level of containment. In a case of deeper containment this will return a list of CTPs and a PTP or FTP. Using the UPSR OC3 example used in getContainedPotentialTPs, getContainingTPs on the working T1 CTP will return a working STS1 CTP and a working OC3PTP. If the OC3 was in APS, then getContainingTPs on the T1 CTP would return an STS1 CTP, an OC3 working PTP and an OC3 protect PTP.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGtpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGtp operation</p>
        <p>This operation returns the GTP structure for the given GTP name SD1-3 Bundled SNC overview.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="gtpName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>Name of the GTP</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGtpResponse" type="tns:SingleGtpObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTcProfileAssociatedTpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTcProfileAssociatedTps operation</p>
        <p>This operation allows an NMS to request all of the TPs associated with the  
              specified TC Profile. If there are no TPs which are 
              associated with the specified TC Profile, then an empty list is returned.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tcProfileName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the TC Profile</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTcProfileAssociatedTpsResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTcProfileAssociatedTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTcProfileAssociatedTpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTcProfileAssociatedTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:tooManyOpenIterators"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpRequest" type="tns:RequestProfile2Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTp operation</p>
        <p>This operation returns the termination point structure for the given TP name (CTP, FTP or PTP). The termination point name must be explicit (a generic endpoint specification may not be used in this case). See SD1-25_objectNaming.pdf for further detail on FTP naming. The termination point structure contains SD1-16_LayeredParameters.pdf. The transmission parameters returned will be the parameters in place on the actual termination point on the NE.  If there are no transmission parameters or the TP does not actually exist on the NE, then transmissionParams will be empty. The field transmissionParams will also be empty for "potential" ATM VP/VC CTPs.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpResponse" type="tns:SingleTpObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpGroupingRelationshipsRequest" type="tns:RequestProfile2Type">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpGroupingRelationships operation</p>
        <p>This operation allows the NMS to query the associations between TPPool and TP.</p>
        <p>f a TPPool name is supplied, the method will return the names of all the TPs that have been grouped to the supplied TPPool.
If a TP name is supplied, the method will return the names of any associated TPPools. An empty list is returned if no associated TP pools exist for the input TP, or if no TPs have been grouped to the input TP pool.
<uL>
            <li>Note 1. Any termination point name must be explicit (a generic endpoint specification must not be used in this case). See Object Naming for further detail on FTP naming and for details on general TP and TP pool naming.</li>
            <li>Note 2. A TP can be a member of at most one TPPool. A TP is associated to a TPPool (TP -- TPPool) by admission as a member (TP is a member of TPPool).</li>
          </uL>
        </p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpGroupingRelationships operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpGroupingRelationships operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPool operation</p>
        <p>This operation returns the TPPool structure for the given TPPool name, and the additional attributes numberOfMembers, numberOfIdleMembers, and descriptionOfUse. The attribute containedMembers, i.e. the list of names of contained TPs, can be retrieved by means of the operation getTPGroupingRelationships() with input tpPoolName.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpPoolName" type="nam:NamingAttributeType">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the TP pool or TP for which to retrieve the association.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpPoolResponse" type="tns:SingleTpPoolObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:communicationFailure"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTerminationPointNamesIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTerminationPointNamesIterator operation</p>
        <p>This operation is the iterator request to return the next batch of TP names from the OS to which a TP names retrieval request was initially sent..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointNamesIteratorResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTerminationPointNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointNamesIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTerminationPointNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTerminationPointsIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTerminationPointsIterator operation</p>
        <p>This operation is the iterator request to return the next batch of TPs from the OS to which a TP retrieval request was initially sent..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointsIteratorResponse" type="tns:MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTerminationPointsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointsIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTerminationPointsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolNamesIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPoolNamesIterator operation</p>
        <p>This operation is the iterator request to return the next batch of TPPool names from the OS to which a TPPool names retrieval request was initially sent..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolNamesIteratorResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPoolNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolNamesIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPoolNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolsIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPoolsIterator operation</p>
        <p>This operation is the iterator request to return the next batch of TPPools from the OS to which a TPPool retrieval request was initially sent..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolsIteratorResponse" type="tns:MultipleTpPoolObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPoolsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolsIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPoolsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGtpNamesIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGtpNamesIterator operation</p>
        <p>This operation is the iterator request to return the next batch of GTP names from the OS to which a GTP names retrieval request was initially sent..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpNamesIteratorResponse" type="tns:MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGtpNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpNamesIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGtpNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGtpsIteratorRequest" type="msg:GetAllDataIteratorRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGtpsIterator operation</p>
        <p>This operation is the iterator request to return the next batch of GTPs from the OS to which a GTP retrieval request was initially sent..</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpsIteratorResponse" type="tns:MultipleGtpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGtpsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpsIteratorException" type="msg:GetAllDataIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGtpsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <!-- == Local Data Types == -->
  <!-- ================ -->
  <xsd:complexType name="GetAllEdgePointsType">
    <xsd:sequence>
      <xsd:element name="subnetName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the subnetwork</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tpLayerRateList" type="lr:LayerRateListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TP layer rates for which the edge points are to be fetched. An edge point must contain at least one of the layer rates specified to be reported. If the list is empty then edge points of all rates are returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionLayerRateList" type="lr:LayerRateListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of connection layer rates for which the edge points are to be fetched. An edge point must support connections for at least one of the layer rates specified to be reported. If the list is empty then edge points for all connection rates are returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetAllTpsType">
    <xsd:sequence>
      <xsd:element name="meName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the Managed Element</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tpLayerRateList" type="lr:LayerRateListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TP layer rates for which the TPs are to be fetched. A TP must contain at least one of the layer rates specified to be reported. If the list is empty then all TPs (of all rates) are returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectionLayerRateList" type="lr:LayerRateListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of connection layer rates for which the TPs are to be fetched. A TP must support connections for at least one of the layer rates specified to be reported. If the list is empty then all TPs (for all connection rates) are returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetAllCtpsType">
    <xsd:sequence>
      <xsd:element name="tpName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name  of the PTP, FTP or CTP for which to get CTPs. The termination point name must be explicit (a generic endpoint specification may not be used in this case). See Object Naming for further detail on FTP naming</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="layerRateList" type="lr:LayerRateListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TP layer rates for which the TPs are to be fetched. A TP must contain at least one of the layer rates specified to be reported. If the list is empty then all TPs (of all rates) are returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetAllGtpsType">
    <xsd:sequence>
      <xsd:element name="meName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the Managed Element for which to retrieve the GTPs</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tpLayerRateList" type="lr:LayerRateListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of GTP layer rates for which the GTPs are to be fetched. A GTP must contain at least one of the layer rates specified to be reported. If the list is empty then all GTPs (of all rates) are returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestProfile1Type">
    <xsd:sequence>
      <xsd:element name="subnetName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the subnetwork</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestProfile2Type">
    <xsd:sequence>
      <xsd:element name="tpName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the TP</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestProfile3Type">
    <xsd:sequence>
      <xsd:element name="equipmentName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the equipment for which to retrieve supported PTPs/FTPs</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestProfile4Type">
    <xsd:sequence>
      <xsd:element name="ctpName" type="nam:NamingAttributeType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the contained CTP</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MultipleTpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpList" type="tp:TerminationPointListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TP objects</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SingleTpObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for one TP object</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tp" type="tp:TerminationPointType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The TP object</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SingleGtpObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure with a single GTP</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gtp" type="gtp:GroupTerminationPointType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The GTP object</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MultipleGtpObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure with a list of GTP</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gtpList" type="gtp:GroupTerminationPointListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The GTP object</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MultipleTpPoolObjectsResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpPoolList" type="tpp:TpPoolListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TpPool objects</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SingleTpPoolObjectResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for one TPPool object</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpPool" type="tpp:TpPoolType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The TpPool</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleObjectNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nameList" type="nam:NamingAttributeListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of object names</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
</xsd:schema>
