Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/TpRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:tp="http://www.tmforum.org/mtop/nrf/xsd/tp/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TP Retrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tp/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllAssignableCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssignableCptps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllAssignableCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssignableCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllAssignableCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssignableCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllAssignedCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssignedCptps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllAssignedCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssignedCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllAssignedCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssignedCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllCptps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePointNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePoints operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePoints operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllEdgePointsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePoints operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllGtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpNamesWithoutFtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpNamesWithoutFtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesWithoutFtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpNamesWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpNamesWithoutFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpNamesWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsWithoutFtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpsWithoutFtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpsWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpsWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPoolNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPools operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPools operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTpPoolsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPools operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpsWrtTmdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTpsWrtTmd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTpsWrtTmd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTpsWrtTmd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingGtpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingGtp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingGtpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingGtpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getContainingTpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGtpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGtp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getGtpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpGroupingRelationshipsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpGroupingRelationships operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpGroupingRelationships operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpGroupingRelationships operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPool operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTerminationPointNamesIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTerminationPointNamesIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointNamesIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTerminationPointNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointNamesIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTerminationPointNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTerminationPointsIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTerminationPointsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTerminationPointsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTerminationPointsIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTerminationPointsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolNamesIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPoolNamesIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolNamesIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPoolNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolNamesIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPoolNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolsIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPoolsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolsIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPoolsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTpPoolsIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPoolsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <!-- == Local Data Types == -->
  <!-- ================ -->
  <xsd:complexType name="MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpList" type="tp:TerminationPointList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TP objects</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of object names</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
</xsd:schema>
