Product/trunk/DDPs/ManageResourceInventory/IIS/xsd/TransmissionDescriptorRetrievalMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:tmd="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TMD Retrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tmd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllTransmissionDescriptorNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTransmissionDescriptorNames operation</p>
        <p>This operation gets the list of existing TransmissionDescriptor names.</p>
        <p>This operation may only be directed to a top-level OS and not to a subordinate OS.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorNamesResponse" type="tns:MultipleObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTransmissionDescriptorNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTransmissionDescriptorNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>Raised in case of non-specific OS internal failure</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessage_T">
          <xsd:annotation>
            <xsd:documentation>
              <p>Raised by OS for an optional operation that is not implemented</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllTransmissionDescriptorNamesWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTransmissionDescriptorNamesWrtOs operation</p>
        <p>This operation returns the name of each Transmission Descriptor (TMD) associated with a given subordinate OS. Note that Wrt in the name of the operation stands for "with respect to".</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="osName" type="nam:NamingAttributes_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the OS whose associated TMDs are being requested.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorNamesWrtOsResponse" type="tns:MultipleObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTransmissionDescriptorNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorNamesWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTransmissionDescriptorNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllTransmissionDescriptorsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTransmissionDescriptors operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorsResponse" type="tns:MultipleTmdObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTransmissionDescriptors operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTransmissionDescriptors operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllTransmissionDescriptorsWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTransmissionDescriptorsWrtOs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorsWrtOsResponse" type="tns:MultipleTmdObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTransmissionDescriptorsWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getAllTransmissionDescriptorsWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTransmissionDescriptorsWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTransmissionDescriptorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTransmissionDescriptor operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionDescriptorResponse" type="tns:SingleTmdObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionDescriptorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTransmissionDescriptorNamesIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTransmissionDescriptorNamesIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionDescriptorNamesIteratorResponse" type="tns:MultipleObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTransmissionDescriptorNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionDescriptorNamesIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTransmissionDescriptorNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTransmissionDescriptorsIteratorRequest" type="msg:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTransmissionDescriptorsIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionDescriptorsIteratorResponse" type="tns:MultipleTmdObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTransmissionDescriptorsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="getTransmissionDescriptorsIteratorException" type="msg:ExceptionProfile2">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTransmissionDescriptorsIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:complexType name="MultipleObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of object names</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nameList" type="nam:NamingAttributesList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of names</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SingleTmdObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a single ManagedElement object</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tmd" type="tmd:TransmissionDescriptor_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The retrieved TMD</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleTmdObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of ManagedElement objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tmdList" type="tmd:TransmissionDescriptorList_T" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TMDs</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
