mtosi_2.0/2.0ME/DDPs/ManageResourceInventory/IIS/wsdl/FlowDomainRetrieval/FlowDomainRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-FlowDomainRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: FlowDomainRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP FlowDomainRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" location="FlowDomainRetrievalMessages.wsdl"/>
  <wsdl:portType name="FlowDomainRetrieval_RPC">
    <wsdl:documentation>
      <p>The FlowDomainRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssociatedMatrixFlowDomains">
      <wsdl:input message="tns:getAllAssociatedMatrixFlowDomainsRequest"/>
      <wsdl:output message="tns:getAllAssociatedMatrixFlowDomainsResponse"/>
      <wsdl:fault name="getAllAssociatedMatrixFlowDomainsException" message="tns:getAllAssociatedMatrixFlowDomainsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomainFragments">
      <wsdl:input message="tns:getAllFlowDomainFragmentsRequest"/>
      <wsdl:output message="tns:getAllFlowDomainFragmentsResponse"/>
      <wsdl:fault name="getAllFlowDomainFragmentsException" message="tns:getAllFlowDomainFragmentsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <wsdl:input message="tns:getAllFlowDomainsRequest"/>
      <wsdl:output message="tns:getAllFlowDomainsResponse"/>
      <wsdl:fault name="getAllFlowDomainsException" message="tns:getAllFlowDomainsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMatrixFlowDomains">
      <wsdl:input message="tns:getAllSupportedMatrixFlowDomainsRequest"/>
      <wsdl:output message="tns:getAllSupportedMatrixFlowDomainsResponse"/>
      <wsdl:fault name="getAllSupportedMatrixFlowDomainsException" message="tns:getAllSupportedMatrixFlowDomainsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMatrixFlowDomain">
      <wsdl:input message="tns:getAssigningMatrixFlowDomainRequest"/>
      <wsdl:output message="tns:getAssigningMatrixFlowDomainResponse"/>
      <wsdl:fault name="getAssigningMatrixFlowDomainException" message="tns:getAssigningMatrixFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFlowDomain">
      <wsdl:input message="tns:getAssociatingFlowDomainRequest"/>
      <wsdl:output message="tns:getAssociatingFlowDomainResponse"/>
      <wsdl:fault name="getAssociatingFlowDomainException" message="tns:getAssociatingFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <wsdl:input message="tns:getFlowDomainRequest"/>
      <wsdl:output message="tns:getFlowDomainResponse"/>
      <wsdl:fault name="getFlowDomainException" message="tns:getFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragment">
      <wsdl:input message="tns:getFlowDomainFragmentRequest"/>
      <wsdl:output message="tns:getFlowDomainFragmentResponse"/>
      <wsdl:fault name="getFlowDomainFragmentException" message="tns:getFlowDomainFragmentException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentRoute">
      <wsdl:input message="tns:getFlowDomainFragmentRouteRequest"/>
      <wsdl:output message="tns:getFlowDomainFragmentRouteResponse"/>
      <wsdl:fault name="getFlowDomainFragmentRouteException" message="tns:getFlowDomainFragmentRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentsByUserLabel">
      <wsdl:input message="tns:getFlowDomainFragmentsByUserLabelRequest"/>
      <wsdl:output message="tns:getFlowDomainFragmentsByUserLabelResponse"/>
      <wsdl:fault name="getFlowDomainFragmentsByUserLabelException" message="tns:getFlowDomainFragmentsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentsWithTp">
      <wsdl:input message="tns:getFlowDomainFragmentsWithTpRequest"/>
      <wsdl:output message="tns:getFlowDomainFragmentsWithTpResponse"/>
      <wsdl:fault name="getFlowDomainFragmentsWithTpException" message="tns:getFlowDomainFragmentsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <wsdl:input message="tns:getFlowDomainsByUserLabelRequest"/>
      <wsdl:output message="tns:getFlowDomainsByUserLabelResponse"/>
      <wsdl:fault name="getFlowDomainsByUserLabelException" message="tns:getFlowDomainsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getMatrixFlowDomain">
      <wsdl:input message="tns:getMatrixFlowDomainRequest"/>
      <wsdl:output message="tns:getMatrixFlowDomainResponse"/>
      <wsdl:fault name="getMatrixFlowDomainException" message="tns:getMatrixFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="getMatrixFlowDomainsIterator">
      <wsdl:input message="tns:getMatrixFlowDomainsIteratorRequest"/>
      <wsdl:output message="tns:getMatrixFlowDomainsIteratorResponse"/>
      <wsdl:fault name="getMatrixFlowDomainsIteratorException" message="tns:getMatrixFlowDomainsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsIterator">
      <wsdl:input message="tns:getFlowDomainsIteratorRequest"/>
      <wsdl:output message="tns:getFlowDomainsIteratorResponse"/>
      <wsdl:fault name="getFlowDomainsIteratorException" message="tns:getFlowDomainsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentsIterator">
      <wsdl:input message="tns:getFlowDomainFragmentsIteratorRequest"/>
      <wsdl:output message="tns:getFlowDomainFragmentsIteratorResponse"/>
      <wsdl:fault name="getFlowDomainFragmentsIteratorException" message="tns:getFlowDomainFragmentsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlowDomainRetrievalSoapHttpBinding" type="tns:FlowDomainRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the FlowDomainRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllAssociatedMatrixFlowDomains">
      <soap:operation soapAction="getAllAssociatedMatrixFlowDomains" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssociatedMatrixFlowDomainsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssociatedMatrixFlowDomainsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssociatedMatrixFlowDomainsException">
        <soap:fault name="getAllAssociatedMatrixFlowDomainsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomainFragments">
      <soap:operation soapAction="getAllFlowDomainFragments" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFlowDomainFragmentsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFlowDomainFragmentsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFlowDomainFragmentsException">
        <soap:fault name="getAllFlowDomainFragmentsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <soap:operation soapAction="getAllFlowDomains" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFlowDomainsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFlowDomainsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFlowDomainsException">
        <soap:fault name="getAllFlowDomainsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMatrixFlowDomains">
      <soap:operation soapAction="getAllSupportedMatrixFlowDomains" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportedMatrixFlowDomainsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportedMatrixFlowDomainsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedMatrixFlowDomainsException">
        <soap:fault name="getAllSupportedMatrixFlowDomainsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMatrixFlowDomain">
      <soap:operation soapAction="getAssigningMatrixFlowDomain" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssigningMatrixFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssigningMatrixFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssigningMatrixFlowDomainException">
        <soap:fault name="getAssigningMatrixFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFlowDomain">
      <soap:operation soapAction="getAssociatingFlowDomain" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssociatingFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssociatingFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatingFlowDomainException">
        <soap:fault name="getAssociatingFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <soap:operation soapAction="getFlowDomain" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainException">
        <soap:fault name="getFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragment">
      <soap:operation soapAction="getFlowDomainFragment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainFragmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainFragmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainFragmentException">
        <soap:fault name="getFlowDomainFragmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentRoute">
      <soap:operation soapAction="getFlowDomainFragmentRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainFragmentRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainFragmentRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainFragmentRouteException">
        <soap:fault name="getFlowDomainFragmentRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentsByUserLabel">
      <soap:operation soapAction="getFlowDomainFragmentsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainFragmentsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainFragmentsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainFragmentsByUserLabelException">
        <soap:fault name="getFlowDomainFragmentsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentsWithTp">
      <soap:operation soapAction="getFlowDomainFragmentsWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainFragmentsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainFragmentsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainFragmentsWithTpException">
        <soap:fault name="getFlowDomainFragmentsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <soap:operation soapAction="getFlowDomainsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainsByUserLabelException">
        <soap:fault name="getFlowDomainsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMatrixFlowDomain">
      <soap:operation soapAction="getMatrixFlowDomain" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMatrixFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMatrixFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMatrixFlowDomainException">
        <soap:fault name="getMatrixFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMatrixFlowDomainsIterator">
      <soap:operation soapAction="getMatrixFlowDomainsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMatrixFlowDomainsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMatrixFlowDomainsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMatrixFlowDomainsIteratorException">
        <soap:fault name="getMatrixFlowDomainsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsIterator">
      <soap:operation soapAction="getFlowDomainsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainsIteratorException">
        <soap:fault name="getFlowDomainsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainFragmentsIterator">
      <soap:operation soapAction="getFlowDomainFragmentsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainFragmentsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainFragmentsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainFragmentsIteratorException">
        <soap:fault name="getFlowDomainFragmentsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowDomainRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the FlowDomainRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="FlowDomainRetrievalSoapHttp" binding="tns:FlowDomainRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/FlowDomainRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
