Product/trunk/DDPs/ServiceActivation/IIS/wsdl/ServiceActivationInterface/ServiceActivationInterfaceHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ServiceActivation - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ServiceActivationInterfaceV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0" targetNamespace="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0">
  <wsdl:documentation>
    <p>DDP: ServiceActivation</p>
    <p>Module: ServiceActivationInterface Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP ServiceActivationInterface Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0" location="ServiceActivationInterfacePortType.wsdl"/>
  <wsdl:binding name="ServiceActivationInterfaceSoapHttpBinding" type="tns:ServiceActivationInterface">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the ServiceActivationInterface portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="feasibilityCheck">
      <soap:operation soapAction="feasibilityCheck" style="document"/>
      <wsdl:input>
        <soap:header message="tns:feasibilityCheckRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:feasibilityCheckResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="feasibilityCheckException">
        <soap:fault name="feasibilityCheckException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="design">
      <soap:operation soapAction="design" style="document"/>
      <wsdl:input>
        <soap:header message="tns:designRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:designResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="designException">
        <soap:fault name="designException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reserve">
      <soap:operation soapAction="reserve" style="document"/>
      <wsdl:input>
        <soap:header message="tns:reserveRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:reserveResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="reserveException">
        <soap:fault name="reserveException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provision">
      <soap:operation soapAction="provision" style="document"/>
      <wsdl:input>
        <soap:header message="tns:provisionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:provisionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="provisionException">
        <soap:fault name="provisionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activate">
      <soap:operation soapAction="activate" style="document"/>
      <wsdl:input>
        <soap:header message="tns:activateRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:activateResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="activateException">
        <soap:fault name="activateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivate">
      <soap:operation soapAction="deactivate" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateException">
        <soap:fault name="deactivateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="terminate">
      <soap:operation soapAction="terminate" style="document"/>
      <wsdl:input>
        <soap:header message="tns:terminateRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:terminateResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="terminateException">
        <soap:fault name="terminateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retire">
      <soap:operation soapAction="retire" style="document"/>
      <wsdl:input>
        <soap:header message="tns:retireRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:retireResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="retireException">
        <soap:fault name="retireException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="cancel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:cancelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:cancelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="cancelException">
        <soap:fault name="cancelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="test" style="document"/>
      <wsdl:input>
        <soap:header message="tns:testRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:testResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="testException">
        <soap:fault name="testException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <soap:operation soapAction="modify" style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyException">
        <soap:fault name="modifyException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveServiceStates">
      <soap:operation soapAction="retrieveServiceStates" style="document"/>
      <wsdl:input>
        <soap:header message="tns:retrieveServiceStatesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:retrieveServiceStatesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="retrieveServiceStatesException">
        <soap:fault name="retrieveServiceStatesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceActivationInterfaceHttp">
    <wsdl:documentation>
      <p>Example of the ServiceActivationInterface WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ServiceActivationInterfaceSoapHttp" binding="tns:ServiceActivationInterfaceSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ServiceActivationInterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
