Product/trunk/DDPs/ServiceActivation/IIS/wsdl/ServiceActivationInterface/ServiceActivationInterfaceMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ServiceActivation - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ServiceActivationInterfaceV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:sai="http://www.tmforum.org/mtop/sa/xsd/sai/v1" xmlns:tns="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0" targetNamespace="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0">
  <wsdl:documentation>
    <p>DDP: ServiceActivation</p>
    <p>Module: ServiceActivationInterface Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ServiceActivationInterface Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/sa/xsd/sai/v1" schemaLocation="../../xsd/ServiceActivationInterfaceMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="activateRequest">
    <wsdl:documentation>
      <p>The activate request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:activateRequest"/>
  </wsdl:message>
  <wsdl:message name="activateResponse">
    <wsdl:documentation>
      <p>The activate response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:activateResponse"/>
  </wsdl:message>
  <wsdl:message name="activateException">
    <wsdl:documentation>
      <p>The activate exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:activateException"/>
  </wsdl:message>
  <wsdl:message name="amendRequest">
    <wsdl:documentation>
      <p>The amend request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:amendRequest"/>
  </wsdl:message>
  <wsdl:message name="amendResponse">
    <wsdl:documentation>
      <p>The amend response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:amendResponse"/>
  </wsdl:message>
  <wsdl:message name="amendException">
    <wsdl:documentation>
      <p>The amend exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:amendException"/>
  </wsdl:message>
  <wsdl:message name="cancelRequest">
    <wsdl:documentation>
      <p>The cancel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:cancelRequest"/>
  </wsdl:message>
  <wsdl:message name="cancelResponse">
    <wsdl:documentation>
      <p>The cancel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:cancelResponse"/>
  </wsdl:message>
  <wsdl:message name="cancelException">
    <wsdl:documentation>
      <p>The cancel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:cancelException"/>
  </wsdl:message>
  <wsdl:message name="deactivateRequest">
    <wsdl:documentation>
      <p>The deactivate request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:deactivateRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateResponse">
    <wsdl:documentation>
      <p>The deactivate response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:deactivateResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateException">
    <wsdl:documentation>
      <p>The deactivate exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:deactivateException"/>
  </wsdl:message>
  <wsdl:message name="designRequest">
    <wsdl:documentation>
      <p>The design request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:designRequest"/>
  </wsdl:message>
  <wsdl:message name="designResponse">
    <wsdl:documentation>
      <p>The design response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:designResponse"/>
  </wsdl:message>
  <wsdl:message name="designException">
    <wsdl:documentation>
      <p>The design exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:designException"/>
  </wsdl:message>
  <wsdl:message name="feasibilityCheckRequest">
    <wsdl:documentation>
      <p>The feasibilityCheck request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:feasibilityCheckRequest"/>
  </wsdl:message>
  <wsdl:message name="feasibilityCheckResponse">
    <wsdl:documentation>
      <p>The feasibilityCheck response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:feasibilityCheckResponse"/>
  </wsdl:message>
  <wsdl:message name="feasibilityCheckException">
    <wsdl:documentation>
      <p>The feasibilityCheck exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:feasibilityCheckException"/>
  </wsdl:message>
  <wsdl:message name="modifyRequest">
    <wsdl:documentation>
      <p>The modify request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:modifyRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyResponse">
    <wsdl:documentation>
      <p>The modify response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:modifyResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyException">
    <wsdl:documentation>
      <p>The modify exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:modifyException"/>
  </wsdl:message>
  <wsdl:message name="provisionRequest">
    <wsdl:documentation>
      <p>The provision request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:provisionRequest"/>
  </wsdl:message>
  <wsdl:message name="provisionResponse">
    <wsdl:documentation>
      <p>The provision response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:provisionResponse"/>
  </wsdl:message>
  <wsdl:message name="provisionException">
    <wsdl:documentation>
      <p>The provision exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:provisionException"/>
  </wsdl:message>
  <wsdl:message name="reserveRequest">
    <wsdl:documentation>
      <p>The reserve request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:reserveRequest"/>
  </wsdl:message>
  <wsdl:message name="reserveResponse">
    <wsdl:documentation>
      <p>The reserve response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:reserveResponse"/>
  </wsdl:message>
  <wsdl:message name="reserveException">
    <wsdl:documentation>
      <p>The reserve exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:reserveException"/>
  </wsdl:message>
  <wsdl:message name="retireRequest">
    <wsdl:documentation>
      <p>The retire request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:retireRequest"/>
  </wsdl:message>
  <wsdl:message name="retireResponse">
    <wsdl:documentation>
      <p>The retire response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:retireResponse"/>
  </wsdl:message>
  <wsdl:message name="retireException">
    <wsdl:documentation>
      <p>The retire exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:retireException"/>
  </wsdl:message>
  <wsdl:message name="retrieveServiceStatesRequest">
    <wsdl:documentation>
      <p>The retrieveServiceStates request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:retrieveServiceStatesRequest"/>
  </wsdl:message>
  <wsdl:message name="retrieveServiceStatesResponse">
    <wsdl:documentation>
      <p>The retrieveServiceStates response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:retrieveServiceStatesResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveServiceStatesException">
    <wsdl:documentation>
      <p>The retrieveServiceStates exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:retrieveServiceStatesException"/>
  </wsdl:message>
  <wsdl:message name="terminateRequest">
    <wsdl:documentation>
      <p>The terminate request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:terminateRequest"/>
  </wsdl:message>
  <wsdl:message name="terminateResponse">
    <wsdl:documentation>
      <p>The terminate response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:terminateResponse"/>
  </wsdl:message>
  <wsdl:message name="terminateException">
    <wsdl:documentation>
      <p>The terminate exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:terminateException"/>
  </wsdl:message>
  <wsdl:message name="testRequest">
    <wsdl:documentation>
      <p>The test request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:testRequest"/>
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:documentation>
      <p>The test response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sai:testResponse"/>
  </wsdl:message>
  <wsdl:message name="testException">
    <wsdl:documentation>
      <p>The test exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sai:testException"/>
  </wsdl:message>
</wsdl:definitions>
