mtosi_4.0/main/DDPs/ManageResourceInventory/IIS/wsdl/TerminationPointRetrieval/TerminationPointRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TerminationPointRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tpr="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TerminationPointRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TerminationPointRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" schemaLocation="../../xsd/TerminationPointRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllAssignableConnectionlessPortTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllAssignableConnectionlessPortTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignableConnectionlessPortTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignableConnectionlessPortTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllAssignableConnectionlessPortTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignableConnectionlessPortTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignableConnectionlessPortTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllAssignableConnectionlessPortTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignableConnectionlessPortTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignedConnectionlessPortTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllAssignedConnectionlessPortTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignedConnectionlessPortTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignedConnectionlessPortTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllAssignedConnectionlessPortTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignedConnectionlessPortTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignedConnectionlessPortTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllAssignedConnectionlessPortTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignedConnectionlessPortTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllConnectionlessPortTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllConnectionlessPortTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllConnectionlessPortTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllConnectionlessPortTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllConnectionlessPortTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllConnectionlessPortTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllConnectionlessPortTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllConnectionlessPortTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllConnectionlessPortTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsRequest">
    <wsdl:documentation>
      <p>The getAllEdgePoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsResponse">
    <wsdl:documentation>
      <p>The getAllEdgePoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsException">
    <wsdl:documentation>
      <p>The getAllEdgePoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFloatingTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllFloatingTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllFloatingTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFloatingTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllFloatingTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllFloatingTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFloatingTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllFloatingTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllFloatingTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllGroupTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllGroupTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllGroupTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllGroupTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllGroupTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllGroupTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllGroupTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllGroupTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllGroupTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPhysicalTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllPhysicalTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPhysicalTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPhysicalTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllPhysicalTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPhysicalTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPhysicalTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllPhysicalTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllPhysicalTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPhysicalTerminationPointsWithoutFtpsRequest">
    <wsdl:documentation>
      <p>The getAllPhysicalTerminationPointsWithoutFtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPhysicalTerminationPointsWithoutFtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPhysicalTerminationPointsWithoutFtpsResponse">
    <wsdl:documentation>
      <p>The getAllPhysicalTerminationPointsWithoutFtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPhysicalTerminationPointsWithoutFtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPhysicalTerminationPointsWithoutFtpsException">
    <wsdl:documentation>
      <p>The getAllPhysicalTerminationPointsWithoutFtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllPhysicalTerminationPointsWithoutFtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPhysicalTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getAllSupportedPhysicalTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPhysicalTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPhysicalTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getAllSupportedPhysicalTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPhysicalTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPhysicalTerminationPointsException">
    <wsdl:documentation>
      <p>The getAllSupportedPhysicalTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPhysicalTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTerminationPointPoolsRequest">
    <wsdl:documentation>
      <p>The getAllTerminationPointPools request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllTerminationPointPoolsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTerminationPointPoolsResponse">
    <wsdl:documentation>
      <p>The getAllTerminationPointPools response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllTerminationPointPoolsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTerminationPointPoolsException">
    <wsdl:documentation>
      <p>The getAllTerminationPointPools exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllTerminationPointPoolsException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTerminationPointRequest">
    <wsdl:documentation>
      <p>The getAssociatedTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTerminationPointResponse">
    <wsdl:documentation>
      <p>The getAssociatedTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTerminationPointException">
    <wsdl:documentation>
      <p>The getAssociatedTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedGroupTerminationPointRequest">
    <wsdl:documentation>
      <p>The getAssociatedGroupTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedGroupTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedGroupTerminationPointResponse">
    <wsdl:documentation>
      <p>The getAssociatedGroupTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedGroupTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedGroupTerminationPointException">
    <wsdl:documentation>
      <p>The getAssociatedGroupTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedGroupTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTerminationPointsWrtTmdRequest">
    <wsdl:documentation>
      <p>The getAssociatedTerminationPointsWrtTmd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTerminationPointsWrtTmdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTerminationPointsWrtTmdResponse">
    <wsdl:documentation>
      <p>The getAssociatedTerminationPointsWrtTmd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTerminationPointsWrtTmdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTerminationPointsWrtTmdException">
    <wsdl:documentation>
      <p>The getAssociatedTerminationPointsWrtTmd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTerminationPointsWrtTmdException"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentConnectionTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getContainedCurrentConnectionTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentConnectionTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentConnectionTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getContainedCurrentConnectionTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentConnectionTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentConnectionTerminationPointsException">
    <wsdl:documentation>
      <p>The getContainedCurrentConnectionTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentConnectionTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseConnectionTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getContainedInUseConnectionTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseConnectionTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseConnectionTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getContainedInUseConnectionTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseConnectionTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseConnectionTerminationPointsException">
    <wsdl:documentation>
      <p>The getContainedInUseConnectionTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseConnectionTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialConnectionTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getContainedPotentialConnectionTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialConnectionTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialConnectionTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getContainedPotentialConnectionTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialConnectionTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialConnectionTerminationPointsException">
    <wsdl:documentation>
      <p>The getContainedPotentialConnectionTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialConnectionTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getContainingGroupTerminationPointRequest">
    <wsdl:documentation>
      <p>The getContainingGroupTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingGroupTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingGroupTerminationPointResponse">
    <wsdl:documentation>
      <p>The getContainingGroupTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingGroupTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingGroupTerminationPointException">
    <wsdl:documentation>
      <p>The getContainingGroupTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainingGroupTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="getContainingTerminationPointsRequest">
    <wsdl:documentation>
      <p>The getContainingTerminationPoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingTerminationPointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingTerminationPointsResponse">
    <wsdl:documentation>
      <p>The getContainingTerminationPoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingTerminationPointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingTerminationPointsException">
    <wsdl:documentation>
      <p>The getContainingTerminationPoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainingTerminationPointsException"/>
  </wsdl:message>
  <wsdl:message name="getGroupTerminationPointRequest">
    <wsdl:documentation>
      <p>The getGroupTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGroupTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="getGroupTerminationPointResponse">
    <wsdl:documentation>
      <p>The getGroupTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGroupTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="getGroupTerminationPointException">
    <wsdl:documentation>
      <p>The getGroupTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getGroupTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointRequest">
    <wsdl:documentation>
      <p>The getTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointResponse">
    <wsdl:documentation>
      <p>The getTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointException">
    <wsdl:documentation>
      <p>The getTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointGroupingRelationshipsRequest">
    <wsdl:documentation>
      <p>The getTerminationPointGroupingRelationships request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointGroupingRelationshipsRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointGroupingRelationshipsResponse">
    <wsdl:documentation>
      <p>The getTerminationPointGroupingRelationships response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointGroupingRelationshipsResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointGroupingRelationshipsException">
    <wsdl:documentation>
      <p>The getTerminationPointGroupingRelationships exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointGroupingRelationshipsException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointPoolRequest">
    <wsdl:documentation>
      <p>The getTerminationPointPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointPoolResponse">
    <wsdl:documentation>
      <p>The getTerminationPointPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointPoolException">
    <wsdl:documentation>
      <p>The getTerminationPointPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointPoolException"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfileAssociatedTpsRequest">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfileAssociatedTps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTrafficConditioningProfileAssociatedTpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfileAssociatedTpsResponse">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfileAssociatedTps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTrafficConditioningProfileAssociatedTpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfileAssociatedTpsException">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfileAssociatedTps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTrafficConditioningProfileAssociatedTpsException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointsIteratorRequest">
    <wsdl:documentation>
      <p>The getTerminationPointsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointsIteratorResponse">
    <wsdl:documentation>
      <p>The getTerminationPointsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointsIteratorException">
    <wsdl:documentation>
      <p>The getTerminationPointsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getGroupTerminationPointsIteratorRequest">
    <wsdl:documentation>
      <p>The getGroupTerminationPointsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGroupTerminationPointsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getGroupTerminationPointsIteratorResponse">
    <wsdl:documentation>
      <p>The getGroupTerminationPointsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGroupTerminationPointsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getGroupTerminationPointsIteratorException">
    <wsdl:documentation>
      <p>The getGroupTerminationPointsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getGroupTerminationPointsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointPoolsIteratorRequest">
    <wsdl:documentation>
      <p>The getTerminationPointPoolsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointPoolsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointPoolsIteratorResponse">
    <wsdl:documentation>
      <p>The getTerminationPointPoolsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointPoolsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointPoolsIteratorException">
    <wsdl:documentation>
      <p>The getTerminationPointPoolsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointPoolsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
