Product/tags/DDPs-mtosi2.1/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementControl/PerformanceManagementControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:pmc="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" schemaLocation="../../xsd/PerformanceManagementControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="clearPerformanceMonitoringDataRequest">
    <wsdl:documentation>
      <p>The clearPerformanceMonitoringData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:clearPerformanceMonitoringDataRequest"/>
  </wsdl:message>
  <wsdl:message name="clearPerformanceMonitoringDataResponse">
    <wsdl:documentation>
      <p>The clearPerformanceMonitoringData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:clearPerformanceMonitoringDataResponse"/>
  </wsdl:message>
  <wsdl:message name="clearPerformanceMonitoringDataException">
    <wsdl:documentation>
      <p>The clearPerformanceMonitoringData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmc:clearPerformanceMonitoringDataException"/>
  </wsdl:message>
  <wsdl:message name="disablePerformanceMonitoringDataRequest">
    <wsdl:documentation>
      <p>The disablePerformanceMonitoringData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:disablePerformanceMonitoringDataRequest"/>
  </wsdl:message>
  <wsdl:message name="disablePerformanceMonitoringDataResponse">
    <wsdl:documentation>
      <p>The disablePerformanceMonitoringData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:disablePerformanceMonitoringDataResponse"/>
  </wsdl:message>
  <wsdl:message name="disablePerformanceMonitoringDataException">
    <wsdl:documentation>
      <p>The disablePerformanceMonitoringData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmc:disablePerformanceMonitoringDataException"/>
  </wsdl:message>
  <wsdl:message name="enablePerformanceMonitoringDataRequest">
    <wsdl:documentation>
      <p>The enablePerformanceMonitoringData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:enablePerformanceMonitoringDataRequest"/>
  </wsdl:message>
  <wsdl:message name="enablePerformanceMonitoringDataResponse">
    <wsdl:documentation>
      <p>The enablePerformanceMonitoringData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:enablePerformanceMonitoringDataResponse"/>
  </wsdl:message>
  <wsdl:message name="enablePerformanceMonitoringDataException">
    <wsdl:documentation>
      <p>The enablePerformanceMonitoringData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmc:enablePerformanceMonitoringDataException"/>
  </wsdl:message>
</wsdl:definitions>
