Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MlsnRetrieval/MlsnRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MlsnRetrievalJmsV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: MlsnRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains the mTOP MlsnRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" location="MlsnRetrievalMessages.wsdl"/>
  <wsdl:portType name="MlsnRetrieval_MSG">
    <wsdl:documentation>
      <p>The MlsnRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <wsdl:documentation>
        <p>ABR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMultiLayerSubnetworkNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworkNamesWrtOsResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" message="tns:getAllMultiLayerSubnetworkNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOs">
      <wsdl:documentation>
        <p>ABR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMultiLayerSubnetworksWrtOsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworksWrtOsResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsException" message="tns:getAllMultiLayerSubnetworksWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworks">
      <wsdl:documentation>
        <p>ABR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworksRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworksResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksException" message="tns:getAllTopLevelMultiLayerSubnetworksException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <wsdl:documentation>
        <p>ABR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworkNamesRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworkNamesResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" message="tns:getAllTopLevelMultiLayerSubnetworkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <wsdl:documentation>
        <p>ARR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainingMultiLayerSubnetworkNamesRequest"/>
      <wsdl:output message="tns:getContainingMultiLayerSubnetworkNamesResponse"/>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException" message="tns:getContainingMultiLayerSubnetworkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <wsdl:documentation>
        <p>ARR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getMultiLayerSubnetworkRequest"/>
      <wsdl:output message="tns:getMultiLayerSubnetworkResponse"/>
      <wsdl:fault name="getMultiLayerSubnetworkException" message="tns:getMultiLayerSubnetworkException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MlsnRetrievalSoapJmsBinding" type="tns:MlsnRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the MlsnRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMultiLayerSubnetworkNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMultiLayerSubnetworkNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException">
        <soap:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMultiLayerSubnetworksWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMultiLayerSubnetworksWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsException">
        <soap:fault name="getAllMultiLayerSubnetworksWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworks">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworkNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworkNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingMultiLayerSubnetworkNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingMultiLayerSubnetworkNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException">
        <soap:fault name="getContainingMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerSubnetworkRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerSubnetworkResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSubnetworkException">
        <soap:fault name="getMultiLayerSubnetworkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MlsnRetrievalJms">
    <wsdl:documentation>
      <p>Example of the MlsnRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="MlsnRetrievalSoapJms" binding="tns:MlsnRetrievalSoapJmsBinding">
      <soap:address location="http://aserver/mtosi/MlsnRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
