mtosi_2.0/main/DDPs/ResourceTroubleManagement/IIS/wsdl/ProtectionRetrieval/ProtectionRetrievalPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ProtectionRetrievalV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: ProtectionRetrieval Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP ProtectionRetrieval Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0" location="ProtectionRetrievalMessages.wsdl"/>
  <wsdl:portType name="ProtectionRetrieval">
    <wsdl:documentation>
      <p>The ProtectionRetrieval porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllEquipmentProtectionGroups">
      <wsdl:input message="tns:getAllEquipmentProtectionGroupsRequest"/>
      <wsdl:output message="tns:getAllEquipmentProtectionGroupsResponse"/>
      <wsdl:fault name="getAllEquipmentProtectionGroupsException" message="tns:getAllEquipmentProtectionGroupsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllNuttpNames">
      <wsdl:input message="tns:getAllNuttpNamesRequest"/>
      <wsdl:output message="tns:getAllNuttpNamesResponse"/>
      <wsdl:fault name="getAllNuttpNamesException" message="tns:getAllNuttpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPreemptibleTpNames">
      <wsdl:input message="tns:getAllPreemptibleTpNamesRequest"/>
      <wsdl:output message="tns:getAllPreemptibleTpNamesResponse"/>
      <wsdl:fault name="getAllPreemptibleTpNamesException" message="tns:getAllPreemptibleTpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllProtectedTpNames">
      <wsdl:input message="tns:getAllProtectedTpNamesRequest"/>
      <wsdl:output message="tns:getAllProtectedTpNamesResponse"/>
      <wsdl:fault name="getAllProtectedTpNamesException" message="tns:getAllProtectedTpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllProtectionGroups">
      <wsdl:input message="tns:getAllProtectionGroupsRequest"/>
      <wsdl:output message="tns:getAllProtectionGroupsResponse"/>
      <wsdl:fault name="getAllProtectionGroupsException" message="tns:getAllProtectionGroupsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingPgNames">
      <wsdl:input message="tns:getContainingPgNamesRequest"/>
      <wsdl:output message="tns:getContainingPgNamesResponse"/>
      <wsdl:fault name="getContainingPgNamesException" message="tns:getContainingPgNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getEquipmentProtectionGroup">
      <wsdl:input message="tns:getEquipmentProtectionGroupRequest"/>
      <wsdl:output message="tns:getEquipmentProtectionGroupResponse"/>
      <wsdl:fault name="getEquipmentProtectionGroupException" message="tns:getEquipmentProtectionGroupException"/>
    </wsdl:operation>
    <wsdl:operation name="getProtectionGroup">
      <wsdl:input message="tns:getProtectionGroupRequest"/>
      <wsdl:output message="tns:getProtectionGroupResponse"/>
      <wsdl:fault name="getProtectionGroupException" message="tns:getProtectionGroupException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveEquipmentSwitchData">
      <wsdl:input message="tns:retrieveEquipmentSwitchDataRequest"/>
      <wsdl:output message="tns:retrieveEquipmentSwitchDataResponse"/>
      <wsdl:fault name="retrieveEquipmentSwitchDataException" message="tns:retrieveEquipmentSwitchDataException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveSwitchData">
      <wsdl:input message="tns:retrieveSwitchDataRequest"/>
      <wsdl:output message="tns:retrieveSwitchDataResponse"/>
      <wsdl:fault name="retrieveSwitchDataException" message="tns:retrieveSwitchDataException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
