mtosi_2.0/main/DDPs/ResourceTroubleManagement/IIS/wsdl/ProtectionRetrieval/ProtectionRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ProtectionRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: ProtectionRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP ProtectionRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0" location="ProtectionRetrievalPortType.wsdl"/>
  <wsdl:binding name="ProtectionRetrievalSoapHttpBinding" type="tns:ProtectionRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the ProtectionRetrieval portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllEquipmentProtectionGroups">
      <soap:operation soapAction="getAllEquipmentProtectionGroups" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEquipmentProtectionGroupsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEquipmentProtectionGroupsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEquipmentProtectionGroupsException">
        <soap:fault name="getAllEquipmentProtectionGroupsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllNuttpNames">
      <soap:operation soapAction="getAllNuttpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllNuttpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllNuttpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllNuttpNamesException">
        <soap:fault name="getAllNuttpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPreemptibleTpNames">
      <soap:operation soapAction="getAllPreemptibleTpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPreemptibleTpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPreemptibleTpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPreemptibleTpNamesException">
        <soap:fault name="getAllPreemptibleTpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllProtectedTpNames">
      <soap:operation soapAction="getAllProtectedTpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllProtectedTpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllProtectedTpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllProtectedTpNamesException">
        <soap:fault name="getAllProtectedTpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllProtectionGroups">
      <soap:operation soapAction="getAllProtectionGroups" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllProtectionGroupsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllProtectionGroupsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllProtectionGroupsException">
        <soap:fault name="getAllProtectionGroupsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingPgNames">
      <soap:operation soapAction="getContainingPgNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingPgNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingPgNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingPgNamesException">
        <soap:fault name="getContainingPgNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEquipmentProtectionGroup">
      <soap:operation soapAction="getEquipmentProtectionGroup" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getEquipmentProtectionGroupRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getEquipmentProtectionGroupResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getEquipmentProtectionGroupException">
        <soap:fault name="getEquipmentProtectionGroupException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProtectionGroup">
      <soap:operation soapAction="getProtectionGroup" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getProtectionGroupRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getProtectionGroupResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getProtectionGroupException">
        <soap:fault name="getProtectionGroupException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveEquipmentSwitchData">
      <soap:operation soapAction="retrieveEquipmentSwitchData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:retrieveEquipmentSwitchDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:retrieveEquipmentSwitchDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="retrieveEquipmentSwitchDataException">
        <soap:fault name="retrieveEquipmentSwitchDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveSwitchData">
      <soap:operation soapAction="retrieveSwitchData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:retrieveSwitchDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:retrieveSwitchDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="retrieveSwitchDataException">
        <soap:fault name="retrieveSwitchDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtectionRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the ProtectionRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ProtectionRetrievalSoapHttp" binding="tns:ProtectionRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ProtectionRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
