Product/tags/DDPs-mtosi2.1/ManageResourceInventory/IIS/wsdl/ConnectionRetrieval/ConnectionRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ConnectionRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:conr="http://www.tmforum.org/mtop/mri/xsd/conr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ConnectionRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ConnectionRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/conr/v1" schemaLocation="../../xsd/ConnectionRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCrossConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCrossConnectionsException">
    <wsdl:documentation>
      <p>The getAllCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedCrossConnectionsException">
    <wsdl:documentation>
      <p>The getAllFixedCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsException">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpRequest">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionsWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpResponse">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionsWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFixedSubnetworkConnectionsWithTpException">
    <wsdl:documentation>
      <p>The getAllFixedSubnetworkConnectionsWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllFixedSubnetworkConnectionsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsException">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpRequest">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpResponse">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSubnetworkConnectionsWithTpException">
    <wsdl:documentation>
      <p>The getAllSubnetworkConnectionsWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getAllSubnetworkConnectionsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesRequest">
    <wsdl:documentation>
      <p>The getBackupRoutes request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesRequest"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesResponse">
    <wsdl:documentation>
      <p>The getBackupRoutes response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesResponse"/>
  </wsdl:message>
  <wsdl:message name="getBackupRoutesException">
    <wsdl:documentation>
      <p>The getBackupRoutes exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getBackupRoutesException"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteRequest">
    <wsdl:documentation>
      <p>The getIntendedRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteResponse">
    <wsdl:documentation>
      <p>The getIntendedRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getIntendedRouteException">
    <wsdl:documentation>
      <p>The getIntendedRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getIntendedRouteException"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCrossConnectionsRequest">
    <wsdl:documentation>
      <p>The getPotentialFixedCrossConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCrossConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCrossConnectionsResponse">
    <wsdl:documentation>
      <p>The getPotentialFixedCrossConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCrossConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getPotentialFixedCrossConnectionsException">
    <wsdl:documentation>
      <p>The getPotentialFixedCrossConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getPotentialFixedCrossConnectionsException"/>
  </wsdl:message>
  <wsdl:message name="getRouteRequest">
    <wsdl:documentation>
      <p>The getRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getRouteResponse">
    <wsdl:documentation>
      <p>The getRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getRouteException">
    <wsdl:documentation>
      <p>The getRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getRouteException"/>
  </wsdl:message>
  
  <wsdl:message name="getSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The getSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The getSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The getSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionException"/>
  </wsdl:message>
  
  <wsdl:message name="getSubnetworkConnectionModeOfOperationRequest">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionModeOfOperation request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionModeOfOperationRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionModeOfOperationResponse">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionModeOfOperation response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionModeOfOperationResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionModeOfOperationException">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionModeOfOperation exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionModeOfOperationException"/>
  </wsdl:message>  
  
  <wsdl:message name="getSubnetworkConnectionsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsByUserLabelException">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsIteratorRequest">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsIteratorResponse">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubnetworkConnectionsIteratorException">
    <wsdl:documentation>
      <p>The getSubnetworkConnectionsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getSubnetworkConnectionsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getCrossConnectionsIteratorRequest">
    <wsdl:documentation>
      <p>The getCrossConnectionsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getCrossConnectionsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getCrossConnectionsIteratorResponse">
    <wsdl:documentation>
      <p>The getCrossConnectionsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conr:getCrossConnectionsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getCrossConnectionsIteratorException">
    <wsdl:documentation>
      <p>The getCrossConnectionsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conr:getCrossConnectionsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
