Test/TestGV/DDPs/ResourceTroubleManagement/IIS/wsdl/AlarmRetrieval/AlarmRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions name="mTOP-ResourceTroubleManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ar="http://www.tmforum.org/mtop/rtm/ar/v1" xmlns:frm.hdr="http://www.tmforum.org/mtop/framework/header/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/ws/ar/v1" targetNamespace="http://www.tmforum.org/mtop/rtm/ws/ar/v1">
  <wsdl:documentation>
    <p>DDP: Operation Model Resource Trouble Management</p>
    <p>Module: AlarmRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains all the mTOP AlarmRetrieval Service Interface WSDL message definitions.</p>
    <p>Change Policy: TBD.</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tmforum.org/mtop/rtm/ws/ar/v1">
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/ar/v1" schemaLocation="../../xsd/AlarmRetrieval.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActiveAlarms">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarms request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="frm.hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarms"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarms response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="frm.hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarms exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getActiveAlarmsException"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsCount">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarmsCount request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="frm.hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsCount"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsCountResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarmsCount response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="frm.hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsCountResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsCountException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarmsCount exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="me:getActiveAlarmsCountException"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarms iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="frm.hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsIterator"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarms iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="frm.hdr:header"/>
    <wsdl:part name="mtopBody" element="me:getActiveAlarmsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getActiveAlarmsIteratorException exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsIteratorException"/>
  </wsdl:message>


</wsdl:definitions>
