mtosi_3.0/main/DDPs/ResourceTestManagement/IIS/wsdl/ResourceTestControl/ResourceTestControlJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0" name="mTOP-ResourceTestControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0">
	<wsdl:import namespace="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0" location="ResourceTestControlPortType.wsdl"/>
	<wsdl:documentation>
		<p>DDP: ResourceTestManagement</p>
		<p>Module: Resource Test Control Service Interface WSDL JMS Module</p>
		<p>Description: This module contains all the mTOP ResourceTestControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:binding name="ResourceTestControlSoapJmsBinding" type="tns:ResourceTestControl">
		<wsdl:documentation>
			<p>SOAP JMS binding definitions of the operations of the ResourceTestControl portType (interface)</p>
		</wsdl:documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
		<!-- startTest operation -->
		<wsdl:operation name="startTest">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:header message="tns:startTestRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:startTestResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="startTestException">
				<soap:fault name="startTestException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<!-- suspendTest operation -->
		<wsdl:operation name="suspendTest">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:header message="tns:suspendTestRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:suspendTestResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="suspendTestException">
				<soap:fault name="suspendTestException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<!-- resumeTest operation -->
		<wsdl:operation name="resumeTest">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:header message="tns:resumeTestRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:resumeTestResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="resumeTestException">
				<soap:fault name="resumeTestException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<!-- stopTest operation -->
		<wsdl:operation name="stopTest">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:header message="tns:stopTestRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:stopTestResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="stopTestException">
				<soap:fault name="stopTestException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<!-- getTestResults operation -->
		<wsdl:operation name="getTestResults">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:header message="tns:getTestResultsRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:getTestResultsResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getTestResultsException">
				<soap:fault name="getTestResultsException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<!-- deleteTest operation -->
		<wsdl:operation name="deleteTest">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:header message="tns:deleteTestRequest" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:deleteTestResponse" part="mtopHeader" use="literal"/>
				<soap:body parts="mtopBody" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="deleteTestException">
				<soap:fault name="deleteTestException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ResourceTestControlJms">
		<wsdl:documentation>
			<p>Example of the ResourceTestControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
		</wsdl:documentation>
		<wsdl:port name="ResourceTestControlSoapJms" binding="tns:ResourceTestControlSoapJmsBinding">
			<soap:address location="jms://aserver/mtosi/ResourceTestControl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
