mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/wsdl/SoftwareAndDataControl/SoftwareAndDataControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-SoftwareAndDataControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: SoftwareAndDataControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP SoftwareAndDataControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0" location="SoftwareAndDataControlMessages.wsdl"/>
  <wsdl:portType name="SoftwareAndDataControl">
    <wsdl:documentation>
      <p>The SoftwareAndDataControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="abortManagedElementBackup">
      <wsdl:input message="tns:abortManagedElementBackupRequest"/>
      <wsdl:output message="tns:abortManagedElementBackupResponse"/>
      <wsdl:fault name="abortManagedElementBackupException" message="tns:abortManagedElementBackupException"/>
    </wsdl:operation>
    <wsdl:operation name="backupManagedElement">
      <wsdl:input message="tns:backupManagedElementRequest"/>
      <wsdl:output message="tns:backupManagedElementResponse"/>
      <wsdl:fault name="backupManagedElementException" message="tns:backupManagedElementException"/>
    </wsdl:operation>
    <wsdl:operation name="getBackupList">
      <wsdl:input message="tns:getBackupListRequest"/>
      <wsdl:output message="tns:getBackupListResponse"/>
      <wsdl:fault name="getBackupListException" message="tns:getBackupListException"/>
    </wsdl:operation>
    <wsdl:operation name="getManagedElementBackupStatus">
      <wsdl:input message="tns:getManagedElementBackupStatusRequest"/>
      <wsdl:output message="tns:getManagedElementBackupStatusResponse"/>
      <wsdl:fault name="getManagedElementBackupStatusException" message="tns:getManagedElementBackupStatusException"/>
    </wsdl:operation>
    <wsdl:operation name="getBackupListIterator">
      <wsdl:input message="tns:getBackupListIteratorRequest"/>
      <wsdl:output message="tns:getBackupListIteratorResponse"/>
      <wsdl:fault name="getBackupListIteratorException" message="tns:getBackupListIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
