Product/trunk/DDPs/Framework/IIS/wsdl/NotificationBroker/NotificationBroker_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-NotificationBrokerV1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:not="http://www.tmforum.org/mtop/fmw/xsd/notmsg/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/wsdl/notb/v1" targetNamespace="http://www.tmforum.org/mtop/fmw/wsdl/notb/v1">
  <wsdl:documentation>
    <p>DDP: Framework</p>
    <p>Module: NotificationBroker Service Interface WSDL Messages Module</p>
    <p>Description: This module contains all the mTOP NotificationBroker Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/notmsg/v1" schemaLocation="../../xsd/NotificationMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notify">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The notify message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:notify"/>
  </wsdl:message>
  <wsdl:message name="subscribe">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The subscribe request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:subscribe"/>
  </wsdl:message>
  <wsdl:message name="subscribeResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The subscribe response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:subscribeResponse"/>
  </wsdl:message>
  <wsdl:message name="subscribeException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The subscribe exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:subscribeException"/>
  </wsdl:message>
  <wsdl:message name="unsubscribe">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The unsubscribe request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:unsubscribe"/>
  </wsdl:message>
  <wsdl:message name="unsubscribeResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The unsubscribe response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:unsubscribeResponse"/>
  </wsdl:message>
  <wsdl:message name="unsubscribeException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The unsubscribe exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="not:unsubscribeException"/>
  </wsdl:message>
</wsdl:definitions>
