mtosi_3.0/main/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerSNPPRetrieval/MultiLayerSNPPRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSNPPRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnppr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnppr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSNPPRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSNPPRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnppr/v1-0" location="MultiLayerSNPPRetrievalMessages.wsdl"/>
  <wsdl:portType name="MultiLayerSNPPRetrieval_RPC">
    <wsdl:documentation>
      <p>The MultiLayerSNPPRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    
    <wsdl:operation name="getAllMLSNPPsGeneral">
      <wsdl:input message="tns:getAllMLSNPPsGeneralRequest"/>
      <wsdl:output message="tns:getAllMLSNPPsGeneralResponse"/>
      <wsdl:fault name="getAllMLSNPPsGeneralException" message="tns:getAllMLSNPPsGeneralException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPsWithTP">
      <wsdl:input message="tns:getAllMLSNPPsWithTPRequest"/>
      <wsdl:output message="tns:getAllMLSNPPsWithTPResponse"/>
      <wsdl:fault name="getAllMLSNPPsWithTPException" message="tns:getAllMLSNPPsWithTPException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPsWithTNA">
      <wsdl:input message="tns:getAllMLSNPPsWithTNARequest"/>
      <wsdl:output message="tns:getAllMLSNPPsWithTNAResponse"/>
      <wsdl:fault name="getAllMLSNPPsWithTNAException" message="tns:getAllMLSNPPsWithTNAException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPs">
      <wsdl:input message="tns:getAllMLSNPPsRequest"/>
      <wsdl:output message="tns:getAllMLSNPPsResponse"/>
      <wsdl:fault name="getAllMLSNPPsException" message="tns:getAllMLSNPPsException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getMultiLayerSNPPsIterator">
      <wsdl:input message="tns:getMultiLayerSNPPsIteratorRequest"/>
      <wsdl:output message="tns:getMultiLayerSNPPsIteratorResponse"/>
      <wsdl:fault name="getMultiLayerSNPPsIteratorException" message="tns:getMultiLayerSNPPsIteratorException"/>
    </wsdl:operation>
    
  </wsdl:portType>
  <wsdl:binding name="MultiLayerSNPPRetrievalSoapHttpBinding" type="tns:MultiLayerSNPPRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the MultiLayerSNPPRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getAllMLSNPPsGeneral">
      <soap:operation soapAction="getAllMLSNPPsGeneral" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPsGeneralRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPsGeneralResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPsGeneralException">
        <soap:fault name="getAllMLSNPPsGeneralException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPsWithTP">
      <soap:operation soapAction="getAllMLSNPPsWithTP" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPsWithTPRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPsWithTPResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPsWithTPException">
        <soap:fault name="getAllMLSNPPsWithTPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPsWithTNA">
      <soap:operation soapAction="getAllMLSNPPsWithTNA" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPsWithTNARequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPsWithTNAResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPsWithTNAException">
        <soap:fault name="getAllMLSNPPsWithTNAException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPs">
      <soap:operation soapAction="getAllMLSNPPs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPsException">
        <soap:fault name="getAllMLSNPPsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getMultiLayerSNPPsIterator">
      <soap:operation soapAction="getMultiLayerSNPPsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerSNPPsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerSNPPsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSNPPsIteratorException">
        <soap:fault name="getMultiLayerSNPPsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="MultiLayerSNPPRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the MultiLayerSNPPRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="MultiLayerSNPPRetrievalSoapHttp" binding="tns:MultiLayerSNPPRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/MultiLayerSNPPRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
