mtosi_2.0/2.0ME1/DDPs/ResourceTroubleManagement/IIS/wsdl/MaintenanceControl/MaintenanceControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MaintenanceControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:mc="http://www.tmforum.org/mtop/rtm/xsd/mc/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/mc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/mc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: MaintenanceControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MaintenanceControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/mc/v1" schemaLocation="../../xsd/MaintenanceControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActiveMaintenanceOperationsRequest">
    <wsdl:documentation>
      <p>The getActiveMaintenanceOperations request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mc:getActiveMaintenanceOperationsRequest"/>
  </wsdl:message>
  <wsdl:message name="getActiveMaintenanceOperationsResponse">
    <wsdl:documentation>
      <p>The getActiveMaintenanceOperations response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mc:getActiveMaintenanceOperationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveMaintenanceOperationsException">
    <wsdl:documentation>
      <p>The getActiveMaintenanceOperations exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mc:getActiveMaintenanceOperationsException"/>
  </wsdl:message>
  <wsdl:message name="performMaintenanceOperationRequest">
    <wsdl:documentation>
      <p>The performMaintenanceOperation request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mc:performMaintenanceOperationRequest"/>
  </wsdl:message>
  <wsdl:message name="performMaintenanceOperationResponse">
    <wsdl:documentation>
      <p>The performMaintenanceOperation response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mc:performMaintenanceOperationResponse"/>
  </wsdl:message>
  <wsdl:message name="performMaintenanceOperationException">
    <wsdl:documentation>
      <p>The performMaintenanceOperation exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mc:performMaintenanceOperationException"/>
  </wsdl:message>
</wsdl:definitions>
