mtosi_2.0/2.0FullME/DDPs/ResourceProvisioning/IIS/wsdl/TopologicalLinkControl/TopologicalLinkControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TopologicalLinkControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tlc="http://www.tmforum.org/mtop/rp/xsd/tlc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tlc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tlc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TopologicalLinkControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TopologicalLinkControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tlc/v1" schemaLocation="../../xsd/TopologicalLinkControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTopologicalLinkRequest">
    <wsdl:documentation>
      <p>The createTopologicalLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlc:createTopologicalLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="createTopologicalLinkResponse">
    <wsdl:documentation>
      <p>The createTopologicalLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlc:createTopologicalLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="createTopologicalLinkException">
    <wsdl:documentation>
      <p>The createTopologicalLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlc:createTopologicalLinkException"/>
  </wsdl:message>
  <wsdl:message name="deleteTopologicalLinkRequest">
    <wsdl:documentation>
      <p>The deleteTopologicalLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlc:deleteTopologicalLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTopologicalLinkResponse">
    <wsdl:documentation>
      <p>The deleteTopologicalLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tlc:deleteTopologicalLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTopologicalLinkException">
    <wsdl:documentation>
      <p>The deleteTopologicalLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tlc:deleteTopologicalLinkException"/>
  </wsdl:message>
</wsdl:definitions>
