Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/FlowDomainControl/FlowDomainControlJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-FlowDomainControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: FlowDomainControl Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP FlowDomainControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" location="FlowDomainControlPortType.wsdl"/>
  <wsdl:binding name="FlowDomainControlSoapJmsBinding" type="tns:FlowDomainControl">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the FlowDomainControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="addFpsToFdfr">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:addFpsToFdfrRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:addFpsToFdfrResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="addFpsToFdfrException">
        <soap:fault name="addFpsToFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignCptpsToMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:assignCptpsToMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:assignCptpsToMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="assignCptpsToMfdException">
        <soap:fault name="assignCptpsToMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="associateCptpsWithFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:associateCptpsWithFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:associateCptpsWithFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="associateCptpsWithFlowDomainException">
        <soap:fault name="associateCptpsWithFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="associateMfdsWithFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:associateMfdsWithFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:associateMfdsWithFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="associateMfdsWithFlowDomainException">
        <soap:fault name="associateMfdsWithFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateFdfr">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createAndActivateFdfrRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createAndActivateFdfrResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createAndActivateFdfrException">
        <soap:fault name="createAndActivateFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createFlowDomainException">
        <soap:fault name="createFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createMfdException">
        <soap:fault name="createMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteFdfr">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateAndDeleteFdfrRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateAndDeleteFdfrResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateAndDeleteFdfrException">
        <soap:fault name="deactivateAndDeleteFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deAssociateCptpsFromFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deAssociateCptpsFromFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deAssociateCptpsFromFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deAssociateCptpsFromFlowDomainException">
        <soap:fault name="deAssociateCptpsFromFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deAssociateMfdsFromFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deAssociateMfdsFromFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deAssociateMfdsFromFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deAssociateMfdsFromFlowDomainException">
        <soap:fault name="deAssociateMfdsFromFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteFlowDomainException">
        <soap:fault name="deleteFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteMfdException">
        <soap:fault name="deleteMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyFdfr">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyFdfrRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyFdfrResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyFdfrException">
        <soap:fault name="modifyFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyFlowDomainException">
        <soap:fault name="modifyFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyMfdException">
        <soap:fault name="modifyMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeFpsFromFdfr">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:removeFpsFromFdfrRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:removeFpsFromFdfrResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="removeFpsFromFdfrException">
        <soap:fault name="removeFpsFromFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unassignCptpsFromMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:unassignCptpsFromMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:unassignCptpsFromMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="unassignCptpsFromMfdException">
        <soap:fault name="unassignCptpsFromMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateTmdAssignmentToMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:validateTmdAssignmentToMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:validateTmdAssignmentToMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="validateTmdAssignmentToMfdException">
        <soap:fault name="validateTmdAssignmentToMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowDomainControlJms">
    <wsdl:documentation>
      <p>Example of the FlowDomainControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="FlowDomainControlSoapJms" binding="tns:FlowDomainControlSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/FlowDomainControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
