Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/FlowDomainControl/FlowDomainControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-FlowDomainControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: FlowDomainControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP FlowDomainControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" location="FlowDomainControlMessages.wsdl"/>
  <wsdl:portType name="FlowDomainControl">
    <wsdl:documentation>
      <p>The FlowDomainControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="addFpsToFdfr">
      <wsdl:input message="tns:addFpsToFdfrRequest"/>
      <wsdl:output message="tns:addFpsToFdfrResponse"/>
      <wsdl:fault name="addFpsToFdfrException" message="tns:addFpsToFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="assignCptpsToMfd">
      <wsdl:input message="tns:assignCptpsToMfdRequest"/>
      <wsdl:output message="tns:assignCptpsToMfdResponse"/>
      <wsdl:fault name="assignCptpsToMfdException" message="tns:assignCptpsToMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="associateCptpsWithFlowDomain">
      <wsdl:input message="tns:associateCptpsWithFlowDomainRequest"/>
      <wsdl:output message="tns:associateCptpsWithFlowDomainResponse"/>
      <wsdl:fault name="associateCptpsWithFlowDomainException" message="tns:associateCptpsWithFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="associateMfdsWithFlowDomain">
      <wsdl:input message="tns:associateMfdsWithFlowDomainRequest"/>
      <wsdl:output message="tns:associateMfdsWithFlowDomainResponse"/>
      <wsdl:fault name="associateMfdsWithFlowDomainException" message="tns:associateMfdsWithFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateFdfr">
      <wsdl:input message="tns:createAndActivateFdfrRequest"/>
      <wsdl:output message="tns:createAndActivateFdfrResponse"/>
      <wsdl:fault name="createAndActivateFdfrException" message="tns:createAndActivateFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="createFlowDomain">
      <wsdl:input message="tns:createFlowDomainRequest"/>
      <wsdl:output message="tns:createFlowDomainResponse"/>
      <wsdl:fault name="createFlowDomainException" message="tns:createFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="createMfd">
      <wsdl:input message="tns:createMfdRequest"/>
      <wsdl:output message="tns:createMfdResponse"/>
      <wsdl:fault name="createMfdException" message="tns:createMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteFdfr">
      <wsdl:input message="tns:deactivateAndDeleteFdfrRequest"/>
      <wsdl:output message="tns:deactivateAndDeleteFdfrResponse"/>
      <wsdl:fault name="deactivateAndDeleteFdfrException" message="tns:deactivateAndDeleteFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="deAssociateCptpsFromFlowDomain">
      <wsdl:input message="tns:deAssociateCptpsFromFlowDomainRequest"/>
      <wsdl:output message="tns:deAssociateCptpsFromFlowDomainResponse"/>
      <wsdl:fault name="deAssociateCptpsFromFlowDomainException" message="tns:deAssociateCptpsFromFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="deAssociateMfdsFromFlowDomain">
      <wsdl:input message="tns:deAssociateMfdsFromFlowDomainRequest"/>
      <wsdl:output message="tns:deAssociateMfdsFromFlowDomainResponse"/>
      <wsdl:fault name="deAssociateMfdsFromFlowDomainException" message="tns:deAssociateMfdsFromFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteFlowDomain">
      <wsdl:input message="tns:deleteFlowDomainRequest"/>
      <wsdl:output message="tns:deleteFlowDomainResponse"/>
      <wsdl:fault name="deleteFlowDomainException" message="tns:deleteFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteMfd">
      <wsdl:input message="tns:deleteMfdRequest"/>
      <wsdl:output message="tns:deleteMfdResponse"/>
      <wsdl:fault name="deleteMfdException" message="tns:deleteMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyFdfr">
      <wsdl:input message="tns:modifyFdfrRequest"/>
      <wsdl:output message="tns:modifyFdfrResponse"/>
      <wsdl:fault name="modifyFdfrException" message="tns:modifyFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyFlowDomain">
      <wsdl:input message="tns:modifyFlowDomainRequest"/>
      <wsdl:output message="tns:modifyFlowDomainResponse"/>
      <wsdl:fault name="modifyFlowDomainException" message="tns:modifyFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyMfd">
      <wsdl:input message="tns:modifyMfdRequest"/>
      <wsdl:output message="tns:modifyMfdResponse"/>
      <wsdl:fault name="modifyMfdException" message="tns:modifyMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="removeFpsFromFdfr">
      <wsdl:input message="tns:removeFpsFromFdfrRequest"/>
      <wsdl:output message="tns:removeFpsFromFdfrResponse"/>
      <wsdl:fault name="removeFpsFromFdfrException" message="tns:removeFpsFromFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="unassignCptpsFromMfd">
      <wsdl:input message="tns:unassignCptpsFromMfdRequest"/>
      <wsdl:output message="tns:unassignCptpsFromMfdResponse"/>
      <wsdl:fault name="unassignCptpsFromMfdException" message="tns:unassignCptpsFromMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="validateTmdAssignmentToMfd">
      <wsdl:input message="tns:validateTmdAssignmentToMfdRequest"/>
      <wsdl:output message="tns:validateTmdAssignmentToMfdResponse"/>
      <wsdl:fault name="validateTmdAssignmentToMfdException" message="tns:validateTmdAssignmentToMfdException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
