Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/FlowDomainControl/FlowDomainControlJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-FlowDomainControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: FlowDomainControl Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP FlowDomainControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" location="FlowDomainControlPortType.wsdl"/>
  <wsdl:binding name="FlowDomainControlSoapJmsBinding" type="tns:FlowDomainControl">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the FlowDomainControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="assignConnectionlessPortTerminationPointsToMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:assignConnectionlessPortTerminationPointsToMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:assignConnectionlessPortTerminationPointsToMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="assignConnectionlessPortTerminationPointsToMfdException">
        <soap:fault name="assignConnectionlessPortTerminationPointsToMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="associateConnectionlessPortTerminationPointsWithFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:associateConnectionlessPortTerminationPointsWithFdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:associateConnectionlessPortTerminationPointsWithFdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="associateConnectionlessPortTerminationPointsWithFdException">
        <soap:fault name="associateConnectionlessPortTerminationPointsWithFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="associateMatrixFlowDomainsWithFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:associateMatrixFlowDomainsWithFdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:associateMatrixFlowDomainsWithFdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="associateMatrixFlowDomainsWithFdException">
        <soap:fault name="associateMatrixFlowDomainsWithFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateFlowDomainFragment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createAndActivateFlowDomainFragmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createAndActivateFlowDomainFragmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createAndActivateFlowDomainFragmentException">
        <soap:fault name="createAndActivateFlowDomainFragmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createFlowDomainException">
        <soap:fault name="createFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createMatrixFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createMatrixFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createMatrixFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createMatrixFlowDomainException">
        <soap:fault name="createMatrixFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteFlowDomainFragment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deactivateAndDeleteFlowDomainFragmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deactivateAndDeleteFlowDomainFragmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deactivateAndDeleteFlowDomainFragmentException">
        <soap:fault name="deactivateAndDeleteFlowDomainFragmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deAssociateConnectionlessPortTerminationPointsFromFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deAssociateConnectionlessPortTerminationPointsFromFdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deAssociateConnectionlessPortTerminationPointsFromFdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deAssociateConnectionlessPortTerminationPointsFromFdException">
        <soap:fault name="deAssociateConnectionlessPortTerminationPointsFromFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deAssociateMatrixFlowDomainsFromFd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deAssociateMatrixFlowDomainsFromFdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deAssociateMatrixFlowDomainsFromFdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deAssociateMatrixFlowDomainsFromFdException">
        <soap:fault name="deAssociateMatrixFlowDomainsFromFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteFlowDomainException">
        <soap:fault name="deleteFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteMatrixFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteMatrixFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteMatrixFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteMatrixFlowDomainException">
        <soap:fault name="deleteMatrixFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyFlowDomainException">
        <soap:fault name="modifyFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyFlowDomainFragment">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyFlowDomainFragmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyFlowDomainFragmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyFlowDomainFragmentException">
        <soap:fault name="modifyFlowDomainFragmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyMatrixFlowDomain">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyMatrixFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyMatrixFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyMatrixFlowDomainException">
        <soap:fault name="modifyMatrixFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unassignConnectionlessPortTerminationPointsFromMfd">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:unassignConnectionlessPortTerminationPointsFromMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:unassignConnectionlessPortTerminationPointsFromMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="unassignConnectionlessPortTerminationPointsFromMfdException">
        <soap:fault name="unassignConnectionlessPortTerminationPointsFromMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowDomainControlJms">
    <wsdl:documentation>
      <p>Example of the FlowDomainControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="FlowDomainControlSoapJms" binding="tns:FlowDomainControlSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/FlowDomainControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
