Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/FlowDomainControl/FlowDomainControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-FlowDomainControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:fdc="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: FlowDomainControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP FlowDomainControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" schemaLocation="../../xsd/FlowDomainControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addFpsToFdfrRequest">
    <wsdl:documentation>
      <p>The addFpsToFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:addFpsToFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="addFpsToFdfrResponse">
    <wsdl:documentation>
      <p>The addFpsToFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:addFpsToFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="addFpsToFdfrException">
    <wsdl:documentation>
      <p>The addFpsToFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:addFpsToFdfrException"/>
  </wsdl:message>
  <wsdl:message name="assignCptpsToMfdRequest">
    <wsdl:documentation>
      <p>The assignCptpsToMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:assignCptpsToMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="assignCptpsToMfdResponse">
    <wsdl:documentation>
      <p>The assignCptpsToMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:assignCptpsToMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="assignCptpsToMfdException">
    <wsdl:documentation>
      <p>The assignCptpsToMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:assignCptpsToMfdException"/>
  </wsdl:message>
  <wsdl:message name="associateCptpsWithFlowDomainRequest">
    <wsdl:documentation>
      <p>The associateCptpsWithFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateCptpsWithFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="associateCptpsWithFlowDomainResponse">
    <wsdl:documentation>
      <p>The associateCptpsWithFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateCptpsWithFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="associateCptpsWithFlowDomainException">
    <wsdl:documentation>
      <p>The associateCptpsWithFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:associateCptpsWithFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="associateMfdsWithFlowDomainRequest">
    <wsdl:documentation>
      <p>The associateMfdsWithFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateMfdsWithFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="associateMfdsWithFlowDomainResponse">
    <wsdl:documentation>
      <p>The associateMfdsWithFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateMfdsWithFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="associateMfdsWithFlowDomainException">
    <wsdl:documentation>
      <p>The associateMfdsWithFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:associateMfdsWithFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateFdfrRequest">
    <wsdl:documentation>
      <p>The createAndActivateFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createAndActivateFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateFdfrResponse">
    <wsdl:documentation>
      <p>The createAndActivateFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createAndActivateFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateFdfrException">
    <wsdl:documentation>
      <p>The createAndActivateFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:createAndActivateFdfrException"/>
  </wsdl:message>
  <wsdl:message name="createFlowDomainRequest">
    <wsdl:documentation>
      <p>The createFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="createFlowDomainResponse">
    <wsdl:documentation>
      <p>The createFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="createFlowDomainException">
    <wsdl:documentation>
      <p>The createFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:createFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="createMfdRequest">
    <wsdl:documentation>
      <p>The createMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="createMfdResponse">
    <wsdl:documentation>
      <p>The createMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="createMfdException">
    <wsdl:documentation>
      <p>The createMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:createMfdException"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteFdfrRequest">
    <wsdl:documentation>
      <p>The deactivateAndDeleteFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deactivateAndDeleteFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteFdfrResponse">
    <wsdl:documentation>
      <p>The deactivateAndDeleteFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deactivateAndDeleteFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteFdfrException">
    <wsdl:documentation>
      <p>The deactivateAndDeleteFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deactivateAndDeleteFdfrException"/>
  </wsdl:message>
  <wsdl:message name="deAssociateCptpsFromFlowDomainRequest">
    <wsdl:documentation>
      <p>The deAssociateCptpsFromFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateCptpsFromFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="deAssociateCptpsFromFlowDomainResponse">
    <wsdl:documentation>
      <p>The deAssociateCptpsFromFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateCptpsFromFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="deAssociateCptpsFromFlowDomainException">
    <wsdl:documentation>
      <p>The deAssociateCptpsFromFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deAssociateCptpsFromFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="deAssociateMfdsFromFlowDomainRequest">
    <wsdl:documentation>
      <p>The deAssociateMfdsFromFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateMfdsFromFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="deAssociateMfdsFromFlowDomainResponse">
    <wsdl:documentation>
      <p>The deAssociateMfdsFromFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateMfdsFromFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="deAssociateMfdsFromFlowDomainException">
    <wsdl:documentation>
      <p>The deAssociateMfdsFromFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deAssociateMfdsFromFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowDomainRequest">
    <wsdl:documentation>
      <p>The deleteFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowDomainResponse">
    <wsdl:documentation>
      <p>The deleteFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowDomainException">
    <wsdl:documentation>
      <p>The deleteFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deleteFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="deleteMfdRequest">
    <wsdl:documentation>
      <p>The deleteMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteMfdResponse">
    <wsdl:documentation>
      <p>The deleteMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteMfdException">
    <wsdl:documentation>
      <p>The deleteMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deleteMfdException"/>
  </wsdl:message>
  <wsdl:message name="modifyFdfrRequest">
    <wsdl:documentation>
      <p>The modifyFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyFdfrResponse">
    <wsdl:documentation>
      <p>The modifyFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyFdfrException">
    <wsdl:documentation>
      <p>The modifyFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:modifyFdfrException"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainRequest">
    <wsdl:documentation>
      <p>The modifyFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainResponse">
    <wsdl:documentation>
      <p>The modifyFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainException">
    <wsdl:documentation>
      <p>The modifyFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="modifyMfdRequest">
    <wsdl:documentation>
      <p>The modifyMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyMfdResponse">
    <wsdl:documentation>
      <p>The modifyMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyMfdException">
    <wsdl:documentation>
      <p>The modifyMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:modifyMfdException"/>
  </wsdl:message>
  <wsdl:message name="removeFpsFromFdfrRequest">
    <wsdl:documentation>
      <p>The removeFpsFromFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:removeFpsFromFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="removeFpsFromFdfrResponse">
    <wsdl:documentation>
      <p>The removeFpsFromFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:removeFpsFromFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="removeFpsFromFdfrException">
    <wsdl:documentation>
      <p>The removeFpsFromFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:removeFpsFromFdfrException"/>
  </wsdl:message>
  <wsdl:message name="unassignCptpsFromMfdRequest">
    <wsdl:documentation>
      <p>The unassignCptpsFromMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:unassignCptpsFromMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="unassignCptpsFromMfdResponse">
    <wsdl:documentation>
      <p>The unassignCptpsFromMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:unassignCptpsFromMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="unassignCptpsFromMfdException">
    <wsdl:documentation>
      <p>The unassignCptpsFromMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:unassignCptpsFromMfdException"/>
  </wsdl:message>
  <wsdl:message name="validateTmdAssignmentToMfdRequest">
    <wsdl:documentation>
      <p>The validateTmdAssignmentToMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:validateTmdAssignmentToMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="validateTmdAssignmentToMfdResponse">
    <wsdl:documentation>
      <p>The validateTmdAssignmentToMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:validateTmdAssignmentToMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="validateTmdAssignmentToMfdException">
    <wsdl:documentation>
      <p>The validateTmdAssignmentToMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:validateTmdAssignmentToMfdException"/>
  </wsdl:message>
</wsdl:definitions>
