mtosi_2.0/2.0FullME/DDPs/ResourceProvisioning/IIS/wsdl/TransmissionDescriptorControl/TransmissionDescriptorControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TransmissionDescriptorControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tmdc="http://www.tmforum.org/mtop/rp/xsd/tmdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TransmissionDescriptorControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TransmissionDescriptorControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tmdc/v1" schemaLocation="../../xsd/TransmissionDescriptorControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The createTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:createTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="createTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The createTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:createTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="createTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The createTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:createTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="deleteTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The deleteTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:deleteTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The deleteTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:deleteTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The deleteTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:deleteTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="modifyTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The modifyTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:modifyTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The modifyTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:modifyTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The modifyTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:modifyTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="setTransmissionDescriptorAssociationRequest">
    <wsdl:documentation>
      <p>The setTransmissionDescriptorAssociation request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:setTransmissionDescriptorAssociationRequest"/>
  </wsdl:message>
  <wsdl:message name="setTransmissionDescriptorAssociationResponse">
    <wsdl:documentation>
      <p>The setTransmissionDescriptorAssociation response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:setTransmissionDescriptorAssociationResponse"/>
  </wsdl:message>
  <wsdl:message name="setTransmissionDescriptorAssociationException">
    <wsdl:documentation>
      <p>The setTransmissionDescriptorAssociation exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:setTransmissionDescriptorAssociationException"/>
  </wsdl:message>
  <wsdl:message name="validateTransmissionDescriptorAssignmentToObjectRequest">
    <wsdl:documentation>
      <p>The validateTransmissionDescriptorAssignmentToObject request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:validateTransmissionDescriptorAssignmentToObjectRequest"/>
  </wsdl:message>
  <wsdl:message name="validateTransmissionDescriptorAssignmentToObjectResponse">
    <wsdl:documentation>
      <p>The validateTransmissionDescriptorAssignmentToObject response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:validateTransmissionDescriptorAssignmentToObjectResponse"/>
  </wsdl:message>
  <wsdl:message name="validateTransmissionDescriptorAssignmentToObjectException">
    <wsdl:documentation>
      <p>The validateTransmissionDescriptorAssignmentToObject exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:validateTransmissionDescriptorAssignmentToObjectException"/>
  </wsdl:message>
  <wsdl:message name="verifyTransmissionDescriptorAssignmentRequest">
    <wsdl:documentation>
      <p>The verifyTransmissionDescriptorAssignment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:verifyTransmissionDescriptorAssignmentRequest"/>
  </wsdl:message>
  <wsdl:message name="verifyTransmissionDescriptorAssignmentResponse">
    <wsdl:documentation>
      <p>The verifyTransmissionDescriptorAssignment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:verifyTransmissionDescriptorAssignmentResponse"/>
  </wsdl:message>
  <wsdl:message name="verifyTransmissionDescriptorAssignmentException">
    <wsdl:documentation>
      <p>The verifyTransmissionDescriptorAssignment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:verifyTransmissionDescriptorAssignmentException"/>
  </wsdl:message>
</wsdl:definitions>
