Product/trunk/DDPs/ResourcePerformanceManagement/IIS/xsd/PerformanceMgtControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM PerformanceManagementControl - Copyright TeleManagement Forum 2007 -->
<xsd:schema targetNamespace="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:pmp="http://www.tmforum.org/mtop/nra/xsd/pmp/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Performance Management Control</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP Performance Management Control SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceAssurance/IIS/xsd/Pmp.xsd" namespace="http://www.tmforum.org/mtop/nra/xsd/pmp/v1"/>
  <!-- ================ -->
  <xsd:element name="clearPMData" type="tns:ClearPMDataRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the clearPMData operation</p>
        <p>This allows an NMS to specify that recording of all performance management data is to be discontinued</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="clearPMDataResponse" type="tns:ClearPMDataResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the clearPMData operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="clearPMDataException" type="tns:BasePerfMgtCtrlExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the clearPMData operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="enablePMData" type="tns:EnablePMDataRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the enablePMData operation</p>
        <p>This allows an NMS to specify that specific performance management data is to be recorded.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="enablePMDataResponse" type="tns:EnablePMDataResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the enablePMData operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="enablePMDataException" type="tns:EnablePMDataExceptionMessageType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the enablePMDataResponse operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="disablePMData" type="tns:DisablePMDataRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the disablePMData operation</p>
        <p>This allows an NMS to specify that specific performance management data is not to be recorded.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="disablePMDataResponse" type="tns:DisablePMDataResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the disablePMData operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="disablePMDataException" type="tns:BasePerfMgtCtrlExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the disablePMDataResponse operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:complexType name="BasePerfMgtCtrlExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Base exception message structure of the Performance Management Control operations.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
	  <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessageType">
		<xsd:annotation>
		  <xsd:documentation>
			<p>Raised when this optional operation is not implemented</p>
		  </xsd:documentation>
		</xsd:annotation>
	  </xsd:element>
      <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessageType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case of non-specific OS internal failure</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessageType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case one of the request parameters is not a valid object reference</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionCommunicationFailure" type="msg:BaseExceptionMessageType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised when communication to an entity (needed to help fulfill the request) is lost</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="EnablePMDataExceptionMessageType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure for operation enablePMDataException.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BasePerfMgtCtrlExceptionType">
        <xsd:choice>
		  <xsd:element name="capacityExceeded" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised when the maximum number of simultaneously enabled monitoring points is exceeded</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================= -->
  <!-- Local Data Type Definitions of various messages  -->
  <!-- ================== -->
  <xsd:complexType name="EnablePMDataRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation instructs the EMS to enable (turn on) PM data collection for a list of measurement points. Within the request for each measurement point, one may specify the granularity (15min, 24h, NA, etc.) and location (nearEnd and/or farEnd and/or bidirectional) for the PM parameters that are to be activated.</p>
		<p>Enabling is done on best-effort basis. If PM could not be enabled for a subset of cases in the pmTPSelectList, a list identifying this subset is returned.</p>
		<p>PM data collection starts immediately, i.e., before the completion of the current 15 minute or 24 hour monitoring period. This may lead to incomplete collection periods. If PM collection was already on for a TP, the operation is considered successful.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pmTPSelectList" type="pmp:PMTPSelectListType">
        <xsd:annotation>
          <xsd:documentation>
            <p>This struct contains the relevant data for the enablePMData request. This must not be empty.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnablePMDataResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p></p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="failedTPSelectList" type="pmp:PMTPSelectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p> List of points which were not completely enabled. An empty list indicates that the total request was successful.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
	<xsd:complexType name="ClearPMDataRequestType">
		<xsd:annotation>
		  <xsd:documentation>
			<p>This operation instructs the EMS to clear (reset) the PM registers for a list of measurement points. Within the request for each measurement point, one may specify the granularity (15min, 24h, NA, etc.) and location (nearEnd and/or farEnd and/or bidirectional) for the PM registers that are to be reset.</p>
			<p>Clearing PM gauge minimum, maximum, and average registers means to reset them to the current measurement; for the actual gauge measurement, it has no effect. This is not considered a failure case.</p>
			<p>Clearing PM registers is done on best-effort basis. If registers could not be completely cleared for a subset of cases in the pmTPSelectList, a list identifying this subset is returned.</p>
		  </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		  <xsd:element name="pmTPSelectList" type="pmp:PMTPSelectListType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>This struct contains the relevant data for the clearPMData request. This must not be empty.</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
  <!-- ================== -->
	<xsd:complexType name="ClearPMDataResponseType">
		<xsd:annotation>
		  <xsd:documentation>
			<p>Response message structure of the clearPMDataRequest operation</p>
		  </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		  <xsd:element name="failedTPSelectList" type="pmp:PMTPSelectListType" minOccurs="0">
			<xsd:annotation>
			  <xsd:documentation>
				<p>List of points for which PM registers were not completely cleared. An empty list indicates that the total request was successful.</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
  <!-- ================== -->
	<xsd:complexType name="DisablePMDataRequestType">
		<xsd:annotation>
		  <xsd:documentation>
			<p>This operation instructs the EMS to turn off PM data collection for a list of measurement points. Within the request for each measurement point, one may specify the granularity (15min, 24h, NA, etc.) and location (nearEnd and/or farEnd and/or bidirectional) for the PM parameters that are to be deactivated.</p>
			<p>Disabling is done on a best-effort basis. If PM could not be disabled for a subset of cases in the PMTPSelectList a list identifying this subset is returned.</p>
			<p>PM collection stops immediately, i.e., before the completion of the current 15 minute or 24 hour monitoring period. This may lead to incomplete collection periods. If PM collection was never started for this TP, the operation is considered successful.</p>
		  </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		  <xsd:element name="pmTPSelectList" type="pmp:PMTPSelectListType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>This struct contains the relevant data for the disablePMData request. It must not be empty.</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
  <!-- ================== -->
	<xsd:complexType name="DisablePMDataResponseType">
		<xsd:annotation>
		  <xsd:documentation>
			<p>Response message structure of the disablePMDataRequest operation</p>
		  </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		  <xsd:element name="failedTPSelectList" type="pmp:PMTPSelectListType" minOccurs="0">
			<xsd:annotation>
			  <xsd:documentation>
				<p>List of points which were not completely disabled. An empty list indicates that the total request was successful.</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================ -->
</xsd:schema>
