Product/trunk/DDPs/ResourcePerformanceManagement/IIS/xsd/ThresholdCrossingAlertControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ThresholdCrossingAlertControl - Copyright TeleManagement Forum 2007 -->
<xsd:schema targetNamespace="http://www.tmforum.org/mtop/rpm/xsd/tcac/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/mtop/rpm/xsd/tcac/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:pmp="http://www.tmforum.org/mtop/nra/xsd/pmp/v1"  xmlns:tcapp="http://www.tmforum.org/mtop/nra/xsd/tcapp/v1" xmlns:lay="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"
attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Threshold Crossing Alert Control</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP Threshold Crossing Alert Control SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceAssurance/IIS/xsd/Pmp.xsd" namespace="http://www.tmforum.org/mtop/nra/xsd/pmp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceAssurance/IIS/xsd/Tcapp.xsd" namespace="http://www.tmforum.org/mtop/nra/xsd/tcapp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <!-- ================ -->
  <xsd:element name="enableTCA" type="tns:EnableTCARequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation will enable TCA generation on a list of TPs and/or MEs at the ME level.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="enableTCAResponse" type="tns:EnableTCAResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the enableTCA operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="enableTCAException" type="tns:EnableDisableTCAExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the enableTCA operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="disableTCA" type="tns:DisableTCARequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation will disable TCA generation on a list of TPs and/or MEs at the ME level.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="disableTCAResponse" type="tns:DisableTCAResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the disableTCA operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="disableTCAException" type="tns:EnableDisableTCAExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the disableTCA operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createTCAParameterProfile" type="tns:CreateTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation creates a new TCA Parameter Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createTCAParameterProfileResponse" type="tns:CreateTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createTCAParameterProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="createTCAParameterProfileException" type="tns:CreateTCAParameterProfileExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createTCAParameterProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteTCAParameterProfile" type="tns:DeleteTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation deletes TCA Parameter Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteTCAParameterProfileResponse" type="tns:DeleteTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteTCAParameterProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="deleteTCAParameterProfileException" type="tns:DeleteTCAParameterProfileExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteTCAParameterProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTCAParameterProfileNames" type="tns:GetAllTCAParameterProfileNamesRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation gets all TCA Parameter Profile names regardless of whether the profile is assigned to a TP or not. This is the same as getAllTCAParameterProfilesRequest but returns only names.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTCAParameterProfileNamesResponse" type="tns:GetAllTCAParameterProfileNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTCAParameterProfileNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllTCAParameterProfileNamesException" type="tns:TcaCtrlIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTCAParameterProfileNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTCAParameterProfiles" type="tns:GetAllTCAParameterProfilesRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation gets all threshold values of a TCA Parameter Profiles.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTCAParameterProfilesResponse" type="tns:GetAllTCAParameterProfilesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTCAParameterProfiles operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getAllTCAParameterProfilesException" type="tns:TcaCtrlIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTCAParameterProfiles operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTCAParameterProfile" type="tns:GetTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation gets all threshold values of a TCA Parameter Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTCAParameterProfileResponse" type="tns:GetTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTCAParameterProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTCAParameterProfileException" type="tns:BaseTcaCtrlWithNameExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTCAParameterProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTCATPParameter" type="tns:GetTCATPParameterRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The purpose of this operation is to retrieve the values of PM thresholds on a TP/layerRate measurement point. The operation is best-effort. Results are returned in the out parameter of this operation. The operation can be applied to a PTP, an FTP or CTP. The NMS requests the TCA parameters for the particular TP and granularity specified.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTCATPParameterResponse" type="tns:GetTCATPParameterResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTCATPParameter operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTCATPParameterException" type="tns:TcaCtrlIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTCATPParameter operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTCAParameterProfile" type="tns:SetTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation configures all threshold values of a TCA Parameter Profile and overwrites all the existing threshold values of the profile with the new provided threshold values. All threshold values of all TPs associated to this Profile will be changed according to the new values. Note: This includes also deletion of thresholds if the threshold is no longer contained in the provided list of TCA Parameters. The EMS has to return all TPs that could not be changed to the new threshold values due to some error reasons.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTCAParameterProfileResponse" type="tns:SetTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setTCAParameterProfileRequest operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="setTCAParameterProfileException" type="tns:BaseTcaCtrlWithNameExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setTCAParameterProfileRequest operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTCAParameterProfilePointer" type="tns:SetTCAParameterProfilePointerRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation adds/removes TCA Parameter Profiles to/from the TP. The new threshold values contained in the added profiles will be copied to the corresponding PMPs of the TP. The addition of an already associated profile to a TP overwrites the corresponding thresholds in the PMPs of the TP. The threshold values that have been configured via a profile to be removed will be kept in the PMPs.</p>
		<p><br>Notes:</br>
			<br>No further automatic updating based on changes in the profile will be done.</br>
			<br>This operation can also be used to align the TCA Thresholds of all PMPs contained in the TP with the threshold values contained in the associated TCA Parameter Profile and is therefore idempotent.</br></p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTCAParameterProfilePointerResponse" type="tns:SetTCAParameterProfilePointerResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setTCAParameterProfilePointerRequest operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="setTCAParameterProfilePointerException" type="tns:BaseTcaCtrlWithNameExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setTCAParameterProfilePointer operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTCATPParameter" type="tns:SetTCATPParameterRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p></p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTCATPParameterResponse" type="tns:SetTCATPParameterResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setTCATPParameter operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="setTCATPParameterException" type="tns:BaseTcaCtrlWithNameExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setTCATPParameter operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <!-- =====Exceptions===== -->
  <!-- ================== -->
  <xsd:complexType name="BaseTcaCtrlExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Base exception message structure of the ThresholdCrossingAlert Control operations.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
	  <xsd:element name="exceptionNotImplemented" type="msg:BaseExceptionMessageType">
		<xsd:annotation>
		  <xsd:documentation>
			<p>Raised when this optional operation is not implemented</p>
		  </xsd:documentation>
		</xsd:annotation>
	  </xsd:element>
      <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessageType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case of non-specific OS internal failure</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionInvalidInput" type="msg:BaseExceptionMessageType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised in case one of the request parameters is not a valid object reference</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exceptionCommunicationFailure" type="msg:BaseExceptionMessageType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Raised when communication to an entity (needed to help fulfill the request) is lost</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="BaseTcaCtrlWithNameExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Base exception message structure of the ThresholdCrossingAlert Control operations providing a specified name.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlExceptionType">
        <xsd:choice>
		  <xsd:element name="exceptionEntityNotFound" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised in case one of the request parameters is not a valid object reference</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="CreateTCAParameterProfileExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the operation: createTCAParameterProfileException</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlWithNameExceptionType">
        <xsd:choice>
		  <xsd:element name="userLabelInUse" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised when the userLabel uniqueness constraint is not met</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="DeleteTCAParameterProfileExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the operation: deleteTCAParameterProfile</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlWithNameExceptionType">
        <xsd:choice>
		  <xsd:element name="objectInUse" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised when Profile is still assigned to at least one TP</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="TcaCtrlIteratorExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Base exception message structure of an iterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlWithNameExceptionType">
        <xsd:choice>
		  <xsd:element name="exceptionTooManyOpenIterators" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised if the maximum number of iterators are already in use</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="EnableDisableTCAExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Base exception message structure of an iterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlWithNameExceptionType">
        <xsd:choice>
		  <xsd:element name="unableToComply" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised if the OSS is unable to change the TCA state for the specified TPs (pmTPSelectList)</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCAParameterProfilePointerExceptionType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of a operation: setTCAParameterProfilePointerException</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlWithNameExceptionType">
        <xsd:choice>
		  <xsd:element name="objectInUse" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised when TCAParameterProfile of same Layer is already assigned to the TP</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		  <xsd:element name="unableToComply" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised if the OSS is unable to change the TCA state for the specified TPs (pmTPSelectList)</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- =================================== -->
  <!-- Local Data Type Definitions of various messages  -->
  <!-- =================================== -->
  <xsd:complexType name="SetTCAParameterProfilePointerType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Base exception message structure of an iterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:BaseTcaCtrlWithNameExceptionType">
        <xsd:choice>
		  <xsd:element name="objectInUse" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised when TCAParameterProfile of same Layer is already assigned to the TP</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		  <xsd:element name="unableToComply" type="msg:BaseExceptionMessageType">
			<xsd:annotation>
			  <xsd:documentation>
				<p>Raised when threshold values in the TP could not be configured</p>
			  </xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="EnableTCARequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation will enable TCA generation on a list of TPs and/or MEs at the ME level.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pmTPSelectList" type="pmp:PMTPSelectListType">
        <xsd:annotation>
          <xsd:documentation>
            <p>This attribute contains the relevant data for the enableTCA request. This must not be empty.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="EnableTCAResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to EnableTCARequestType</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="failedTPSelectList" type="pmp:PMTPSelectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of points which were not completely enabled.An empty list indicates that the total request was successful. </p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="DisableTCARequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation will disable TCA generation on a list of TPs and/or MEs at the ME level.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pmTPSelectList" type="pmp:PMTPSelectListType">
        <xsd:annotation>
          <xsd:documentation>
            <p>This attribute contains the relevant data for the disableTCA request. This must not be empty.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="DisableTCAResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to DisableTCARequestType</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="failedTPSelectList" type="pmp:PMTPSelectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of points which were not completely disabled.An empty list indicates that the total request was successful. </p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="CreateTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation creates a new TCA Parameter Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="managedElementName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the ManagedElement under which the profile is to be created.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="layer" type="lay:LayerRateType">
        <xsd:annotation>
          <xsd:documentation>
            <p>This defines the SD1-17 layer rate of the profile to be created. </p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="userLabel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            <p>This contains the NMS defined name of the profile to be created.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forceUniqueness" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            <p>If set to TRUE the EMS has to check if the provided user label is unique in the network element domain.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="owner" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            <p>A label of the owner of the Profile. This is an optional parameter.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
	  <xsd:element name="vendorExtensions" nillable="true" minOccurs="0">
		<xsd:annotation>
		  <xsd:documentation>
			<p>Containment for all vendor extensions of this CommonResourceInfo</p>
		  </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		  <xsd:sequence>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		  </xsd:sequence>
		</xsd:complexType>
	  </xsd:element>
      <xsd:element name="listOfTCAParameter" type="tcapp:TCAParameterProfileType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The newly created profile returned.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="CreateTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p></p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameterProfile" type="pmp:PMTPSelectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of points which were not completely disabled.An empty list indicates that the total request was successful. </p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="DeleteTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation deletes a TCA Parameter Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameterProfileName" type="nam:NamingAttributesType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the profile to be deleted.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="DeleteTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to DeleteTCAParameterProfileRequestType.</p>
      </xsd:documentation>
    </xsd:annotation>
	<!-- No value returned in this reponse -->
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetTCATPParameterRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The purpose of this operation is to retrieve the values of PM thresholds on a TP/layerRate measurement point. The operation is best-effort. Results are returned in the out parameter of this operation. The operation can be applied to a PTP, an FTP or CTP. The NMS requests the TCA parameters for the particular TP and granularity specified.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpElementName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Identification of the TP for which the values of the TCA parameters are to be retrieved. The termination point name must be explicit (a generic endpoint specification may not be used in this case). See SD1-25 Object Naming for further details on TP naming.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="layer" type="lay:LayerRateType">
        <xsd:annotation>
          <xsd:documentation>
            <p>LayerRate for which the values of the TCA parameters are to be retrieved.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
	  <xsd:element name="granularity" type="pmp:PMGranularityType" nillable="true" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>
				<p>Granularity for which the TCA parameters are to be retrieved.</p>
			</xsd:documentation>
		</xsd:annotation>
	  </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetTCATPParameterResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to GetTCATPParameterRequestType.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameter" type="pmp:TCAParametersType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Result of the operation.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation configures all threshold values of a TCA Parameter Profile and overwrites all the existing threshold values of the profile with the new provided threshold values. All threshold values of all TPs associated to this Profile will be changed according to the new values. Note: This includes also deletion of thresholds if the threshold is no longer contained in the provided list of TCA Parameters. The EMS has to return all TPs that could not be changed to the new threshold values due to some error reasons.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameterProfileName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the profile to be configured.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="listOfTCAParameter" type="tcapp:TCAParameterListType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains sets of threshold values to change the profile completely.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to SetTCAParameterProfileRequestType.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameterProfile" type="tcapp:TCAParameterProfileType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Returns the changed TCA Parameter Profile.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="failedTPSelectList" type="pmp:PMTPSelectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Set of TPs that could not be changed to the new threshold values.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
	  <!-- TODO : Add MTOSI mechanism to return the MTNMv3.5 NamingAttributesIterator element: nameIt -->
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCAParameterProfilePointerRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation adds/removes TCA Parameter Profiles to/from the TP. The new threshold values contained in the added profiles will be copied to the corresponding PMPs of the TP. The addition of an already associated profile to a TP overwrites the corresponding thresholds in the PMPs of the TP. The threshold values that have been configured via a profile to be removed will be kept in the PMPs.</p>
		<p><br>Notes:</br>
			<br>No further automatic updating based on changes in the profile will be done.</br>
			<br>This operation can also be used to align the TCA Thresholds of all PMPs contained in the TP with the threshold values contained in the associated TCA Parameter Profile and is therefore idempotent.</br></p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TP to which to assign the pointer to the TCA parameter profile.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="addTCAParameterProfile" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TCAParameterProfile to be added to this TP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="removeTCAParameterProfile" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TCAParameterProfile to be removed from this TP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCAParameterProfilePointerResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation adds/removes TCA Parameter Profiles to/from the TP. The new threshold values contained in the added profiles will be copied to the corresponding PMPs of the TP. The addition of an already associated profile to a TP overwrites the corresponding thresholds in the PMPs of the TP. The threshold values that have been configured via a profile to be removed will be kept in the PMPs.</p>
        <p><br>Notes:</br>
        <br>No further automatic updating based on changes in the profile will be done.</br>
        <br>This operation can also be used to align the TCA Thresholds of all PMPs contained in the TP with the threshold values contained in the associated TCA Parameter Profile and is therefore idempotent.</br></p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetAllTCAParameterProfilesRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation allows an NMS to request all the TCA parameter profiles associated with the specified managed element. In order to allow the NMS to deal with a large number of objects, this operation uses an iterator. See SD1-15 iterator overview for information on how iterators are used in this interface.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the managed element containing the TCA parameter profiles.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetAllTCAParameterProfilesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to GetAllTCAParameterProfilesRequestType.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
	  <!-- TODO : This should be an iterator operation. This must be added -->
      <xsd:element name="tcaParameterProfileList" type="tcapp:TCAParameterProfileListType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The returned TCA parameter profiles.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetAllTCAParameterProfileNamesRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation gets all TCA Parameter Profile names regardless of whether the profile is assigned to a TP or not. This is the same as getAllTCAParameterProfilesRequest but returns only names.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the managed element containing the TCA parameter profiles.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetAllTCAParameterProfileNamesResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to GetAllTCAParameterProfileNamesRequestType.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
	  <!-- TODO : This should be an iterator operation. This must be added -->
      <xsd:element name="tcaParameterProfileNames" type="nam:NamingAttributesListType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The returned TCA parameter profiles names.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetTCAParameterProfileRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This operation gets all threshold values of a TCA Parameter Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameterProfileName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the managed element containing the TCA parameter profiles.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="GetTCAParameterProfileResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response to getTCAParameterProfileRequest.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameterProfile" type="tcapp:TCAParameterProfileType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Contains the sets of returned threshold values.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCATPParameterRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The purpose of this operation is to modify the values of TCA thresholds on a TP-layerRate measurement point. It can be applied to a PTP, an FTP or CTP. For a threshold, a low and high mark may be specified. The NMS specifies the TP and layerRate, the granularity, and the value(s) of one or more TCA threshold(s) to be modified.The operation mode is best-effort. If no TCA value is set, a default value will be active.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tpName" type="nam:NamingAttributesType">
        <xsd:annotation>
          <xsd:documentation>
            <p>Name of the managed element containing the TCA parameter profiles.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tcaParameters" type="pmp:TCAParametersType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TCA ids and corresponding values to be applied to a specific layer rate are specified by this parameter.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SetTCATPParameterResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <p>Reponse to the operation: setTCATPParameterRequest</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tcaParameters" type="pmp:TCAParametersType">
        <xsd:annotation>
          <xsd:documentation>
            <p>The settings that are actually applied are returned in this parameter.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
