mtosi_2.0/main/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" location="PerformanceManagementRetrievalMessages.wsdl"/>
  <wsdl:portType name="PerformanceManagementRetrieval">
    <wsdl:documentation>
      <p>The PerformanceManagementRetrieval porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllCurrentPmData">
      <wsdl:input message="tns:getAllCurrentPmDataRequest"/>
      <wsdl:output message="tns:getAllCurrentPmDataResponse"/>
      <wsdl:fault name="getAllCurrentPmDataException" message="tns:getAllCurrentPmDataException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPmpNames">
      <wsdl:input message="tns:getAllPmpNamesRequest"/>
      <wsdl:output message="tns:getAllPmpNamesResponse"/>
      <wsdl:fault name="getAllPmpNamesException" message="tns:getAllPmpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPmps">
      <wsdl:input message="tns:getAllPmpsRequest"/>
      <wsdl:output message="tns:getAllPmpsResponse"/>
      <wsdl:fault name="getAllPmpsException" message="tns:getAllPmpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getHistoryPmData">
      <wsdl:input message="tns:getHistoryPmDataRequest"/>
      <wsdl:output message="tns:getHistoryPmDataResponse"/>
      <wsdl:fault name="getHistoryPmDataException" message="tns:getHistoryPmDataException"/>
    </wsdl:operation>
    <wsdl:operation name="getHoldingTime">
      <wsdl:input message="tns:getHoldingTimeRequest"/>
      <wsdl:output message="tns:getHoldingTimeResponse"/>
      <wsdl:fault name="getHoldingTimeException" message="tns:getHoldingTimeException"/>
    </wsdl:operation>
    <wsdl:operation name="getMePmCapabilities">
      <wsdl:input message="tns:getMePmCapabilitiesRequest"/>
      <wsdl:output message="tns:getMePmCapabilitiesResponse"/>
      <wsdl:fault name="getMePmCapabilitiesException" message="tns:getMePmCapabilitiesException"/>
    </wsdl:operation>
    <wsdl:operation name="getProfileAssociatedTps">
      <wsdl:input message="tns:getProfileAssociatedTpsRequest"/>
      <wsdl:output message="tns:getProfileAssociatedTpsResponse"/>
      <wsdl:fault name="getProfileAssociatedTpsException" message="tns:getProfileAssociatedTpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getPmDataIterator">
      <wsdl:input message="tns:getPmDataIteratorRequest"/>
      <wsdl:output message="tns:getPmDataIteratorResponse"/>
      <wsdl:fault name="getPmDataIteratorException" message="tns:getPmDataIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getPmpNamesIterator">
      <wsdl:input message="tns:getPmpNamesIteratorRequest"/>
      <wsdl:output message="tns:getPmpNamesIteratorResponse"/>
      <wsdl:fault name="getPmpNamesIteratorException" message="tns:getPmpNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getPmpsIterator">
      <wsdl:input message="tns:getPmpsIteratorRequest"/>
      <wsdl:output message="tns:getPmpsIteratorResponse"/>
      <wsdl:fault name="getPmpsIteratorException" message="tns:getPmpsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
