mtosi_4.0/main/DDPs/ResourceTroubleManagement/IIS/wsdl/AlarmRetrieval/AlarmRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AlarmRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:ar="http://www.tmforum.org/mtop/rtm/xsd/ar/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/ar/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/ar/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AlarmRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/ar/v1" schemaLocation="../../xsd/AlarmRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActiveAlarmsRequest">
    <wsdl:documentation>
      <p>The getActiveAlarms request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsRequest"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsResponse">
    <wsdl:documentation>
      <p>The getActiveAlarms response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsException">
    <wsdl:documentation>
      <p>The getActiveAlarms exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsException"/>
  </wsdl:message>
  
    <wsdl:message name="getActiveAlarmsIteratorRequest">
    <wsdl:documentation>
      <p>The getActiveAlarmsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsIteratorResponse">
    <wsdl:documentation>
      <p>The getActiveAlarmsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsIteratorException">
    <wsdl:documentation>
      <p>The getActiveAlarmsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsIteratorException"/>
  </wsdl:message>
  
  <wsdl:message name="getActiveAlarmsCountRequest">
    <wsdl:documentation>
      <p>The getActiveAlarmsCount request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsCountRequest"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsCountResponse">
    <wsdl:documentation>
      <p>The getActiveAlarmsCount response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsCountResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveAlarmsCountException">
    <wsdl:documentation>
      <p>The getActiveAlarmsCount exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ar:getActiveAlarmsCountException"/>
  </wsdl:message>
  <wsdl:message name="getHistoryAlarmsRequest">
    <wsdl:documentation>
      <p>The getHistoryAlarms request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader"
               element="hdr:header" />
    <wsdl:part name="mtopBody"
               element="ar:getHistoryAlarmsRequest" />
  </wsdl:message>
  <wsdl:message name="getHistoryAlarmsResponse">
    <wsdl:documentation>
      <p>The getHistoryAlarms response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader"
               element="hdr:header" />
    <wsdl:part name="mtopBody"
               element="ar:getHistoryAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="getHistoryAlarmsException">
    <wsdl:documentation>
      <p>The getHistoryAlarms exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody"
               element="ar:getHistoryAlarmsException" />
  </wsdl:message>
</wsdl:definitions>
