Test/Jerome_Test/Framework/IIS/wsdl/CommonObjectInfoProvisioningV1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:coip="http://www.tmforum.org/mtop/fmw/xsd/coipmsg/v1" xmlns:tns="http://www.tmforum.org/mtop/fmw/wsdl/coip/v1-0" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="mTOP-CommonObjectInfoProvisioningV1-0" targetNamespace="http://www.tmforum.org/mtop/fmw/wsdl/coip/v1-0">
  <wsdl:documentation>
    <p>DDP: Framework</p>
    <p>Module: CommonObjectInfoProvisioning Service Interface WSDL Messages Module</p>
    <p>Description: This module contains all the mTOP CommonObjectInfoProvisioning Service Interface WSDL definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/coipmsg/v1" schemaLocation="../xsd/CommonObjectInfoProvisioningMessagesV1-0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setAliasNamesRequest">
    <wsdl:documentation>
      <p>The setAliasNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setAliasNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="setAliasNamesResponse">
    <wsdl:documentation>
      <p>The setAliasNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setAliasNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="setAliasNamesException">
    <wsdl:documentation>
      <p>The setAliasNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setAliasNamesException"/>
  </wsdl:message>
  <wsdl:message name="setUserLabelRequest">
    <wsdl:documentation>
      <p>The setUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="setUserLabelResponse">
    <wsdl:documentation>
      <p>The setUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="setUserLabelException">
    <wsdl:documentation>
      <p>The setUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="setOwnerRequest">
    <wsdl:documentation>
      <p>The setOwner request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setOwnerRequest"/>
  </wsdl:message>
  <wsdl:message name="setOwnerResponse">
    <wsdl:documentation>
      <p>The setOwner response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setOwnerResponse"/>
  </wsdl:message>
  <wsdl:message name="setOwnerException">
    <wsdl:documentation>
      <p>The setOwner exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setOwnerException"/>
  </wsdl:message>
  <wsdl:message name="setNetworkAccessDomainRequest">
    <wsdl:documentation>
      <p>The setNetworkAccessDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setNetworkAccessDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="setNetworkAccessDomainResponse">
    <wsdl:documentation>
      <p>The setNetworkAccessDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setNetworkAccessDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="setNetworkAccessDomainException">
    <wsdl:documentation>
      <p>The setNetworkAccessDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="coip:setNetworkAccessDomainException"/>
  </wsdl:message>
  <wsdl:portType name="CommonObjectInfoProvisioning">
    <wsdl:documentation>
      <p>The CommonObjectInfoProvisioning porttype (abstract interface)</p>
    </wsdl:documentation>
    <wsdl:operation name="setAliasNames">
      <wsdl:documentation>
        <p>This is the setAliasNames operation used to receive subscriptions from consumers.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:setAliasNamesRequest"/>
      <wsdl:output message="tns:setAliasNamesResponse"/>
      <wsdl:fault name="setAliasNamesException" message="tns:setAliasNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="setUserLabel">
      <wsdl:documentation>
        <p>This is the setUserLabel operation used to receive subscriptions from consumers.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:setUserLabelRequest"/>
      <wsdl:output message="tns:setUserLabelResponse"/>
      <wsdl:fault name="setUserLabelException" message="tns:setUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="setOwner">
      <wsdl:documentation>
        <p>This is the setOwner operation used to receive subscriptions from consumers.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:setOwnerRequest"/>
      <wsdl:output message="tns:setOwnerResponse"/>
      <wsdl:fault name="setOwnerException" message="tns:setOwnerException"/>
    </wsdl:operation>
    <wsdl:operation name="setNetworkAccessDomain">
      <wsdl:documentation>
        <p>This is the setNetworkAccessDomain operation used to receive subscriptions from consumers.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:setNetworkAccessDomainRequest"/>
      <wsdl:output message="tns:setNetworkAccessDomainResponse"/>
      <wsdl:fault name="setNetworkAccessDomainException" message="tns:setNetworkAccessDomainException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonObjectInfoProvisioningSoapJmsBinding" type="tns:CommonObjectInfoProvisioning">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the CommonObjectInfoProvisioning portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="setAliasNames">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setAliasNamesException">
        <soap:fault name="setAliasNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setUserLabel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setUserLabelException">
        <soap:fault name="setUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setOwner">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setOwnerException">
        <soap:fault name="setOwnerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setNetworkAccessDomain">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setNetworkAccessDomainException">
        <soap:fault name="setNetworkAccessDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonObjectInfoProvisioningSoapHttpBinding" type="tns:CommonObjectInfoProvisioning">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the CommonObjectInfoProvisioning portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="setAliasNames">
      <soap:operation soapAction="setAliasNames" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setAliasNamesException">
        <soap:fault name="setAliasNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setUserLabel">
      <soap:operation soapAction="setUserLabel" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setUserLabelException">
        <soap:fault name="setUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setOwner">
      <soap:operation soapAction="setOwner" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setOwnerException">
        <soap:fault name="setOwnerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setNetworkAccessDomain">
      <soap:operation soapAction="setNetworkAccessDomain" style="document"/>
      <wsdl:input>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setNetworkAccessDomainException">
        <soap:fault name="setNetworkAccessDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonObjectInfoProvisioning">
    <wsdl:port name="CommonObjectInfoProvisioningSoapJms" binding="tns:CommonObjectInfoProvisioningSoapJmsBinding">
      <wsdl:documentation>
        <p>Example of the CommonObjectInfoProvisioning WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
      </wsdl:documentation>
      <soap:address location="jms://aserver/mtosi/CommonObjectInfoProvisioningV1-0"/>
    </wsdl:port>
    <wsdl:port name="CommonObjectInfoProvisioningSoapHttp" binding="tns:CommonObjectInfoProvisioningSoapHttpBinding">
      <wsdl:documentation>
        <p>Example of the CommonObjectInfoProvisioning WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
      </wsdl:documentation>
      <soap:address location="http://aserver/mtosi/CommonObjectInfoProvisioningV1-0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
