mtosi_4.0/main/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapRetrieval/AlarmSeverityAssignmentProfileRetrievalPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-AlarmSeverityAssignmentProfileRetrievalV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmSeverityAssignmentProfileRetrieval Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP AlarmSeverityAssignmentProfileRetrieval Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" location="AlarmSeverityAssignmentProfileRetrievalMessages.wsdl"/>
  <wsdl:portType name="AlarmSeverityAssignmentProfileRetrieval">
    <wsdl:documentation>
      <p>The AlarmSeverityAssignmentProfileRetrieval porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAlarmSeverityAssignmentProfile">
      <wsdl:input message="tns:getAlarmSeverityAssignmentProfileRequest"/>
      <wsdl:output message="tns:getAlarmSeverityAssignmentProfileResponse"/>
      <wsdl:fault name="getAlarmSeverityAssignmentProfileException" message="tns:getAlarmSeverityAssignmentProfileException"/>
    </wsdl:operation>
    <wsdl:operation name="getAlarmSeverityAssignmentProfileByResource">
      <wsdl:input message="tns:getAlarmSeverityAssignmentProfileByResourceRequest"/>
      <wsdl:output message="tns:getAlarmSeverityAssignmentProfileByResourceResponse"/>
      <wsdl:fault name="getAlarmSeverityAssignmentProfileByResourceException" message="tns:getAlarmSeverityAssignmentProfileByResourceException"/>
    </wsdl:operation>
    <wsdl:operation name="getAlarmSeverityAssignmentProfileIterator">
      <wsdl:input message="tns:getAlarmSeverityAssignmentProfileIteratorRequest"/>
      <wsdl:output message="tns:getAlarmSeverityAssignmentProfileIteratorResponse"/>
      <wsdl:fault name="getAlarmSeverityAssignmentProfileIteratorException" message="tns:getAlarmSeverityAssignmentProfileIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmSeverityAssignmentProfilesWrtOs">
      <wsdl:input message="tns:getAllAlarmSeverityAssignmentProfilesWrtOsRequest"/>
      <wsdl:output message="tns:getAllAlarmSeverityAssignmentProfilesWrtOsResponse"/>
      <wsdl:fault name="getAllAlarmSeverityAssignmentProfilesWrtOsException" message="tns:getAllAlarmSeverityAssignmentProfilesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAsapAssociatedResourceNames">
      <wsdl:input message="tns:getAsapAssociatedResourceNamesRequest"/>
      <wsdl:output message="tns:getAsapAssociatedResourceNamesResponse"/>
      <wsdl:fault name="getAsapAssociatedResourceNamesException" message="tns:getAsapAssociatedResourceNamesException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
