mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/xsd/TopologicalLinkControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/tlc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/tlc/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:lr="http://www.tmforum.org/mtop/nrb/xsd/lay/v1" xmlns:tl="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" xmlns:crcd="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1" xmlns:crmd="http://www.tmforum.org/mtop/nrb/xsd/crmd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ResourceProvisioning</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TopologicalLinkControl SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tl.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tl/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceCreateDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceModifyDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crmd/v1"/>
  <!-- ================ -->
  <xsd:element name="createTopologicalLinkRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createTopologicalLink operation</p>
        <p>This operation creates a Topological Link; top-level as well as intra-MLSN.
The behaviour of the operation should be the same as if a target OS user were to attempt to create a Topological Link (or equivalent operation) at the target OS user interface.</p>
        <p>Therefore, the specific conditions under which the creation is rejected are left to the target OS implementation.</p>
        <p>Note: It is at the discretion of the target OS to delete Topological Links created by the requesting OS, as the owner of the Topological Link is the target OS, not the requesting OS.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createData" type="tns:TopologicalLinkCreateDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Structure describing the topological link to be created.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createTopologicalLinkResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createdTl" type="tl:TopologicalLinkType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The newly created topological link reflecting the input data.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createTopologicalLinkException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteTopologicalLinkRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteTopologicalLink operation</p>
        <p>This operation deletes a Topological Link; top-level as well as intra-MLSN.</p>
        <p>The behaviour of this operation should be the same as if a target OS user were to attempt to delete a Topological Link (or equivalent operation) at the target OS user interface.</p>
        <p>Therefore, the specific conditions under which the deletion is rejected are left to the target OS implementation.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tlRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the topological link to be deleted.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteTopologicalLinkResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteTopologicalLinkException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:complexType name="TopologicalLinkCreateDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when creating a Topological Link.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element name="direction" type="com:ConnectionDirectionType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Direction of the topological link.  A topological link can be 
         unidirectional even if both its ends are bidirectional TPs.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="layerRate" type="lr:LayerRateType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The layer of the topological link.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="aEndTpRef" type="nam:NamingAttributeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains the requested A end Termination Point of the new Topological Link.
The Termination Point name must be explicit; i.e., a generic endpoint specification may not be used in this case.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="zEndTpRef" type="nam:NamingAttributeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains the requested Z end Termination Point of the new Topological Link.
The Termination Point name must be explicit; i.e., a generic endpoint specification may not be used in this case.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isReportingAlarms" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute indicates whether alarm reporting for the Topological Link is administratively activated or de-activated.
True = alarm reporting is activated; False = alarm reporting is de-activated.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asapRef" type="nam:NamingAttributeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute indicates the required assignment of an Alarm Severity Assignement Profile (ASAP) to the Topological Link.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
