mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/xsd/TrafficConditioningProfileControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/tcpc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/tcpc/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:lp="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:tcp="http://www.tmforum.org/mtop/nrf/xsd/tcp/v1" xmlns:tpdata="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1" xmlns:crcd="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ResourceProvisioning</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TrafficConditioningProfileControl SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TcProfile.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tcp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpData.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceCreateDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1"/>
  <!-- ================ -->
  <xsd:element name="createTrafficConditioningProfileRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createTrafficConditioningProfile operation</p>
        <p>This operation creates a Traffic Conditioning (TC) Profile in the target OS.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createData" type="tns:TrafficConditioningProfileCreateDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the attributes describing the Traffic Conditioning Profile to be established.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createTrafficConditioningProfileResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createTrafficConditioningProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createdTcProfile" type="tcp:TrafficConditioningProfileType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the newly created Traffic Conditioning Profile object.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createTrafficConditioningProfileException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createTrafficConditioningProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:capacityExceeded"/>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteTrafficConditioningProfileRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteTrafficConditioningProfile operation</p>
        <p>This operation deletes a Traffic Conditioning (TC) Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tcProfileRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the Traffic Conditioning profile to be deleted.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteTrafficConditioningProfileResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteTrafficConditioningProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteTrafficConditioningProfileException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteTrafficConditioningProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyTrafficConditioningProfileRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyTrafficConditioningProfile operation</p>
        <p>This operation modifies a Traffic Conditioning (TC) Profile.</p>
        <p>When Traffic Conditioning parameters are modified, this will automatically modify the Traffic Conditioning in all associated TPs.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tcProfileRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the Traffic Conditioning profile to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifyData" type="tns:TrafficConditioningProfileModifyDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>TC Profile data to be changed.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The TPs to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyTrafficConditioningProfileResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyTrafficConditioningProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The modified TPs are returned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifiedTcProfile" type="tcp:TrafficConditioningProfileType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The modified TC Profile.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyTrafficConditioningProfileException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyTrafficConditioningProfile operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:complexType name="TrafficConditioningProfileCreateDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when creating a Traffic Conditioning Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of traffic conditioning parameters which can be set and/or 
             retrieved at a specified connectionless layer on a Termination Point (TP) 
             having this TC Profile associated. Refer to chapter "Traffic Conditioning 
             Parameters" of the supporting document SD1-16_LayeredParameters.pdf
             for details of the currently defined connectionless parameters</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================ -->
  <xsd:complexType name="TrafficConditioningProfileModifyDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when modifying a Traffic Conditioning Profile.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of traffic conditioning parameters which can be set and/or 
             retrieved at a specified connectionless layer on a Termination Point (TP) 
             having this TC Profile associated. Refer to chapter "Traffic Conditioning 
             Parameters" of the supporting document SD1-16_LayeredParameters.pdf
             for details of the currently defined connectionless parameters</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
