mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/xsd/TransmissionDescriptorControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/tmdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/tmdc/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:lp="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:tmd="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1" xmlns:tpdata="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" xmlns:tp="http://www.tmforum.org/mtop/nrf/xsd/tp/v1" xmlns:fdfr="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" xmlns:mfd="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1" xmlns:crcd="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1" xmlns:crmd="http://www.tmforum.org/mtop/nrb/xsd/crmd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ResourceProvisioning</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TransmissionDescriptorControl SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tmd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpData.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceCreateDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceModifyDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crmd/v1"/>
  <!-- ================ -->
  <xsd:element name="createTransmissionDescriptorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createTransmissionDescriptor operation</p>
        <p>The operation creates a new Transmission Descriptor.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createData" type="tns:TransmissionDescriptorCreateDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the attributes describing the Transmission Descriptor to be created.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createTransmissionDescriptorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createdTmd" type="tmd:TransmissionDescriptorType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The resulting TMD.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createTransmissionDescriptorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:capacityExceeded"/>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteTransmissionDescriptorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteTransmissionDescriptor operation</p>
        <p>This operation deletes a Transmission Descriptor (TMD).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tmdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the TMD to be deleted.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteTransmissionDescriptorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteTransmissionDescriptorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyTransmissionDescriptorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyTransmissionDescriptor operation</p>
        <p>This operation modifies a Transmission Descriptor (TMD).</p>
        <p>When transmission parameters are modified, this will automatically modify the corresponding parameters in all associated TPs/MFDs on a best effort basis. TPs/MFDs whose parameters could not be modified shall be returned by the target OS.</p>
        <p>Note: Only the modified parameters will be updated in the TPs/MFDs; i.e., the TMD parameter/value list may be inconsistent with the corresponding parameter/value list of the associated TPs/MFDs.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tmdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the name of the TransmissionDescriptor to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifyData" type="tns:TransmissionDescriptorModifyDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the new values of the attributes/parameters that shall be modified in the Transmission Descriptor.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyTransmissionDescriptorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated applied parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifiedTmd" type="tmd:TransmissionDescriptorType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Result of the modification.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="failedMeRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the names of all TMD associated Managed Eelements which could not be reached by the target OS.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="failedTpMfdRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the names of all TPs and MFDs that could not be changed to the new attribute/parameter values due to some error reasons.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyTransmissionDescriptorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyTransmissionDescriptor operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setTransmissionDescriptorAssociationRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setTransmissionDescriptorAssociation operation</p>
        <p>This operation associates/un-associates a TransmissionDescriptor (TMD) 
         to/from a TP or MFD object.</p>
        <p>The association of a TMD to an object
         by this operation amounts to a forced overwriting of the layered 
         transmission parameters of the object by the layered transmission 
         parameters of the TMD and to a forced overwriting of the additional info 
         parameters of the object by the additional TP info parameters of the TMD.</p>
        <p> When parameters of the TMD are already present as parameters of the 
         object, the current object parameter values are overwritten by the TMD 
         parameter values. When current parameters of the object are not present as 
         parameters of the TMD, the current parameters are left unchanged.</p>
        <p> An associated TMD is 
         un-associated when no name is provided for the transmissionDescriptorName 
         input parameter. The un-association of a TMD from an object has no effect 
         on the other parameters of the object, i.e. the other layered transmission
         parameters and additional info parameters of the object remain 
         unchanged.</p>
        <p> Consistency rules:<ol>
            <li> When a TMD is assigned to an object this assignment is called
         consistent if whenever a TMD transmission parameter is also present as an 
         object transmission parameter or a TMD additional info parameter is also 
         present as an object additional info parameter, the common parameters 
         of the TMD and object have the same values. </li>
            <li> The degree of consistency of a TMD assignment to an object 
         is determined by the TMD state of the object. </li>
          </ol>.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resourceRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the name of the resource whose TMD assignment has to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tmdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the TransmissionDescriptor to associate to the object. NULL means that an associated TransmissionDescriptor has to be un-associated from the object.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tmdDirection" type="tns:TransmissionDescriptorDirectionType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter identifies the "direction" of the Transmission Descriptor that has to be assigned/de-assigned.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setTransmissionDescriptorAssociationResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setTransmissionDescriptorAssociation operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setTransmissionDescriptorAssociationException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setTransmissionDescriptorAssociation operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:complexType name="TransmissionDescriptorCreateDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when creating a Transmission Descriptor.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains the requested layered Transmission Parameters associated with the different layers that are encapsulated within the Transmission Descriptor.
Refer to the attached supporting document SD1-16_LayeredParameters for details of the currently defined Transmission Parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalObjectInfo" type="gen:NameAndValueStringListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Additional info parameters which can be set 
                 on a TP or MFD by associating this TMD.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="containingTmdName" type="nam:NamingAttributeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains the name of another Transmission Descriptor (TMD) which is considered to contain this TMD.
The semantics of the containment is that the TMD shall inherit the layered Transmission Parameters and additional Object information from the containing TMD.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="externalRepresentationReference" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute provides a means to store at the target OS a reference to the external representation of the Transmission Descriptor (e.g., an XML file name). The content of this attribute is opaque at the interface and is not utilized.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================ -->
  <xsd:complexType name="TransmissionDescriptorModifyDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when modifying a Transmission Descriptor.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crmd:CommonResourceModifyDataType">
        <xsd:sequence>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains the requested layered Transmission Parameters associated with the different layers that are encapsulated within the Transmission Descriptor.
Refer to the attached supporting document SD1-16_LayeredParameters for details of the currently defined Transmission Parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalObjectInfo" type="gen:NameAndValueStringListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains additional information which can be set on a Termination Point (TP) or on a Matrix Flow Domain (MFD) by associating this Transmission Descriptor (TMD).</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="containingTmdName" type="nam:NamingAttributeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute contains the name of another Transmission Descriptor (TMD) which is considered to contain this TMD.
The semantics of the containment is that the TMD shall inherit the layered Transmission Parameters and additional Object information from the containing TMD.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="externalRepresentationReference" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute provides a means to store at the target OS a reference to the external representation of the Transmission Descriptor (e.g., an XML file name). The content of this attribute is opaque at the interface and is not utilized.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================ -->
  <xsd:simpleType name="TransmissionDescriptorDirectionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EGRESS"/>
      <xsd:enumeration value="INGRESS"/>
      <xsd:enumeration value="NEUTRAL"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
