mtosi_2.0/2.0/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:pmr="http://www.tmforum.org/mtop/rpm/xsd/pmr/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/pmr/v1" schemaLocation="../../xsd/PerformanceManagementRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCurrentPmDataRequest">
    <wsdl:documentation>
      <p>The getAllCurrentPmData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllCurrentPmDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPmDataResponse">
    <wsdl:documentation>
      <p>The getAllCurrentPmData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllCurrentPmDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPmDataException">
    <wsdl:documentation>
      <p>The getAllCurrentPmData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getAllCurrentPmDataException"/>
  </wsdl:message>
  <wsdl:message name="getAllPmpNamesRequest">
    <wsdl:documentation>
      <p>The getAllPmpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllPmpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPmpNamesResponse">
    <wsdl:documentation>
      <p>The getAllPmpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllPmpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPmpNamesException">
    <wsdl:documentation>
      <p>The getAllPmpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getAllPmpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllPmpsRequest">
    <wsdl:documentation>
      <p>The getAllPmps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllPmpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPmpsResponse">
    <wsdl:documentation>
      <p>The getAllPmps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getAllPmpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPmpsException">
    <wsdl:documentation>
      <p>The getAllPmps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getAllPmpsException"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPmDataRequest">
    <wsdl:documentation>
      <p>The getHistoryPmData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHistoryPmDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPmDataResponse">
    <wsdl:documentation>
      <p>The getHistoryPmData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHistoryPmDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPmDataException">
    <wsdl:documentation>
      <p>The getHistoryPmData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getHistoryPmDataException"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeRequest">
    <wsdl:documentation>
      <p>The getHoldingTime request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHoldingTimeRequest"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeResponse">
    <wsdl:documentation>
      <p>The getHoldingTime response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getHoldingTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeException">
    <wsdl:documentation>
      <p>The getHoldingTime exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getHoldingTimeException"/>
  </wsdl:message>
  <wsdl:message name="getMePmCapabilitiesRequest">
    <wsdl:documentation>
      <p>The getMePmCapabilities request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getMePmCapabilitiesRequest"/>
  </wsdl:message>
  <wsdl:message name="getMePmCapabilitiesResponse">
    <wsdl:documentation>
      <p>The getMePmCapabilities response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getMePmCapabilitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="getMePmCapabilitiesException">
    <wsdl:documentation>
      <p>The getMePmCapabilities exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getMePmCapabilitiesException"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTpsRequest">
    <wsdl:documentation>
      <p>The getProfileAssociatedTps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getProfileAssociatedTpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTpsResponse">
    <wsdl:documentation>
      <p>The getProfileAssociatedTps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getProfileAssociatedTpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTpsException">
    <wsdl:documentation>
      <p>The getProfileAssociatedTps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getProfileAssociatedTpsException"/>
  </wsdl:message>
  <wsdl:message name="getPmDataIteratorRequest">
    <wsdl:documentation>
      <p>The getPmDataIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPmDataIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getPmDataIteratorResponse">
    <wsdl:documentation>
      <p>The getPmDataIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPmDataIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getPmDataIteratorException">
    <wsdl:documentation>
      <p>The getPmDataIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getPmDataIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getPmpNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getPmpNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPmpNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getPmpNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getPmpNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPmpNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getPmpNamesIteratorException">
    <wsdl:documentation>
      <p>The getPmpNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getPmpNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getPmpsIteratorRequest">
    <wsdl:documentation>
      <p>The getPmpsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPmpsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getPmpsIteratorResponse">
    <wsdl:documentation>
      <p>The getPmpsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmr:getPmpsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getPmpsIteratorException">
    <wsdl:documentation>
      <p>The getPmpsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmr:getPmpsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
