mtosi_3.0/main/DDPs/ResourceTestManagement/IIS/wsdl/ResourceTestSpecControl/ResourceTestSpecControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:rts="http://www.tmforum.org/mtop/rt/xsd/rts/v1" xmlns:tns="http://www.tmforum.org/mtop/rt/wsdl/rtsc/v1-0" name="mTOP-ResourceTestSpecControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/rt/wsdl/rtsc/v1-0">
	<wsdl:documentation>
		<p>DDP: ResourceTestManagement</p>
		<p>Module: ResourceTestControl Service Interface WSDL Message Module</p>
		<p>Description: This module contains all the mTOP ResourceTestControl Service Interface WSDL message definitions.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/rt/xsd/rts/v1" schemaLocation="../../xsd/ResourceTestSpecControlMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createResourceTestSpecRequest">
		<wsdl:documentation>
			<p>The createResourceTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:createResourceTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="createResourceTestSpecResponse">
		<wsdl:documentation>
			<p>The createResourceTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:createResourceTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="createResourceTestSpecException">
		<wsdl:documentation>
			<p>The createResourceTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rts:createResourceTestSpecException"/>
	</wsdl:message>
	<wsdl:message name="modifyResourceTestSpecRequest">
		<wsdl:documentation>
			<p>The modifyResourceTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:modifyResourceTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="modifyResourceTestSpecResponse">
		<wsdl:documentation>
			<p>The modifyResourceTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:modifyResourceTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="modifyResourceTestSpecException">
		<wsdl:documentation>
			<p>The modifyResourceTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rts:modifyResourceTestSpecException"/>
	</wsdl:message>
	<wsdl:message name="getResourceTestSpecRequest">
		<wsdl:documentation>
			<p>The getResourceTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:getResourceTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="getResourceTestSpecResponse">
		<wsdl:documentation>
			<p>The getResourceTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:getResourceTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="getResourceTestSpecException">
		<wsdl:documentation>
			<p>The getResourceTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rts:getResourceTestSpecException"/>
	</wsdl:message>
	<wsdl:message name="deleteResourceTestSpecRequest">
		<wsdl:documentation>
			<p>The deleteResourceTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:deleteResourceTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteResourceTestSpecResponse">
		<wsdl:documentation>
			<p>The deleteResourceTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rts:deleteResourceTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteResourceTestSpecException">
		<wsdl:documentation>
			<p>The deleteResourceTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rts:deleteResourceTestSpecException"/>
	</wsdl:message>
	<!-- startTest messages -->
	<!-- modifyResourceTestSpec messages -->
	<!-- getResourceTestSpec messages -->
	<!-- stopTest messages -->
	<!-- getTestResults messages -->
	<!-- deleteResourceTestSpec messages -->
</wsdl:definitions>
