Product/trunk/DDPs/ResourceTroubleManagement/IIS/wsdl/ProtectionRetrieval/ProtectionRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ProtectionRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:pr="http://www.tmforum.org/mtop/rtm/xsd/pr/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/pr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: ProtectionRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ProtectionRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/pr/v1" schemaLocation="../../xsd/ProtectionRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllEquipmentProtectionGroupsRequest">
    <wsdl:documentation>
      <p>The getAllEquipmentProtectionGroups request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllEquipmentProtectionGroupsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentProtectionGroupsResponse">
    <wsdl:documentation>
      <p>The getAllEquipmentProtectionGroups response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllEquipmentProtectionGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentProtectionGroupsException">
    <wsdl:documentation>
      <p>The getAllEquipmentProtectionGroups exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getAllEquipmentProtectionGroupsException"/>
  </wsdl:message>
  <wsdl:message name="getAllNonPreemptibleUnprotectedTpNamesRequest">
    <wsdl:documentation>
      <p>The getAllNonPreemptibleUnprotectedTpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllNonPreemptibleUnprotectedTpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllNonPreemptibleUnprotectedTpNamesResponse">
    <wsdl:documentation>
      <p>The getAllNonPreemptibleUnprotectedTpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllNonPreemptibleUnprotectedTpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllNonPreemptibleUnprotectedTpNamesException">
    <wsdl:documentation>
      <p>The getAllNonPreemptibleUnprotectedTpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getAllNonPreemptibleUnprotectedTpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllPreemptibleTpNamesRequest">
    <wsdl:documentation>
      <p>The getAllPreemptibleTpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllPreemptibleTpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPreemptibleTpNamesResponse">
    <wsdl:documentation>
      <p>The getAllPreemptibleTpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllPreemptibleTpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPreemptibleTpNamesException">
    <wsdl:documentation>
      <p>The getAllPreemptibleTpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getAllPreemptibleTpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllProtectedTpNamesRequest">
    <wsdl:documentation>
      <p>The getAllProtectedTpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllProtectedTpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllProtectedTpNamesResponse">
    <wsdl:documentation>
      <p>The getAllProtectedTpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllProtectedTpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllProtectedTpNamesException">
    <wsdl:documentation>
      <p>The getAllProtectedTpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getAllProtectedTpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllProtectionGroupsRequest">
    <wsdl:documentation>
      <p>The getAllProtectionGroups request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllProtectionGroupsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllProtectionGroupsResponse">
    <wsdl:documentation>
      <p>The getAllProtectionGroups response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getAllProtectionGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllProtectionGroupsException">
    <wsdl:documentation>
      <p>The getAllProtectionGroups exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getAllProtectionGroupsException"/>
  </wsdl:message>
  <wsdl:message name="getContainingProtectionGroupNamesRequest">
    <wsdl:documentation>
      <p>The getContainingProtectionGroupNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getContainingProtectionGroupNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingProtectionGroupNamesResponse">
    <wsdl:documentation>
      <p>The getContainingProtectionGroupNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getContainingProtectionGroupNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingProtectionGroupNamesException">
    <wsdl:documentation>
      <p>The getContainingProtectionGroupNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getContainingProtectionGroupNamesException"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentProtectionGroupRequest">
    <wsdl:documentation>
      <p>The getEquipmentProtectionGroup request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getEquipmentProtectionGroupRequest"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentProtectionGroupResponse">
    <wsdl:documentation>
      <p>The getEquipmentProtectionGroup response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getEquipmentProtectionGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentProtectionGroupException">
    <wsdl:documentation>
      <p>The getEquipmentProtectionGroup exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getEquipmentProtectionGroupException"/>
  </wsdl:message>
  <wsdl:message name="getProtectionGroupRequest">
    <wsdl:documentation>
      <p>The getProtectionGroup request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getProtectionGroupRequest"/>
  </wsdl:message>
  <wsdl:message name="getProtectionGroupResponse">
    <wsdl:documentation>
      <p>The getProtectionGroup response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getProtectionGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="getProtectionGroupException">
    <wsdl:documentation>
      <p>The getProtectionGroup exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getProtectionGroupException"/>
  </wsdl:message>
  <wsdl:message name="retrieveEquipmentSwitchDataRequest">
    <wsdl:documentation>
      <p>The retrieveEquipmentSwitchData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:retrieveEquipmentSwitchDataRequest"/>
  </wsdl:message>
  <wsdl:message name="retrieveEquipmentSwitchDataResponse">
    <wsdl:documentation>
      <p>The retrieveEquipmentSwitchData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:retrieveEquipmentSwitchDataResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveEquipmentSwitchDataException">
    <wsdl:documentation>
      <p>The retrieveEquipmentSwitchData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:retrieveEquipmentSwitchDataException"/>
  </wsdl:message>
  <wsdl:message name="retrieveSwitchDataRequest">
    <wsdl:documentation>
      <p>The retrieveSwitchData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:retrieveSwitchDataRequest"/>
  </wsdl:message>
  <wsdl:message name="retrieveSwitchDataResponse">
    <wsdl:documentation>
      <p>The retrieveSwitchData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:retrieveSwitchDataResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveSwitchDataException">
    <wsdl:documentation>
      <p>The retrieveSwitchData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:retrieveSwitchDataException"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentProtectionGroupIteratorRequest">
    <wsdl:documentation>
      <p>The getEquipmentProtectionGroupIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getEquipmentProtectionGroupIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentProtectionGroupIteratorResponse">
    <wsdl:documentation>
      <p>The getEquipmentProtectionGroupIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getEquipmentProtectionGroupIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentProtectionGroupIteratorException">
    <wsdl:documentation>
      <p>The getEquipmentProtectionGroupIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getEquipmentProtectionGroupIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getProtectionGroupIteratorRequest">
    <wsdl:documentation>
      <p>The getProtectionGroupIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getProtectionGroupIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getProtectionGroupIteratorResponse">
    <wsdl:documentation>
      <p>The getProtectionGroupIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pr:getProtectionGroupIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getProtectionGroupIteratorException">
    <wsdl:documentation>
      <p>The getProtectionGroupIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pr:getProtectionGroupIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
