Product/trunk/DDPs/NetworkResourceBasic/IIS/xml/Vendor1CommonExt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - DM Basic - Copyright TeleManagement Forum 2006 -->
<!-- This sample XSD is generated to show an example of a vendor extension from the CommonResourceInfo_T -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vendor1.com/xsd/cri/v1" xmlns:tns="http://www.vendor1.com/xsd/cri/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <!-- ================= -->
  <xsd:element name="color" type="xsd:string"/>
  <xsd:element name="size" type="xsd:string"/>
  <xsd:element name="tested" type="xsd:boolean"/>
</xsd:schema>
