mtosi_1.1/xsd/interfaces/IteratorRequestMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- TMF854 Version 1.1 - Copyright TeleManagement Forum 2005, 2006 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="tmf854.v1" targetNamespace="tmf854.v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- ======== Includes ========= -->
  <xsd:include schemaLocation="../common/Definitions.xsd"/>
  <!-- ======== Elements ========= -->
  <xsd:element name="getActiveAlarmIterator" type="getActiveAlarmIterator_T"/>
  <xsd:element name="getCrossConnectionIterator" type="getCrossConnectionIterator_T"/>
  <xsd:element name="getCtpIterator" type="getCtpIterator_T"/>
  <xsd:element name="getEpgpIterator" type="getEpgpIterator_T"/>
  <xsd:element name="getEquipmentOrHolderIterator" type="getEquipmentOrHolderIterator_T"/>
  <xsd:element name="getFtpIterator" type="getFtpIterator_T"/>
  <xsd:element name="getInventoryIterator" type="getInventoryIterator_T"/>
  <xsd:element name="getMdIterator" type="getMdIterator_T"/>
  <xsd:element name="getMeIterator" type="getMeIterator_T"/>
  <xsd:element name="getMlsnIterator" type="getMlsnIterator_T"/>
  <xsd:element name="getObjectNamesIterator" type="getObjectNamesIterator_T"/>
  <xsd:element name="getOsIterator" type="getOsIterator_T"/>
  <xsd:element name="getPgpIterator" type="getPgpIterator_T"/>
  <xsd:element name="getPtpIterator" type="getPtpIterator_T"/>
  <xsd:element name="getSncIterator" type="getSncIterator_T"/>
  <xsd:element name="getTlIterator" type="getTlIterator_T"/>
  <xsd:element name="getTmdIterator" type="getTmdIterator_T"/>
  <xsd:element name="getTpIterator" type="getTpIterator_T"/>
  <xsd:element name="getTpPoolIterator" type="getTpPoolIterator_T"/>
  <!-- ================= -->
    <xsd:complexType name="getActiveAlarmIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Active Alarms from the OS to which an active alarm retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getCrossConnectionIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Cross Connection objects from the OS to which a CC retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getCtpIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of CTP objects from the OS to which an CTP retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getEpgpIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Equipment Protection Group objects from the OS to which an EPGP retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getEquipmentOrHolderIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Equipment or EquipmentHolder from the OS to which an Equipment retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getFtpIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of FTP objects from the OS to which a FTP retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getInventoryIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of InventoryData from the OS to which an inventory retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getMdIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Management Domain objects from the OS to which an MD retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getMeIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Managed Elements from the OS to which an ME retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getMlsnIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Multi Layer Subnetwork objects from the OS to which an MLSN retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getObjectNamesIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of object names from the OS to which an object name retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getOsIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Operations System objects from the OS to which an OS retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getPgpIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Protection Group objects from the OS to which an PGP retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getPtpIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of PTP objects from the OS to which a PTP retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getSncIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Subnetwork Connection objects from the OS to which an SNC retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getTlIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Topological Links from the OS to which an TL retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getTmdIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Transmission Descriptors from the OS to which an TMD retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getTpIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of Termination Points from the OS to which an TP retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
  <!-- ================= -->
    <xsd:complexType name="getTpPoolIterator_T">
      <xsd:annotation>
      	<xsd:documentation>
<p>This is the iterator request to return the next batch of TPPool objects from the OS to which a TPPool retrieval request was initially sent.</p>
<p>Refer to the TMF 854 XML Solution Set document for details on the Message Exchange Pattern controls.</p>
<p>Raises ProcessingFailureException 
<li>EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure</li>
<li>EXCPT_INVALID_INPUT - Raised when an invalid input parameter is provided</li>
<li>EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost</li>
</p>
      	</xsd:documentation>
      </xsd:annotation>
    <xsd:attribute name="extVersion" type="xsd:string" use="optional"/>
    <xsd:attribute name="extAuthor" type="xsd:string" use="optional"/>
    <xsd:attribute name="tmf854Version" type="TMF854_Version_T" use="optional"/>
  </xsd:complexType>
</xsd:schema>
