mtosi_4.0/main/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerRoutingAreaRetrieval/MultiLayerRoutingAreaRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerRoutingAreaRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlrar/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlrar/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerRoutingAreaRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP MultiLayerRoutingAreaRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mlrar/v1-0" location="MultiLayerRoutingAreaRetrievalMessages.wsdl"/>
  <wsdl:portType name="MultiLayerRoutingAreaRetrieval_MSG">
    <wsdl:documentation>
      <p>The MultiLayerRoutingAreaRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    
    <wsdl:operation name="getAllMultiLayerRoutingAreasWrtOs">
      <wsdl:input message="tns:getAllMultiLayerRoutingAreasWrtOsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerRoutingAreasWrtOsResponse"/>
      <wsdl:fault name="getAllMultiLayerRoutingAreasWrtOsException" message="tns:getAllMultiLayerRoutingAreasWrtOsException"/>
    </wsdl:operation>
    
       <wsdl:operation name="getAllMultiLayerRoutingAreas">
      <wsdl:input message="tns:getAllMultiLayerRoutingAreasRequest"/>
      <wsdl:output message="tns:getAllMultiLayerRoutingAreasResponse"/>
      <wsdl:fault name="getAllMultiLayerRoutingAreasException" message="tns:getAllMultiLayerRoutingAreasException"/>
    </wsdl:operation> 
    
    <wsdl:operation name="getAllSubordinateMultiLayerRoutingAreas">
      <wsdl:input message="tns:getAllSubordinateMultiLayerRoutingAreasRequest"/>
      <wsdl:output message="tns:getAllSubordinateMultiLayerRoutingAreasResponse"/>
      <wsdl:fault name="getAllSubordinateMultiLayerRoutingAreasException" message="tns:getAllSubordinateMultiLayerRoutingAreasException"/>
    </wsdl:operation>    
    
    <wsdl:operation name="getAllSubordinateRoutingAreaIDsWrtConnection">
      <wsdl:input message="tns:getAllSubordinateRoutingAreaIDsWrtConnectionRequest"/>
      <wsdl:output message="tns:getAllSubordinateRoutingAreaIDsWrtConnectionResponse"/>
      <wsdl:fault name="getAllSubordinateRoutingAreaIDsWrtConnectionException" message="tns:getAllSubordinateRoutingAreaIDsWrtConnectionException"/>
    </wsdl:operation>    
    
    <wsdl:operation name="getMultiLayerRoutingAreasIterator">
      <wsdl:input message="tns:getMultiLayerRoutingAreasIteratorRequest"/>
      <wsdl:output message="tns:getMultiLayerRoutingAreasIteratorResponse"/>
      <wsdl:fault name="getMultiLayerRoutingAreasIteratorException" message="tns:getMultiLayerRoutingAreasIteratorException"/>
    </wsdl:operation>    
    
    <wsdl:operation name="getMultiLayerRoutingAreaNamesIterator">
      <wsdl:input message="tns:getMultiLayerRoutingAreaNamesIteratorRequest"/>
      <wsdl:output message="tns:getMultiLayerRoutingAreaNamesIteratorResponse"/>
      <wsdl:fault name="getMultiLayerRoutingAreaNamesIteratorException" message="tns:getMultiLayerRoutingAreaNamesIteratorException"/>
    </wsdl:operation>     
    
  </wsdl:portType>
  
  <wsdl:binding name="MultiLayerRoutingAreaRetrievalSoapJmsBinding" type="tns:MultiLayerRoutingAreaRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the MultiLayerRoutingAreaRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    
   <wsdl:operation name="getAllMultiLayerRoutingAreasWrtOs">
      <soap:operation soapAction="getAllMultiLayerRoutingAreasWrtOs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMultiLayerRoutingAreasWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMultiLayerRoutingAreasWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerRoutingAreasWrtOsException">
        <soap:fault name="getAllMultiLayerRoutingAreasWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMultiLayerRoutingAreas">
      <soap:operation soapAction="getAllMultiLayerRoutingAreas" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMultiLayerRoutingAreasRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMultiLayerRoutingAreasResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerRoutingAreasException">
        <soap:fault name="getAllMultiLayerRoutingAreasException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllSubordinateMultiLayerRoutingAreas">
      <soap:operation soapAction="getAllSubordinateMultiLayerRoutingAreas" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubordinateMultiLayerRoutingAreasRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubordinateMultiLayerRoutingAreasResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubordinateMultiLayerRoutingAreasException">
        <soap:fault name="getAllSubordinateMultiLayerRoutingAreasException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllSubordinateRoutingAreaIDsWrtConnection">
      <soap:operation soapAction="getAllSubordinateRoutingAreaIDsWrtConnection" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubordinateRoutingAreaIDsWrtConnectionRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubordinateRoutingAreaIDsWrtConnectionResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubordinateRoutingAreaIDsWrtConnectionException">
        <soap:fault name="getAllSubordinateRoutingAreaIDsWrtConnectionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>  
  
        <wsdl:operation name="getMultiLayerRoutingAreasIterator">
      <soap:operation soapAction="getMultiLayerRoutingAreasIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerRoutingAreasIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerRoutingAreasIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerRoutingAreasIteratorException">
        <soap:fault name="getMultiLayerRoutingAreasIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getMultiLayerRoutingAreaNamesIterator">
      <soap:operation soapAction="getMultiLayerRoutingAreaNamesIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerRoutingAreaNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerRoutingAreaNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerRoutingAreaNamesIteratorException">
        <soap:fault name="getMultiLayerRoutingAreaNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation> 
        
  </wsdl:binding>
  
  <wsdl:service name="MultiLayerRoutingAreaRetrievalJms">
    <wsdl:documentation>
      <p>Example of the MultiLayerRoutingAreaRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="MultiLayerRoutingAreaRetrievalSoapJms" binding="tns:MultiLayerRoutingAreaRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/MultiLayerRoutingAreaRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
