mtosi_1.1/tmf854/wsdl/binding/soap_http/EquipmentInventoryMgrSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- TMF854 Version 1.1 - Copyright TeleManagement Forum 2005, 2006 -->
<wsdl:definitions xmlns:tmf854WS="tmf854.v1.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="tmf854.v1.ws" name="TMF854-EquipmentInventoryMgrInterfaces-SOAP-HTTP">
	<wsdl:import namespace="tmf854.v1.ws" location="../../common/EquipmentInventoryMgr.wsdl" />
	<wsdl:binding name="EquipmentInventoryMgrSoapHTTPBinding" type="tmf854WS:EquipmentInventoryMgr">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getAllEquipmentNames">
      <soap:operation soapAction="getAllEquipmentNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllEquipmentNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllEquipmentNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllEquipmentNamesIterator">
      <soap:operation soapAction="getAllEquipmentNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllEquipmentNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllEquipmentNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllEquipment">
      <soap:operation soapAction="getAllEquipment" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllEquipment" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllEquipmentIterator">
      <soap:operation soapAction="getAllEquipmentIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllEquipmentIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSupportedPTPNames">
      <soap:operation soapAction="getAllSupportedPTPNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSupportedPTPNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSupportedPTPNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSupportedPTPNamesIterator">
      <soap:operation soapAction="getAllSupportedPTPNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSupportedPTPNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSupportedPTPNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSupportedPTPs">
      <soap:operation soapAction="getAllSupportedPTPs" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSupportedPTPs" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSupportedPTPsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSupportedPTPsIterator">
      <soap:operation soapAction="getAllSupportedPTPsIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSupportedPTPsIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSupportedPTPsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSupportingEquipmentNames">
      <soap:operation soapAction="getAllSupportingEquipmentNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSupportingEquipmentNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSupportingEquipmentNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSupportingEquipment">
      <soap:operation soapAction="getAllSupportingEquipment" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSupportingEquipment" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSupportingEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getContainedEquipment">
      <soap:operation soapAction="getContainedEquipment" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getContainedEquipment" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getContainedEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getEquipment">
      <soap:operation soapAction="getEquipment" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getEquipment" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSupportedEquipmentNames">
      <soap:operation soapAction="getSupportedEquipmentNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getSupportedEquipmentNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getSupportedEquipmentNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSupportedEquipment">
      <soap:operation soapAction="getSupportedEquipment" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getSupportedEquipment" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getSupportedEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSupportingEquipmentNames">
      <soap:operation soapAction="getSupportingEquipmentNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getSupportingEquipmentNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getSupportingEquipmentNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSupportingEquipment">
      <soap:operation soapAction="getSupportingEquipment" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getSupportingEquipment" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getSupportingEquipmentResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

</wsdl:definitions>
