mtosi_1.1/tmf854/wsdl/binding/soap_http/TransmissionDescriptorMgrSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- TMF854 Version 1.1 - Copyright TeleManagement Forum 2005, 2006 -->
<wsdl:definitions xmlns:tmf854WS="tmf854.v1.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="tmf854.v1.ws" name="TMF854-TransmissionDescriptorMgrRetrieval-SOAP-HTTP">
	<wsdl:import namespace="tmf854.v1.ws" location="../../common/TransmissionDescriptorMgr.wsdl" />
	<wsdl:binding name="TransmissionDescriptorMgrSoapHTTPBinding" type="tmf854WS:TransmissionDescriptorMgr">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getAllTransmissionDescriptorNames">
      <soap:operation soapAction="getAllTransmissionDescriptorNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTransmissionDescriptorNamesIterator">
      <soap:operation soapAction="getAllTransmissionDescriptorNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTransmissionDescriptors">
      <soap:operation soapAction="getAllTransmissionDescriptors" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTransmissionDescriptors" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTransmissionDescriptorsIterator">
      <soap:operation soapAction="getAllTransmissionDescriptorsIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorsIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTransmissionDescriptorsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAssociatedTPs">
      <soap:operation soapAction="getAssociatedTPs" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAssociatedTPs" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAssociatedTPsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAssociatedTPsIterator">
      <soap:operation soapAction="getAssociatedTPsIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAssociatedTPsIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAssociatedTPsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getTransmissionDescriptor">
      <soap:operation soapAction="getTransmissionDescriptor" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getTransmissionDescriptor" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getTransmissionDescriptorResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

</wsdl:definitions>


