Test/Jerome_Test/ManageResourceInventory/IIS/xsd/ConnectionRetrievalMessagesV1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/conr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/conr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:it="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1" xmlns:ft="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1" xmlns:bn="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP ConnectionRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepBatchNotificationDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepIteratorDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepFileTransferDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllCrossConnectionsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllCrossConnectionsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCrossConnectionsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllCrossConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCrossConnectionsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllCrossConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllCrossConnectionsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllCrossConnectionsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCrossConnectionsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllCrossConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCrossConnectionsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllCrossConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedCrossConnectionsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedCrossConnectionsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedCrossConnectionsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedCrossConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedCrossConnectionsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedCrossConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedCrossConnectionsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedCrossConnectionsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedCrossConnectionsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedCrossConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedCrossConnectionsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedCrossConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedSubnetworkConnectionNamesWithTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionNamesWithTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionNamesWithTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionNamesWithTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionsWithTpWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionsWithTpWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionsWithTpWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFixedSubnetworkConnectionsWithTpWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFixedSubnetworkConnectionsWithTpWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSubnetworkConnectionNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSubnetworkConnectionNamesWithTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionNamesWithTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionNamesWithTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionNamesWithTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionNamesWithTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSubnetworkConnectionsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSubnetworkConnectionsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSubnetworkConnectionsWithTpWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionsWithTpWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithTpWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionsWithTpWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithTpWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionsWithTpWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSubnetworkConnectionsWithTpWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSubnetworkConnectionsWithTpWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSubnetworkConnectionsWithTpWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSubnetworkConnectionsWithTpWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getBackupRoutesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getBackupRoutes operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getBackupRoutesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getBackupRoutes operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getBackupRoutesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getBackupRoutes operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getIntendedRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getIntendedRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getIntendedRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getIntendedRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getIntendedRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getIntendedRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getPotentialFixedCcsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getPotentialFixedCcs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getPotentialFixedCcsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getPotentialFixedCcs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getPotentialFixedCcsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getPotentialFixedCcs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getSncsByUserLabelRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getSncsByUserLabel operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSncsByUserLabelResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getSncsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSncsByUserLabelException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getSncsByUserLabel operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
