Test/Jerome_Test/ManageResourceInventory/IIS/xsd/ManagedElementRetrievalMessagesV1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:cei="http://www.tmforum.org/mtop/fmw/xsd/cei/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:it="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1" xmlns:ft="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1" xmlns:bn="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1" xmlns:me="http://www.tmforum.org/mtop/nrf/xsd/me/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP ManagedElementRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/CommonEventInfoV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/cei/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepBatchNotificationDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepIteratorDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepFileTransferDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/MeV1-0.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesPassingFilterRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNamesPassingFilter operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesPassingFilterResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNamesPassingFilter operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesPassingFilterException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNamesPassingFilter operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesWrtMlsnRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNamesWrtMlsn operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtMlsnResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNamesWrtMlsn operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtMlsnException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNamesWrtMlsn operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNamesWrtOs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtOsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
            <xsd:element name="mdName" type="nam:NamingAttributes">
              <xsd:annotation>
                <xsd:documentation>
                  <p>the name of the Management Domain whose contained MEs are being requested</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <xsd:element ref="tns:getAllManagedElementsBatchData"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsBatchData">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the getAllManagedElements operation batch</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
        <xsd:element name="meList" type="me:ManagedElementList" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of MEs</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWithBatchNotificationRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWithBatchNotification operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithBatchNotification MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
            <xsd:element name="mdName" type="nam:NamingAttributes">
              <xsd:annotation>
                <xsd:documentation>
                  <p>the name of the Management Domain whose contained MEs are being requested</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithBatchNotificationResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWithBatchNotification operation</p>
        <p>Empty message structure as batch of data is received by getAllManagedElementsWithBatchNotificationNotificationBatch notifications</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="getAllManagedElementsBatchEvent" substitutionGroup="bn:operationNotificationBatch">
    <xsd:annotation>
      <xsd:documentation>
        <p>Notification message structure of a batch of getAllManagedElementsWithBatchNotification operation data</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationNotificationBatch">
          <xsd:sequence>
            <xsd:element ref="tns:getAllManagedElementsBatchData"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithBatchNotificationException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWithBatchNotification operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsPassingFilterWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsPassingFilterWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsPassingFilterWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsPassingFilterWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsPassingFilterWithBatchNotification operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithBatchNotification MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsPassingFilterWithBatchNotification operation</p>
        <p>Empty message structure as batch of data is received by getAllManagedElementsPassingFilterWithBatchNotificationNotificationBatch notifications</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationEvent" substitutionGroup="bn:operationNotificationBatch">
    <xsd:annotation>
      <xsd:documentation>
        <p>Notification message structure of a batch of getAllManagedElementsPassingFilterWithBatchNotification operation data</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationNotificationBatch">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsPassingFilterWithBatchNotification operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtMlsnWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtMlsnWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtMlsnWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtMlsnWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtMlsnWithBatchNotification operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithBatchNotification MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtMlsnWithBatchNotification operation</p>
        <p>Empty message structure as batch of data is received by getAllManagedElementsWrtMlsnWithBatchNotificationNotificationBatch notifications</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationEvent" substitutionGroup="bn:operationNotificationBatch">
    <xsd:annotation>
      <xsd:documentation>
        <p>Notification message structure of a batch of getAllManagedElementsWrtMlsnWithBatchNotification operation data</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationNotificationBatch">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtMlsnWithBatchNotification operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtOsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtOsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtOsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtOsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtOsWithBatchNotification operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithBatchNotification MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtOsWithBatchNotification operation</p>
        <p>Empty message structure as batch of data is received by getAllManagedElementsWrtOsWithBatchNotificationNotificationBatch notifications</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationEvent" substitutionGroup="bn:operationNotificationBatch">
    <xsd:annotation>
      <xsd:documentation>
        <p>Notification message structure of a batch of getAllManagedElementsWrtOsWithBatchNotification operation data</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationNotificationBatch">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtOsWithBatchNotification operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="bn:OperationWithBatchNotificationException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getManagedElementRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getManagedElement operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
        <xsd:element name="meName" type="nam:NamingAttributes">
          <xsd:annotation>
            <xsd:documentation>
              <p>the name of the ME being requested</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getManagedElementResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getManagedElement operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
        <xsd:element name="me" type="me:ManagedElement" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The retrieved ME</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getManagedElementException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getManagedElement operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
        <xsd:element name="internalError" type="msg:BaseExceptionMessage">
          <xsd:annotation>
            <xsd:documentation>
              <p>Raised in case of non-specific OS internal failure</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="invalidInput" type="msg:BaseExceptionMessage">
          <xsd:annotation>
            <xsd:documentation>
              <p>Raised when one or many operation input (request) parameters are invalid</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="entityNotFound" type="msg:BaseExceptionMessage">
          <xsd:annotation>
            <xsd:documentation>
              <p>Raised when one or many operation input (request) parameters do not refer to an existing object</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="communicationFailure" type="msg:BaseExceptionMessage">
          <xsd:annotation>
            <xsd:documentation>
              <p>Raised when communication to an entity (needed to help fulfill the request) is lost</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
