Test/Jerome_Test/ManageResourceInventory/IIS/xsd/ManagedElementRetrievalMessagesV1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:it="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1" xmlns:ft="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1" xmlns:bn="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1" xmlns:me="http://www.tmforum.org/mtop/nrf/xsd/me/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP ManagedElementRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepBatchNotificationDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepIteratorDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepFileTransferDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/MeV1-0.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesPassingFilterRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNamesPassingFilter operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesPassingFilterResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNamesPassingFilter operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesPassingFilterException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNamesPassingFilter operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesWrtMlsnRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNamesWrtMlsn operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtMlsnResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNamesWrtMlsn operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtMlsnException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNamesWrtMlsn operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementNamesWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementNamesWrtOs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtOsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementNamesWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
            <xsd:element name="mdName" type="nam:NamingAttributes">
              <xsd:annotation>
                <xsd:documentation>
                  <p>the name of the Management Domain whose contained MEs are being requested</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
            <xsd:element name="meList" type="me:ManagedElementList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The list of MEs</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsPassingFilterWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsPassingFilterWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsPassingFilterWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsPassingFilterWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsPassingFilterWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsPassingFilterWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsPassingFilterWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsPassingFilterWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtMlsnWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtMlsnWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtMlsnWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtMlsnWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtMlsnWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtMlsnWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtMlsnWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtMlsnWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtOsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtOsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtOsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtOsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllManagedElementsWrtOsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllManagedElementsWrtOsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllManagedElementsWrtOsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllManagedElementsWrtOsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getManagedElementRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getManagedElement operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getManagedElementResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getManagedElement operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getManagedElementException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getManagedElement operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
