Test/Jerome_Test/ManageResourceInventory/IIS/xsd/MultiLayerSubnetworkRetrievalMessagesV1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:it="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1" xmlns:ft="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1" xmlns:bn="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP MultiLayerSubnetworkRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepBatchNotificationDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepIteratorDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepFileTransferDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllMultiLayerSubnetworkNamesWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllMultiLayerSubnetworkNamesWrtOs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllMultiLayerSubnetworkNamesWrtOsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllMultiLayerSubnetworkNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllMultiLayerSubnetworkNamesWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllMultiLayerSubnetworkNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllMultiLayerSubnetworksWrtOsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllMultiLayerSubnetworksWrtOsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllMultiLayerSubnetworksWrtOsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllMultiLayerSubnetworksWrtOsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllMultiLayerSubnetworksWrtOsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllMultiLayerSubnetworksWrtOsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllMultiLayerSubnetworksWrtOsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllMultiLayerSubnetworksWrtOsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllMultiLayerSubnetworksWrtOsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllMultiLayerSubnetworksWrtOsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopLevelMultiLayerSubnetworksWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopLevelMultiLayerSubnetworksWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelMultiLayerSubnetworksWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopLevelMultiLayerSubnetworksWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelMultiLayerSubnetworksWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopLevelMultiLayerSubnetworksWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopLevelMultiLayerSubnetworksWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopLevelMultiLayerSubnetworksWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelMultiLayerSubnetworksWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopLevelMultiLayerSubnetworksWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopLevelMultiLayerSubnetworkNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopLevelMultiLayerSubnetworkNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelMultiLayerSubnetworkNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopLevelMultiLayerSubnetworkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelMultiLayerSubnetworkNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopLevelMultiLayerSubnetworkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingMultiLayerSubnetworkNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingMultiLayerSubnetworkNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingMultiLayerSubnetworkNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingMultiLayerSubnetworkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingMultiLayerSubnetworkNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingMultiLayerSubnetworkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getMultiLayerSubnetworkRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getMultiLayerSubnetwork operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMultiLayerSubnetworkResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getMultiLayerSubnetwork operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMultiLayerSubnetworkException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getMultiLayerSubnetwork operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
