Test/Jerome_Test/ManageResourceInventory/IIS/xsd/TerminationPointRetrievalMessagesV1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:it="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1" xmlns:ft="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1" xmlns:bn="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TerminationPointRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepBatchNotificationDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepIteratorDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepFileTransferDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllAssignableCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssignableCptps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignableCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssignableCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignableCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssignableCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllAssignedCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllAssignedCptps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignedCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllAssignedCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllAssignedCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllAssignedCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllCptpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllCptps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCptpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllCptpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllCptps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePointNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllEdgePointNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllEdgePointNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePointsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllEdgePointsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePointsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllEdgePointsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePointsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePointsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllEdgePointsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePointsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllEdgePointsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePointsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllFtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllGtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllGtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllGtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllGtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGtps WithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllGtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGtps WithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllGtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGtps WithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpNamesWithoutFtpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpNamesWithoutFtps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpNamesWithoutFtpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpNamesWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpNamesWithoutFtpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpNamesWithoutFtps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsWithoutFtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpsWithoutFtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpsWithoutFtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpsWithoutFtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPtpsWithoutFtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPtpsWithoutFtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPtpsWithoutFtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllPtpsWithoutFtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPtpsWithoutFtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllSupportedPtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPoolNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTpPoolNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTpPoolNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPoolsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTpPoolsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPoolsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTpPoolsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPoolsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTpPoolsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTpPoolsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTpPoolsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTpPoolsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTpPoolsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTpPoolsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpsWrtTmdWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTpsWrtTmdWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTpsWrtTmdWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTpsWrtTmdWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTpsWrtTmdWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTpsWrtTmdWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTpsWrtTmdWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAssociatedTpsWrtTmdWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTpsWrtTmdWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedCurrentCtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedInUseCtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtpsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtpsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCtpsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCtpsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainedPotentialCtpsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCtpsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingGtpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingGtp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingGtpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingGtpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTpNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTpNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingTpNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingTpNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTpNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTpsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTps operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingTpsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getContainingTpsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTps operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGtpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGtp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGtpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGtpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGtp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTp operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTp operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpGroupingRelationshipsWithIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpGroupingRelationshipsWithIterator operation</p>
        <p>This operation .</p>
        <p>This operation is the first operation of the RequestResponseWithIterator MEP.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorRequest">
          <xsd:sequence>
            <!-- Add operation specific input parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsWithIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpGroupingRelationshipsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorResponse">
          <xsd:sequence>
            <!-- Add operation specific output parameters here -->
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsWithIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpGroupingRelationshipsWithIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="it:OperationWithIteratorException"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpGroupingRelationshipsWithBatchNotificationsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpGroupingRelationshipsWithBatchNotifications operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsWithBatchNotificationsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpGroupingRelationshipsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpGroupingRelationshipsWithBatchNotificationsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpGroupingRelationshipsWithBatchNotifications operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTpPoolRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPool operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpPoolResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTpPoolException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
