Test/Jerome_Test/ManageResourceInventory/IIS/xsd/TopologicalLinkRetrievalMessagesV1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/mri/xsd/tlr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/xsd/tlr/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:it="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1" xmlns:ft="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1" xmlns:bn="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ManageResourceInventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP TopologicalLinkRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepBatchNotificationDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepbn/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepIteratorDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepit/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MepFileTransferDefinitionsV1-0.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/mepft/v1"/>
  <!-- ================ -->
  <xsd:element name="getAllTopLevelTopologicalLinkNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopLevelTopologicalLinkNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelTopologicalLinkNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopLevelTopologicalLinkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelTopologicalLinkNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopLevelTopologicalLinkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopLevelTopologicalLinksRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopLevelTopologicalLinks operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelTopologicalLinksResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopLevelTopologicalLinks operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopLevelTopologicalLinksException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopLevelTopologicalLinks operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinkNamesRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinkNames operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinkNamesResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinkNamesException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinkNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinkNamesBetweenMdsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinkNamesBetweenMds operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinkNamesBetweenMdsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinkNamesBetweenMds operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinkNamesBetweenMdsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinkNamesBetweenMds operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinkNamesWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinkNamesWrtOs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinkNamesWrtOsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinkNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinkNamesWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinkNamesWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinksRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinks operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinks operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinks operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinksBetweenMdsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinksBetweenMds operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksBetweenMdsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinksBetweenMds operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksBetweenMdsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinksBetweenMds operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinksOfFdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinksOfFd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksOfFdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinksOfFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksOfFdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinksOfFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTopologicalLinksWrtOsRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTopologicalLinksWrtOs operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksWrtOsResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTopologicalLinksWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getAllTopologicalLinksWrtOsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTopologicalLinksWrtOs operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getRouteAndTopologicalLinksRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getRouteAndTopologicalLinks operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getRouteAndTopologicalLinksResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getRouteAndTopologicalLinks operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getRouteAndTopologicalLinksException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getRouteAndTopologicalLinks operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTopLevelTopologicalLinkRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTopLevelTopologicalLink operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopLevelTopologicalLinkResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTopLevelTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopLevelTopologicalLinkException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTopLevelTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTopologicalLinkRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTopologicalLink operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopologicalLinkResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopologicalLinkException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTopologicalLink operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTopologicalLinksIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTopologicalLinksIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopologicalLinksIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTopologicalLinksIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopologicalLinksIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTopologicalLinksIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTopologicalLinkNamesIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTopologicalLinkNamesIterator operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific input parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopologicalLinkNamesIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTopologicalLinkNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <!-- Add operation specific output parameters here -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTopologicalLinkNamesIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTopologicalLinkNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <!-- Add operation specific exception types here -->
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
