Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerSubnetworkRetrieval/MultiLayerSubnetworkRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSubnetworkRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSubnetworkRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSubnetworkRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" location="MultiLayerSubnetworkRetrievalMessages.wsdl"/>
  <wsdl:portType name="MultiLayerSubnetworkRetrieval_RPC">
    <wsdl:documentation>
      <p>The MultiLayerSubnetworkRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <wsdl:input message="tns:getAllMultiLayerSubnetworkNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworkNamesWrtOsResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" message="tns:getAllMultiLayerSubnetworkNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOs">
      <wsdl:input message="tns:getAllMultiLayerSubnetworksWrtOsRequest"/>
      <wsdl:output message="tns:getAllMultiLayerSubnetworksWrtOsResponse"/>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsException" message="tns:getAllMultiLayerSubnetworksWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworks">
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworksRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworksResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksException" message="tns:getAllTopLevelMultiLayerSubnetworksException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <wsdl:input message="tns:getAllTopLevelMultiLayerSubnetworkNamesRequest"/>
      <wsdl:output message="tns:getAllTopLevelMultiLayerSubnetworkNamesResponse"/>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" message="tns:getAllTopLevelMultiLayerSubnetworkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <wsdl:input message="tns:getContainingMultiLayerSubnetworkNamesRequest"/>
      <wsdl:output message="tns:getContainingMultiLayerSubnetworkNamesResponse"/>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException" message="tns:getContainingMultiLayerSubnetworkNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <wsdl:input message="tns:getMultiLayerSubnetworkRequest"/>
      <wsdl:output message="tns:getMultiLayerSubnetworkResponse"/>
      <wsdl:fault name="getMultiLayerSubnetworkException" message="tns:getMultiLayerSubnetworkException"/>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetworkNamesIterator">
      <wsdl:input message="tns:getMultiLayerSubnetworkNamesIteratorRequest"/>
      <wsdl:output message="tns:getMultiLayerSubnetworkNamesIteratorResponse"/>
      <wsdl:fault name="getMultiLayerSubnetworkNamesIteratorException" message="tns:getMultiLayerSubnetworkNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetworksIterator">
      <wsdl:input message="tns:getMultiLayerSubnetworksIteratorRequest"/>
      <wsdl:output message="tns:getMultiLayerSubnetworksIteratorResponse"/>
      <wsdl:fault name="getMultiLayerSubnetworksIteratorException" message="tns:getMultiLayerSubnetworksIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultiLayerSubnetworkRetrievalSoapHttpBinding" type="tns:MultiLayerSubnetworkRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the MultiLayerSubnetworkRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllMultiLayerSubnetworkNamesWrtOs">
      <soap:operation soapAction="getAllMultiLayerSubnetworkNamesWrtOs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMultiLayerSubnetworkNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMultiLayerSubnetworkNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworkNamesWrtOsException">
        <soap:fault name="getAllMultiLayerSubnetworkNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMultiLayerSubnetworksWrtOs">
      <soap:operation soapAction="getAllMultiLayerSubnetworksWrtOs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMultiLayerSubnetworksWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMultiLayerSubnetworksWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMultiLayerSubnetworksWrtOsException">
        <soap:fault name="getAllMultiLayerSubnetworksWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworks">
      <soap:operation soapAction="getAllTopLevelMultiLayerSubnetworks" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworksException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllTopLevelMultiLayerSubnetworkNames">
      <soap:operation soapAction="getAllTopLevelMultiLayerSubnetworkNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworkNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllTopLevelMultiLayerSubnetworkNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllTopLevelMultiLayerSubnetworkNamesException">
        <soap:fault name="getAllTopLevelMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContainingMultiLayerSubnetworkNames">
      <soap:operation soapAction="getContainingMultiLayerSubnetworkNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getContainingMultiLayerSubnetworkNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getContainingMultiLayerSubnetworkNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getContainingMultiLayerSubnetworkNamesException">
        <soap:fault name="getContainingMultiLayerSubnetworkNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetwork">
      <soap:operation soapAction="getMultiLayerSubnetwork" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerSubnetworkRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerSubnetworkResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSubnetworkException">
        <soap:fault name="getMultiLayerSubnetworkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetworkNamesIterator">
      <soap:operation soapAction="getMultiLayerSubnetworkNamesIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerSubnetworkNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerSubnetworkNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSubnetworkNamesIteratorException">
        <soap:fault name="getMultiLayerSubnetworkNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMultiLayerSubnetworksIterator">
      <soap:operation soapAction="getMultiLayerSubnetworksIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMultiLayerSubnetworksIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMultiLayerSubnetworksIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMultiLayerSubnetworksIteratorException">
        <soap:fault name="getMultiLayerSubnetworksIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiLayerSubnetworkRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the MultiLayerSubnetworkRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="MultiLayerSubnetworkRetrievalSoapHttp" binding="tns:MultiLayerSubnetworkRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/MultiLayerSubnetworkRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
