Methodology/Topics/DDPs/DM/Basic/v1-0/SS/xml/Vendor1CommonExt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - DM Basic - Copyright TeleManagement Forum 2006 -->
<!-- This sample XSD is generated to show an example of the element based on CommonResourceInfo_T -->
<!-- It includes vendor extensions -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="vendor1.v1" xmlns:tns="vendor1.v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <!-- ================= -->
  <xsd:element name="color" type="xsd:string"/>
  <xsd:element name="size" type="xsd:string"/>
  <xsd:element name="tested" type="xsd:boolean"/>
</xsd:schema>
