mtosi_1.0/ManageResourceInventory/IIS/wsdl/ManagedElementRetrieval/ManagedElementRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ManagedElementRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:mer="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ManagedElementRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mer/v1" schemaLocation="../../xsd/ManagedElementRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagedElementNamesRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesException">
    <wsdl:documentation>
      <p>The getAllManagedElementNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesPassingFilterRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesPassingFilterRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesPassingFilterResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesPassingFilterException">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnException">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElements request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElements response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsException">
    <wsdl:documentation>
      <p>The getAllManagedElements exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsPassingFilterException">
    <wsdl:documentation>
      <p>The getAllManagedElementsPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtOsException">
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementRequest">
    <wsdl:documentation>
      <p>The getManagedElement request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementRequest"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementResponse">
    <wsdl:documentation>
      <p>The getManagedElement response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementException">
    <wsdl:documentation>
      <p>The getManagedElement exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getManagedElementNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getManagedElementNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementNamesIteratorException">
    <wsdl:documentation>
      <p>The getManagedElementNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementsIteratorRequest">
    <wsdl:documentation>
      <p>The getManagedElementsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementsIteratorResponse">
    <wsdl:documentation>
      <p>The getManagedElementsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementsIteratorException">
    <wsdl:documentation>
      <p>The getManagedElementsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
