mtosi_1.0/ManageResourceInventory/IIS/wsdl/ManagedElementRetrieval/ManagedElementRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ManagedElementRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP ManagedElementRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" location="ManagedElementRetrievalMessages.wsdl"/>
  <wsdl:portType name="ManagedElementRetrieval_MSG">
    <wsdl:documentation>
      <p>The ManagedElementRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllManagedElementNames">
      <wsdl:input message="tns:getAllManagedElementNamesRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesResponse"/>
      <wsdl:fault name="getAllManagedElementNamesException" message="tns:getAllManagedElementNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <wsdl:input message="tns:getAllManagedElementNamesPassingFilterRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesPassingFilterResponse"/>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException" message="tns:getAllManagedElementNamesPassingFilterException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <wsdl:input message="tns:getAllManagedElementNamesWrtMlsnRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtMlsnResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException" message="tns:getAllManagedElementNamesWrtMlsnException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <wsdl:input message="tns:getAllManagedElementNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtOsResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException" message="tns:getAllManagedElementNamesWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElements">
      <wsdl:input message="tns:getAllManagedElementsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsResponse"/>
      <wsdl:fault name="getAllManagedElementsException" message="tns:getAllManagedElementsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilter">
      <wsdl:input message="tns:getAllManagedElementsPassingFilterRequest"/>
      <wsdl:output message="tns:getAllManagedElementsPassingFilterResponse"/>
      <wsdl:fault name="getAllManagedElementsPassingFilterException" message="tns:getAllManagedElementsPassingFilterException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsn">
      <wsdl:input message="tns:getAllManagedElementsWrtMlsnRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtMlsnResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtMlsnException" message="tns:getAllManagedElementsWrtMlsnException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOs">
      <wsdl:input message="tns:getAllManagedElementsWrtOsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtOsResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtOsException" message="tns:getAllManagedElementsWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <wsdl:input message="tns:getManagedElementRequest"/>
      <wsdl:output message="tns:getManagedElementResponse"/>
      <wsdl:fault name="getManagedElementException" message="tns:getManagedElementException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagedElementRetrievalSoapJmsBinding" type="tns:ManagedElementRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the ManagedElementRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllManagedElementNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesException">
        <soap:fault name="getAllManagedElementNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesPassingFilterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException">
        <soap:fault name="getAllManagedElementNamesPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesWrtMlsnRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesWrtMlsnResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException">
        <soap:fault name="getAllManagedElementNamesWrtMlsnException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException">
        <soap:fault name="getAllManagedElementNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElements">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsException">
        <soap:fault name="getAllManagedElementsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsPassingFilterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterException">
        <soap:fault name="getAllManagedElementsPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtMlsn">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsWrtMlsnRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsWrtMlsnResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMlsnException">
        <soap:fault name="getAllManagedElementsWrtMlsnException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsException">
        <soap:fault name="getAllManagedElementsWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getManagedElementRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getManagedElementResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementException">
        <soap:fault name="getManagedElementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagedElementRetrievalJms">
    <wsdl:documentation>
      <p>Example of the ManagedElementRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ManagedElementRetrievalSoapJms" binding="tns:ManagedElementRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/ManagedElementRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
