Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerSNPPLinkRetrieval/MultiLayerSNPPLinkRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSNPPLinkRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnpplinkr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnpplinkr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSNPPLinkRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSNPPLinkRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnpplinkr/v1-0" location="MultiLayerSNPPLinkRetrievalMessages.wsdl"/>
  <wsdl:portType name="MultiLayerSNPPLinkRetrieval_MSG">
    <wsdl:documentation>
      <p>The MultiLayerSNPPLinkRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>

    <wsdl:operation name="getAllMLSNPPLinksGeneral">
      <wsdl:input message="tns:getAllMLSNPPLinksGeneralRequest"/>
      <wsdl:output message="tns:getAllMLSNPPLinksGeneralResponse"/>
      <wsdl:fault name="getAllMLSNPPLinksGeneralException" message="tns:getAllMLSNPPLinksGeneralException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinksWithTP">
      <wsdl:input message="tns:getAllMLSNPPLinksWithTPRequest"/>
      <wsdl:output message="tns:getAllMLSNPPLinksWithTPResponse"/>
      <wsdl:fault name="getAllMLSNPPLinksWithTPException" message="tns:getAllMLSNPPLinksWithTPException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinksWithMLSNs">
      <wsdl:input message="tns:getAllMLSNPPLinksWithMLSNsRequest"/>
      <wsdl:output message="tns:getAllMLSNPPLinksWithMLSNsResponse"/>
      <wsdl:fault name="getAllMLSNPPLinksWithMLSNsException" message="tns:getAllMLSNPPLinksWithMLSNsException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinksWithTNAs">
      <wsdl:input message="tns:getAllMLSNPPLinksWithTNAsRequest"/>
      <wsdl:output message="tns:getAllMLSNPPLinksWithTNAsResponse"/>
      <wsdl:fault name="getAllMLSNPPLinksWithTNAsException" message="tns:getAllMLSNPPLinksWithTNAsException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getMLSNPPLink">
      <wsdl:input message="tns:getMLSNPPLinkRequest"/>
      <wsdl:output message="tns:getMLSNPPLinkResponse"/>
      <wsdl:fault name="getMLSNPPLinkException" message="tns:getMLSNPPLinkException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinks">
      <wsdl:input message="tns:getAllMLSNPPLinksRequest"/>
      <wsdl:output message="tns:getAllMLSNPPLinksResponse"/>
      <wsdl:fault name="getAllMLSNPPLinksException" message="tns:getAllMLSNPPLinksException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllInternalMLSNPPLinks">
      <wsdl:input message="tns:getAllInternalMLSNPPLinksRequest"/>
      <wsdl:output message="tns:getAllInternalMLSNPPLinksResponse"/>
      <wsdl:fault name="getAllInternalMLSNPPLinksException" message="tns:getAllInternalMLSNPPLinksException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllEdgeMLSNPPLinks">
      <wsdl:input message="tns:getAllEdgeMLSNPPLinksRequest"/>
      <wsdl:output message="tns:getAllEdgeMLSNPPLinksResponse"/>
      <wsdl:fault name="getAllEdgeMLSNPPLinksException" message="tns:getAllEdgeMLSNPPLinksException"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="MultiLayerSNPPLinkRetrievalSoapJmsBinding" type="tns:MultiLayerSNPPLinkRetrieval_MSG">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the MultiLayerSNPPLinkRetrieval MSG portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
   
      <wsdl:operation name="getAllMLSNPPLinksGeneral">
      <soap:operation soapAction="getAllMLSNPPLinksGeneral" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPLinksGeneralRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPLinksGeneralResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPLinksGeneralException">
        <soap:fault name="getAllMLSNPPLinksGeneralException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinksWithTP">
      <soap:operation soapAction="getAllMLSNPPLinksWithTP" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPLinksWithTPRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPLinksWithTPResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPLinksWithTPException">
        <soap:fault name="getAllMLSNPPLinksWithTPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinksWithMLSNs">
      <soap:operation soapAction="getAllMLSNPPLinksWithMLSNs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPLinksWithMLSNsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPLinksWithMLSNsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPLinksWithMLSNsException">
        <soap:fault name="getAllMLSNPPLinksWithMLSNsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinksWithTNAs">
      <soap:operation soapAction="getAllMLSNPPLinksWithTNAs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPLinksWithTNAsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPLinksWithTNAsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPLinksWithTNAsException">
        <soap:fault name="getAllMLSNPPLinksWithTNAsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getMLSNPPLink">
      <soap:operation soapAction="getMLSNPPLink" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMLSNPPLinkRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMLSNPPLinkResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMLSNPPLinkException">
        <soap:fault name="getMLSNPPLinkException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllMLSNPPLinks">
      <soap:operation soapAction="getAllMLSNPPLinks" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMLSNPPLinksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMLSNPPLinksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMLSNPPLinksException">
        <soap:fault name="getAllMLSNPPLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllInternalMLSNPPLinks">
      <soap:operation soapAction="getAllInternalMLSNPPLinks" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllInternalMLSNPPLinksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllInternalMLSNPPLinksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllInternalMLSNPPLinksException">
        <soap:fault name="getAllInternalMLSNPPLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllEdgeMLSNPPLinks">
      <soap:operation soapAction="getAllEdgeMLSNPPLinks" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEdgeMLSNPPLinksRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEdgeMLSNPPLinksResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEdgeMLSNPPLinksException">
        <soap:fault name="getAllEdgeMLSNPPLinksException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="MultiLayerSNPPLinkRetrievalJms">
    <wsdl:documentation>
      <p>Example of the MultiLayerSNPPLinkRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="MultiLayerSNPPLinkRetrievalSoapJms" binding="tns:MultiLayerSNPPLinkRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/MultiLayerSNPPLinkRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
