Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerSNPPLinkRetrieval/MultiLayerSNPPLinkRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSNPPLinkRetrievalMessagesV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" 
xmlns:mlsnpplink="http://www.tmforum.org/mtop/mri/xsd/mlsnpplink/v1" 
xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnpplink/v1-0" 
targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnpplink/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSNPPLinkRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSNPPLinkRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlsnpplink/v1" schemaLocation="../../xsd/MultiLayerSNPPLinkRetrievalMessages.xsd"/>
    </xsd:schema>
    
  </wsdl:types>
  
  <wsdl:message name="getAllMLSNPPLinksGeneralRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksGeneral request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksGeneralRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksGeneralResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksGeneral response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksGeneralResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksGeneralException">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksGeneral exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksGeneralException"/>
  </wsdl:message> 
 
  <wsdl:message name="getAllMLSNPPLinksWithTPRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithTPRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksWithTPResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksWithTPException">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithTPException"/>
  </wsdl:message> 
 
  <wsdl:message name="getAllMLSNPPLinksWithMLSNsRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithMLSNs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithMLSNsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksWithMLSNsResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithMLSNs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithMLSNsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksWithMLSNsException">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithMLSNs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithMLSNsException"/>
  </wsdl:message> 
 
  <wsdl:message name="getAllMLSNPPLinksWithTNAsRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithTNAs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithTNAsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksWithTNAsResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithTNAs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithTNAsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksWithTNAsException">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinksWithTNAs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksWithTNAsException"/>
  </wsdl:message> 
 
  <wsdl:message name="getMLSNPPLinkRequest">
    <wsdl:documentation>
      <p>The getMLSNPPLink request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getMLSNPPLinkRequest"/>
  </wsdl:message>
  <wsdl:message name="getMLSNPPLinkResponse">
    <wsdl:documentation>
      <p>The getMLSNPPLink response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getMLSNPPLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="getMLSNPPLinkException">
    <wsdl:documentation>
      <p>The getMLSNPPLink exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getMLSNPPLinkException"/>
  </wsdl:message> 
 
  <wsdl:message name="getAllMLSNPPLinksRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPLinksException">
    <wsdl:documentation>
      <p>The getAllMLSNPPLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllMLSNPPLinksException"/>
  </wsdl:message> 

  <wsdl:message name="getAllInternalMLSNPPLinksRequest">
    <wsdl:documentation>
      <p>The getAllInternalMLSNPPLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllInternalMLSNPPLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllInternalMLSNPPLinksResponse">
    <wsdl:documentation>
      <p>The getAllInternalMLSNPPLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllInternalMLSNPPLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllInternalMLSNPPLinksException">
    <wsdl:documentation>
      <p>The getAllInternalMLSNPPLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllInternalMLSNPPLinksException"/>
  </wsdl:message> 
 
  <wsdl:message name="getAllEdgeMLSNPPLinksRequest">
    <wsdl:documentation>
      <p>The getAllEdgeMLSNPPLinks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllEdgeMLSNPPLinksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgeMLSNPPLinksResponse">
    <wsdl:documentation>
      <p>The getAllEdgeMLSNPPLinks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllEdgeMLSNPPLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgeMLSNPPLinksException">
    <wsdl:documentation>
      <p>The getAllEdgeMLSNPPLinks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getAllEdgeMLSNPPLinksException"/>
  </wsdl:message> 
 
   <wsdl:message name="getMultiLayerSNPPLinksIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSNPPLinksIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getMultiLayerSNPPLinksIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSNPPLinksIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSNPPLinksIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnpplink:getMultiLayerSNPPLinksIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSNPPLinksIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerSNPPLinksIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnpplink:getMultiLayerSNPPLinksIteratorException"/>
  </wsdl:message>
 
</wsdl:definitions>
