mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/ConnectionRetrieval/ConnectionRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ConnectionRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ConnectionRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP ConnectionRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/conr/v1-0" location="ConnectionRetrievalMessages.wsdl"/>
  <wsdl:portType name="ConnectionRetrieval_RPC">
    <wsdl:documentation>
      <p>The ConnectionRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllCrossConnections">
      <wsdl:input message="tns:getAllCrossConnectionsRequest"/>
      <wsdl:output message="tns:getAllCrossConnectionsResponse"/>
      <wsdl:fault name="getAllCrossConnectionsException" message="tns:getAllCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnections">
      <wsdl:input message="tns:getAllFixedCrossConnectionsRequest"/>
      <wsdl:output message="tns:getAllFixedCrossConnectionsResponse"/>
      <wsdl:fault name="getAllFixedCrossConnectionsException" message="tns:getAllFixedCrossConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionNamesRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionNamesResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException" message="tns:getAllFixedSubnetworkConnectionNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNamesWithTp">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionNamesWithTpRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionNamesWithTpResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesWithTpException" message="tns:getAllFixedSubnetworkConnectionNamesWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnections">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsException" message="tns:getAllFixedSubnetworkConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTp">
      <wsdl:input message="tns:getAllFixedSubnetworkConnectionsWithTpRequest"/>
      <wsdl:output message="tns:getAllFixedSubnetworkConnectionsWithTpResponse"/>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpException" message="tns:getAllFixedSubnetworkConnectionsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <wsdl:input message="tns:getAllSubnetworkConnectionNamesRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionNamesResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException" message="tns:getAllSubnetworkConnectionNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <wsdl:input message="tns:getAllSubnetworkConnectionNamesWithTpRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionNamesWithTpResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException" message="tns:getAllSubnetworkConnectionNamesWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnections">
      <wsdl:input message="tns:getAllSubnetworkConnectionsRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsException" message="tns:getAllSubnetworkConnectionsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTp">
      <wsdl:input message="tns:getAllSubnetworkConnectionsWithTpRequest"/>
      <wsdl:output message="tns:getAllSubnetworkConnectionsWithTpResponse"/>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpException" message="tns:getAllSubnetworkConnectionsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <wsdl:input message="tns:getBackupRoutesRequest"/>
      <wsdl:output message="tns:getBackupRoutesResponse"/>
      <wsdl:fault name="getBackupRoutesException" message="tns:getBackupRoutesException"/>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <wsdl:input message="tns:getIntendedRouteRequest"/>
      <wsdl:output message="tns:getIntendedRouteResponse"/>
      <wsdl:fault name="getIntendedRouteException" message="tns:getIntendedRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <wsdl:input message="tns:getPotentialFixedCcsRequest"/>
      <wsdl:output message="tns:getPotentialFixedCcsResponse"/>
      <wsdl:fault name="getPotentialFixedCcsException" message="tns:getPotentialFixedCcsException"/>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <wsdl:input message="tns:getRouteRequest"/>
      <wsdl:output message="tns:getRouteResponse"/>
      <wsdl:fault name="getRouteException" message="tns:getRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <wsdl:input message="tns:getSncRequest"/>
      <wsdl:output message="tns:getSncResponse"/>
      <wsdl:fault name="getSncException" message="tns:getSncException"/>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <wsdl:input message="tns:getSncsByUserLabelRequest"/>
      <wsdl:output message="tns:getSncsByUserLabelResponse"/>
      <wsdl:fault name="getSncsByUserLabelException" message="tns:getSncsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionNamesIterator">
      <wsdl:input message="tns:getSubnetworkConnectionNamesIteratorRequest"/>
      <wsdl:output message="tns:getSubnetworkConnectionNamesIteratorResponse"/>
      <wsdl:fault name="getSubnetworkConnectionNamesIteratorException" message="tns:getSubnetworkConnectionNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionsIterator">
      <wsdl:input message="tns:getSubnetworkConnectionsIteratorRequest"/>
      <wsdl:output message="tns:getSubnetworkConnectionsIteratorResponse"/>
      <wsdl:fault name="getSubnetworkConnectionsIteratorException" message="tns:getSubnetworkConnectionsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getCrossConnectionsIterator">
      <wsdl:input message="tns:getCrossConnectionsIteratorRequest"/>
      <wsdl:output message="tns:getCrossConnectionsIteratorResponse"/>
      <wsdl:fault name="getCrossConnectionsIteratorException" message="tns:getCrossConnectionsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectionRetrievalSoapHttpBinding" type="tns:ConnectionRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the ConnectionRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllCrossConnections">
      <soap:operation soapAction="getAllCrossConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCrossConnectionsException">
        <soap:fault name="getAllCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedCrossConnections">
      <soap:operation soapAction="getAllFixedCrossConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedCrossConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedCrossConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedCrossConnectionsException">
        <soap:fault name="getAllFixedCrossConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNames">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionNamesWithTp">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionNamesWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionNamesWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionNamesWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllFixedSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnections">
      <soap:operation soapAction="getAllFixedSubnetworkConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsException">
        <soap:fault name="getAllFixedSubnetworkConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFixedSubnetworkConnectionsWithTp">
      <soap:operation soapAction="getAllFixedSubnetworkConnectionsWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFixedSubnetworkConnectionsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFixedSubnetworkConnectionsWithTpException">
        <soap:fault name="getAllFixedSubnetworkConnectionsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNames">
      <soap:operation soapAction="getAllSubnetworkConnectionNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesException">
        <soap:fault name="getAllSubnetworkConnectionNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionNamesWithTp">
      <soap:operation soapAction="getAllSubnetworkConnectionNamesWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionNamesWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionNamesWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionNamesWithTpException">
        <soap:fault name="getAllSubnetworkConnectionNamesWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnections">
      <soap:operation soapAction="getAllSubnetworkConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsException">
        <soap:fault name="getAllSubnetworkConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSubnetworkConnectionsWithTp">
      <soap:operation soapAction="getAllSubnetworkConnectionsWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSubnetworkConnectionsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSubnetworkConnectionsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSubnetworkConnectionsWithTpException">
        <soap:fault name="getAllSubnetworkConnectionsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBackupRoutes">
      <soap:operation soapAction="getBackupRoutes" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getBackupRoutesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getBackupRoutesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getBackupRoutesException">
        <soap:fault name="getBackupRoutesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIntendedRoute">
      <soap:operation soapAction="getIntendedRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getIntendedRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getIntendedRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getIntendedRouteException">
        <soap:fault name="getIntendedRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPotentialFixedCcs">
      <soap:operation soapAction="getPotentialFixedCcs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPotentialFixedCcsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPotentialFixedCcsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPotentialFixedCcsException">
        <soap:fault name="getPotentialFixedCcsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoute">
      <soap:operation soapAction="getRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRouteException">
        <soap:fault name="getRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSnc">
      <soap:operation soapAction="getSnc" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSncRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSncResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncException">
        <soap:fault name="getSncException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSncsByUserLabel">
      <soap:operation soapAction="getSncsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSncsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSncsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSncsByUserLabelException">
        <soap:fault name="getSncsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionNamesIterator">
      <soap:operation soapAction="getSubnetworkConnectionNamesIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSubnetworkConnectionNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSubnetworkConnectionNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubnetworkConnectionNamesIteratorException">
        <soap:fault name="getSubnetworkConnectionNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubnetworkConnectionsIterator">
      <soap:operation soapAction="getSubnetworkConnectionsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSubnetworkConnectionsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSubnetworkConnectionsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubnetworkConnectionsIteratorException">
        <soap:fault name="getSubnetworkConnectionsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCrossConnectionsIterator">
      <soap:operation soapAction="getCrossConnectionsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCrossConnectionsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCrossConnectionsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCrossConnectionsIteratorException">
        <soap:fault name="getCrossConnectionsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the ConnectionRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ConnectionRetrievalSoapHttp" binding="tns:ConnectionRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ConnectionRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
