mtosi_3.0/main/DDPs/ResourceProvisioning/IIS/xsd/TestOrdering-3b/action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
-->
<!--
Copyright (C) 2010 Members of the TIP Open Source Community

Licensed to Members of the TIP Open Source Community under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TIP Open Source Community licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/internal/act" xmlns:extensibility="http://www.tmforum.org/xml/tip/internal/extensibility" xmlns:serv="http://www.tmforum.org/xml/tip/service/serv" xmlns:res="http://www.tmforum.org/xml/tip/resource/res" targetNamespace="http://www.tmforum.org/xml/tip/internal/act" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.1">
	<xsd:import namespace="http://www.tmforum.org/xml/tip/internal/extensibility" schemaLocation="internal_extensibility.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/tip/service/serv" schemaLocation="tip_inv_dependencies_service_serv.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res" schemaLocation="tip_inv_dependencies_resource_res.xsd"/>
	<!-- ****************
 -->
	<!-- 
"action" is the "head" of a substitution group which root type, "ValidAction" is abstract 
-->
	<xsd:element name="action" type="tns:ValidAction"/>
	<!--
"ValidAction" is abstract; just a placeholder type
-->
	<xsd:complexType name="ValidAction" abstract="true">
		<xsd:sequence>
			<!--
			<xsd:element name="verb" type="xsd:string" minOccurs="0"/> 
			<xsd:element name="data" type="extensibility:Any"/>
			-->
		</xsd:sequence>
	</xsd:complexType>
	<!--
"ValidAction" can be further specialised ad libidum;
-->
	<xsd:element name="createAction" type="tns:CreateAction" substitutionGroup="tns:action"/>
	<xsd:element name="modifyAction" type="tns:ModifyAction" substitutionGroup="tns:action"/>
	<!-- ****************
-->
	<xsd:complexType name="CreateAction">
		<xsd:complexContent>
			<xsd:extension base="tns:ValidAction">
				<xsd:sequence>
					<xsd:element name="verb" type="xsd:string" fixed="CREATE"/>
					<!-- 					
					<xsd:element name="data" type="extensibility:Any"/>
					-->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
-->
	<xsd:complexType name="ModifyAction">
		<xsd:complexContent>
			<xsd:extension base="tns:ValidAction">
				<xsd:sequence>
					<xsd:element name="verb" type="xsd:string" fixed="MODIFY"/>
					<!-- 						
					<xsd:element name="data" type="extensibility:Any"/>
					-->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
