Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/CallControl/CallControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" location="ConnectionControlMessages.wsdl"/>
  <wsdl:portType name="ConnectionControl">
    <wsdl:documentation>
      <p>The ConnectionControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    
    <wsdl:operation name="establishCall">
      <wsdl:input message="tns:establishCallRequest"/>
      <wsdl:output message="tns:establishCallResponse"/>
      <wsdl:fault name="establishCallException" message="tns:establishCallException"/>
    </wsdl:operation>
    
    <wsdl:operation name="modifyCall">
      <wsdl:input message="tns:modifyCallRequest"/>
      <wsdl:output message="tns:modifyCallResponse"/>
      <wsdl:fault name="modifyCallException" message="tns:modifyCallException"/>
    </wsdl:operation>
    
    <wsdl:operation name="releaseCall">
      <wsdl:input message="tns:releaseCallRequest"/>
      <wsdl:output message="tns:releaseCallResponse"/>
      <wsdl:fault name="releaseCallException" message="tns:releaseCallException"/>
    </wsdl:operation>
    
    <wsdl:operation name="addConnections">
      <wsdl:input message="tns:addConnectionsRequest"/>
      <wsdl:output message="tns:addConnectionsResponse"/>
      <wsdl:fault name="addConnectionsException" message="tns:addConnectionsException"/>
    </wsdl:operation>
    
    <wsdl:operation name="removeConnections">
      <wsdl:input message="tns:removeConnectionsRequest"/>
      <wsdl:output message="tns:removeConnectionsResponse"/>
      <wsdl:fault name="removeConnectionsException" message="tns:removeConnectionsException"/>
    </wsdl:operation>
    
    <wsdl:operation name="modifyDiversityAndCorouting">
      <wsdl:input message="tns:modifyDiversityAndCoroutingRequest"/>
      <wsdl:output message="tns:modifyDiversityAndCoroutingResponse"/>
      <wsdl:fault name="modifyDiversityAndCoroutingException" message="tns:modifyDiversityAndCoroutingException"/>
    </wsdl:operation>
                
  </wsdl:portType>
</wsdl:definitions>
