Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceMgtRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM PerformanceManagementRetrieval - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0" xmlns:pmc="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0">
  <wsdl:documentation>
    <p>DDP: Performance Management Retrieval</p>
    <p>Module: Performance Management Retrieval Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP Performance Management Retrieval Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" schemaLocation="../../xsd/PerformanceMgtRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCurrentPMData">
    <wsdl:documentation>
      <p>The getAllCurrentPMData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getAllCurrentPMData"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPMDataResponse">
    <wsdl:documentation>
      <p>The getAllCurrentPMData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getAllCurrentPMDataResponse"/>
  </wsdl:message>
  <wsdl:message name="clearPMDataException">
    <wsdl:documentation>
      <p>The clearPMData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getAllCurrentPMDataException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getAllCurrentPMPNames">
    <wsdl:documentation>
      <p>The getAllCurrentPMPNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:disablePMPDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPMPNamesResponse">
    <wsdl:documentation>
      <p>The getAllCurrentPMPNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getAllCurrentPMPNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrentPMPNamesException">
    <wsdl:documentation>
      <p>The getAllCurrentPMPNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getAllCurrentPMPNamesException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getAllPMPs">
    <wsdl:documentation>
      <p>The getAllPMPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getAllPMPsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPMPsResponse">
    <wsdl:documentation>
      <p>The getAllPMPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getAllPMPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPMPsException">
    <wsdl:documentation>
      <p>The getAllCurrentPMP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getAllPMPsException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getHistoryPMData">
    <wsdl:documentation>
      <p>The getHistoryPMData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getHistoryPMDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPMDataResponse">
    <wsdl:documentation>
      <p>The getHistoryPMData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getHistoryPMDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getHistoryPMDataException">
    <wsdl:documentation>
      <p>The getHistoryPMData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getHistoryPMDataException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getHoldingTime">
    <wsdl:documentation>
      <p>The getHoldingTime request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getHoldingTimeRequest"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeResponse">
    <wsdl:documentation>
      <p>The getHoldingTime response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getHoldingTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="getHoldingTimeException">
    <wsdl:documentation>
      <p>The getHoldingTime exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getHoldingTimeException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getMEPMCapabilities">
    <wsdl:documentation>
      <p>The getMEPMCapabilities request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getMEPMCapabilitiesRequest"/>
  </wsdl:message>
  <wsdl:message name="getMEPMCapabilitiesResponse">
    <wsdl:documentation>
      <p>The getMEPMCapabilities response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getMEPMCapabilitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="getMEPMCapabilitiesException">
    <wsdl:documentation>
      <p>The getMEPMCapabilities exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getMEPMCapabilitiesException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getProfileAssociatedTPs">
    <wsdl:documentation>
      <p>The getProfileAssociatedTPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getProfileAssociatedTPsRequest"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTPsResponse">
    <wsdl:documentation>
      <p>The getProfileAssociatedTPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getProfileAssociatedTPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getProfileAssociatedTPsException">
    <wsdl:documentation>
      <p>The getProfileAssociatedTPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getProfileAssociatedTPsException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="getTPHistoryPMData">
    <wsdl:documentation>
      <p>The getTPHistoryPMData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getTPHistoryPMDataRequest"/>
  </wsdl:message>
  <wsdl:message name="getTPHistoryPMDataResponse">
    <wsdl:documentation>
      <p>The getTPHistoryPMData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:getTPHistoryPMDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getTPHistoryPMDataException">
    <wsdl:documentation>
      <p>The getTPHistoryPMData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:getTPHistoryPMDataException"/>
  </wsdl:message>
  <!-- ================ -->
</wsdl:definitions>
