Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceMgtControl_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM PerformanceManagementControl - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0" xmlns:pmc="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0">
  <wsdl:documentation>
    <p>DDP: Performance Management Control</p>
    <p>Module: Performance Management Control Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP Performance Management Control Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" schemaLocation="../../xsd/PerformanceMgtControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="clearPMData">
    <wsdl:documentation>
      <p>The clearPMData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:clearPMDataRequest"/>
  </wsdl:message>
  <wsdl:message name="clearPMDataResponse">
    <wsdl:documentation>
      <p>The clearPMData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:clearPMDataResponse"/>
  </wsdl:message>
  <wsdl:message name="clearPMDataException">
    <wsdl:documentation>
      <p>The clearPMData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:clearPMDataException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="disablePMData">
    <wsdl:documentation>
      <p>The disablePMData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:disablePMDataRequest"/>
  </wsdl:message>
  <wsdl:message name="disablePMDataResponse">
    <wsdl:documentation>
      <p>The disablePMData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:disablePMDataResponse"/>
  </wsdl:message>
  <wsdl:message name="disablePMDataException">
    <wsdl:documentation>
      <p>The disablePMData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm:disablePMDataException"/>
  </wsdl:message>
  <!-- ================ -->
  <wsdl:message name="enablePMData">
    <wsdl:documentation>
      <p>The enablePMData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm:enablePMDataRequest"/>
  </wsdl:message>
  <wsdl:message name="enablePMDataResponse">
    <wsdl:documentation>
      <p>The enablePMData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rpm::enablePMDataResponse"/>
  </wsdl:message>
  <wsdl:message name="enablePMDataException">
    <wsdl:documentation>
      <p>The enablePMData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rpm::enablePMDataException"/>
  </wsdl:message>
  <!-- ================ -->
</wsdl:definitions>
