Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/CallConnRetrieval/CallConnRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-CallConnRetrievalV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" 
xmlns:callconr="http://www.tmforum.org/mtop/mri/xsd/callconr/v1" 
xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/callconr/v1-0" 
targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/callconr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: CallConnectionRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP CallConnRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/callconr/v1" schemaLocation="../../xsd/CallConnRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsRequest">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsResponse">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsException">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsException"/>
  </wsdl:message>
  
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsRequest">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsResponse">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsException">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsException"/>
  </wsdl:message>
  
  <wsdl:message name="getAllCallsAndTopLevelConnectionsWithMERequest">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsWithME request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsWithMERequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsWithMEResponse">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsWithME response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsWithMEResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsWithMEException">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsWithME exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsWithMEException"/>
  </wsdl:message>
  
    <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsWithMERequest">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCsWithME request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsWithMERequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsWithMEResponse">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCsWithME response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsWithMEResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsWithMEException">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCsWithME exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsWithMEException"/>
  </wsdl:message>
  
   <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsWithTPRequest">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCsWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsWithTPRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsWithTPResponse">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCsWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsWithTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallsAndTopLevelConnectionsAndSNCsWithTPException">
    <wsdl:documentation>
      <p>The getAllCallsAndTopLevelConnectionsAndSNCsWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallsAndTopLevelConnectionsAndSNCsWithTPException"/>
  </wsdl:message>
  
  <wsdl:message name="getAllCallIdsWithTPRequest">
    <wsdl:documentation>
      <p>The getAllCallIdsWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallIdsWithTPRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallIdsWithTPResponse">
    <wsdl:documentation>
      <p>The getAllCallIdsWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallIdsWithTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallIdsWithTPException">
    <wsdl:documentation>
      <p>The getAllCallIdsWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallIdsWithTPException"/>
  </wsdl:message>  
   
  <wsdl:message name="getAllCallIdsWithSNPPOrTNANameRequest">
    <wsdl:documentation>
      <p>The getAllCallIdsWithSNPPOrTNAName request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallIdsWithSNPPOrTNANameRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCallIdsWithSNPPOrTNANameResponse">
    <wsdl:documentation>
      <p>The getAllCallIdsWithSNPPOrTNAName response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getAllCallIdsWithSNPPOrTNANameResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCallIdsWithSNPPOrTNANameException">
    <wsdl:documentation>
      <p>The getAllCallIdsWithSNPPOrTNAName exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getAllCallIdsWithSNPPOrTNANameException"/>
  </wsdl:message>   
  
  <wsdl:message name="getCallAndTopLevelConnectionsAndSNCsRequest">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsAndSNCs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsAndSNCsRequest"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsAndSNCsResponse">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsAndSNCs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsAndSNCsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsAndSNCsException">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsAndSNCs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsAndSNCsException"/>
  </wsdl:message>  
   
  <wsdl:message name="getCallAndTopLevelConnectionsRequest">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnections request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsResponse">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnections response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsException">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnections exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsException"/>
  </wsdl:message>   
   
  <wsdl:message name="getCallRequest">
    <wsdl:documentation>
      <p>The getCall request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallRequest"/>
  </wsdl:message>
  <wsdl:message name="getCallResponse">
    <wsdl:documentation>
      <p>The getCall response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallResponse"/>
  </wsdl:message>
  <wsdl:message name="getCallException">
    <wsdl:documentation>
      <p>The getCall exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getCallException"/>
  </wsdl:message>   
   
  <wsdl:message name="getConnectionsAndRouteDetailsRequest">
    <wsdl:documentation>
      <p>The getConnectionsAndRouteDetails request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getConnectionsAndRouteDetailsRequest"/>
  </wsdl:message>
  <wsdl:message name="getConnectionsAndRouteDetailsResponse">
    <wsdl:documentation>
      <p>The getConnectionsAndRouteDetails response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getConnectionsAndRouteDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="getConnectionsAndRouteDetailsException">
    <wsdl:documentation>
      <p>The getConnectionsAndRouteDetails exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getConnectionsAndRouteDetailsException"/>
  </wsdl:message>   
  
  <wsdl:message name="getCallAndTopLevelConnectionsListIteratorRequest">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsListIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsListIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsListIteratorResponse">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsListIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsListIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsListIteratorException">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsListIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsListIteratorException"/>
  </wsdl:message>  
  
  <wsdl:message name="getCallAndTopLevelConnectionsAndSNCsListIteratorRequest">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsAndSNCsListIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsAndSNCsListIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsAndSNCsListIteratorResponse">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsAndSNCsListIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsAndSNCsListIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getCallAndTopLevelConnectionsAndSNCsListIteratorException">
    <wsdl:documentation>
      <p>The getCallAndTopLevelConnectionsAndSNCsListIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="callconr:getCallAndTopLevelConnectionsAndSNCsListIteratorException"/>
  </wsdl:message>  
   
</wsdl:definitions>
