Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/CallConnRetrieval/CallConnRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-CallConnRetrievalV1-0" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/callconr/v1-0" 
targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/callconr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: CallConnRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP CallConnRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/callconr/v1-0" location="CallConnRetrievalMessages.wsdl"/>

  <wsdl:portType name="CallConnRetrieval_RPC">

    <wsdl:documentation>
      <p>The CallConnRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    
    <wsdl:operation name="getAllCallsAndTopLevelConnections">
      <wsdl:input message="tns:getAllCallsAndTopLevelConnectionsRequest"/>
      <wsdl:output message="tns:getAllCallsAndTopLevelConnectionsResponse"/>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsException" message="tns:getAllCallsAndTopLevelConnectionsException"/>
    </wsdl:operation>

    <wsdl:operation name="getAllCallsAndTopLevelConnectionsAndSNCs">
      <wsdl:input message="tns:getAllCallsAndTopLevelConnectionsAndSNCsRequest"/>
      <wsdl:output message="tns:getAllCallsAndTopLevelConnectionsAndSNCsResponse"/>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsAndSNCsException" message="tns:getAllCallsAndTopLevelConnectionsAndSNCsException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallsAndTopLevelConnectionsWithME">
      <wsdl:input message="tns:getAllCallsAndTopLevelConnectionsWithMERequest"/>
      <wsdl:output message="tns:getAllCallsAndTopLevelConnectionsWithMEResponse"/>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsWithMEException" message="tns:getAllCallsAndTopLevelConnectionsWithMEException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallsAndTopLevelConnectionsAndSNCsWithME">
      <wsdl:input message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithMERequest"/>
      <wsdl:output message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithMEResponse"/>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsAndSNCsWithMEException" message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithMEException"/>
    </wsdl:operation>

    <wsdl:operation name="getAllCallsAndTopLevelConnectionsAndSNCsWithTP">
      <wsdl:input message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithTPRequest"/>
      <wsdl:output message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithTPResponse"/>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsAndSNCsWithTPException" message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithTPException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallIdsWithTP">
      <wsdl:input message="tns:getAllCallIdsWithTPRequest"/>
      <wsdl:output message="tns:getAllCallIdsWithTPResponse"/>
      <wsdl:fault name="getAllCallIdsWithTPException" message="tns:getAllCallIdsWithTPException"/>
    </wsdl:operation>
    
    <wsdl:operation name="getAllCallIdsWithSNPPOrTNAName">
      <wsdl:input message="tns:getAllCallIdsWithSNPPOrTNANameRequest"/>
      <wsdl:output message="tns:getAllCallIdsWithSNPPOrTNANameResponse"/>
      <wsdl:fault name="getAllCallIdsWithSNPPOrTNANameException" message="tns:getAllCallIdsWithSNPPOrTNANameException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getCallAndTopLevelConnectionsAndSNCs">
      <wsdl:input message="tns:getCallAndTopLevelConnectionsAndSNCsRequest"/>
      <wsdl:output message="tns:getCallAndTopLevelConnectionsAndSNCsResponse"/>
      <wsdl:fault name="getCallAndTopLevelConnectionsAndSNCsException" message="tns:getCallAndTopLevelConnectionsAndSNCsException"/>
    </wsdl:operation>
    
    <wsdl:operation name="getCallAndTopLevelConnections">
      <wsdl:input message="tns:getCallAndTopLevelConnectionsRequest"/>
      <wsdl:output message="tns:getCallAndTopLevelConnectionsResponse"/>
      <wsdl:fault name="getCallAndTopLevelConnectionsException" message="tns:getCallAndTopLevelConnectionsException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getCall">
      <wsdl:input message="tns:getCallRequest"/>
      <wsdl:output message="tns:getCallResponse"/>
      <wsdl:fault name="getCallException" message="tns:getCallException"/>
    </wsdl:operation>
    
        <wsdl:operation name="getConnectionsAndRouteDetails">
      <wsdl:input message="tns:getConnectionsAndRouteDetailsRequest"/>
      <wsdl:output message="tns:getConnectionsAndRouteDetailsResponse"/>
      <wsdl:fault name="getConnectionsAndRouteDetailsException" message="tns:getConnectionsAndRouteDetailsException"/>
    </wsdl:operation>    
    
        <wsdl:operation name="getCallAndTopLevelConnectionsListIterator">
      <wsdl:input message="tns:getCallAndTopLevelConnectionsListIteratorRequest"/>
      <wsdl:output message="tns:getCallAndTopLevelConnectionsListIteratorResponse"/>
      <wsdl:fault name="getCallAndTopLevelConnectionsListIteratorException" message="tns:getCallAndTopLevelConnectionsListIteratorException"/>
    </wsdl:operation>    
    
        <wsdl:operation name="getCallAndTopLevelConnectionsAndSNCsListIterator">
      <wsdl:input message="tns:getCallAndTopLevelConnectionsAndSNCsListIteratorRequest"/>
      <wsdl:output message="tns:getCallAndTopLevelConnectionsAndSNCsListIteratorResponse"/>
      <wsdl:fault name="getCallAndTopLevelConnectionsAndSNCsListIteratorException" message="tns:getCallAndTopLevelConnectionsAndSNCsListIteratorException"/>
    </wsdl:operation>

  </wsdl:portType>
  
  <wsdl:binding name="CallConnRetrievalSoapHttpBinding" type="tns:CallConnRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the CallConnRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="getAllCallsAndTopLevelConnections">
      <soap:operation soapAction="getAllCallsAndTopLevelConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsException">
        <soap:fault name="getAllCallsAndTopLevelConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallsAndTopLevelConnectionsAndSNCs">
      <soap:operation soapAction="getAllCallsAndTopLevelConnectionsAndSNCs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsAndSNCsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsAndSNCsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsAndSNCsException">
        <soap:fault name="getAllCallsAndTopLevelConnectionsAndSNCsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallsAndTopLevelConnectionsWithME">
      <soap:operation soapAction="getAllCallsAndTopLevelConnectionsWithME" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsWithMERequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsWithMEResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsWithMEException">
        <soap:fault name="getAllCallsAndTopLevelConnectionsWithMEException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallsAndTopLevelConnectionsAndSNCsWithME">
      <soap:operation soapAction="getAllCallsAndTopLevelConnectionsAndSNCsWithME" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithMERequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithMEResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsAndSNCsWithMEException">
        <soap:fault name="getAllCallsAndTopLevelConnectionsAndSNCsWithMEException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallsAndTopLevelConnectionsAndSNCsWithTP">
      <soap:operation soapAction="getAllCallsAndTopLevelConnectionsAndSNCsWithTP" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithTPRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallsAndTopLevelConnectionsAndSNCsWithTPResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallsAndTopLevelConnectionsAndSNCsWithTPException">
        <soap:fault name="getAllCallsAndTopLevelConnectionsAndSNCsWithTPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallIdsWithTP">
      <soap:operation soapAction="getAllCallIdsWithTP" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallIdsWithTPRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallIdsWithTPResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallIdsWithTPException">
        <soap:fault name="getAllCallIdsWithTPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getAllCallIdsWithSNPPOrTNAName">
      <soap:operation soapAction="getAllCallIdsWithSNPPOrTNAName" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCallIdsWithSNPPOrTNANameRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCallIdsWithSNPPOrTNANameResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCallIdsWithSNPPOrTNANameException">
        <soap:fault name="getAllCallIdsWithSNPPOrTNANameException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getCallAndTopLevelConnectionsAndSNCs">
      <soap:operation soapAction="getCallAndTopLevelConnectionsAndSNCs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCallAndTopLevelConnectionsAndSNCsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCallAndTopLevelConnectionsAndSNCsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCallAndTopLevelConnectionsAndSNCsException">
        <soap:fault name="getCallAndTopLevelConnectionsAndSNCsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getCallAndTopLevelConnections">
      <soap:operation soapAction="getCallAndTopLevelConnections" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCallAndTopLevelConnectionsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCallAndTopLevelConnectionsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCallAndTopLevelConnectionsException">
        <soap:fault name="getCallAndTopLevelConnectionsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getCall">
      <soap:operation soapAction="getCall" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCallRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCallResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCallException">
        <soap:fault name="getCallException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getConnectionsAndRouteDetails">
      <soap:operation soapAction="getConnectionsAndRouteDetails" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getConnectionsAndRouteDetailsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getConnectionsAndRouteDetailsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getConnectionsAndRouteDetailsException">
        <soap:fault name="getConnectionsAndRouteDetailsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getCallAndTopLevelConnectionsListIterator">
      <soap:operation soapAction="getCallAndTopLevelConnectionsListIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCallAndTopLevelConnectionsListIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCallAndTopLevelConnectionsListIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCallAndTopLevelConnectionsListIteratorException">
        <soap:fault name="getCallAndTopLevelConnectionsListIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
        <wsdl:operation name="getCallAndTopLevelConnectionsAndSNCsListIterator">
      <soap:operation soapAction="getCallAndTopLevelConnectionsAndSNCsListIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getCallAndTopLevelConnectionsAndSNCsListIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getCallAndTopLevelConnectionsAndSNCsListIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getCallAndTopLevelConnectionsAndSNCsListIteratorException">
        <soap:fault name="getCallAndTopLevelConnectionsAndSNCsListIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation> 


  </wsdl:binding>
  
  <wsdl:service name="CallConnRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the CallConnRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="CallConnRetrievalSoapHttp" binding="tns:CallConnRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/CallConnRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
