Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TpRetrieval/TpRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TpRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" xmlns:tpr="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: TpRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TpRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tpr/v1" schemaLocation="../../xsd/TpRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllAssignableCptpsRequest">
    <wsdl:documentation>
      <p>The getAllAssignableCptps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignableCptpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignableCptpsResponse">
    <wsdl:documentation>
      <p>The getAllAssignableCptps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignableCptpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignableCptpsException">
    <wsdl:documentation>
      <p>The getAllAssignableCptps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignableCptpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignedCptpsRequest">
    <wsdl:documentation>
      <p>The getAllAssignedCptps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignedCptpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignedCptpsResponse">
    <wsdl:documentation>
      <p>The getAllAssignedCptps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignedCptpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssignedCptpsException">
    <wsdl:documentation>
      <p>The getAllAssignedCptps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllAssignedCptpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllCptpsRequest">
    <wsdl:documentation>
      <p>The getAllCptps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllCptpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllCptpsResponse">
    <wsdl:documentation>
      <p>The getAllCptps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllCptpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllCptpsException">
    <wsdl:documentation>
      <p>The getAllCptps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllCptpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointNamesRequest">
    <wsdl:documentation>
      <p>The getAllEdgePointNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointNamesResponse">
    <wsdl:documentation>
      <p>The getAllEdgePointNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointNamesException">
    <wsdl:documentation>
      <p>The getAllEdgePointNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsRequest">
    <wsdl:documentation>
      <p>The getAllEdgePoints request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsResponse">
    <wsdl:documentation>
      <p>The getAllEdgePoints response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEdgePointsException">
    <wsdl:documentation>
      <p>The getAllEdgePoints exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllEdgePointsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFtpNamesRequest">
    <wsdl:documentation>
      <p>The getAllFtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllFtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFtpNamesResponse">
    <wsdl:documentation>
      <p>The getAllFtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllFtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFtpNamesException">
    <wsdl:documentation>
      <p>The getAllFtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllFtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllFtpsRequest">
    <wsdl:documentation>
      <p>The getAllFtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllFtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFtpsResponse">
    <wsdl:documentation>
      <p>The getAllFtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllFtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFtpsException">
    <wsdl:documentation>
      <p>The getAllFtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllFtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllGtpNamesRequest">
    <wsdl:documentation>
      <p>The getAllGtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllGtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllGtpNamesResponse">
    <wsdl:documentation>
      <p>The getAllGtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllGtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllGtpNamesException">
    <wsdl:documentation>
      <p>The getAllGtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllGtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllGtpsRequest">
    <wsdl:documentation>
      <p>The getAllGtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllGtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllGtpsResponse">
    <wsdl:documentation>
      <p>The getAllGtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllGtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllGtpsException">
    <wsdl:documentation>
      <p>The getAllGtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllGtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpNamesRequest">
    <wsdl:documentation>
      <p>The getAllPtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpNamesResponse">
    <wsdl:documentation>
      <p>The getAllPtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpNamesException">
    <wsdl:documentation>
      <p>The getAllPtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpNamesWithoutFtpsRequest">
    <wsdl:documentation>
      <p>The getAllPtpNamesWithoutFtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpNamesWithoutFtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpNamesWithoutFtpsResponse">
    <wsdl:documentation>
      <p>The getAllPtpNamesWithoutFtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpNamesWithoutFtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpNamesWithoutFtpsException">
    <wsdl:documentation>
      <p>The getAllPtpNamesWithoutFtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpNamesWithoutFtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpsRequest">
    <wsdl:documentation>
      <p>The getAllPtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpsResponse">
    <wsdl:documentation>
      <p>The getAllPtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpsException">
    <wsdl:documentation>
      <p>The getAllPtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpsWithoutFtpsRequest">
    <wsdl:documentation>
      <p>The getAllPtpsWithoutFtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpsWithoutFtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpsWithoutFtpsResponse">
    <wsdl:documentation>
      <p>The getAllPtpsWithoutFtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpsWithoutFtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllPtpsWithoutFtpsException">
    <wsdl:documentation>
      <p>The getAllPtpsWithoutFtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllPtpsWithoutFtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPtpNamesRequest">
    <wsdl:documentation>
      <p>The getAllSupportedPtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPtpNamesResponse">
    <wsdl:documentation>
      <p>The getAllSupportedPtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPtpNamesException">
    <wsdl:documentation>
      <p>The getAllSupportedPtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPtpsRequest">
    <wsdl:documentation>
      <p>The getAllSupportedPtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPtpsResponse">
    <wsdl:documentation>
      <p>The getAllSupportedPtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedPtpsException">
    <wsdl:documentation>
      <p>The getAllSupportedPtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllSupportedPtpsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTpPoolNamesRequest">
    <wsdl:documentation>
      <p>The getAllTpPoolNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllTpPoolNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTpPoolNamesResponse">
    <wsdl:documentation>
      <p>The getAllTpPoolNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllTpPoolNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTpPoolNamesException">
    <wsdl:documentation>
      <p>The getAllTpPoolNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllTpPoolNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTpPoolsRequest">
    <wsdl:documentation>
      <p>The getAllTpPools request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllTpPoolsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTpPoolsResponse">
    <wsdl:documentation>
      <p>The getAllTpPools response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAllTpPoolsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTpPoolsException">
    <wsdl:documentation>
      <p>The getAllTpPools exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAllTpPoolsException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTpRequest">
    <wsdl:documentation>
      <p>The  request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTpResponse">
    <wsdl:documentation>
      <p>The getAssociatedTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTpException">
    <wsdl:documentation>
      <p>The getAssociatedTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTpException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTpsWrtTmdRequest">
    <wsdl:documentation>
      <p>The getAssociatedTpsWrtTmd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTpsWrtTmdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTpsWrtTmdResponse">
    <wsdl:documentation>
      <p>The getAssociatedTpsWrtTmd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTpsWrtTmdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatedTpsWrtTmdException">
    <wsdl:documentation>
      <p>The getAssociatedTpsWrtTmd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getAssociatedTpsWrtTmdException"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCtpNamesRequest">
    <wsdl:documentation>
      <p>The getContainedCurrentCtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentCtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCtpNamesResponse">
    <wsdl:documentation>
      <p>The getContainedCurrentCtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentCtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCtpNamesException">
    <wsdl:documentation>
      <p>The getContainedCurrentCtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentCtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCtpsRequest">
    <wsdl:documentation>
      <p>The getContainedCurrentCtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentCtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCtpsResponse">
    <wsdl:documentation>
      <p>The getContainedCurrentCtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentCtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedCurrentCtpsException">
    <wsdl:documentation>
      <p>The getContainedCurrentCtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedCurrentCtpsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCtpNamesRequest">
    <wsdl:documentation>
      <p>The getContainedInUseCtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseCtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCtpNamesResponse">
    <wsdl:documentation>
      <p>The getContainedInUseCtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseCtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCtpNamesException">
    <wsdl:documentation>
      <p>The getContainedInUseCtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseCtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCtpsRequest">
    <wsdl:documentation>
      <p>The getContainedInUseCtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseCtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCtpsResponse">
    <wsdl:documentation>
      <p>The getContainedInUseCtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseCtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedInUseCtpsException">
    <wsdl:documentation>
      <p>The getContainedInUseCtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedInUseCtpsException"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCtpNamesRequest">
    <wsdl:documentation>
      <p>The getContainedPotentialCtpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialCtpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCtpNamesResponse">
    <wsdl:documentation>
      <p>The getContainedPotentialCtpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialCtpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCtpNamesException">
    <wsdl:documentation>
      <p>The getContainedPotentialCtpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialCtpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCtpsRequest">
    <wsdl:documentation>
      <p>The getContainedPotentialCtps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialCtpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCtpsResponse">
    <wsdl:documentation>
      <p>The getContainedPotentialCtps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialCtpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedPotentialCtpsException">
    <wsdl:documentation>
      <p>The getContainedPotentialCtps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainedPotentialCtpsException"/>
  </wsdl:message>
  <wsdl:message name="getContainingGtpRequest">
    <wsdl:documentation>
      <p>The getContainingGtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingGtpRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingGtpResponse">
    <wsdl:documentation>
      <p>The getContainingGtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingGtpResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingGtpException">
    <wsdl:documentation>
      <p>The getContainingGtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainingGtpException"/>
  </wsdl:message>
  <wsdl:message name="getContainingTpNamesRequest">
    <wsdl:documentation>
      <p>The getContainingTpNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingTpNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingTpNamesResponse">
    <wsdl:documentation>
      <p>The getContainingTpNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingTpNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingTpNamesException">
    <wsdl:documentation>
      <p>The getContainingTpNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainingTpNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainingTpsRequest">
    <wsdl:documentation>
      <p>The getContainingTps request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingTpsRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingTpsResponse">
    <wsdl:documentation>
      <p>The getContainingTps response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getContainingTpsResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingTpsException">
    <wsdl:documentation>
      <p>The getContainingTps exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getContainingTpsException"/>
  </wsdl:message>
  <wsdl:message name="getGtpRequest">
    <wsdl:documentation>
      <p>The getGtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGtpRequest"/>
  </wsdl:message>
  <wsdl:message name="getGtpResponse">
    <wsdl:documentation>
      <p>The getGtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGtpResponse"/>
  </wsdl:message>
  <wsdl:message name="getGtpException">
    <wsdl:documentation>
      <p>The getGtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getGtpException"/>
  </wsdl:message>
  <wsdl:message name="getTpRequest">
    <wsdl:documentation>
      <p>The getTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getTpResponse">
    <wsdl:documentation>
      <p>The getTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpException">
    <wsdl:documentation>
      <p>The getTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTpException"/>
  </wsdl:message>
  <wsdl:message name="getTpGroupingRelationshipsRequest">
    <wsdl:documentation>
      <p>The getTpGroupingRelationships request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpGroupingRelationshipsRequest"/>
  </wsdl:message>
  <wsdl:message name="getTpGroupingRelationshipsResponse">
    <wsdl:documentation>
      <p>The getTpGroupingRelationships response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpGroupingRelationshipsResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpGroupingRelationshipsException">
    <wsdl:documentation>
      <p>The getTpGroupingRelationships exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTpGroupingRelationshipsException"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolRequest">
    <wsdl:documentation>
      <p>The getTpPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolResponse">
    <wsdl:documentation>
      <p>The getTpPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolException">
    <wsdl:documentation>
      <p>The getTpPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getTerminationPointNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getTerminationPointNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointNamesIteratorException">
    <wsdl:documentation>
      <p>The getTerminationPointNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointsIteratorRequest">
    <wsdl:documentation>
      <p>The getTerminationPointsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointsIteratorResponse">
    <wsdl:documentation>
      <p>The getTerminationPointsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTerminationPointsIteratorException">
    <wsdl:documentation>
      <p>The getTerminationPointsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTerminationPointsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getTpPoolNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getTpPoolNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolNamesIteratorException">
    <wsdl:documentation>
      <p>The getTpPoolNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolsIteratorRequest">
    <wsdl:documentation>
      <p>The getTpPoolsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolsIteratorResponse">
    <wsdl:documentation>
      <p>The getTpPoolsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTpPoolsIteratorException">
    <wsdl:documentation>
      <p>The getTpPoolsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getTpPoolsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getGtpsIteratorRequest">
    <wsdl:documentation>
      <p>The getGtpsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGtpsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getGtpsIteratorResponse">
    <wsdl:documentation>
      <p>The getGtpsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGtpsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getGtpsIteratorException">
    <wsdl:documentation>
      <p>The getGtpsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getGtpsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getGtpNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getGtpNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGtpNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getGtpNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getGtpNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpr:getGtpNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getGtpNamesIteratorException">
    <wsdl:documentation>
      <p>The getGtpNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpr:getGtpNamesIteratorException"/>
  </wsdl:message>
</wsdl:definitions>