Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TpRetrieval/TpRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TpRetrievalHttpV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: TpRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains the mTOP TpRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/ws/tpr/v1-0" location="TpRetrievalMessages.wsdl"/>
  <wsdl:portType name="TpRetrieval_RPC">
    <wsdl:documentation>
      <p>The TpRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssignableCptps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllAssignableCptpsRequest"/>
      <wsdl:output message="tns:getAllAssignableCptpsResponse"/>
      <wsdl:fault name="getAllAssignableCptpsException" message="tns:getAllAssignableCptpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedCptps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllAssignedCptpsRequest"/>
      <wsdl:output message="tns:getAllAssignedCptpsResponse"/>
      <wsdl:fault name="getAllAssignedCptpsException" message="tns:getAllAssignedCptpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllCptps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllCptpsRequest"/>
      <wsdl:output message="tns:getAllCptpsResponse"/>
      <wsdl:fault name="getAllCptpsException" message="tns:getAllCptpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePointNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllEdgePointNamesRequest"/>
      <wsdl:output message="tns:getAllEdgePointNamesResponse"/>
      <wsdl:fault name="getAllEdgePointNamesException" message="tns:getAllEdgePointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllEdgePointsRequest"/>
      <wsdl:output message="tns:getAllEdgePointsResponse"/>
      <wsdl:fault name="getAllEdgePointsException" message="tns:getAllEdgePointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFtpNamesRequest"/>
      <wsdl:output message="tns:getAllFtpNamesResponse"/>
      <wsdl:fault name="getAllFtpNamesException" message="tns:getAllFtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFtpsRequest"/>
      <wsdl:output message="tns:getAllFtpsResponse"/>
      <wsdl:fault name="getAllFtpsException" message="tns:getAllFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllGtpNamesRequest"/>
      <wsdl:output message="tns:getAllGtpNamesResponse"/>
      <wsdl:fault name="getAllGtpNamesException" message="tns:getAllGtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllGtpsRequest"/>
      <wsdl:output message="tns:getAllGtpsResponse"/>
      <wsdl:fault name="getAllGtpsException" message="tns:getAllGtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpNamesRequest"/>
      <wsdl:output message="tns:getAllPtpNamesResponse"/>
      <wsdl:fault name="getAllPtpNamesException" message="tns:getAllPtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpNamesWithoutFtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpNamesWithoutFtpsRequest"/>
      <wsdl:output message="tns:getAllPtpNamesWithoutFtpsResponse"/>
      <wsdl:fault name="getAllPtpNamesWithoutFtpsException" message="tns:getAllPtpNamesWithoutFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpsRequest"/>
      <wsdl:output message="tns:getAllPtpsResponse"/>
      <wsdl:fault name="getAllPtpsException" message="tns:getAllPtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
    <wsdl:operation name="">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
      <wsdl:fault name="Exception" message="tns:Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TpRetrievalSoapHttpBinding" type="tns:TpRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the TpRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TpRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the TpRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TpRetrievalSoapHttp" binding="tns:TpRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TpRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
