Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TpRetrieval/TpRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0" name="mTOP-TpRetrievalHttpV1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tpr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: TpRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains the mTOP TpRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/ws/tpr/v1-0" location="TpRetrievalMessages.wsdl"/>
  <wsdl:portType name="TpRetrieval_RPC">
    <wsdl:documentation>
      <p>The TpRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssignableCptps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllAssignableCptpsRequest"/>
      <wsdl:output message="tns:getAllAssignableCptpsResponse"/>
      <wsdl:fault name="getAllAssignableCptpsException" message="tns:getAllAssignableCptpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedCptps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllAssignedCptpsRequest"/>
      <wsdl:output message="tns:getAllAssignedCptpsResponse"/>
      <wsdl:fault name="getAllAssignedCptpsException" message="tns:getAllAssignedCptpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllCptps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllCptpsRequest"/>
      <wsdl:output message="tns:getAllCptpsResponse"/>
      <wsdl:fault name="getAllCptpsException" message="tns:getAllCptpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePointNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllEdgePointNamesRequest"/>
      <wsdl:output message="tns:getAllEdgePointNamesResponse"/>
      <wsdl:fault name="getAllEdgePointNamesException" message="tns:getAllEdgePointNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllEdgePointsRequest"/>
      <wsdl:output message="tns:getAllEdgePointsResponse"/>
      <wsdl:fault name="getAllEdgePointsException" message="tns:getAllEdgePointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFtpNamesRequest"/>
      <wsdl:output message="tns:getAllFtpNamesResponse"/>
      <wsdl:fault name="getAllFtpNamesException" message="tns:getAllFtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllFtpsRequest"/>
      <wsdl:output message="tns:getAllFtpsResponse"/>
      <wsdl:fault name="getAllFtpsException" message="tns:getAllFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllGtpNamesRequest"/>
      <wsdl:output message="tns:getAllGtpNamesResponse"/>
      <wsdl:fault name="getAllGtpNamesException" message="tns:getAllGtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllGtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllGtpsRequest"/>
      <wsdl:output message="tns:getAllGtpsResponse"/>
      <wsdl:fault name="getAllGtpsException" message="tns:getAllGtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpNamesRequest"/>
      <wsdl:output message="tns:getAllPtpNamesResponse"/>
      <wsdl:fault name="getAllPtpNamesException" message="tns:getAllPtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpNamesWithoutFtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpNamesWithoutFtpsRequest"/>
      <wsdl:output message="tns:getAllPtpNamesWithoutFtpsResponse"/>
      <wsdl:fault name="getAllPtpNamesWithoutFtpsException" message="tns:getAllPtpNamesWithoutFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpsRequest"/>
      <wsdl:output message="tns:getAllPtpsResponse"/>
      <wsdl:fault name="getAllPtpsException" message="tns:getAllPtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpsWithoutFtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllPtpsWithoutFtpsRequest"/>
      <wsdl:output message="tns:getAllPtpsWithoutFtpsResponse"/>
      <wsdl:fault name="getAllPtpsWithoutFtpsException" message="tns:getAllPtpsWithoutFtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllSupportedPtpNamesRequest"/>
      <wsdl:output message="tns:getAllSupportedPtpNamesResponse"/>
      <wsdl:fault name="getAllSupportedPtpNamesException" message="tns:getAllSupportedPtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedPtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllSupportedPtpsRequest"/>
      <wsdl:output message="tns:getAllSupportedPtpsResponse"/>
      <wsdl:fault name="getAllSupportedPtpsException" message="tns:getAllSupportedPtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTpPoolNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllTpPoolNamesRequest"/>
      <wsdl:output message="tns:getAllTpPoolNamesResponse"/>
      <wsdl:fault name="getAllTpPoolNamesException" message="tns:getAllTpPoolNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllTpPools">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllTpPoolsRequest"/>
      <wsdl:output message="tns:getAllTpPoolsResponse"/>
      <wsdl:fault name="getAllTpPoolsException" message="tns:getAllTpPoolsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTp">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAssociatedTpRequest"/>
      <wsdl:output message="tns:getAssociatedTpResponse"/>
      <wsdl:fault name="getAssociatedTpException" message="tns:getAssociatedTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedTpsWrtTmd">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAssociatedTpsWrtTmdRequest"/>
      <wsdl:output message="tns:getAssociatedTpsWrtTmdResponse"/>
      <wsdl:fault name="getAssociatedTpsWrtTmdException" message="tns:getAssociatedTpsWrtTmdException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentCtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainedCurrentCtpNamesRequest"/>
      <wsdl:output message="tns:getContainedCurrentCtpNamesResponse"/>
      <wsdl:fault name="getContainedCurrentCtpNamesException" message="tns:getContainedCurrentCtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedCurrentCtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainedCurrentCtpsRequest"/>
      <wsdl:output message="tns:getContainedCurrentCtpsResponse"/>
      <wsdl:fault name="getContainedCurrentCtpsException" message="tns:getContainedCurrentCtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseCtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainedInUseCtpNamesRequest"/>
      <wsdl:output message="tns:getContainedInUseCtpNamesResponse"/>
      <wsdl:fault name="getContainedInUseCtpNamesException" message="tns:getContainedInUseCtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedInUseCtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainedInUseCtpsRequest"/>
      <wsdl:output message="tns:getContainedInUseCtpsResponse"/>
      <wsdl:fault name="getContainedInUseCtpsException" message="tns:getContainedInUseCtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialCtpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainedPotentialCtpNamesRequest"/>
      <wsdl:output message="tns:getContainedPotentialCtpNamesResponse"/>
      <wsdl:fault name="getContainedPotentialCtpNamesException" message="tns:getContainedPotentialCtpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainedPotentialCtps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainedPotentialCtpsRequest"/>
      <wsdl:output message="tns:getContainedPotentialCtpsResponse"/>
      <wsdl:fault name="getContainedPotentialCtpsException" message="tns:getContainedPotentialCtpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingGtp">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainingGtpRequest"/>
      <wsdl:output message="tns:getContainingGtpResponse"/>
      <wsdl:fault name="getContainingGtpException" message="tns:getContainingGtpException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingTpNames">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainingTpNamesRequest"/>
      <wsdl:output message="tns:getContainingTpNamesResponse"/>
      <wsdl:fault name="getContainingTpNamesException" message="tns:getContainingTpNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getContainingTps">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getContainingTpsRequest"/>
      <wsdl:output message="tns:getContainingTpsResponse"/>
      <wsdl:fault name="getContainingTpsException" message="tns:getContainingTpsException"/>
    </wsdl:operation>
    <wsdl:operation name="getGtp">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getGtpRequest"/>
      <wsdl:output message="tns:getGtpResponse"/>
      <wsdl:fault name="getGtpException" message="tns:getGtpException"/>
    </wsdl:operation>
    <wsdl:operation name="getTp">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTpRequest"/>
      <wsdl:output message="tns:getTpResponse"/>
      <wsdl:fault name="getTpException" message="tns:getTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getTpGroupingRelationships">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTpGroupingRelationshipsRequest"/>
      <wsdl:output message="tns:getTpGroupingRelationshipsResponse"/>
      <wsdl:fault name="getTpGroupingRelationshipsException" message="tns:getTpGroupingRelationshipsException"/>
    </wsdl:operation>
    <wsdl:operation name="getTpPool">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTpPoolRequest"/>
      <wsdl:output message="tns:getTpPoolResponse"/>
      <wsdl:fault name="getTpPoolException" message="tns:getTpPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointNamesIterator">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTerminationPointNamesIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointNamesIteratorResponse"/>
      <wsdl:fault name="getTerminationPointNamesIteratorException" message="tns:getTerminationPointNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTerminationPointsIterator">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTerminationPointsIteratorRequest"/>
      <wsdl:output message="tns:getTerminationPointsIteratorResponse"/>
      <wsdl:fault name="getTerminationPointsIteratorException" message="tns:getTerminationPointsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getGtpNamesIterator">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getGtpNamesIteratorRequest"/>
      <wsdl:output message="tns:getGtpNamesIteratorResponse"/>
      <wsdl:fault name="getGtpNamesIteratorException" message="tns:getGtpNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getGtpsIterator">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getGtpsIteratorRequest"/>
      <wsdl:output message="tns:getGtpsIteratorResponse"/>
      <wsdl:fault name="getGtpsIteratorException" message="tns:getGtpsIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTpPoolNamesIterator">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTpPoolNamesIteratorRequest"/>
      <wsdl:output message="tns:getTpPoolNamesIteratorResponse"/>
      <wsdl:fault name="getTpPoolNamesIteratorException" message="tns:getTpPoolNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getTpPoolsIterator">
      <wsdl:documentation>
        <p>SIT operation .</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getTpPoolsIteratorRequest"/>
      <wsdl:output message="tns:getTpPoolsIteratorResponse"/>
      <wsdl:fault name="getTpPoolsIteratorException" message="tns:getTpPoolsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TpRetrievalSoapHttpBinding" type="tns:TpRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the TpRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllAssignableCptps">
      <soap:operation soapAction="getAllAssignableCptps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssignableCptpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssignableCptpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssignableCptpsException">
        <soap:fault name="getAllAssignableCptpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedCptps">
      <soap:operation soapAction="getAllAssignedCptps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssignedCptpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssignedCptpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssignedCptpsException">
        <soap:fault name="getAllAssignedCptpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCptps">
      <soap:operation soapAction="getAllCptps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCptpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCptpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCptpsException">
        <soap:fault name="getAllCptpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePointNames">
      <soap:operation soapAction="getAllEdgePointNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEdgePointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEdgePointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEdgePointNamesException">
        <soap:fault name="getAllEdgePointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEdgePoints">
      <soap:operation soapAction="getAllEdgePoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllEdgePointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllEdgePointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllEdgePointsException">
        <soap:fault name="getAllEdgePointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFtpNames">
      <soap:operation soapAction="getAllFtpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFtpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFtpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFtpNamesException">
        <soap:fault name="getAllFtpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFtps">
      <soap:operation soapAction="getAllFtps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFtpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFtpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFtpsException">
        <soap:fault name="getAllFtpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGtpNames">
      <soap:operation soapAction="getAllGtpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllGtpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllGtpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllGtpNamesException">
        <soap:fault name="getAllGtpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGtps">
      <soap:operation soapAction="getAllGtps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllGtpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllGtpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllGtpsException">
        <soap:fault name="getAllGtpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpNames">
      <soap:operation soapAction="getAllPtpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPtpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPtpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPtpNamesException">
        <soap:fault name="getAllPtpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPtpNamesWithoutFtps">
      <soap:operation soapAction="getAllPtpNamesWithoutFtps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPtpNamesWithoutFtpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPtpNamesWithoutFtpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPtpNamesWithoutFtpsException">
        <soap:fault name="getAllPtpNamesWithoutFtpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:Request" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Response" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TpRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the TpRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TpRetrievalSoapHttp" binding="tns:TpRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TpRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
