Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MeRetrieval/MeRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" name="mTOP-MeRetrieval-JMS" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0">
  <wsdl:documentation>
    <p>DDP: Operation Model Manage Resource Inventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL Module</p>
    <p>Description: This module contains the mTOP ManagedElementRetrieval Service Interface WSDL definitions for the SOAP/JMS binding based on an MSG style port type (interface).</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <!-- ================ -->
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/ws/me/v1" location="MeRetrievalMessages.wsdl"/>
  <!-- ================ -->
  <wsdl:service name="MeRetrievalJms">
    <wsdl:port name="MeRetrievalSoapJms" binding="tns:MeRetrievalSoapJmsBinding">
      <wsdl:documentation>
        <p>Example of the MeRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
      </wsdl:documentation>
      <soap:address location="jms://aserver/mtosi/MeRetrieval"/>
    </wsdl:port>
  </wsdl:service>
  <!-- ================ -->
  <wsdl:binding name="MeRetrievalSoapJmsBinding" type="tns:MeRetrievalMsg">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the MeRetrieval_MSG portType (interface)</p>
    </wsdl:documentation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesException">
        <soap:fault name="getAllManagedElementNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElements">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsException">
        <soap:fault name="getAllManagedElementsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesWrtMlsnRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesWrtMlsnResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException">
        <soap:fault name="getAllManagedElementNamesWrtMlsnException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtMlsn">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsWrtMlsnRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsWrtMlsnResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMlsnException">
        <soap:fault name="getAllManagedElementsWrtMlsnException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesPassingFilterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException">
        <soap:fault name="getAllManagedElementNamesPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsPassingFilter">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsPassingFilterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterException">
        <soap:fault name="getAllManagedElementsPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException">
        <soap:fault name="getAllManagedElementNamesWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtOs">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsException">
        <soap:fault name="getAllManagedElementsWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElement">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getManagedElementRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getManagedElementResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementException">
        <soap:fault name="getManagedElementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
  </wsdl:binding>
  <!-- ================ -->
  <wsdl:portType name="MeRetrievalMsg">
    <wsdl:documentation>
      <p>The ManagedElementRetrieval porttype (interface) for MSG (asynchronous) based client/server communication patterns</p>
    </wsdl:documentation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNames">
      <wsdl:documentation>
        <p>This ARB operation has exactly the same behaviour as getAllManagedElements(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNamesRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesResponse"/>
      <wsdl:fault name="getAllManagedElementNamesException" message="tns:getAllManagedElementNamesException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElements">
      <wsdl:documentation>
        <p>This ARB operation allows an NMS to request a list of all the known ManagedElements in the given MD.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsResponse"/>
      <wsdl:fault name="getAllManagedElementsException" message="tns:getAllManagedElementsException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtMlsn">
      <wsdl:documentation>
        <p>This ARB operation has exactly the same behaviour as getAllManagedElementWrtMlsn), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNamesWrtMlsnRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtMlsnResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtMlsnException" message="tns:getAllManagedElementNamesWrtMlsnException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtMlsn">
      <wsdl:documentation>
        <p>This ARB operation allows an NMS to request a list of the ManagedElements that are associated with the specified Subnetwork</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementsWrtMlsnRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtMlsnResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtMlsnException" message="tns:getAllManagedElementsWrtMlsnException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesPassingFilter">
      <wsdl:documentation>
        <p>This ARB operation has exactly the same behaviour as getAllManagedElementNamesPassingFilter(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNamesPassingFilterRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesPassingFilterResponse"/>
      <wsdl:fault name="getAllManagedElementNamesPassingFilterException" message="tns:getAllManagedElementNamesPassingFilterException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsPassingFilter">
      <wsdl:documentation>
        <p>This ARB operation returns all ManagedElements (MEs) contained by a specific Management Domain that pass a given filter condition. The filter condition should test for equality based on any combination of location, manufacturer, productName and resourceState. The matching is based in "AND", i.e., all the supplied filter conditions must be met. If the filter is left empty, then all the MEs contained by the given MD are returned.</p>
        <p>The operation can only be directed to a top-level OS and not to a subordinate OS.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementsPassingFilterRequest"/>
      <wsdl:output message="tns:getAllManagedElementsPassingFilterResponse"/>
      <wsdl:fault name="getAllManagedElementsPassingFilterException" message="tns:getAllManagedElementsPassingFilterException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtOs">
      <wsdl:documentation>
        <p>This ARB operation has exactly the same behaviour as getAllManagedElementsWrtOs(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNamesWrtOsRequest"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtOsResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtOsException" message="tns:getAllManagedElementNamesWrtOsException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtOs">
      <wsdl:documentation>
        <p>This ARB operation returns the data structure for each ManagedElement (ME) managed by a given subordinate OS AND contained by a specific Management Domain. Note that Wrt in the name of the operation stands for "with respect to".</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementsWrtOsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtOsResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtOsException" message="tns:getAllManagedElementsWrtOsException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElement">
      <wsdl:documentation>
        <p>This ARR operation returns the Managed Element for the given managed element name.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getManagedElementRequest"/>
      <wsdl:output message="tns:getManagedElementResponse"/>
      <wsdl:fault name="getManagedElementException" message="tns:getManagedElementException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
