Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MeRetrieval/MeRetrieval_Http.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/ws/mer/v1" name="mTOP-MeRetrieval-HTTP" targetNamespace="http://www.tmforum.org/mtop/mri/ws/mer/v1">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains the mTOP ManagedElementRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <!-- ================ -->
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/ws/me/v1" location="MeRetrieval_Messages.wsdl"/>
  <!-- ================ -->
  <wsdl:service name="MeRetrievalHttp">
  <wsdl:documentation>
<p>Example of the MeRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
  </wsdl:documentation>
    <wsdl:port name="MeRetrievalSoapHttp" binding="tns:MeRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/MeRetrieval"/>
    </wsdl:port>
  </wsdl:service>
  <!-- ================ -->
  <wsdl:binding name="MeRetrievalSoapHttpBinding" type="tns:MeRetrieval_RPC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the MeRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNames">
      <soap:operation soapAction="getAllManagedElementNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNames" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesException">
        <soap:fault name="getAllManagedElementNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElements">
      <soap:operation soapAction="getAllManagedElements" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElements" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsException">
        <soap:fault name="getAllManagedElementsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtMLSN">
      <soap:operation soapAction="getAllManagedElementNamesWrtMLSN" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementNamesWrtMLSN" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementNamesWrtMLSNResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementNamesWrtMLSNException">
        <soap:fault name="getAllManagedElementNamesWrtMLSNException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtMLSN">
      <soap:operation soapAction="getAllManagedElementsWrtMLSN" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsWrtMLSN" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsWrtMLSNResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtMLSNException">
        <soap:fault name="getAllManagedElementsWrtMLSNException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMENamesPassingFilter">
      <soap:operation soapAction="getAllMENamesPassingFilter" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMENamesPassingFilter" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMENamesPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMENamesPassingFilterException">
        <soap:fault name="getAllMENamesPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMEsPassingFilter">
      <soap:operation soapAction="getAllMEsPassingFilter" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMEsPassingFilter" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMEsPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMEsPassingFilterException">
        <soap:fault name="getAllMEsPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMENamesWrtOS">
      <soap:operation soapAction="getAllMENamesWrtOS" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMENamesWrtOS" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMENamesWrtOSResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMENamesWrtOSException">
        <soap:fault name="getAllMENamesWrtOSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMEsWrtOS">
      <soap:operation soapAction="getAllMEsWrtOS" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllMEsWrtOS" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllMEsWrtOSResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllMEsWrtOSException">
        <soap:fault name="getAllMEsWrtOSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElement">
      <soap:operation soapAction="getManagedElement" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getManagedElement" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getManagedElementResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementException">
        <soap:fault name="getManagedElementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getMeIterator">
      <soap:operation soapAction="getMeIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMeIterator" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMeIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMeIteratorException">
        <soap:fault name="getMeIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getMeNamesIterator">
      <soap:operation soapAction="getMeNamesIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMeNamesIterator" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMeNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMeNamesIteratorException">
        <soap:fault name="getMeNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!-- ================ -->
  </wsdl:binding>
  <!-- ================ -->
  <wsdl:portType name="MeRetrieval_RPC">
    <wsdl:documentation>
      <p>The ManagedElementRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the getMeIterator operation to handle multiple responses.</p>
      @TODO: Should all name retrieval operations be SRR. Is use of an name iterator necessary?
    </wsdl:documentation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNames">
      <wsdl:documentation>
        <p>This SIT operation has exactly the same behaviour as getAllManagedElements(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNames"/>
      <wsdl:output message="tns:getAllManagedElementNamesResponse"/>
      <wsdl:fault name="getAllManagedElementNamesException" message="tns:getAllManagedElementNamesException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElements">
      <wsdl:documentation>
        <p>This SIT operation allows an NMS to request a list of all the known ManagedElements in the given MD.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElements"/>
      <wsdl:output message="tns:getAllManagedElementsResponse"/>
      <wsdl:fault name="getAllManagedElementsException" message="tns:getAllManagedElementsException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementNamesWrtMLSN">
      <wsdl:documentation>
        <p>This SIT operation has exactly the same behaviour as getAllManagedElementWrtMLSN(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementNamesWrtMLSN"/>
      <wsdl:output message="tns:getAllManagedElementNamesWrtMLSNResponse"/>
      <wsdl:fault name="getAllManagedElementNamesWrtMLSNException" message="tns:getAllManagedElementNamesWrtMLSNException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllManagedElementsWrtMLSN">
      <wsdl:documentation>
        <p>This SIT operation allows an NMS to request a list of the ManagedElements that are associated with the specified Subnetwork</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllManagedElementsWrtMLSN"/>
      <wsdl:output message="tns:getAllManagedElementsWrtMLSNResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtMLSNException" message="tns:getAllManagedElementsWrtMLSNException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMENamesPassingFilter">
      <wsdl:documentation>
        <p>This SIT operation has exactly the same behaviour as getAllMENamesPassingFilter(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMENamesPassingFilter"/>
      <wsdl:output message="tns:getAllMENamesPassingFilterResponse"/>
      <wsdl:fault name="getAllMENamesPassingFilterException" message="tns:getAllMENamesPassingFilterException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMEsPassingFilter">
      <wsdl:documentation>
        <p>This SIT operation returns all ManagedElements (MEs) contained by a specific Management Domain that pass a given filter condition. The filter condition should test for equality based on any combination of location, manufacturer, productName and resourceState. The matching is based in "AND", i.e., all the supplied filter conditions must be met. If the filter is left empty, then all the MEs contained by the given MD are returned.</p>
        <p>The operation can only be directed to a top-level OS and not to a subordinate OS.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMEsPassingFilter"/>
      <wsdl:output message="tns:getAllMEsPassingFilterResponse"/>
      <wsdl:fault name="getAllMEsPassingFilterException" message="tns:getAllMEsPassingFilterException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMENamesWrtOS">
      <wsdl:documentation>
        <p>This SIT operation has exactly the same behaviour as getAllMEsWrtOS(), but instead of returning the entire object structures, this operation returns their names.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMENamesWrtOS"/>
      <wsdl:output message="tns:getAllMENamesWrtOSResponse"/>
      <wsdl:fault name="getAllMENamesWrtOSException" message="tns:getAllMENamesWrtOSException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getAllMEsWrtOS">
      <wsdl:documentation>
        <p>This SIT operation returns the data structure for each ManagedElement (ME) managed by a given subordinate OS AND contained by a specific Management Domain. Note that Wrt in the name of the operation stands for "with respect to".</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllMEsWrtOS"/>
      <wsdl:output message="tns:getAllMEsWrtOSResponse"/>
      <wsdl:fault name="getAllMEsWrtOSException" message="tns:getAllMEsWrtOSException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getManagedElement">
      <wsdl:documentation>
        <p>This SRR operation returns the Managed Element for the given managed element name.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getManagedElement"/>
      <wsdl:output message="tns:getManagedElementResponse"/>
      <wsdl:fault name="getManagedElementException" message="tns:getManagedElementException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getMeIterator">
      <wsdl:documentation>
        <p>This is the getMe iterator SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getMeIterator"/>
      <wsdl:output message="tns:getMeIteratorResponse"/>
      <wsdl:fault name="getMeIteratorException" message="tns:getMeIteratorException"/>
    </wsdl:operation>
    <!-- ================ -->
    <wsdl:operation name="getMeNamesIterator">
      <wsdl:documentation>
        <p>This is the getMeNames iterator SIT operation</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getMeNamesIterator"/>
      <wsdl:output message="tns:getMeNamesIteratorResponse"/>
      <wsdl:fault name="getMeNamesIteratorException" message="tns:getMeNamesIteratorException"/>
    </wsdl:operation>
    <!-- ================ -->
  </wsdl:portType>
</wsdl:definitions>
