Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MeRetrieval/MeRetrieval_Messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ManagedElementRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mer="http://www.tmforum.org/mtop/mri/xsd/mer/v1" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ManagedElementRetrieval Service Interface WSDL message definitions.</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mer/v1" schemaLocation="../../xsd/MeRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagedElementNames">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNames"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElements">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElements"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElements exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsn">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsn"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementNamesWrtMlsnException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementNamesWrtMlsn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementNamesWrtMlsnException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsn">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsn"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagedElementsWrtMlsnException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllManagedElementsWrtMlsn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllManagedElementsWrtMlsnException"/>
  </wsdl:message>
  <wsdl:message name="getAllMeNamesPassingFilter">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMeNamesPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMeNamesPassingFilter"/>
  </wsdl:message>
  <wsdl:message name="getAllMENamesPassingFilterResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMeNamesPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMeNamesPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMeNamesPassingFilterException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMeNamesPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllMeNamesPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllMesPassingFilter">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMesPassingFilter request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMesPassingFilter"/>
  </wsdl:message>
  <wsdl:message name="getAllMesPassingFilterResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMesPassingFilter response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMesPassingFilterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMesPassingFilterException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMesPassingFilter exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllMesPassingFilterException"/>
  </wsdl:message>
  <wsdl:message name="getAllMeNamesWrtOS">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMeNamesWrtOS request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMeNamesWrtOs"/>
  </wsdl:message>
  <wsdl:message name="getAllMeNamesWrtOsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMeNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMeNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMeNamesWrtOsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The e exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllMeNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllMesWrtOs">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMesWrtOs"/>
  </wsdl:message>
  <wsdl:message name="getAllMesWrtOsResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getAllMesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMesWrtOsException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getAllMesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getAllMesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElement">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElement"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getManagedElementResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getManagedElement exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getManagedElementException"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNames iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getMeNamesIterator"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNames iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getMeNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeNamesIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMeNamesIteratorException exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getMeNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getMeIterator">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getMeIterator"/>
  </wsdl:message>
  <wsdl:message name="getMeIteratorResponse">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mer:getMeIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMeIteratorException">
    <!-- ================ -->
    <wsdl:documentation>
      <p>The getMe iterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mer:getMeIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
