mtosi_2.0/2.0ME/DDPs/ResourceProvisioning/IIS/wsdl/SoftwareAndDataControl/SoftwareAndDataControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-SoftwareAndDataControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:sdc="http://www.tmforum.org/mtop/rp/xsd/sdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/sdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: SoftwareAndDataControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP SoftwareAndDataControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/sdc/v1" schemaLocation="../../xsd/SoftwareAndDataControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="abortManagedElementBackupRequest">
    <wsdl:documentation>
      <p>The abortManagedElementBackup request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:abortManagedElementBackupRequest"/>
  </wsdl:message>
  <wsdl:message name="abortManagedElementBackupResponse">
    <wsdl:documentation>
      <p>The abortManagedElementBackup response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:abortManagedElementBackupResponse"/>
  </wsdl:message>
  <wsdl:message name="abortManagedElementBackupException">
    <wsdl:documentation>
      <p>The abortManagedElementBackup exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:abortManagedElementBackupException"/>
  </wsdl:message>
  <wsdl:message name="backupManagedElementRequest">
    <wsdl:documentation>
      <p>The backupManagedElement request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:backupManagedElementRequest"/>
  </wsdl:message>
  <wsdl:message name="backupManagedElementResponse">
    <wsdl:documentation>
      <p>The backupManagedElement response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:backupManagedElementResponse"/>
  </wsdl:message>
  <wsdl:message name="backupManagedElementException">
    <wsdl:documentation>
      <p>The backupManagedElement exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:backupManagedElementException"/>
  </wsdl:message>
  <wsdl:message name="getBackupListRequest">
    <wsdl:documentation>
      <p>The getBackupList request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getBackupListRequest"/>
  </wsdl:message>
  <wsdl:message name="getBackupListResponse">
    <wsdl:documentation>
      <p>The getBackupList response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getBackupListResponse"/>
  </wsdl:message>
  <wsdl:message name="getBackupListException">
    <wsdl:documentation>
      <p>The getBackupList exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:getBackupListException"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementBackupStatusRequest">
    <wsdl:documentation>
      <p>The getManagedElementBackupStatus request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getManagedElementBackupStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementBackupStatusResponse">
    <wsdl:documentation>
      <p>The getManagedElementBackupStatus response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getManagedElementBackupStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagedElementBackupStatusException">
    <wsdl:documentation>
      <p>The getManagedElementBackupStatus exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:getManagedElementBackupStatusException"/>
  </wsdl:message>
  <wsdl:message name="getBackupListIteratorRequest">
    <wsdl:documentation>
      <p>The getBackupListIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getBackupListIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getBackupListIteratorResponse">
    <wsdl:documentation>
      <p>The getBackupListIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sdc:getBackupListIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getBackupListIteratorException">
    <wsdl:documentation>
      <p>The getBackupListIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sdc:getBackupListIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
