Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/TransmissionDescriptorControl/TransmissionDescriptorControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TransmissionDescriptorControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TransmissionDescriptorControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP TransmissionDescriptorControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0" location="TransmissionDescriptorControlMessages.wsdl"/>
  <wsdl:portType name="TransmissionDescriptorControl">
    <wsdl:documentation>
      <p>The TransmissionDescriptorControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="createTransmissionDescriptor">
      <wsdl:input message="tns:createTransmissionDescriptorRequest"/>
      <wsdl:output message="tns:createTransmissionDescriptorResponse"/>
      <wsdl:fault name="createTransmissionDescriptorException" message="tns:createTransmissionDescriptorException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTransmissionDescriptor">
      <wsdl:input message="tns:deleteTransmissionDescriptorRequest"/>
      <wsdl:output message="tns:deleteTransmissionDescriptorResponse"/>
      <wsdl:fault name="deleteTransmissionDescriptorException" message="tns:deleteTransmissionDescriptorException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyTransmissionDescriptor">
      <wsdl:input message="tns:modifyTransmissionDescriptorRequest"/>
      <wsdl:output message="tns:modifyTransmissionDescriptorResponse"/>
      <wsdl:fault name="modifyTransmissionDescriptorException" message="tns:modifyTransmissionDescriptorException"/>
    </wsdl:operation>
    <wsdl:operation name="validateTmdAssignmentToObject">
      <wsdl:input message="tns:validateTmdAssignmentToObjectRequest"/>
      <wsdl:output message="tns:validateTmdAssignmentToObjectResponse"/>
      <wsdl:fault name="validateTmdAssignmentToObjectException" message="tns:validateTmdAssignmentToObjectException"/>
    </wsdl:operation>
    <wsdl:operation name="setTmdAssociation">
      <wsdl:input message="tns:setTmdAssociationRequest"/>
      <wsdl:output message="tns:setTmdAssociationResponse"/>
      <wsdl:fault name="setTmdAssociationException" message="tns:setTmdAssociationException"/>
    </wsdl:operation>
    <wsdl:operation name="verifyTmdAssignment">
      <wsdl:input message="tns:verifyTmdAssignmentRequest"/>
      <wsdl:output message="tns:verifyTmdAssignmentResponse"/>
      <wsdl:fault name="verifyTmdAssignmentException" message="tns:verifyTmdAssignmentException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
