Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/TransmissionDescriptorControl/TransmissionDescriptorControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TransmissionDescriptorControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tmdc="http://www.tmforum.org/mtop/rp/xsd/tmdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TransmissionDescriptorControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TransmissionDescriptorControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tmdc/v1" schemaLocation="../../xsd/TransmissionDescriptorControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The createTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:createTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="createTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The createTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:createTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="createTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The createTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:createTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="deleteTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The deleteTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:deleteTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The deleteTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:deleteTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The deleteTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:deleteTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="modifyTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The modifyTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:modifyTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The modifyTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:modifyTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The modifyTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:modifyTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="validateTmdAssignmentToObjectRequest">
    <wsdl:documentation>
      <p>The validateTmdAssignmentToObject request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:validateTmdAssignmentToObjectRequest"/>
  </wsdl:message>
  <wsdl:message name="validateTmdAssignmentToObjectResponse">
    <wsdl:documentation>
      <p>The validateTmdAssignmentToObject response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:validateTmdAssignmentToObjectResponse"/>
  </wsdl:message>
  <wsdl:message name="validateTmdAssignmentToObjectException">
    <wsdl:documentation>
      <p>The validateTmdAssignmentToObject exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:validateTmdAssignmentToObjectException"/>
  </wsdl:message>
  <wsdl:message name="setTmdAssociationRequest">
    <wsdl:documentation>
      <p>The setTmdAssociation request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:setTmdAssociationRequest"/>
  </wsdl:message>
  <wsdl:message name="setTmdAssociationResponse">
    <wsdl:documentation>
      <p>The setTmdAssociation response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:setTmdAssociationResponse"/>
  </wsdl:message>
  <wsdl:message name="setTmdAssociationException">
    <wsdl:documentation>
      <p>The setTmdAssociation exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:setTmdAssociationException"/>
  </wsdl:message>
  <wsdl:message name="verifyTmdAssignmentRequest">
    <wsdl:documentation>
      <p>The verifyTmdAssignment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:verifyTmdAssignmentRequest"/>
  </wsdl:message>
  <wsdl:message name="verifyTmdAssignmentResponse">
    <wsdl:documentation>
      <p>The verifyTmdAssignment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdc:verifyTmdAssignmentResponse"/>
  </wsdl:message>
  <wsdl:message name="verifyTmdAssignmentException">
    <wsdl:documentation>
      <p>The verifyTmdAssignment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdc:verifyTmdAssignmentException"/>
  </wsdl:message>
</wsdl:definitions>
