Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/EquipmentInventoryRetrieval/EquipmentInventoryRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-EquipmentInventoryRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0" xmlns:eir="http://www.tmforum.org/mtop/mri/xsd/eir/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: EquipmentInventoryRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP EquipmentInventoryRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/eir/v1" schemaLocation="../../xsd/EquipmentInventoryRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllEquipmentRequest">
    <wsdl:documentation>
      <p>The getAllEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentResponse">
    <wsdl:documentation>
      <p>The getAllEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentException">
    <wsdl:documentation>
      <p>The getAllEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getAllEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getAllEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentNamesException">
    <wsdl:documentation>
      <p>The getAllEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentRequest">
    <wsdl:documentation>
      <p>The getAllSupportingEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentResponse">
    <wsdl:documentation>
      <p>The getAllSupportingEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentException">
    <wsdl:documentation>
      <p>The getAllSupportingEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportingEquipmentNamesException">
    <wsdl:documentation>
      <p>The getAllSupportingEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllSupportingEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentRequest">
    <wsdl:documentation>
      <p>The getContainedEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getContainedEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentResponse">
    <wsdl:documentation>
      <p>The getContainedEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getContainedEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainedEquipmentException">
    <wsdl:documentation>
      <p>The getContainedEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getContainedEquipmentException"/>
  </wsdl:message>-->
  <wsdl:message name="getEquipmentRequest">
    <wsdl:documentation>
      <p>The getEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentResponse">
    <wsdl:documentation>
      <p>The getEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentException">
    <wsdl:documentation>
      <p>The getEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentRequest">
    <wsdl:documentation>
      <p>The getSupportedEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentResponse">
    <wsdl:documentation>
      <p>The getSupportedEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentException">
    <wsdl:documentation>
      <p>The getSupportedEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportedEquipmentNamesException">
    <wsdl:documentation>
      <p>The getSupportedEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportedEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentRequest">
    <wsdl:documentation>
      <p>The getSupportingEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentResponse">
    <wsdl:documentation>
      <p>The getSupportingEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentException">
    <wsdl:documentation>
      <p>The getSupportingEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesRequest">
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesResponse">
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getSupportingEquipmentNamesException">
    <wsdl:documentation>
      <p>The getSupportingEquipmentNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getSupportingEquipmentNamesException"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentIteratorRequest">
    <wsdl:documentation>
      <p>The getEquipmentIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getEquipmentIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentIteratorResponse">
    <wsdl:documentation>
      <p>The getEquipmentIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getEquipmentIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getEquipmentIteratorException">
    <wsdl:documentation>
      <p>The getEquipmentIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getEquipmentIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
