mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/TerminationPointControl/TerminationPointControlHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TerminationPointControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TerminationPointControl Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP TerminationPointControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" location="TerminationPointControlPortType.wsdl"/>
  <wsdl:binding name="TerminationPointControlSoapHttpBinding" type="tns:TerminationPointControl">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the TerminationPointControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createFloatingTerminationPoint">
      <soap:operation soapAction="createFloatingTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createFloatingTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createFloatingTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createFloatingTerminationPointException">
        <soap:fault name="createFloatingTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createGroupTerminationPoint">
      <soap:operation soapAction="createGroupTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createGroupTerminationPointException">
        <soap:fault name="createGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createTerminationPointPool">
      <soap:operation soapAction="createTerminationPointPool" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createTerminationPointPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createTerminationPointPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createTerminationPointPoolException">
        <soap:fault name="createTerminationPointPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteFloatingTerminationPoint">
      <soap:operation soapAction="deleteFloatingTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteFloatingTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteFloatingTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteFloatingTerminationPointException">
        <soap:fault name="deleteFloatingTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteGroupTerminationPoint">
      <soap:operation soapAction="deleteGroupTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteGroupTerminationPointException">
        <soap:fault name="deleteGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteTerminationPointPool">
      <soap:operation soapAction="deleteTerminationPointPool" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteTerminationPointPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteTerminationPointPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteTerminationPointPoolException">
        <soap:fault name="deleteTerminationPointPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyGroupTerminationPoint">
      <soap:operation soapAction="modifyGroupTerminationPoint" style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyGroupTerminationPointRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyGroupTerminationPointResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyGroupTerminationPointException">
        <soap:fault name="modifyGroupTerminationPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyTerminationPointPool">
      <soap:operation soapAction="modifyTerminationPointPool" style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyTerminationPointPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyTerminationPointPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyTerminationPointPoolException">
        <soap:fault name="modifyTerminationPointPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTerminationPointData">
      <soap:operation soapAction="setTerminationPointData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:setTerminationPointDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setTerminationPointDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setTerminationPointDataException">
        <soap:fault name="setTerminationPointDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminationPointControlHttp">
    <wsdl:documentation>
      <p>Example of the TerminationPointControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TerminationPointControlSoapHttp" binding="tns:TerminationPointControlSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TerminationPointControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
