mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/TerminationPointControl/TerminationPointControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TerminationPointControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tpc="http://www.tmforum.org/mtop/rp/xsd/tpc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TerminationPointControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TerminationPointControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tpc/v1" schemaLocation="../../xsd/TerminationPointControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createFtpRequest">
    <wsdl:documentation>
      <p>The createFtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createFtpRequest"/>
  </wsdl:message>
  <wsdl:message name="createFtpResponse">
    <wsdl:documentation>
      <p>The createFtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createFtpResponse"/>
  </wsdl:message>
  <wsdl:message name="createFtpException">
    <wsdl:documentation>
      <p>The createFtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:createFtpException"/>
  </wsdl:message>
  <wsdl:message name="createGtpRequest">
    <wsdl:documentation>
      <p>The createGtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createGtpRequest"/>
  </wsdl:message>
  <wsdl:message name="createGtpResponse">
    <wsdl:documentation>
      <p>The createGtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createGtpResponse"/>
  </wsdl:message>
  <wsdl:message name="createGtpException">
    <wsdl:documentation>
      <p>The createGtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:createGtpException"/>
  </wsdl:message>
  <wsdl:message name="createTpPoolRequest">
    <wsdl:documentation>
      <p>The createTpPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createTpPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="createTpPoolResponse">
    <wsdl:documentation>
      <p>The createTpPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createTpPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="createTpPoolException">
    <wsdl:documentation>
      <p>The createTpPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:createTpPoolException"/>
  </wsdl:message>
  <wsdl:message name="deleteFtpRequest">
    <wsdl:documentation>
      <p>The deleteFtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteFtpRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteFtpResponse">
    <wsdl:documentation>
      <p>The deleteFtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteFtpResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteFtpException">
    <wsdl:documentation>
      <p>The deleteFtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:deleteFtpException"/>
  </wsdl:message>
  <wsdl:message name="deleteGtpRequest">
    <wsdl:documentation>
      <p>The deleteGtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteGtpRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteGtpResponse">
    <wsdl:documentation>
      <p>The deleteGtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteGtpResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteGtpException">
    <wsdl:documentation>
      <p>The deleteGtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:deleteGtpException"/>
  </wsdl:message>
  <wsdl:message name="deleteTpPoolRequest">
    <wsdl:documentation>
      <p>The deleteTpPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteTpPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTpPoolResponse">
    <wsdl:documentation>
      <p>The deleteTpPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteTpPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTpPoolException">
    <wsdl:documentation>
      <p>The deleteTpPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:deleteTpPoolException"/>
  </wsdl:message>
  <wsdl:message name="modifyGtpRequest">
    <wsdl:documentation>
      <p>The modifyGtp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyGtpRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyGtpResponse">
    <wsdl:documentation>
      <p>The modifyGtp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyGtpResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyGtpException">
    <wsdl:documentation>
      <p>The modifyGtp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:modifyGtpException"/>
  </wsdl:message>
  <wsdl:message name="modifyTpPoolRequest">
    <wsdl:documentation>
      <p>The modifyTpPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyTpPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyTpPoolResponse">
    <wsdl:documentation>
      <p>The modifyTpPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyTpPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyTpPoolException">
    <wsdl:documentation>
      <p>The modifyTpPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:modifyTpPoolException"/>
  </wsdl:message>
  <wsdl:message name="setTpDataRequest">
    <wsdl:documentation>
      <p>The setTpData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:setTpDataRequest"/>
  </wsdl:message>
  <wsdl:message name="setTpDataResponse">
    <wsdl:documentation>
      <p>The setTpData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:setTpDataResponse"/>
  </wsdl:message>
  <wsdl:message name="setTpDataException">
    <wsdl:documentation>
      <p>The setTpData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:setTpDataException"/>
  </wsdl:message>
</wsdl:definitions>
