mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/TerminationPointControl/TerminationPointControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TerminationPointControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TerminationPointControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP TerminationPointControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" location="TerminationPointControlMessages.wsdl"/>
  <wsdl:portType name="TerminationPointControl">
    <wsdl:documentation>
      <p>The TerminationPointControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="createFtp">
      <wsdl:input message="tns:createFtpRequest"/>
      <wsdl:output message="tns:createFtpResponse"/>
      <wsdl:fault name="createFtpException" message="tns:createFtpException"/>
    </wsdl:operation>
    <wsdl:operation name="createGtp">
      <wsdl:input message="tns:createGtpRequest"/>
      <wsdl:output message="tns:createGtpResponse"/>
      <wsdl:fault name="createGtpException" message="tns:createGtpException"/>
    </wsdl:operation>
    <wsdl:operation name="createTpPool">
      <wsdl:input message="tns:createTpPoolRequest"/>
      <wsdl:output message="tns:createTpPoolResponse"/>
      <wsdl:fault name="createTpPoolException" message="tns:createTpPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteFtp">
      <wsdl:input message="tns:deleteFtpRequest"/>
      <wsdl:output message="tns:deleteFtpResponse"/>
      <wsdl:fault name="deleteFtpException" message="tns:deleteFtpException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteGtp">
      <wsdl:input message="tns:deleteGtpRequest"/>
      <wsdl:output message="tns:deleteGtpResponse"/>
      <wsdl:fault name="deleteGtpException" message="tns:deleteGtpException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTpPool">
      <wsdl:input message="tns:deleteTpPoolRequest"/>
      <wsdl:output message="tns:deleteTpPoolResponse"/>
      <wsdl:fault name="deleteTpPoolException" message="tns:deleteTpPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyGtp">
      <wsdl:input message="tns:modifyGtpRequest"/>
      <wsdl:output message="tns:modifyGtpResponse"/>
      <wsdl:fault name="modifyGtpException" message="tns:modifyGtpException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyTpPool">
      <wsdl:input message="tns:modifyTpPoolRequest"/>
      <wsdl:output message="tns:modifyTpPoolResponse"/>
      <wsdl:fault name="modifyTpPoolException" message="tns:modifyTpPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="setTpData">
      <wsdl:input message="tns:setTpDataRequest"/>
      <wsdl:output message="tns:setTpDataResponse"/>
      <wsdl:fault name="setTpDataException" message="tns:setTpDataException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
