mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/TerminationPointControl/TerminationPointControlJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TerminationPointControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TerminationPointControl Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP TerminationPointControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" location="TerminationPointControlPortType.wsdl"/>
  <wsdl:binding name="TerminationPointControlSoapJmsBinding" type="tns:TerminationPointControl">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the TerminationPointControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="createFtp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createFtpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createFtpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createFtpException">
        <soap:fault name="createFtpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createGtp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createGtpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createGtpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createGtpException">
        <soap:fault name="createGtpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createTpPool">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:createTpPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createTpPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createTpPoolException">
        <soap:fault name="createTpPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteFtp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteFtpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteFtpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteFtpException">
        <soap:fault name="deleteFtpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteGtp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteGtpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteGtpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteGtpException">
        <soap:fault name="deleteGtpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteTpPool">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteTpPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteTpPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteTpPoolException">
        <soap:fault name="deleteTpPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyGtp">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyGtpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyGtpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyGtpException">
        <soap:fault name="modifyGtpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyTpPool">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyTpPoolRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyTpPoolResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyTpPoolException">
        <soap:fault name="modifyTpPoolException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTpData">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:setTpDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setTpDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setTpDataException">
        <soap:fault name="setTpDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminationPointControlJms">
    <wsdl:documentation>
      <p>Example of the TerminationPointControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TerminationPointControlSoapJms" binding="tns:TerminationPointControlSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/TerminationPointControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
