Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/TerminationPointControl/TerminationPointControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TerminationPointControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tpc="http://www.tmforum.org/mtop/rp/xsd/tpc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TerminationPointControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TerminationPointControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/tpc/v1" schemaLocation="../../xsd/TerminationPointControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createFlowTerminationPointRequest">
    <wsdl:documentation>
      <p>The createFlowTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createFlowTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="createFlowTerminationPointResponse">
    <wsdl:documentation>
      <p>The createFlowTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createFlowTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="createFlowTerminationPointException">
    <wsdl:documentation>
      <p>The createFlowTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:createFlowTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="createGroupTerminationPointRequest">
    <wsdl:documentation>
      <p>The createGroupTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createGroupTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="createGroupTerminationPointResponse">
    <wsdl:documentation>
      <p>The createGroupTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createGroupTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="createGroupTerminationPointException">
    <wsdl:documentation>
      <p>The createGroupTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:createGroupTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="createTerminationPointPoolRequest">
    <wsdl:documentation>
      <p>The createTerminationPointPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createTerminationPointPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="createTerminationPointPoolResponse">
    <wsdl:documentation>
      <p>The createTerminationPointPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:createTerminationPointPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="createTerminationPointPoolException">
    <wsdl:documentation>
      <p>The createTerminationPointPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:createTerminationPointPoolException"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowTerminationPointRequest">
    <wsdl:documentation>
      <p>The deleteFlowTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteFlowTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowTerminationPointResponse">
    <wsdl:documentation>
      <p>The deleteFlowTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteFlowTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowTerminationPointException">
    <wsdl:documentation>
      <p>The deleteFlowTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:deleteFlowTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="deleteGroupTerminationPointRequest">
    <wsdl:documentation>
      <p>The deleteGroupTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteGroupTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteGroupTerminationPointResponse">
    <wsdl:documentation>
      <p>The deleteGroupTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteGroupTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteGroupTerminationPointException">
    <wsdl:documentation>
      <p>The deleteGroupTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:deleteGroupTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="deleteTerminationPointPoolRequest">
    <wsdl:documentation>
      <p>The deleteTerminationPointPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteTerminationPointPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteTerminationPointPoolResponse">
    <wsdl:documentation>
      <p>The deleteTerminationPointPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:deleteTerminationPointPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTerminationPointPoolException">
    <wsdl:documentation>
      <p>The deleteTerminationPointPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:deleteTerminationPointPoolException"/>
  </wsdl:message>
  <wsdl:message name="modifyGroupTerminationPointRequest">
    <wsdl:documentation>
      <p>The modifyGroupTerminationPoint request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyGroupTerminationPointRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyGroupTerminationPointResponse">
    <wsdl:documentation>
      <p>The modifyGroupTerminationPoint response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyGroupTerminationPointResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyGroupTerminationPointException">
    <wsdl:documentation>
      <p>The modifyGroupTerminationPoint exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:modifyGroupTerminationPointException"/>
  </wsdl:message>
  <wsdl:message name="modifyTerminationPointPoolRequest">
    <wsdl:documentation>
      <p>The modifyTerminationPointPool request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyTerminationPointPoolRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyTerminationPointPoolResponse">
    <wsdl:documentation>
      <p>The modifyTerminationPointPool response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:modifyTerminationPointPoolResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyTerminationPointPoolException">
    <wsdl:documentation>
      <p>The modifyTerminationPointPool exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:modifyTerminationPointPoolException"/>
  </wsdl:message>
  <wsdl:message name="setTerminationPointDataRequest">
    <wsdl:documentation>
      <p>The setTerminationPointData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:setTerminationPointDataRequest"/>
  </wsdl:message>
  <wsdl:message name="setTerminationPointDataResponse">
    <wsdl:documentation>
      <p>The setTerminationPointData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tpc:setTerminationPointDataResponse"/>
  </wsdl:message>
  <wsdl:message name="setTerminationPointDataException">
    <wsdl:documentation>
      <p>The setTerminationPointData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tpc:setTerminationPointDataException"/>
  </wsdl:message>
</wsdl:definitions>
