Product/trunk/DDPs/ResourceProvisioning/IIS/wsdl/TerminationPointControl/TerminationPointControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TerminationPointControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TerminationPointControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP TerminationPointControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/tpc/v1-0" location="TerminationPointControlMessages.wsdl"/>
  <wsdl:portType name="TerminationPointControl">
    <wsdl:documentation>
      <p>The TerminationPointControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="createFloatingTerminationPoint">
      <wsdl:input message="tns:createFloatingTerminationPointRequest"/>
      <wsdl:output message="tns:createFloatingTerminationPointResponse"/>
      <wsdl:fault name="createFloatingTerminationPointException" message="tns:createFloatingTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="createGroupTerminationPoint">
      <wsdl:input message="tns:createGroupTerminationPointRequest"/>
      <wsdl:output message="tns:createGroupTerminationPointResponse"/>
      <wsdl:fault name="createGroupTerminationPointException" message="tns:createGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="createTerminationPointPool">
      <wsdl:input message="tns:createTerminationPointPoolRequest"/>
      <wsdl:output message="tns:createTerminationPointPoolResponse"/>
      <wsdl:fault name="createTerminationPointPoolException" message="tns:createTerminationPointPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteFloatingTerminationPoint">
      <wsdl:input message="tns:deleteFloatingTerminationPointRequest"/>
      <wsdl:output message="tns:deleteFloatingTerminationPointResponse"/>
      <wsdl:fault name="deleteFloatingTerminationPointException" message="tns:deleteFloatingTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteGroupTerminationPoint">
      <wsdl:input message="tns:deleteGroupTerminationPointRequest"/>
      <wsdl:output message="tns:deleteGroupTerminationPointResponse"/>
      <wsdl:fault name="deleteGroupTerminationPointException" message="tns:deleteGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTerminationPointPool">
      <wsdl:input message="tns:deleteTerminationPointPoolRequest"/>
      <wsdl:output message="tns:deleteTerminationPointPoolResponse"/>
      <wsdl:fault name="deleteTerminationPointPoolException" message="tns:deleteTerminationPointPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyGroupTerminationPoint">
      <wsdl:input message="tns:modifyGroupTerminationPointRequest"/>
      <wsdl:output message="tns:modifyGroupTerminationPointResponse"/>
      <wsdl:fault name="modifyGroupTerminationPointException" message="tns:modifyGroupTerminationPointException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyTerminationPointPool">
      <wsdl:input message="tns:modifyTerminationPointPoolRequest"/>
      <wsdl:output message="tns:modifyTerminationPointPoolResponse"/>
      <wsdl:fault name="modifyTerminationPointPoolException" message="tns:modifyTerminationPointPoolException"/>
    </wsdl:operation>
    <wsdl:operation name="setTerminationPointData">
      <wsdl:input message="tns:setTerminationPointDataRequest"/>
      <wsdl:output message="tns:setTerminationPointDataResponse"/>
      <wsdl:fault name="setTerminationPointDataException" message="tns:setTerminationPointDataException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
