mtosi_2.0/2.0FullME/DDPs/ManageResourceInventory/IIS/wsdl/TrafficConditioningProfileRetrieval/TrafficConditioningProfileRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TrafficConditioningProfileRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tcpr="http://www.tmforum.org/mtop/mri/xsd/tcpr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tcpr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tcpr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TrafficConditioningProfileRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TrafficConditioningProfileRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tcpr/v1" schemaLocation="../../xsd/TrafficConditioningProfileRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTrafficConditioningProfilesRequest">
    <wsdl:documentation>
      <p>The getAllTrafficConditioningProfiles request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getAllTrafficConditioningProfilesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTrafficConditioningProfilesResponse">
    <wsdl:documentation>
      <p>The getAllTrafficConditioningProfiles response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getAllTrafficConditioningProfilesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTrafficConditioningProfilesException">
    <wsdl:documentation>
      <p>The getAllTrafficConditioningProfiles exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getAllTrafficConditioningProfilesException"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfileRequest">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfile request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTrafficConditioningProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfileResponse">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfile response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTrafficConditioningProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfileException">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfile exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTrafficConditioningProfileException"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfilesIteratorRequest">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfilesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTrafficConditioningProfilesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfilesIteratorResponse">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfilesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tcpr:getTrafficConditioningProfilesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTrafficConditioningProfilesIteratorException">
    <wsdl:documentation>
      <p>The getTrafficConditioningProfilesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tcpr:getTrafficConditioningProfilesIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
