mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/FlowDomainControl/FlowDomainControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-FlowDomainControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:fdc="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: FlowDomainControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP FlowDomainControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" schemaLocation="../../xsd/FlowDomainControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="assignConnectionlessPortTerminationPointsToMfdRequest">
    <wsdl:documentation>
      <p>The assignConnectionlessPortTerminationPointsToMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:assignConnectionlessPortTerminationPointsToMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="assignConnectionlessPortTerminationPointsToMfdResponse">
    <wsdl:documentation>
      <p>The assignConnectionlessPortTerminationPointsToMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:assignConnectionlessPortTerminationPointsToMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="assignConnectionlessPortTerminationPointsToMfdException">
    <wsdl:documentation>
      <p>The assignConnectionlessPortTerminationPointsToMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:assignConnectionlessPortTerminationPointsToMfdException"/>
  </wsdl:message>
  <wsdl:message name="associateConnectionlessPortTerminationPointsWithFdRequest">
    <wsdl:documentation>
      <p>The associateConnectionlessPortTerminationPointsWithFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateConnectionlessPortTerminationPointsWithFdRequest"/>
  </wsdl:message>
  <wsdl:message name="associateConnectionlessPortTerminationPointsWithFdResponse">
    <wsdl:documentation>
      <p>The associateConnectionlessPortTerminationPointsWithFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateConnectionlessPortTerminationPointsWithFdResponse"/>
  </wsdl:message>
  <wsdl:message name="associateConnectionlessPortTerminationPointsWithFdException">
    <wsdl:documentation>
      <p>The associateConnectionlessPortTerminationPointsWithFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:associateConnectionlessPortTerminationPointsWithFdException"/>
  </wsdl:message>
  <wsdl:message name="associateMatrixFlowDomainsWithFdRequest">
    <wsdl:documentation>
      <p>The associateMatrixFlowDomainsWithFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateMatrixFlowDomainsWithFdRequest"/>
  </wsdl:message>
  <wsdl:message name="associateMatrixFlowDomainsWithFdResponse">
    <wsdl:documentation>
      <p>The associateMatrixFlowDomainsWithFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:associateMatrixFlowDomainsWithFdResponse"/>
  </wsdl:message>
  <wsdl:message name="associateMatrixFlowDomainsWithFdException">
    <wsdl:documentation>
      <p>The associateMatrixFlowDomainsWithFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:associateMatrixFlowDomainsWithFdException"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateFlowDomainFragmentRequest">
    <wsdl:documentation>
      <p>The createAndActivateFlowDomainFragment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createAndActivateFlowDomainFragmentRequest"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateFlowDomainFragmentResponse">
    <wsdl:documentation>
      <p>The createAndActivateFlowDomainFragment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createAndActivateFlowDomainFragmentResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateFlowDomainFragmentException">
    <wsdl:documentation>
      <p>The createAndActivateFlowDomainFragment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:createAndActivateFlowDomainFragmentException"/>
  </wsdl:message>
  <wsdl:message name="createFlowDomainRequest">
    <wsdl:documentation>
      <p>The createFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="createFlowDomainResponse">
    <wsdl:documentation>
      <p>The createFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="createFlowDomainException">
    <wsdl:documentation>
      <p>The createFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:createFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="createMatrixFlowDomainRequest">
    <wsdl:documentation>
      <p>The createMatrixFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createMatrixFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="createMatrixFlowDomainResponse">
    <wsdl:documentation>
      <p>The createMatrixFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:createMatrixFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="createMatrixFlowDomainException">
    <wsdl:documentation>
      <p>The createMatrixFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:createMatrixFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteFlowDomainFragmentRequest">
    <wsdl:documentation>
      <p>The deactivateAndDeleteFlowDomainFragment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deactivateAndDeleteFlowDomainFragmentRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteFlowDomainFragmentResponse">
    <wsdl:documentation>
      <p>The deactivateAndDeleteFlowDomainFragment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deactivateAndDeleteFlowDomainFragmentResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteFlowDomainFragmentException">
    <wsdl:documentation>
      <p>The deactivateAndDeleteFlowDomainFragment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deactivateAndDeleteFlowDomainFragmentException"/>
  </wsdl:message>
  <wsdl:message name="deAssociateConnectionlessPortTerminationPointsFromFdRequest">
    <wsdl:documentation>
      <p>The deAssociateConnectionlessPortTerminationPointsFromFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateConnectionlessPortTerminationPointsFromFdRequest"/>
  </wsdl:message>
  <wsdl:message name="deAssociateConnectionlessPortTerminationPointsFromFdResponse">
    <wsdl:documentation>
      <p>The deAssociateConnectionlessPortTerminationPointsFromFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateConnectionlessPortTerminationPointsFromFdResponse"/>
  </wsdl:message>
  <wsdl:message name="deAssociateConnectionlessPortTerminationPointsFromFdException">
    <wsdl:documentation>
      <p>The deAssociateConnectionlessPortTerminationPointsFromFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deAssociateConnectionlessPortTerminationPointsFromFdException"/>
  </wsdl:message>
  <wsdl:message name="deAssociateMatrixFlowDomainsFromFdRequest">
    <wsdl:documentation>
      <p>The deAssociateMatrixFlowDomainsFromFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateMatrixFlowDomainsFromFdRequest"/>
  </wsdl:message>
  <wsdl:message name="deAssociateMatrixFlowDomainsFromFdResponse">
    <wsdl:documentation>
      <p>The deAssociateMatrixFlowDomainsFromFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deAssociateMatrixFlowDomainsFromFdResponse"/>
  </wsdl:message>
  <wsdl:message name="deAssociateMatrixFlowDomainsFromFdException">
    <wsdl:documentation>
      <p>The deAssociateMatrixFlowDomainsFromFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deAssociateMatrixFlowDomainsFromFdException"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowDomainRequest">
    <wsdl:documentation>
      <p>The deleteFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowDomainResponse">
    <wsdl:documentation>
      <p>The deleteFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteFlowDomainException">
    <wsdl:documentation>
      <p>The deleteFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deleteFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="deleteMatrixFlowDomainRequest">
    <wsdl:documentation>
      <p>The deleteMatrixFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteMatrixFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteMatrixFlowDomainResponse">
    <wsdl:documentation>
      <p>The deleteMatrixFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:deleteMatrixFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteMatrixFlowDomainException">
    <wsdl:documentation>
      <p>The deleteMatrixFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:deleteMatrixFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainRequest">
    <wsdl:documentation>
      <p>The modifyFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainResponse">
    <wsdl:documentation>
      <p>The modifyFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainException">
    <wsdl:documentation>
      <p>The modifyFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainFragmentRequest">
    <wsdl:documentation>
      <p>The modifyFlowDomainFragment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainFragmentRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainFragmentResponse">
    <wsdl:documentation>
      <p>The modifyFlowDomainFragment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainFragmentResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyFlowDomainFragmentException">
    <wsdl:documentation>
      <p>The modifyFlowDomainFragment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:modifyFlowDomainFragmentException"/>
  </wsdl:message>
  <wsdl:message name="modifyMatrixFlowDomainRequest">
    <wsdl:documentation>
      <p>The modifyMatrixFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyMatrixFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyMatrixFlowDomainResponse">
    <wsdl:documentation>
      <p>The modifyMatrixFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:modifyMatrixFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyMatrixFlowDomainException">
    <wsdl:documentation>
      <p>The modifyMatrixFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:modifyMatrixFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="unassignConnectionlessPortTerminationPointsFromMfdRequest">
    <wsdl:documentation>
      <p>The unassignConnectionlessPortTerminationPointsFromMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:unassignConnectionlessPortTerminationPointsFromMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="unassignConnectionlessPortTerminationPointsFromMfdResponse">
    <wsdl:documentation>
      <p>The unassignConnectionlessPortTerminationPointsFromMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdc:unassignConnectionlessPortTerminationPointsFromMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="unassignConnectionlessPortTerminationPointsFromMfdException">
    <wsdl:documentation>
      <p>The unassignConnectionlessPortTerminationPointsFromMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdc:unassignConnectionlessPortTerminationPointsFromMfdException"/>
  </wsdl:message>
</wsdl:definitions>
