mtosi_2.0/2.0/DDPs/ResourceProvisioning/IIS/wsdl/TransmissionDescriptorControl/TransmissionDescriptorControlHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-TransmissionDescriptorControlV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: TransmissionDescriptorControl Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP TransmissionDescriptorControl Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/tmdc/v1-0" location="TransmissionDescriptorControlPortType.wsdl"/>
  <wsdl:binding name="TransmissionDescriptorControlSoapHttpBinding" type="tns:TransmissionDescriptorControl">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the TransmissionDescriptorControl portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createTransmissionDescriptor">
      <soap:operation soapAction="createTransmissionDescriptor" style="document"/>
      <wsdl:input>
        <soap:header message="tns:createTransmissionDescriptorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:createTransmissionDescriptorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="createTransmissionDescriptorException">
        <soap:fault name="createTransmissionDescriptorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteTransmissionDescriptor">
      <soap:operation soapAction="deleteTransmissionDescriptor" style="document"/>
      <wsdl:input>
        <soap:header message="tns:deleteTransmissionDescriptorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:deleteTransmissionDescriptorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deleteTransmissionDescriptorException">
        <soap:fault name="deleteTransmissionDescriptorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyTransmissionDescriptor">
      <soap:operation soapAction="modifyTransmissionDescriptor" style="document"/>
      <wsdl:input>
        <soap:header message="tns:modifyTransmissionDescriptorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:modifyTransmissionDescriptorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="modifyTransmissionDescriptorException">
        <soap:fault name="modifyTransmissionDescriptorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTransmissionDescriptorAssociation">
      <soap:operation soapAction="setTransmissionDescriptorAssociation" style="document"/>
      <wsdl:input>
        <soap:header message="tns:setTransmissionDescriptorAssociationRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:setTransmissionDescriptorAssociationResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="setTransmissionDescriptorAssociationException">
        <soap:fault name="setTransmissionDescriptorAssociationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateTransmissionDescriptorAssignmentToObject">
      <soap:operation soapAction="validateTransmissionDescriptorAssignmentToObject" style="document"/>
      <wsdl:input>
        <soap:header message="tns:validateTransmissionDescriptorAssignmentToObjectRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:validateTransmissionDescriptorAssignmentToObjectResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="validateTransmissionDescriptorAssignmentToObjectException">
        <soap:fault name="validateTransmissionDescriptorAssignmentToObjectException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyTransmissionDescriptorAssignment">
      <soap:operation soapAction="verifyTransmissionDescriptorAssignment" style="document"/>
      <wsdl:input>
        <soap:header message="tns:verifyTransmissionDescriptorAssignmentRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:verifyTransmissionDescriptorAssignmentResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="verifyTransmissionDescriptorAssignmentException">
        <soap:fault name="verifyTransmissionDescriptorAssignmentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransmissionDescriptorControlHttp">
    <wsdl:documentation>
      <p>Example of the TransmissionDescriptorControl WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="TransmissionDescriptorControlSoapHttp" binding="tns:TransmissionDescriptorControlSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/TransmissionDescriptorControl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
