Development/DDPs/Framework/trunk/IIS/xsd/NotificationMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2006 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/framework/notification/v1" xmlns:tns="http://www.tmforum.org/mtop/framework/notification/v1" xmlns:msg="http://www.tmforum.org/mtop/framework/msg/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Data Model Framework</p>
      <p>Module: NotificationDefinitions XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the generic mTOP notification messages.</p>
      <p>Change Policy: TBD.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/framework/msg/v1"/>
  <!--  ============== -->
  <xsd:element name="subscribe">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the subscribe operation</p>
        <p>This operation allows the Client OS to subscribe for notifications.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msg:BaseMessage_T">
          <xsd:sequence>
            <xsd:element name="consumerEPR" type="tns:EndPointReference_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>the notification consumer endpoint (callback handler) that the broker will call to send the notification</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="topic" type="tns:TopicExpression_T" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>the unique name of the topic object of the subscription</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="selector" type="tns:QueryExpression_T" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>it is the optional "filter" expression to restrict the flow of messages sent to the notification consumer. By default, an empty selector defines the desire to be notified of all events for the given topic.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="subscribeResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the subscribe operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msg:BaseMessage_T">
          <xsd:sequence>
            <xsd:element name="subscriptionID" type="tns:SubscriptionIdentifier_T" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A unique subscription identifier is returned to the Client OS to be used when invoking the unsubscribe() for the given topic. Note that it must uniquely identify the request signature by its three elements; consumerEPR , topic, and selector.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="subscribeException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the subscribe operation</p>
EXCPT_NOT_IMPLEMENTED - Raised when the OS does not support this operation
EXCPT_INVALID_FILTER_DEFINITION ¬ Raised when the filter is invalid
EXCPT_INVALID_TOPIC ¬ Raised when the topic is not supported
EXCPT_INVALID_INPUT - Raised when another input parameter is invalid
EXCPT_NOTIFICATION_SERVICE_PROBLEM Raised when there is a failure with the Broker
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="unsubscribe">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the unsubscribe operation</p>
        <p>This operation allows the Client OS to unsubscribe from a previously subscribed notification channel.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msg:BaseMessage_T">
          <xsd:sequence>
            <xsd:element name="subscriptionID" type="tns:SubscriptionIdentifier_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>It is the same subscription identifier that was returned on successful subscription of the Client OS.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="topic" type="tns:TopicExpression_T" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>it is the unique name of the topic object of the unsubscription.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="unsubscribeResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the unsubscribe operation</p>
        <p>Note that it is an empty payload. Failure should be handled as an exception</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msg:BaseMessage_T">
          <xsd:sequence>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="unsubscribeException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the unsubscribe operation</p>
EXCPT_NOT_IMPLEMENTED - Raised when the OS does not support this operation
EXCPT_INVALID_INPUT - Raised when another input parameter is invalid
EXCPT_NOTIFICATION_SERVICE_PROBLEM  Raised when there is a failure with the Broker
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="exceptionInternalError" type="msg:BaseExceptionMessage_T"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:element name="notify">
    <xsd:annotation>
      <xsd:documentation>
        <p>One way (notification) message structure of the notify operation</p>
        <p>This operation allows event notification to a client OS.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msg:BaseMessage_T">
          <xsd:sequence>
            <xsd:element name="topic" type="tns:TopicExpression_T">
              <xsd:annotation>
                <xsd:documentation>
                  <p>it is the unique name of the topic on which the notification "message" was published. The topic is based on a TopicExpression, which is associated as a unique JNDI entry. In MTOSI Release 1, it represents the address of a JMS topic instance created at deployment.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="message" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  <p>the notification payload which can be one of the supported mTOP XML events. Need to allow for resource/service events</p>
                  @TODO: Add xsd:any to allow entries from namespace;
                  http://www.tmforum.org/mtop/rn (resource notifications)
                  http://www.tmforum.org/mtop/sn (service notifications)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!--  ============== -->
  <xsd:simpleType name="EndPointReference_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>the unique service end point address on the CCV.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
  </xsd:simpleType>
  <!--  ============== -->
  <xsd:simpleType name="SubscriptionIdentifier_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>the identifier to uniquely identify a valid subscription.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!--  ============== -->
  <xsd:simpleType name="TopicExpression_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>the unique name of topic instance published on the CCV.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!--  ============== -->
  <xsd:simpleType name="QueryDialectType_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>the enumeration of all the supported query dialect types.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ANSI-92"/>
      <xsd:enumeration value="XPATH1"/>
      <xsd:enumeration value="XPATH2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  ============== -->
  <xsd:complexType name="QueryExpression_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>the notification filter</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="dialect" type="tns:QueryDialectType_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>the dialect of the given query expression</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="query" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>the query expression in the language specified by the dialect attribute</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
