Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/ManagedElementRetrieval/ManagedElementRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ManagedElementRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ManagedElementRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP ManagedElementRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/mer/v1-0" location="ManagedElementRetrievalMessages.wsdl"/>
  <wsdl:portType name="ManagedElementRetrieval_RPC">
    <wsdl:documentation>
      <p>The ManagedElementRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllManagedElements">
      <wsdl:input message="tns:getAllManagedElementsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsResponse"/>
      <wsdl:fault name="getAllManagedElementsException" message="tns:getAllManagedElementsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilter">
      <wsdl:input message="tns:getAllManagedElementsPassingFilterRequest"/>
      <wsdl:output message="tns:getAllManagedElementsPassingFilterResponse"/>
      <wsdl:fault name="getAllManagedElementsPassingFilterException" message="tns:getAllManagedElementsPassingFilterException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOs">
      <wsdl:input message="tns:getAllManagedElementsWrtOsRequest"/>
      <wsdl:output message="tns:getAllManagedElementsWrtOsResponse"/>
      <wsdl:fault name="getAllManagedElementsWrtOsException" message="tns:getAllManagedElementsWrtOsException"/>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <wsdl:input message="tns:getManagedElementRequest"/>
      <wsdl:output message="tns:getManagedElementResponse"/>
      <wsdl:fault name="getManagedElementException" message="tns:getManagedElementException"/>
    </wsdl:operation>
    <wsdl:operation name="getManagedElementsIterator">
      <wsdl:input message="tns:getManagedElementsIteratorRequest"/>
      <wsdl:output message="tns:getManagedElementsIteratorResponse"/>
      <wsdl:fault name="getManagedElementsIteratorException" message="tns:getManagedElementsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagedElementRetrievalSoapHttpBinding" type="tns:ManagedElementRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the ManagedElementRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllManagedElements">
      <soap:operation soapAction="getAllManagedElements" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsException">
        <soap:fault name="getAllManagedElementsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsPassingFilter">
      <soap:operation soapAction="getAllManagedElementsPassingFilter" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsPassingFilterRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsPassingFilterResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsPassingFilterException">
        <soap:fault name="getAllManagedElementsPassingFilterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllManagedElementsWrtOs">
      <soap:operation soapAction="getAllManagedElementsWrtOs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllManagedElementsWrtOsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllManagedElementsWrtOsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllManagedElementsWrtOsException">
        <soap:fault name="getAllManagedElementsWrtOsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getManagedElement">
      <soap:operation soapAction="getManagedElement" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getManagedElementRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getManagedElementResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementException">
        <soap:fault name="getManagedElementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getManagedElementsIterator">
      <soap:operation soapAction="getManagedElementsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getManagedElementsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getManagedElementsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getManagedElementsIteratorException">
        <soap:fault name="getManagedElementsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagedElementRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the ManagedElementRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="ManagedElementRetrievalSoapHttp" binding="tns:ManagedElementRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/ManagedElementRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
