mtosi_2.0/2.0FullME/DDPs/ResourceProvisioning/IIS/wsdl/EquipmentProvisioning/EquipmentProvisioningMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-EquipmentProvisioningV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:ep="http://www.tmforum.org/mtop/rp/xsd/ep/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/ep/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/ep/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: EquipmentProvisioning Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP EquipmentProvisioning Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/ep/v1" schemaLocation="../../xsd/EquipmentProvisioningMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="provisionEquipmentRequest">
    <wsdl:documentation>
      <p>The provisionEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ep:provisionEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="provisionEquipmentResponse">
    <wsdl:documentation>
      <p>The provisionEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ep:provisionEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="provisionEquipmentException">
    <wsdl:documentation>
      <p>The provisionEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ep:provisionEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="unprovisionEquipmentRequest">
    <wsdl:documentation>
      <p>The unprovisionEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ep:unprovisionEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="unprovisionEquipmentResponse">
    <wsdl:documentation>
      <p>The unprovisionEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ep:unprovisionEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="unprovisionEquipmentException">
    <wsdl:documentation>
      <p>The unprovisionEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ep:unprovisionEquipmentException"/>
  </wsdl:message>
</wsdl:definitions>
