Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" location="PerformanceManagementRetrievalPortType.wsdl"/>
  <wsdl:binding name="PerformanceManagementRetrievalSoapHttpBinding" type="tns:PerformanceManagementRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the PerformanceManagementRetrieval portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllCurrentPmData">
      <soap:operation soapAction="getAllCurrentPmData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCurrentPmDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCurrentPmDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCurrentPmDataException">
        <soap:fault name="getAllCurrentPmDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPmpNames">
      <soap:operation soapAction="getAllPmpNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPmpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPmpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPmpNamesException">
        <soap:fault name="getAllPmpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPmps">
      <soap:operation soapAction="getAllPmps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPmpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPmpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPmpsException">
        <soap:fault name="getAllPmpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHistoryPmData">
      <soap:operation soapAction="getHistoryPmData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getHistoryPmDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getHistoryPmDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getHistoryPmDataException">
        <soap:fault name="getHistoryPmDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHoldingTime">
      <soap:operation soapAction="getHoldingTime" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getHoldingTimeRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getHoldingTimeResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getHoldingTimeException">
        <soap:fault name="getHoldingTimeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMePmCapabilities">
      <soap:operation soapAction="getMePmCapabilities" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMePmCapabilitiesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMePmCapabilitiesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMePmCapabilitiesException">
        <soap:fault name="getMePmCapabilitiesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileAssociatedTps">
      <soap:operation soapAction="getProfileAssociatedTps" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getProfileAssociatedTpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getProfileAssociatedTpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getProfileAssociatedTpsException">
        <soap:fault name="getProfileAssociatedTpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTpHistoryPmData">
      <soap:operation soapAction="getTpHistoryPmData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTpHistoryPmDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTpHistoryPmDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTpHistoryPmDataException">
        <soap:fault name="getTpHistoryPmDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerformanceManagementRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the PerformanceManagementRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="PerformanceManagementRetrievalSoapHttp" binding="tns:PerformanceManagementRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/PerformanceManagementRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
