Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" location="PerformanceManagementRetrievalMessages.wsdl"/>
  <wsdl:portType name="PerformanceManagementRetrieval">
    <wsdl:documentation>
      <p>The PerformanceManagementRetrieval porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllCurrentPerformanceMonitoringData">
      <wsdl:input message="tns:getAllCurrentPerformanceMonitoringDataRequest"/>
      <wsdl:output message="tns:getAllCurrentPerformanceMonitoringDataResponse"/>
      <wsdl:fault name="getAllCurrentPerformanceMonitoringDataException" message="tns:getAllCurrentPerformanceMonitoringDataException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllPerformanceMonitoringPoints">
      <wsdl:input message="tns:getAllPerformanceMonitoringPointsRequest"/>
      <wsdl:output message="tns:getAllPerformanceMonitoringPointsResponse"/>
      <wsdl:fault name="getAllPerformanceMonitoringPointsException" message="tns:getAllPerformanceMonitoringPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getHistoryPerformanceMonitoringData">
      <wsdl:input message="tns:getHistoryPerformanceMonitoringDataRequest"/>
      <wsdl:output message="tns:getHistoryPerformanceMonitoringDataResponse"/>
      <wsdl:fault name="getHistoryPerformanceMonitoringDataException" message="tns:getHistoryPerformanceMonitoringDataException"/>
    </wsdl:operation>
    <wsdl:operation name="getHoldingTime">
      <wsdl:input message="tns:getHoldingTimeRequest"/>
      <wsdl:output message="tns:getHoldingTimeResponse"/>
      <wsdl:fault name="getHoldingTimeException" message="tns:getHoldingTimeException"/>
    </wsdl:operation>
    <wsdl:operation name="getMePerformanceMonitoringCapabilities">
      <wsdl:input message="tns:getMePerformanceMonitoringCapabilitiesRequest"/>
      <wsdl:output message="tns:getMePerformanceMonitoringCapabilitiesResponse"/>
      <wsdl:fault name="getMePerformanceMonitoringCapabilitiesException" message="tns:getMePerformanceMonitoringCapabilitiesException"/>
    </wsdl:operation>
    <wsdl:operation name="getProfileAssociatedTerminationPoints">
      <wsdl:input message="tns:getProfileAssociatedTerminationPointsRequest"/>
      <wsdl:output message="tns:getProfileAssociatedTerminationPointsResponse"/>
      <wsdl:fault name="getProfileAssociatedTerminationPointsException" message="tns:getProfileAssociatedTerminationPointsException"/>
    </wsdl:operation>
    <wsdl:operation name="getPerformanceMonitoringDataIterator">
      <wsdl:input message="tns:getPerformanceMonitoringDataIteratorRequest"/>
      <wsdl:output message="tns:getPerformanceMonitoringDataIteratorResponse"/>
      <wsdl:fault name="getPerformanceMonitoringDataIteratorException" message="tns:getPerformanceMonitoringDataIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getPerformanceMonitoringPointsIterator">
      <wsdl:input message="tns:getPerformanceMonitoringPointsIteratorRequest"/>
      <wsdl:output message="tns:getPerformanceMonitoringPointsIteratorResponse"/>
      <wsdl:fault name="getPerformanceMonitoringPointsIteratorException" message="tns:getPerformanceMonitoringPointsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
