Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalJms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL JMS Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/JMS binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" location="PerformanceManagementRetrievalPortType.wsdl"/>
  <wsdl:binding name="PerformanceManagementRetrievalSoapJmsBinding" type="tns:PerformanceManagementRetrieval">
    <wsdl:documentation>
      <p>SOAP JMS binding definitions of the operations of the PerformanceManagementRetrieval portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/jms"/>
    <wsdl:operation name="getAllCurrentPmData">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCurrentPmDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCurrentPmDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCurrentPmDataException">
        <soap:fault name="getAllCurrentPmDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPmpNames">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPmpNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPmpNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPmpNamesException">
        <soap:fault name="getAllPmpNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPmps">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPmpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPmpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPmpsException">
        <soap:fault name="getAllPmpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHistoryPmData">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getHistoryPmDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getHistoryPmDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getHistoryPmDataException">
        <soap:fault name="getHistoryPmDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHoldingTime">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getHoldingTimeRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getHoldingTimeResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getHoldingTimeException">
        <soap:fault name="getHoldingTimeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMePmCapabilities">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMePmCapabilitiesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMePmCapabilitiesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMePmCapabilitiesException">
        <soap:fault name="getMePmCapabilitiesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileAssociatedTps">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getProfileAssociatedTpsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getProfileAssociatedTpsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getProfileAssociatedTpsException">
        <soap:fault name="getProfileAssociatedTpsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPmDataIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPmDataIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPmDataIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPmDataIteratorException">
        <soap:fault name="getPmDataIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPmpNamesIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPmpNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPmpNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPmpNamesIteratorException">
        <soap:fault name="getPmpNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPmpsIterator">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPmpsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPmpsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPmpsIteratorException">
        <soap:fault name="getPmpsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerformanceManagementRetrievalJms">
    <wsdl:documentation>
      <p>Example of the PerformanceManagementRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="PerformanceManagementRetrievalSoapJms" binding="tns:PerformanceManagementRetrievalSoapJmsBinding">
      <soap:address location="jms://aserver/mtosi/PerformanceManagementRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
