Product/trunk/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementRetrieval/PerformanceManagementRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rpm/wsdl/pmr/v1-0" location="PerformanceManagementRetrievalPortType.wsdl"/>
  <wsdl:binding name="PerformanceManagementRetrievalSoapHttpBinding" type="tns:PerformanceManagementRetrieval">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the PerformanceManagementRetrieval portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllCurrentPerformanceMonitoringData">
      <soap:operation soapAction="getAllCurrentPerformanceMonitoringData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllCurrentPerformanceMonitoringDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllCurrentPerformanceMonitoringDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllCurrentPerformanceMonitoringDataException">
        <soap:fault name="getAllCurrentPerformanceMonitoringDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPerformanceMonitoringPointNames">
      <soap:operation soapAction="getAllPerformanceMonitoringPointNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPerformanceMonitoringPointNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPerformanceMonitoringPointNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPerformanceMonitoringPointNamesException">
        <soap:fault name="getAllPerformanceMonitoringPointNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPerformanceMonitoringPoints">
      <soap:operation soapAction="getAllPerformanceMonitoringPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllPerformanceMonitoringPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllPerformanceMonitoringPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllPerformanceMonitoringPointsException">
        <soap:fault name="getAllPerformanceMonitoringPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHistoryPerformanceMonitoringData">
      <soap:operation soapAction="getHistoryPerformanceMonitoringData" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getHistoryPerformanceMonitoringDataRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getHistoryPerformanceMonitoringDataResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getHistoryPerformanceMonitoringDataException">
        <soap:fault name="getHistoryPerformanceMonitoringDataException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHoldingTime">
      <soap:operation soapAction="getHoldingTime" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getHoldingTimeRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getHoldingTimeResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getHoldingTimeException">
        <soap:fault name="getHoldingTimeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMePerformanceMonitoringCapabilities">
      <soap:operation soapAction="getMePerformanceMonitoringCapabilities" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMePerformanceMonitoringCapabilitiesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMePerformanceMonitoringCapabilitiesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMePerformanceMonitoringCapabilitiesException">
        <soap:fault name="getMePerformanceMonitoringCapabilitiesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileAssociatedTerminationPoints">
      <soap:operation soapAction="getProfileAssociatedTerminationPoints" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getProfileAssociatedTerminationPointsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getProfileAssociatedTerminationPointsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getProfileAssociatedTerminationPointsException">
        <soap:fault name="getProfileAssociatedTerminationPointsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerformanceMonitoringDataIterator">
      <soap:operation soapAction="getPerformanceMonitoringDataIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPerformanceMonitoringDataIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPerformanceMonitoringDataIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPerformanceMonitoringDataIteratorException">
        <soap:fault name="getPerformanceMonitoringDataIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerformanceMonitoringPointNamesIterator">
      <soap:operation soapAction="getPerformanceMonitoringPointNamesIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPerformanceMonitoringPointNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPerformanceMonitoringPointNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPerformanceMonitoringPointNamesIteratorException">
        <soap:fault name="getPerformanceMonitoringPointNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerformanceMonitoringPointsIterator">
      <soap:operation soapAction="getPerformanceMonitoringPointsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getPerformanceMonitoringPointsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getPerformanceMonitoringPointsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPerformanceMonitoringPointsIteratorException">
        <soap:fault name="getPerformanceMonitoringPointsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerformanceManagementRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the PerformanceManagementRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="PerformanceManagementRetrievalSoapHttp" binding="tns:PerformanceManagementRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/PerformanceManagementRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
