mtosi_2.0/2.0FullME/DDPs/ResourceProvisioning/IIS/xsd/FlowDomainControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" xmlns:fd="http://www.tmforum.org/mtop/nrf/xsd/fd/v1" xmlns:fdfr="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" xmlns:mfd="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1" xmlns:mfdfr="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:itu="http://www.tmforum.org/mtop/nrb/xsd/itu/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:lp="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:lay="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:tpdata="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1" xmlns:crcd="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1" xmlns:crmd="http://www.tmforum.org/mtop/nrb/xsd/crmd/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ResourceProvisioning</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP FlowDomainControl SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lay/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/ITU-T-Definitions.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/itu/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Mfdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/TpData.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tpdata/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceCreateDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crcd/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceModifyDataType.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/crmd/v1"/>
  <!-- ================ -->
  <xsd:element name="assignConnectionlessPortTerminationPointsToMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the assignConnectionlessPortTerminationPointsToMFD operation</p>
        <p>This operation assigns Connectionless Port Terminations Points (CPTPs) to ae Matrix Flow Domain (MFD).
        The provided CPTPs must be potential CPTPs for this MFD (e.g. have to be on the same equipment or same rack
        with backplane connectivity).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the matrix flow domain to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the names of the Connectionless Port Terminations Points (CPTPs)
              to be assigned to the Matrix Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter, when used in the request, identifies a list of TPs with associated parameters
              to be applied; identifies the list of TPs with associated applied parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="assignConnectionlessPortTerminationPointsToMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the assignConnectionlessPortTerminationPointsToMFD operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="assignConnectionlessPortTerminationPointsToMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the assignConnectionlessPortTerminationPointsToMFD operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:notInValidState"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="associateConnectionlessPortTerminationPointsWithFdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the associateConnectionlessPortTerminationPointsWithFd operation</p>
        <p>This operation associates Connectionless Port Terminations Points (CPTPs) with the Flow Domain (FD).
        The provided CPTPs must be already assigned to one of the Matrix Flow Domains that are associated to the FD.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the names of the Connectionless Port Terminations Points (CPTPs)
              to be associated with the Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter, when used in the request, identifies a list of TPs with associated parameters
              to be applied; identifies the list of TPs with associated applied parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="associateConnectionlessPortTerminationPointsWithFdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the associateConnectionlessPortTerminationPointsWithFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="associateConnectionlessPortTerminationPointsWithFdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the associateConnectionlessPortTerminationPointsWithFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="associateMatrixFlowDomainsWithFdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the associateMatrixFlowDomainsWithFd operation</p>
        <p>This operation associates Matrix Flow Domains (MFDs) with a Flow Domain (FD).
        The MFDs to be associated must not be associated to another FD.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="mfdRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the names of the Matrix Flow Domains to be associated with the Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter, when used in the request, identifies a list of TPs with associated parameters
              to be applied; identifies the list of TPs with associated applied parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="associateMatrixFlowDomainsWithFdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the associateMatrixFlowDomainsWithFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="associateMatrixFlowDomainsWithFdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the associateMatrixFlowDomainsWithFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createAndActivateFlowDomainFragmentRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createAndActivateFlowDomainFragment operation</p>
        <p>This operation creates a Flow Domain Fragment (FDFr) within the Flow Domain (FD).
        The target OS creates all necessary Flow Points and Matrix Flow Domain Fragments comprising the FDFr.
        The request is successful if at least two edge Flow Points can be created.
        In case not all requested (edge) Flow Points can be connected when the FDFr is created, the target OS returns
        the list of the not connectable Connectionless Port Termination Points (CPTPs) in the success reply.
        If internal CPTPs are provided by the requesting OS and if it is not possible to include all provided internal CPTPs
        to the route of the FDFr, the operation will be rejected.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createData" type="tns:FlowDomainFragmentCreateDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Structure describing the FDFr structure to be created. Setting of
            connectionless parameters is best effort (except where specified otherwise 
            for a particular parameter).</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="connectivityRequirement" type="fd:ConnectivityRequirementType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>For a "connectivity-aware" Target OS, this parameter shall identify 
            the requested operation mode in case not all FPs have potential connectivity 
            to one another. If the Target OS is not connectivity-aware, this parameter is ignored.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="aEndRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of of CPTP names that delimit the FDFr and characterize 
            its edges (entrance and/or exit points). As a result of creating the FDFr,
            FPs are created as clients of the Fd Edge CPTPs. 
            In case of a unidirectional 
            FDFr this attribute contains the list of source Fd Edge CPTPs. 
            In case of a 
            bidirectional FDFr this attribute may be combined with the zEnd TPs 
            attribute to obtain all the Fd Edge CPTPs that are associated to the 
            FDFr. 
            (N.B. For a bidirectional point to point FDFr it is suggested, but not 
            mandatory, to put one TP in the aEnd and one in the zEnd, as with SNCs and 
            TLs. For a multipoint FDFr, or a point-to-point FDFr that may be expanded 
            to multipoint, it is suggested to put all the TPs in the aEnd.) </p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="zEndRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>In case of a unidirectional FDFr this attribute contains the list of 
            sink Fd Edge CPTPs that delimit the FDFr and characterize its edges
            (exit points). 
            As a result of creating the FDFr, FPs are created as 
            clients of the Fd Edge CPTPs. 
            In case of a bidirectional FDFr this attribute 
            may be combined with the aEnd TPs attribute to obtain all the Fd Edge CPTPs 
            that are associated to the FDFr.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="internalTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A (possibly empty) list of internal CPTP names that must be included 
            in the route of the FDFr. As a result of creating the FDFr, 
            FPs are created as clients of the internal CPTPs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="mfdfrList" type="mfdfr:MatrixFlowDomainFragmentListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>An optional (possibly empty) list of MFDFrs that make up the route 
            of the FDFr. This attribute may be omitted if the FDFr is routed by the network. 
            As a result of creating the FDFr, MFDFrs are created in the various MFDs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of TPs and parameters to apply. The list may refer to
            flow points that are being created during the createAndActivateFDFr request
            or to the containing CPTPs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createAndActivateFlowDomainFragmentResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createAndActivateFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="aEndRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of of CPTP names that delimit the FDFr and characterize 
            its edges (entrance and/or exit points). As a result of creating the FDFr,
            FPs are created as clients of the Fd Edge CPTPs. 
            In case of a unidirectional 
            FDFr this attribute contains the list of source Fd Edge CPTPs. 
            In case of a 
            bidirectional FDFr this attribute may be combined with the zEnd TPs 
            attribute to obtain all the Fd Edge CPTPs that are associated to the 
            FDFr. 
            (N.B. For a bidirectional point to point FDFr it is suggested, but not 
            mandatory, to put one TP in the aEnd and one in the zEnd, as with SNCs and 
            TLs. For a multipoint FDFr, or a point-to-point FDFr that may be expanded 
            to multipoint, it is suggested to put all the TPs in the aEnd.) </p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="zEndRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>In case of a unidirectional FDFr this attribute contains the list of 
            sink Fd Edge CPTPs that delimit the FDFr and characterize its edges
            (exit points). 
            As a result of creating the FDFr, FPs are created as 
            clients of the Fd Edge CPTPs. 
            In case of a bidirectional FDFr this attribute 
            may be combined with the aEnd TPs attribute to obtain all the Fd Edge CPTPs 
            that are associated to the FDFr.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="internalTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A (possibly empty) list of internal CPTP names that must be included 
            in the route of the FDFr. As a result of creating the FDFr, 
            FPs are created as clients of the internal CPTPs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="mfdfrList" type="mfdfr:MatrixFlowDomainFragmentListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>An optional (possibly empty) list of MFDFrs that make up the route 
            of the FDFr. This attribute may be omitted if the FDFr is routed by the network. 
            As a result of creating the FDFr, MFDFrs are created in the various MFDs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with resulting parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="createdFdfr" type="fdfr:FlowDomainFragmentType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the newly created Flow Domain Fragment object.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="notConnectableCptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of Connectionless Port Termination Points that could not 
            be connected.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="parameterProblemsTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of Connectionless Port Termination Points and Flow Points FPs
            for which only best-effort transmission parameters could not be set.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createAndActivateFlowDomainFragmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createAndActivateFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:notInValidState"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createFlowDomain operation</p>
        <p>This operation creates a Flow Domain (FD) within the target OS.
        The operation allows also to associate Matrix Flow Domains and Connectionless Port Termination Points (CPTPs)
        to the new FD.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createData" type="tns:FlowDomainCreateDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Structure describing the flow domain structure to be created.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="assignedCptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This attribute identifies the list of Connectionless Port Termination Points (CPTPs) to be associated
              to the new Flow Domain (FD).
              The request is denied, if a CPTP (to be associated) is not already assigned to one of
              the Matrix Flow Domains (MFDs) provided.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="failedCptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list contains the names of the CPTPs that could
            not be associated with the flow domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="createdFd" type="fd:FlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The new created Fd. The Target OS is responsible for guaranteeing
            uniqueness of the name of the Fd. The name may be specified by the
            NMS in the createData.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createMatrixFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createMatrixFlowDomain operation</p>
        <p>This operation creates a Matrix Flow Domain (MFD) within a Managed Element.
        The operation allows also assigning Connectionless Port Termination Points (CPTPs) to the new MFD.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createData" type="tns:MatrixFlowDomainCreateDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Structure describing the matrix flow domain structure to be created.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createMatrixFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="createdMfd" type="mfd:MatrixFlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the newly created Matrix Flow Domain object.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createMatrixFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deactivateAndDeleteFlowDomainFragmentRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deactivateAndDeleteFlowDomainFragment operation</p>
        <p>This operation deletes a Flow Domain Fragment (FDFr) from the Flow Domain.
        The target OS deletes all associated Flow Points and Matrix Flow Domain Fragments comprising the FDFr.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain fragment to be deactivated and deleted.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of TPs and parameters to apply. The list may refer only to
            TPs that take part in the flow domain fragment deletion process. </p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deactivateAndDeleteFlowDomainFragmentResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deactivateAndDeleteFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of TPs with the resulting parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="deletedFdfr" type="fdfr:FlowDomainFragmentType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The deleted flow domain fragment. </p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deactivateAndDeleteFlowDomainFragmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deactivateAndDeleteFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deAssociateConnectionlessPortTerminationPointsFromFdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deAssociateConnectionlessPortTerminationPointsFromFd operation</p>
        <p>This operation de-associates Flow Domain Edge Connectionless Port Terminations Points (FD Edge CPTPs)
        from a Flow Domain (FD).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the names of the Connectionless Port Terminations Points (CPTPs)
              to be de-associated from the Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deAssociateConnectionlessPortTerminationPointsFromFdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deAssociateConnectionlessPortTerminationPointsFromFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deAssociateConnectionlessPortTerminationPointsFromFdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deAssociateConnectionlessPortTerminationPointsFromFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deAssociateMatrixFlowDomainsFromFdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deAssociateMatrixFlowDomainsFromFd operation</p>
        <p>This operation de-associates Matrix Flow Domains (MFDs) from a Flow Domain (FD).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="mfdRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the names of the Matrix Flow Domains to be de-associated from the Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deAssociateMatrixFlowDomainsFromFdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deAssociateMatrixFlowDomainsFromFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deAssociateMatrixFlowDomainsFromFdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deAssociateMatrixFlowDomainsFromFd operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteFlowDomain operation</p>
        <p>This operation deletes a Flow Domain (FD) from the target OS.
        The operation de-associates all Matrix Flow Domains and FD Edge Connectionless Port Termination Points (CPTPs)
        from the FD and then deletes the FD.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdRef" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain to be deleted.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteMatrixFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteMatrixFlowDomain operation</p>
        <p>This operation deletes a Matrix Flow Domain (MFD) within a Managed Element.
        The operation will be denied when the MFD to be deleted is still associated to a Flow Domain or when it is fixed.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdRef" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the matrix flow domain to be deleted.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteMatrixFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteMatrixFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyFlowDomainFragmentRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyFlowDomainFragment operation</p>
        <p>This operation modifies a Flow Domain Fragment (FDFr).</p>
        <p>The operation is able to modify<ul>
            <li>the attributes and parameters of the FDFr</li>
            <li>the parameters of other involved Connectionless Port Termination Points (CPTPs) and Flow Points (FPs)</li>
            <li>the FDFr by addition/removal of FPs</li>
          </ul>
        </p>
        <p>FPs are added by designating the FD Edge CPTPs and FD Internal CPTPs to be added in two separate lists
        (one for edge and one for internal). FPs are removed by designating their server CPTPs (edge and internal) in a third list.
        The removal of CPTPs shall be rejected if less than two end Flow Points would remain after successful completion
        of the operation.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdfrRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain fragment to modify.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifyData" type="tns:FlowDomainFragmentModifyDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>Structure describing how the flow domain fragment should be modified.
            Modification of connectionless parameters is best effort (except where 
            specified otherwise for a particular parameter).</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="connectivityRequirement" type="fd:ConnectivityRequirementType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>For a "connectivity-aware" Target OS, this parameter shall identify 
             the requested operation mode in case not all FPs have potential connectivity 
             to one another. This parameter is only significant if the fdfrModifyData parameter
             contains flow points to be added or removed, otherwise it shall be ignored
             by the Target OS. If the Target OS is not connectivity-aware, this parameter is also ignored.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of TPs and parameters to apply. The list may refer to
            flow points or to the containing CPTPs.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyFlowDomainFragmentResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>A list of TPs and parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="failedTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of Connectionless Port Termination Points 
            (requested in the fdfrModifyData parameter) 
            that could not be added or could not be removed, 
            whichever was requested.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="parameterProblemsTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of Connectionless Port Termination Points and Flow Points FPs
            for which only best-effort transmission parameters could not be set.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifiedFdfr" type="fdfr:FlowDomainFragmentType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The modified flow domain fragment.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyFlowDomainFragmentException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyFlowDomainFragment operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:notInValidState"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyFlowDomain operation</p>
        <p>This operation modifies a Flow Domain (FD). The modification of the Flow Domain
        is done on a best effort basis. All attributes that could not be modified shall be returned in the reply.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the flow domain to modify.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifyData" type="tns:FlowDomainModifyDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the parameters that shall be modified in the Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="modifiedFd" type="fd:FlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The modified flow domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="failedAttributes" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of attributes that could not be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyMatrixFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyMatrixFlowDomain operation</p>
        <p>This operation modifies a Matrix Flow Domain (MFD).
        The modification of the Matrix Flow Domain is done on a best effort basis.
        All attributes that could not be modified shall be returned in the reply.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the matrix flow domain to modify.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="modifyData" type="tns:MatrixFlowDomainModifyDataType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the parameters that shall be modified in the Matrix Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyMatrixFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="modifiedMfd" type="mfd:MatrixFlowDomainType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The modified matrix flow domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="failedAttributes" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of attributes that could not be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="modifyMatrixFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyMatrixFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="unassignConnectionlessPortTerminationPointsFromMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the unassignConnectionlessPortTerminationPointsFromMFD operation</p>
        <p>This operation un-assigns Connectionless Port Terminations Points (CPTPs) from the Matrix Flow Domain (MFD).
        The provided CPTPs must be potential CPTPs for this MFD (e.g. have to be on the same equipment or same rack
        with backplane connectivity).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mfdRef" type="nam:NamingAttributeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The name of the matrix flow domain to be modified.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpRefList" type="nam:NamingAttributeListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter provides the names of the Connectionless Port Terminations Points (CPTPs)
              to be un-assigned from the Matrix Flow Domain.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters to be applied.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="unassignConnectionlessPortTerminationPointsFromMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the unassignConnectionlessPortTerminationPointsFromMFD operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tpDataListToModify" type="tpdata:TerminationPointDataListType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>The list of TPs with associated parameters.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="errorReason" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              <p>This parameter returns the error(s) if any.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="unassignConnectionlessPortTerminationPointsFromMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the unassignConnectionlessPortTerminationPointsFromMFD operation</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="msg:AllExceptionsType">
          <xsd:choice>
            <xsd:element ref="msg:commLoss"/>
            <xsd:element ref="msg:entityNotFound"/>
            <xsd:element ref="msg:internalError"/>
            <xsd:element ref="msg:invalidInput"/>
            <xsd:element ref="msg:notImplemented"/>
            <xsd:element ref="msg:objectInUse"/>
            <xsd:element ref="msg:unableToComply"/>
            <xsd:element ref="msg:userlabelInUse"/>
          </xsd:choice>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ============== -->
  <xsd:complexType name="FlowDomainCreateDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the specific parameters that may be provided when creating a Flow Domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element name="mfdRefList" type="nam:NamingAttributeListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Identifies the list of existing matrix flow domains to be associated to the flow domain. The MFDs must not already be associated to another flow domain. This may be an empty list.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of layer rates on which connectivity can be established in the flow domain together with a set of connectionless technology parameters for each layer rate. Refer to chapter "Connectionless Technology Parameters" of the supporting document LayeredParameters.pdf for details of the currently defined connectionless parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ============== -->
  <xsd:complexType name="FlowDomainModifyDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the specific parameters that may be provided to modify a Flow Domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crmd:CommonResourceModifyDataType">
        <xsd:sequence>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of layer rates on which connectivity can be established in the flow domain together with a set of connectionless technology parameters for each layer rate. Refer to chapter "Connectionless Technology Parameters" of the supporting document LayeredParameters.pdf for details of the currently defined connectionless parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ============== -->
  <xsd:complexType name="FlowDomainFragmentCreateDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when creating a Flow Domain Fragment (FDFr).</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element name="direction" type="com:ConnectionDirectionType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute shall represent the directionality of the FDFr (bidirectional or unidirectional). Note: In the case of Ethernet, the directionality is always bidirectional.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="administrativeState" type="itu:X721.AdministrativeStateType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Indicates whether the FDFr is locked (i.e., traffic units cannot flow through the FDFr) or unlocked (i.e., traffic units are allowed to flow through the FDFr).</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="lp:transmissionParameters" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The layer rate on which connectivity is established and a related set of connectionless parameters. Refer to chapter "Connectionless Technology Parameters" of the supporting document LayeredParameters.pdf for details of the currently defined connectionless parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isFullRoute" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This parameter identifies if the internal TPs and mfdfrs parameters of the createAndActivateFdfr operation describe the full route of the Flow Domain Fragment (as opposed to only a partial constraint). When no routing constraints are specified, false must be used.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="type" type="com:FlowDomainFragmentTypeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Represents the type of the FDFr</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ============== -->
  <xsd:complexType name="FlowDomainFragmentModifyDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the specific parameters that may be provided to modify a Flow Domain Fragment.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crmd:CommonResourceModifyDataType">
        <xsd:sequence>
          <xsd:element name="administrativeState" type="itu:X721.AdministrativeStateType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Indicates whether the FDFr is locked (i.e., traffic units cannot flow through the FDFr) or unlocked (i.e., traffic units are allowed to flow through the FDFr).</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="lp:transmissionParameters" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The layer rate on which connectivity is established and a related set of connectionless parameters. Refer to chapter "Connectionless Technology Parameters" of the supporting document LayeredParameters.pdf for details of the currently defined connectionless parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tpRefListToRemove" type="nam:NamingAttributeListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of Connection Port Termination Point (CPTP) names that must be removed from the Flow Domain Fragment (FDFr). 
As a result of modifying the FDFr, the client Flow Points are deleted.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="aEndTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of additional Connection Port Termination Point (CPTP) names that delimit the Flow Domain Fragment (FDFr) and characterize its edges (entrance and/or exit points). As a result of modifying the FDFr, Flow Points are created as clients of the FD Edge CPTPs.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="zEndTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of additional Connection Port Termination Point (CPTP) names that delimit the Flow Domain Fragment (FDFr) and characterize its edges (entrance and/or exit points). As a result of modifying the FDFr, Flow Points are created as clients of the FD Edge CPTPs.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="internalTpRefList" type="nam:NamingAttributeListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of additional internal Connection Port Termination Point (CPTP) names that must be added to the route of the Flow Domain Fragment (FDFr). As a result of modifying the FDFr, Flow Points are created as clients of the internal CPTPs.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ============== -->
  <xsd:complexType name="MatrixFlowDomainCreateDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the parameters that may be provided when creating a Matrix Flow Domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crcd:CommonResourceCreateDataType">
        <xsd:sequence>
          <xsd:element name="unassignedCptpRefList" type="nam:NamingAttributeListType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute identifies the list of Connectionless Port Termination Points (CPTPs)
                to be associated to the new Flow Domain (FD). The request is denied, if a CPTP (to be associated) is not already
                assigned to one of the Matrix Flow Domains (MFDs) provided.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of layer rates on which connectivity can be established in the flow domain together with a set of connectionless technology parameters for each layer rate. Refer to chapter "Connectionless Technology Parameters" of the supporting document LayeredParameters.pdf for details of the currently defined connectionless parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ============== -->
  <xsd:complexType name="MatrixFlowDomainModifyDataType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This data type represents the specific parameters that may be provided to modify a Matrix Flow Domain.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="crmd:CommonResourceModifyDataType">
        <xsd:sequence>
          <xsd:element ref="lp:transmissionParametersList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of layer rates on which connectivity can be established in the flow domain together with a set of connectionless technology parameters for each layer rate. Refer to chapter "Connectionless Technology Parameters" of the supporting document LayeredParameters.pdf for details of the currently defined connectionless parameters.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
