mtosi_2.0/2.0/DDPs/ResourceTroubleManagement/IIS/wsdl/AlarmHandling/AlarmHandlingMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AlarmHandlingV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:ah="http://www.tmforum.org/mtop/rtm/xsd/ah/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/ah/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/ah/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmHandling Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AlarmHandling Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/ah/v1" schemaLocation="../../xsd/AlarmHandlingMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="acknowledgeAlarmsRequest">
    <wsdl:documentation>
      <p>The acknowledgeAlarms request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ah:acknowledgeAlarmsRequest"/>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsResponse">
    <wsdl:documentation>
      <p>The acknowledgeAlarms response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ah:acknowledgeAlarmsResponse"/>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsException">
    <wsdl:documentation>
      <p>The acknowledgeAlarms exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ah:acknowledgeAlarmsException"/>
  </wsdl:message>
  <wsdl:message name="unacknowledgeAlarmsRequest">
    <wsdl:documentation>
      <p>The unacknowledgeAlarms request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ah:unacknowledgeAlarmsRequest"/>
  </wsdl:message>
  <wsdl:message name="unacknowledgeAlarmsResponse">
    <wsdl:documentation>
      <p>The unacknowledgeAlarms response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ah:unacknowledgeAlarmsResponse"/>
  </wsdl:message>
  <wsdl:message name="unacknowledgeAlarmsException">
    <wsdl:documentation>
      <p>The unacknowledgeAlarms exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ah:unacknowledgeAlarmsException"/>
  </wsdl:message>
</wsdl:definitions>
