mtosi_4.0/main/DDPs/ManageResourceInventory/IIS/wsdl/MultiLayerSNPPRetrieval/MultiLayerSNPPRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSNPPRetrievalV1-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" 
xmlns:mlsnppr="http://www.tmforum.org/mtop/mri/xsd/mlsnppr/v1" 
xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnppr/v1-0" 
targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnppr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSNPPRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSNPPRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlsnppr/v1" schemaLocation="../../xsd/MultiLayerSNPPRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>

   <wsdl:message name="getAllMLSNPPsGeneralRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPsGeneral request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsGeneralRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsGeneralResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPsGeneral response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsGeneralResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsGeneralException">
    <wsdl:documentation>
      <p>The getAllMLSNPPsGeneral exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsGeneralException"/>
  </wsdl:message>
 
  <wsdl:message name="getAllMLSNPPsWithTPRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPsWithTP request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsWithTPRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsWithTPResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPsWithTP response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsWithTPResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsWithTPException">
    <wsdl:documentation>
      <p>The getAllMLSNPPsWithTP exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsWithTPException"/>
  </wsdl:message> 
 
   <wsdl:message name="getAllMLSNPPsWithTNARequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPsWithTNA request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsWithTNARequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsWithTNAResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPsWithTNA response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsWithTNAResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsWithTNAException">
    <wsdl:documentation>
      <p>The getAllMLSNPPsWithTNA exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsWithTNAException"/>
  </wsdl:message> 
 
  <wsdl:message name="getAllMLSNPPsRequest">
    <wsdl:documentation>
      <p>The getAllMLSNPPs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsResponse">
    <wsdl:documentation>
      <p>The getAllMLSNPPs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMLSNPPsException">
    <wsdl:documentation>
      <p>The getAllMLSNPPs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnppr:getAllMLSNPPsException"/>
  </wsdl:message> 
 
  <wsdl:message name="getMultiLayerSNPPsIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSNPPsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getMultiLayerSNPPsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSNPPsIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSNPPsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnppr:getMultiLayerSNPPsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSNPPsIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerSNPPsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnppr:getMultiLayerSNPPsIteratorException"/>
  </wsdl:message> 
 
</wsdl:definitions>
