mtosi_2.0/2.0FullME/DDPs/ResourceTroubleManagement/IIS/wsdl/AlarmControl/AlarmControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AlarmControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:ac="http://www.tmforum.org/mtop/rtm/xsd/ac/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/ac/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/ac/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AlarmControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AlarmControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/ac/v1" schemaLocation="../../xsd/AlarmControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setAlarmReportingOffRequest">
    <wsdl:documentation>
      <p>The setAlarmReportingOff request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setAlarmReportingOffRequest"/>
  </wsdl:message>
  <wsdl:message name="setAlarmReportingOffResponse">
    <wsdl:documentation>
      <p>The setAlarmReportingOff response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setAlarmReportingOffResponse"/>
  </wsdl:message>
  <wsdl:message name="setAlarmReportingOffException">
    <wsdl:documentation>
      <p>The setAlarmReportingOff exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ac:setAlarmReportingOffException"/>
  </wsdl:message>
  <wsdl:message name="setAlarmReportingOnRequest">
    <wsdl:documentation>
      <p>The setAlarmReportingOn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setAlarmReportingOnRequest"/>
  </wsdl:message>
  <wsdl:message name="setAlarmReportingOnResponse">
    <wsdl:documentation>
      <p>The setAlarmReportingOn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setAlarmReportingOnResponse"/>
  </wsdl:message>
  <wsdl:message name="setAlarmReportingOnException">
    <wsdl:documentation>
      <p>The setAlarmReportingOn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ac:setAlarmReportingOnException"/>
  </wsdl:message>
  <wsdl:message name="setGtpAlarmReportingOffRequest">
    <wsdl:documentation>
      <p>The setGtpAlarmReportingOff request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setGtpAlarmReportingOffRequest"/>
  </wsdl:message>
  <wsdl:message name="setGtpAlarmReportingOffResponse">
    <wsdl:documentation>
      <p>The setGtpAlarmReportingOff response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setGtpAlarmReportingOffResponse"/>
  </wsdl:message>
  <wsdl:message name="setGtpAlarmReportingOffException">
    <wsdl:documentation>
      <p>The setGtpAlarmReportingOff exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ac:setGtpAlarmReportingOffException"/>
  </wsdl:message>
  <wsdl:message name="setGtpAlarmReportingOnRequest">
    <wsdl:documentation>
      <p>The setGtpAlarmReportingOn request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setGtpAlarmReportingOnRequest"/>
  </wsdl:message>
  <wsdl:message name="setGtpAlarmReportingOnResponse">
    <wsdl:documentation>
      <p>The setGtpAlarmReportingOn response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="ac:setGtpAlarmReportingOnResponse"/>
  </wsdl:message>
  <wsdl:message name="setGtpAlarmReportingOnException">
    <wsdl:documentation>
      <p>The setGtpAlarmReportingOn exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="ac:setGtpAlarmReportingOnException"/>
  </wsdl:message>
</wsdl:definitions>
