mtosi_3.0/main/DDPs/TestManagement/ResourceTestManagement/IIS/wsdl/ResourceTestControl/ResourceTestControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0" name="mTOP-ResourceTestControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0">
	<wsdl:import namespace="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0" location="ResourceTestControlMessages.wsdl"/>
	<wsdl:documentation>
		<p>DDP: ResourceTest Management</p>
		<p>Module: Resource Test Control Service Interface WSDL PortType Module</p>
		<p>Description: This module contains all the mTOP Resource Test Control Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:portType name="ResourceTestControl">
		<wsdl:documentation>
			<p>The ResourceTestControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
		</wsdl:documentation>
		<!-- startTest operation-->
		<wsdl:operation name="startTest">
			<wsdl:input message="tns:startTestRequest"/>
			<wsdl:output message="tns:startTestResponse"/>
			<wsdl:fault name="startTestException" message="tns:startTestException"/>
		</wsdl:operation>
		<!-- suspendTest operation-->
		<wsdl:operation name="suspendTest">
			<wsdl:input message="tns:suspendTestRequest"/>
			<wsdl:output message="tns:suspendTestResponse"/>
			<wsdl:fault name="suspendTestException" message="tns:suspendTestException"/>
		</wsdl:operation>
		<!-- resumeTest operation-->
		<wsdl:operation name="resumeTest">
			<wsdl:input message="tns:resumeTestRequest"/>
			<wsdl:output message="tns:resumeTestResponse"/>
			<wsdl:fault name="resumeTestException" message="tns:resumeTestException"/>
		</wsdl:operation>
		<!-- stopTest operation-->
		<wsdl:operation name="stopTest">
			<wsdl:input message="tns:stopTestRequest"/>
			<wsdl:output message="tns:stopTestResponse"/>
			<wsdl:fault name="stopTestException" message="tns:stopTestException"/>
		</wsdl:operation>
		<!-- getTestResults operation-->
		<wsdl:operation name="getTestResults">
			<wsdl:input message="tns:getTestResultsRequest"/>
			<wsdl:output message="tns:getTestResultsResponse"/>
			<wsdl:fault name="getTestResultsException" message="tns:getTestResultsException"/>
		</wsdl:operation>
		<!-- deleteTest operation-->
		<wsdl:operation name="deleteTest">
			<wsdl:input message="tns:deleteTestRequest"/>
			<wsdl:output message="tns:deleteTestResponse"/>
			<wsdl:fault name="deleteTestException" message="tns:deleteTestException"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
