mtosi_3.0/main/DDPs/TestManagement/ResourceTestManagement/IIS/wsdl/ResourceTestControl/ResourceTestControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:rtc="http://www.tmforum.org/mtop/rt/xsd/rtc/v1" xmlns:tns="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0" name="mTOP-ResourceTestControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/rt/wsdl/rtc/v1-0">
	<wsdl:documentation>
		<p>DDP: ResourceTestManagement</p>
		<p>Module: ResourceTestControl Service Interface WSDL Message Module</p>
		<p>Description: This module contains all the mTOP ResourceTestControl Service Interface WSDL message definitions.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/rt/xsd/rtc/v1" schemaLocation="../../xsd/ResourceTestControlMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="startTestRequest">
		<wsdl:documentation>
			<p>The startTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:startTestRequest"/>
	</wsdl:message>
	<wsdl:message name="startTestResponse">
		<wsdl:documentation>
			<p>The startTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:startTestResponse"/>
	</wsdl:message>
	<wsdl:message name="startTestException">
		<wsdl:documentation>
			<p>The startTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtc:startTestException"/>
	</wsdl:message>
	<wsdl:message name="suspendTestRequest">
		<wsdl:documentation>
			<p>The suspendTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:suspendTestRequest"/>
	</wsdl:message>
	<wsdl:message name="suspendTestResponse">
		<wsdl:documentation>
			<p>The suspendTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:suspendTestResponse"/>
	</wsdl:message>
	<wsdl:message name="suspendTestException">
		<wsdl:documentation>
			<p>The suspendTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtc:suspendTestException"/>
	</wsdl:message>
	<wsdl:message name="resumeTestRequest">
		<wsdl:documentation>
			<p>The resumeTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:resumeTestRequest"/>
	</wsdl:message>
	<wsdl:message name="resumeTestResponse">
		<wsdl:documentation>
			<p>The resumeTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:resumeTestResponse"/>
	</wsdl:message>
	<wsdl:message name="resumeTestException">
		<wsdl:documentation>
			<p>The resumeTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtc:resumeTestException"/>
	</wsdl:message>
	<wsdl:message name="stopTestRequest">
		<wsdl:documentation>
			<p>The stopTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:stopTestRequest"/>
	</wsdl:message>
	<wsdl:message name="stopTestResponse">
		<wsdl:documentation>
			<p>The stopTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:stopTestResponse"/>
	</wsdl:message>
	<wsdl:message name="stopTestException">
		<wsdl:documentation>
			<p>The stopTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtc:stopTestException"/>
	</wsdl:message>
	<wsdl:message name="getTestResultsRequest">
		<wsdl:documentation>
			<p>The getTestResults request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:getTestResultsRequest"/>
	</wsdl:message>
	<wsdl:message name="getTestResultsResponse">
		<wsdl:documentation>
			<p>The getTestResults response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:getTestResultsResponse"/>
	</wsdl:message>
	<wsdl:message name="getTestResultsException">
		<wsdl:documentation>
			<p>The getTestResults exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtc:getTestResultsException"/>
	</wsdl:message>
	<wsdl:message name="deleteTestRequest">
		<wsdl:documentation>
			<p>The deleteTest request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:deleteTestRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteTestResponse">
		<wsdl:documentation>
			<p>The deleteTest response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="rtc:deleteTestResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteTestException">
		<wsdl:documentation>
			<p>The deleteTest exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="rtc:deleteTestException"/>
	</wsdl:message>
	<!-- startTest messages -->
	<!-- suspendTest messages -->
	<!-- resumeTest messages -->
	<!-- stopTest messages -->
	<!-- getTestResults messages -->
	<!-- deleteTest messages -->
</wsdl:definitions>
