mtosi_1.1/IIS/wsdl/binding/soap_http/OperationsSystemMgrSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- TMF854 Version 1.1 - Copyright TeleManagement Forum 2005, 2006 -->
<wsdl:definitions xmlns:tmf854WS="tmf854.v1.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="tmf854.v1.ws" name="TMF854-OperationsSystemsMgr-SOAP-HTTP">
	<wsdl:import namespace="tmf854.v1.ws" location="../../common/OperationsSystemMgr.wsdl" />
	<wsdl:binding name="OperationsSystemMgrSoapHTTPBinding" type="tmf854WS:OperationsSystemMgr">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getAllMDNames">
      <soap:operation soapAction="getAllMDNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMDNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMDNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMDNamesIterator">
      <soap:operation soapAction="getAllMDNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMDNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMDNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMDs">
      <soap:operation soapAction="getAllMDs" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMDs" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMDsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMDsIterator">
      <soap:operation soapAction="getAllMDsIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMDsIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMDsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMENamesPassingFilter">
      <soap:operation soapAction="getAllMENamesPassingFilter" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMENamesPassingFilter" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMENamesPassingFilterResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMENamesPassingFilterIterator">
      <soap:operation soapAction="getAllMENamesPassingFilterIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMENamesPassingFilterIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMENamesPassingFilterResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMEsPassingFilter">
      <soap:operation soapAction="getAllMEsPassingFilter" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMEsPassingFilter" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMEsPassingFilterResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMEsPassingFilterIterator">
      <soap:operation soapAction="getAllMEsPassingFilterIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMEsPassingFilterIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMEsPassingFilterResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMENamesWrtOS">
      <soap:operation soapAction="getAllMENamesWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMENamesWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMENamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMENamesWrtOSIterator">
      <soap:operation soapAction="getAllMENamesWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMENamesWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMENamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMEsWrtOS">
      <soap:operation soapAction="getAllMEsWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMEsWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMEsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllMEsWrtOSIterator">
      <soap:operation soapAction="getAllMEsWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllMEsWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllMEsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllOSNames">
      <soap:operation soapAction="getAllOSNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllOSNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllOSNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllOSNamesIterator">
      <soap:operation soapAction="getAllOSNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllOSNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllOSNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllOSs">
      <soap:operation soapAction="getAllOSs" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllOSs" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllOSsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllOSsIterator">
      <soap:operation soapAction="getAllOSsIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllOSsIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllOSsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSNNamesWrtOS">
      <soap:operation soapAction="getAllSNNamesWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSNNamesWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSNNamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSNNamesWrtOSIterator">
      <soap:operation soapAction="getAllSNNamesWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSNNamesWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSNNamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSNsWrtOS">
      <soap:operation soapAction="getAllSNsWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSNsWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSNsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllSNsWrtOSIterator">
      <soap:operation soapAction="getAllSNsWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllSNsWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllSNsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTLNamesBetweenMDs">
      <soap:operation soapAction="getAllTLNamesBetweenMDs" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTLNamesBetweenMDs" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTLNamesBetweenMDsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTLsBetweenMDs">
      <soap:operation soapAction="getAllTLsBetweenMDs" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTLsBetweenMDs" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTLsBetweenMDsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTLNamesWrtOS">
      <soap:operation soapAction="getAllTLNamesWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTLNamesWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTLNamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTLNamesWrtOSIterator">
      <soap:operation soapAction="getAllTLNamesWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTLNamesWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTLNamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTLsWrtOS">
      <soap:operation soapAction="getAllTLsWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTLsWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTLsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTLsWrtOSIterator">
      <soap:operation soapAction="getAllTLsWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTLsWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTLsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTMDNamesWrtOS">
      <soap:operation soapAction="getAllTMDNamesWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTMDNamesWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTMDNamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTMDNamesWrtOSIterator">
      <soap:operation soapAction="getAllTMDNamesWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTMDNamesWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTMDNamesWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTMDsWrtOS">
      <soap:operation soapAction="getAllTMDsWrtOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTMDsWrtOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTMDsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTMDsWrtOSIterator">
      <soap:operation soapAction="getAllTMDsWrtOSIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTMDsWrtOSIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTMDsWrtOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelSubnetworkNames">
      <soap:operation soapAction="getAllTopLevelSubnetworkNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworkNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworkNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelSubnetworkNamesIterator">
      <soap:operation soapAction="getAllTopLevelSubnetworkNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworkNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworkNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelSubnetworks">
      <soap:operation soapAction="getAllTopLevelSubnetworks" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworks" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworksResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelSubnetworksIterator">
      <soap:operation soapAction="getAllTopLevelSubnetworksIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworksIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelSubnetworksResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelTopologicalLinkNames">
      <soap:operation soapAction="getAllTopLevelTopologicalLinkNames" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinkNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinkNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelTopologicalLinkNamesIterator">
      <soap:operation soapAction="getAllTopLevelTopologicalLinkNamesIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinkNamesIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinkNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelTopologicalLinks">
      <soap:operation soapAction="getAllTopLevelTopologicalLinks" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinks" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinksResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllTopLevelTopologicalLinksIterator">
      <soap:operation soapAction="getAllTopLevelTopologicalLinksIterator" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinksIterator" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllTopLevelTopologicalLinksResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getOS">
      <soap:operation soapAction="getOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getMD">
      <soap:operation soapAction="getMD" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getMD" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getMDResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSubordinateOS">
      <soap:operation soapAction="getSubordinateOS" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getSubordinateOS" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getSubordinateOSResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getTopLevelTopologicalLink">
      <soap:operation soapAction="getTopLevelTopologicalLink" style="document"/>
			<wsdl:input>
				<soap:header message="tmf854WS:getTopLevelTopologicalLink" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getTopLevelTopologicalLinkResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

</wsdl:definitions>



