mtosi_2.0/main/DDPs/NetworkResourceFulfillment/IIS/xsd/ResourceInventoryLayoutNew.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/nrf/xsd/invdata/v1" xmlns:tns="http://www.tmforum.org/mtop/nrf/xsd/invdata/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:vro="http://www.tmforum.org/mtop/nrb/xsd/vro/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP InventoryRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/VendorResourceObject.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/vro/v1"/>
  <!-- ================ -->
  <xsd:complexType name="InventoryDataType">
    <xsd:sequence>
      <xsd:element name="mdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Management Domain inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="md" type="tns:MdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tmdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of top level TMD inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tmd" type="tns:TmdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="osList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of OS inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="os" type="tns:OsInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="voList" type="vro:VendorResourceObjectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Vendor Objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ==================== -->
  <xsd:complexType name="DataQualityIndicatorType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This is the in-line exception log found in the inventory report on object retrieval exception.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="suspect" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descendant" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to all the children of the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reason" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Free string to provide reason description on suspect data issue.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="OsInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Operations System as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/os/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the OS element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="subordinateOsNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the subordinate OS names.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedMdNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the supported Management Domain names.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="offersTmdNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the TMD names associated with this OS.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on OS data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Management Domain as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/md/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the MD element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportingOsNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of OS names supporting this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="meList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of ME inventories contained in this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="meInv" type="tns:MeInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mlsnList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of MLSN inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mlsnInv" type="tns:MlsnInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of FD inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fdInv" type="tns:FdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TL inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tlInv" type="tns:TlInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MeInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Managed Element as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the ME element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="containingMlsnNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MLSN names that the Managed Element belongs to.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The equipment inventory contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ptpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ptpInv" type="tns:PtpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ftpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ftpInv" type="tns:FtpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ccList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Cross Connects contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" processContents="lax" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Reference to the CC element.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:any>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pgpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pgpInv" type="tns:PgpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="epgpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of EPGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="epgpInv" type="tns:EpgpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="gtpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of GTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gtpInv" type="tns:GtpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mfdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MFD inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mfdInv" type="tns:MfdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TL names associated with this ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on ME data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EhInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Holder as returned in inventory report.
        Refer to the InventoryLayout and the EquipmentModel supporting documents.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/eh/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the EH element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="ehList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of contained equipments (EQ or EH).
            It is optional to terminate recursive definition.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eqInv" type="tns:EqInventoryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The inventory of the Equipment contained directly in this Equipment Holder</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EH data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EqInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/eq/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the EQ element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportedPptpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The PTPs that are returned are those that share their physical layer with the primary equipment (i.e. that represent a port on the equipment or are connected by a fibre, wire, etc.). The FTPs that are returned are those which are implemented by the physical circuitry supported by the equipment and will include FTPs that are named from the specified equipment (the FTPs will depend upon the presence of that equipment for their most basic operation). When there is equipment protection, this list reports PTPs/FTPs for the primary equipment only. That is, when called on a protecting equipment (as opposed to the primary equipment), this list returns an empty list, irrespective of the current switch status.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedEqNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment names supported by a given piece of equipment, e.g., a power pack might support many circuit packs.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEqNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment that supports a given piece of equipment, e.g., the power pack and synchronization card that support a given piece of equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EQ data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Physical Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/ptp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the PTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Floating Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the FTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on FTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="CtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Connection Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/ctp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the CTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on CTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="GtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the GTP as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the GTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="ctpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP (aboslute) names associated with GTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on GTP data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MfdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the MFD as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the MFD element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="ptpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP (aboslute) names associated with MFD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP (aboslute) names associated with MFD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mfdfrInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MFDFr inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mfdfrInv" type="tns:MfdfrInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MFD data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MfdfrInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the MFDFr as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the MFDFr element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="ctpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP (aboslute) names associated with MFDFr.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP (aboslute) names associated with MFDFr.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MFDFr data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TpPoolInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the TPPool as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the TPPool element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TPPool data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PgpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/pgp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the PGP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EpgpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/epgp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the EPGP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EPGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MlsnInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Multi Layer Subnetwork as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/mlsn/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the MLSN element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="sncList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of SubnetworkConnection inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sncInv" type="tns:SncInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpPoolList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TPPool inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpPoolInv" type="tns:TpPoolInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FD inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fdInv" type="tns:FdInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associatedMeNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of ME names associated with the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tlNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TL names associated with this MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MLSN data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="SncInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Subnetwork Connection as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the SNC element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/route/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the Route element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on SNC data retrieval .</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the FD as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/fd/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the FD element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="ptpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP (aboslute) names associated with FD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP (aboslute) names associated with FD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fdfrInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FDFr inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fdfrInv" type="tns:FdfrInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TL data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FdfrInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the FDFr as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the FDFr element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the FdfrRoute element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on FDFr data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TlInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Topological Link as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the TL element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TL data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TmdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Transmission Descriptor as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the TMD element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TMD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
