Methodology/Topics/DDPs/OM/ManageResourceInventory/v1-0/SS/xsd/TpRetrieval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2006 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="tmforum.mtop.om-mri.v1" xmlns:tns="tmforum.mtop.om-mri.v1" xmlns:mtop.fulfillment="tmforum.mtop.dm-fulfillment.v1" xmlns:mtop.basic="tmforum.mtop.dm-basic.v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <!-- ================ -->
  <xsd:import schemaLocation="../../../../../DM/Basic/v1-0/SS/xsd/AllDefinitions.xsd" namespace="tmforum.mtop.dm-basic.v1"/>
  <xsd:import schemaLocation="../../../../../DM/Fulfillment/v1-0/SS/xsd/AllDefinitions.xsd" namespace="tmforum.mtop.dm-fulfillment.v1"/>
  <!-- ================ -->
  <xsd:element name="getAllFTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFTPNames operation</p>
        <p>This operation has exactly the same behaviour as getAllFTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllFTPs operation</p>
        <p>This operation has exactly the same behaviour as getAllPTPs(), but instead of returning both PTPs and FTPs it returns solely FTPs.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllFTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllFTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllFTPs operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when meName does not reference a managed element object, or tpLayerRateList or connectionLayerRateList contain undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when meName references an ME object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
EXCPT_TOO_MANY_OPEN_ITERATORS - Raised when maximum number of iterators has been reached
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGTPNames operation</p>
        <p>This operation has exactly the same behaviour as getAllGTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllGTPs operation</p>
        <p>This operation allows an NMS to request all of the GTPs (on the given Managed Element) that contain one or more TPs at the specified layer rates. If there are no GTPs that match the layer constraints, an empty list is returned (see Bundled SNC overview for further information on GTP usage)..</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGTPsResponse" type="tns:MultipleGtpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllGTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllGTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllGTPs operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if EMS does not support this operation
EXCPT_INTERNAL_ERROR - Raised in case of non-specific EMS internal failure
EXCPT_INVALID_INPUT - Raised when managedElementName does not reference a managed element object, or the tpLayerRateList contains undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when managedElementName references an ME object that does not exist
EXCPT_NE_COMM_LOSS - Raised when communications to managedElement is lost
EXCPT_TOO_MANY_OPEN_ITERATORS - Raised when maximum number of iterators has been reached
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPTPNames operation</p>
        <p>This operation has exactly the same behaviour as getAllPTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPTPs operation</p>
        <p>This allows an NMS to request all of the PTPs and FTPs on the specified Managed Element, that contain one or more of the NMS-specified PTP/FTP layer rates, and that are capable of supporting one or more of the NMS- specified connection layer rates. If there are no PTPs/FTPs that match the layer constraints, an empty list is returned. A PTP/FTP will be returned regardless of connectivity to other managed elements and regardless of position in the subnetwork (both edgepoints of the subnetwork and the PTPs/FTPs that are internal to the subnetwork are reported).</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPTPs operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when meName does not reference a managed element object, or tpLayerRateList or connectionLayerRateList contain undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when meName references an ME object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
EXCPT_TOO_MANY_OPEN_ITERATORS - Raised when maximum number of iterators has been reached
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPNamesWithoutFTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPTPNamesWithoutFTPs operation</p>
        <p>This operation has exactly the same behaviour as getAllPTPsWithoutFTP, but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPNamesWithoutFTPsResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPTPNamesWithoutFTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPNamesWithoutFTPsException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPTPNamesWithoutFTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPsWithoutFTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllPTPsWithoutFTPs operation</p>
        <p>This operation has exactly the same behaviour as getAllPTPs() but instead of returning both PTPs and FTPs it returns solely PTPs.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPsWithoutFTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllPTPsWithoutFTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllPTPsWithoutFTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllPTPsWithoutFTPs operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when meName does not reference a managed element object, or tpLayerRateList or connectionLayerRateList contain undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when meName references an ME object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPTPNames operation</p>
        <p>This operation has exactly the same behaviour as getAllSupportedPTPs(), but returns the object names instead of returning the entire objects.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllSupportedPTPs operation</p>
        <p>This operation allows an NMS to request the PTPs/FTPs that are directly supported by a given equipment. The PTPs that are returned are those that share their physical layer with the primary equipment (i.e. that represent a port on the equipment or are connected by a fibre, wire, etc.). The FTPs that are returned are those which are implemented by the physical circuitry supported by the equipment and will include FTPs that are named from the specified equipment (the FTPs will depend upon the presence of that equipment for their most basic operation).</p>
        <p>When there is equipment protection, this operation reports PTPs/FTPs for the primary equipment only. That is, when called on a protecting equipment (as opposed to the primary equipment), this operation returns an empty list, irrespective of the current switch status.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllSupportedPTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllSupportedPTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllSupportedPTPs operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when equipmentName does not reference an equipment object
EXCPT_ENTITY_NOT_FOUND - Raised when equipmentName references object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
EXCPT_TOO_MANY_OPEN_ITERATORS - Raised when maximum number of iterators has been reached
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCTPNames operation</p>
        <p>This operation has exactly the same behaviour as getContainedCurrentTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedCurrentCTPs operation</p>
        <p>This operation is used to retrieve the "current" CTPs that are contained within a specific PTP, FTP or CTP, at specific layer rates. A "current" CTP is defined as a CTP that is either cross-connectable or cross-connected,in the current mapping configuration.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedCurrentCTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedCurrentCTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedCurrentCTPs operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if OS cannot support this service
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a PTP, FTP or CTP object or layerRateList contains undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a PTP, FTP or CTP object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCTPNames operation</p>
        <p>This operation has exactly the same behaviour as getContainedInUseCTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedInUseCTPs operation</p>
        <p>This service is used to retrieve the "in use" CTPs that are contained within a specific PTP, FTP or CTP, at specific layer rates. An "in use" CTP is defined as a CTP that is used by an SNC in any state (including pending), either as a CM end point or as an intermediate connection point, or a CTP that is terminated and mapped. This operation will be used when there are a large number of potential CTPs (e.g., in ATM).</p>
        <p>Example of usage with respect to ATM:</p>
        <p>To retrieve all actual ATM Network Interfaces associated with a PTP, this operation will be invoked using the PTP name as the tpName and LR_ATM_NI as the only layer rate in the layerRateList. The VPI and VCI ranges that are specified in the returned ATM Network Interface transmissionParams (i.e., Max_VPI_Bits and Max_VCI_Bits) can then be used to determine the potential VPI/VCI range. A subsequent invocation of this operation using an ATM Network Interface CTP as input can be used to determine which VPIs/VCIs are actually in use (with LR_ATM_VP and LR_ATM_VC included in the connectionRateList).</p>
        <p>Example of usage with respect to SONET/SDH:</p>
        <p>Consider an STM4 PTP with layerRate: LR_Optical_OC12_and_STM4. Assume that the set of CTPs returned by operation getContainedPotentialTPs() contains one CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminating an SNC (layerRate LR_STS3c_and_AU4_VC4), and another CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminated and mapped (attribute tpMappingMode is set to TM_TERMINATED_AND_AVAILABLE_FOR_MAPPING). The CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminated and mapped contains one CTP with layerRate LR_VT2_and_TU12_VC12 that is involved in an SNC. None of the other contained CTPs have attribute tpMappingMode set to TM_TERMINATED_AND_AVAILABLE_FOR_MAPPING, or are involved in an SNC.</p>
        <p>Operation getContainedInUseTPs then returns three CTPs:<ul>
            <li>The CTP with layerRate LR_STS3c_and_AU4_VC4 that is terminating an SNC.</li>
            <li>The CTP with layerRate LR_STS3c_and_AU4_VC4 that has attribute tpMappingMode set to TM_TERMINATED_AND_AVAILABLE_FOR_MAPPING.</li>
            <li>The CTP with layerRate LR_VT2_and_TU12_VC12 that is terminating an SNC.</li>
          </ul>
        </p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedInUseCTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedInUseCTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedInUseCTPs operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a PTP, FTP or CTP object or layerRateList contains undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a PTP, FTP or CTP object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCTPNames operation</p>
        <p>This operation has exactly the same behaviour as getContainedPotentialCTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainedPotentialCTPs operation</p>
        <p>This allows an NMS to request all of the CTPs that it is potentially capable of supporting in all possible mapping configurations, at the specified rates and that are contained by the specified termination point.</p>
        <p>This operation returns all potential contained CTPs for a given TP. The TP may be a PTP, an FTP or a CTP. If the layerRateList is empty then contained CTPs at all flexible and/or static LayerRates are returned.</p>
        <p>For an OC3 PTP that has the potential of mapping to VT1.5 the response would contain 3 STS1 CTPs and 84 VT1.5 CTPs; on a T1 PTP, the contained TPs would be one T1 CTP; for an STS1 CTP the response would contain 28 VT1.5 CTPs. In the case where an OC3 PTP supports mapping to T1s and VT1.5, then the contained list for the OC3 PTP could be 1 STS3c, 3 STS1, 84 VT1.5 and 84 T1 CTPs; if a VT1.5 CTP is provided, 1 T1 CTP is returned; if a T1 CTP is provided, the result is an empty list.</p>
        <p>Whenever a protection group is involved, the behaviour of this service is described below:</p>
        <p>Scenario 1: Before the Protection Group is created<ul>
            <li>Query On Worker TPs returns list of all CTPs</li>
            <li>Query On Protection TPs returns list of all CTPs</li>
          </ul>
        </p>
        <p>Scenario 2: After ProtectionGroup is created, if extra (preemptible/non-pre-emptible) traffic is allowed.<ul>
            <li>Query On Worker TPs returns list of all CTPs</li>
            <li>Query On Protection TPs returns list of all CTPs</li>
          </ul>
        </p>
        <p>Scenario 3: After ProtectionGroup is created, if extra (preemptible/non-pre-emptible) traffic is not allowed<ul>
            <li>Query On Worker TPs returns list of CTPs that allow protected traffic</li>
            <li>Query On Protection TPs returns an empty list (regardless of the switch status)</li>
          </ul>
        </p>
        <p>In case the protection group is created after a query is made, no object delete notification is made, the NMS is expected to query the ports in the protection group to find the list of contained CTPs.</p>
        <p>When ATM, this operation needs to be used with caution. The reason for this is that, in ATM, there can be a prohibitively large number of potential VP and VC CTPs returned by this operation. For retrieving ATM CTPs, the getContainedInUseTPs() operation should be considered.</p>
        <p>If DWDM, SONET and/or SDH is combined with ATM, it is advisable that this operation be used with the appropriate DWDM, SONET and/or SDH layer rates entered into the layerRateList. Otherwise, ATM CTPs will be returned and the resulting list of contained TPs could get prohibitive.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainedPotentialCTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainedPotentialCTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainedPotentialCTPs operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if OS cannot support this service
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a PTP, FTP or CTP object or layerRateList contains undefined rates
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a PTP, FTP or CTP object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingGTP">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingGTP operation</p>
        <p>This operation returns the name of the GTP containing a given CTP (see Bundled SNC overview for further information on GTP usage). If the CTP is not contained in a GTP, the gtp output parameter is left empty.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingGTPResponse" type="tns:MultipleGtpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingGTP operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingGTPException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingGTP operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific EMS internal failure
EXCPT_INVALID_INPUT - Raised if ctpName does not reference a terminationPoint object
EXCPT_ENTITY_NOT_FOUND - Raised when ctpName references an object that does not exist
EXCPT_NE_COMM_LOSS - Raised when communications to managedElement is lost, and communication with the ME is needed to determine the containing GTP
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTPNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTPNames operation</p>
        <p>This operation has exactly the same behaviour as getContainingTPs(), but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTPNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTPNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTPNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTPs">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getContainingTPs operation</p>
        <p>This operation returns a list of the containing TPs given a CTP. This will return an PTP or FTP where there is only one level of containment. In a case of deeper containment this will return a list of CTPs and a PTP or FTP. Using the UPSR OC3 example used in getContainedPotentialTPs, getContainingTPs on the working T1 CTP will return a working STS1 CTP and a working OC3PTP. If the OC3 was in APS, then getContainingTPs on the T1 CTP would return an STS1 CTP, an OC3 working PTP and an OC3 protect PTP.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTPsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getContainingTPs operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getContainingTPsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getContainingTPs operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if OS cannot support this service
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a CTP object
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a CTP object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGTP">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGTP operation</p>
        <p>This operation returns the GTP structure for the given GTP name(see Bundled SNC overview for further information on GTP usage).</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGTPResponse" type="tns:SingleGtpObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGTP operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getGTPException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGTP operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if EMS does not support this operation
EXCPT_INTERNAL_ERROR - Raised in case of non-specific EMS internal failure
EXCPT_INVALID_INPUT - Raised when gtpName does not reference a GTP object
EXCPT_ENTITY_NOT_FOUND - Raised when gtpName references a GTP object that does not exist
EXCPT_NE_COMM_LOSS - Raised when communications to managedElement is lost      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTP">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTP operation</p>
        <p>This operation returns the termination point structure for the given TP name (CTP, FTP or PTP). The termination point name must be explicit (a generic endpoint specification may not be used in this case). See Object Naming for further detail on FTP naming. The termination point structure contains transmission parameters. The transmission parameters returned will be the parameters in place on the actual termination point on the NE. If there are no transmission parameters or the TP does not actually exist on the NE, then transmissionParams will be empty. The field transmissionParams will also be empty for "potential" ATM VP/VC CTPs.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPResponse" type="tns:SingleTpObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTP operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTP operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a termination point object
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a TP object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePointNames operation</p>
        <p>.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePointNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePoints">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllEdgePoints operation</p>
        <p>This allows an NMS to request a list of the edge termination points (PTPs/FTPs) for the specified subnetwork, at one or more of the NMS- specified layers, and that are capable of containing CTPs that can be connected at one or more of the NMS-specified connection layer rates. This operation considers the capability/flexibility of the TPs, not their current states.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllEdgePoints operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllEdgePointsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllEdgePoints operation</p>
        @TODO: To be Completed
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when subnetName does not reference a multiLayerSubnetwork object,or tpLayerRateList or connectionLayerRateList contain undefined values
EXCPT_ENTITY_NOT_FOUND - Raised when subnetName references an object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTPPoolNames">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTPPoolNames operation</p>
        <p>This operation has exactly the same behaviour as getAllTPPools but instead of returning the entire object structures, this operation returns their names.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTPPoolNamesResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTPPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTPPoolNamesException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTPPoolNames operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTPPools">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAllTPPools operation</p>
        <p>.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTPPoolsResponse" type="tns:MultipleTpPoolObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAllTPPools operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAllTPPoolsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAllTPPools operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if the OS does not support this service
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when subnetworkName does not reference a multiLayerSubnetwork object
EXCPT_ENTITY_NOT_FOUND - Raised when subnetworkName references an object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTP">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getAssociatedTP operation</p>
        <p>This service returns a list of PSR (UPSR or SNCP) associated termination points for the TP whose name is passed as a parameter. Note: The termination point name must be explicit (a generic endpoint specification may not be used in this case). See Object Naming for further detail on FTP naming.</p>
        <p>When this service is invoked with a TP that is not an edge point, the returned TPs will be on the same Managed Element.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTPResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getAssociatedTP operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getAssociatedTPException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getAssociatedTP operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if OS cannot support this service
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a CTP, FTP or PTP.
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a CTP, FTP or PTP object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPGroupingRelationships">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTPGroupingRelationships operation</p>
        <p>This method allows the NMS to query the associations between TPPool and TP.If a TPPool name is supplied, the method will return the names of all the TPs that have been grouped to the supplied TPPool.</p>
        <p>If a TP name is supplied, the method will return the names of any associated TPPools. An empty list is returned if no associated TP pools exist for the input TP, or if no TPs have been grouped to the input TP pool.</p>
        <p>Note 1. Any termination point name must be explicit (a generic endpoint specification must not be used in this case). See Object Naming for further detail on FTP naming and for details on general TP and TP pool naming.</p>
        <p>Note 2. A TP can be a member of at most one TPPool. A TP is associated to a TPPool (TP -- TPPool) by admission as a member (TP is a member of TPPool).</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPGroupingRelationshipsResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTPGroupingRelationships operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPGroupingRelationshipsException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTPGroupingRelationships operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised if OS cannot support this service
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tpName does not reference a TP or TPPool object
EXCPT_ENTITY_NOT_FOUND - Raised when tpName references a TP to TP pool object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPPool">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTPPool operation</p>
        <p>This operation returns the TPPool structure for the given TPPool name, and the additional attributes numberOfMembers, numberOfIdleMembers, and descriptionOfUse. The attribute containedMembers, i.e. the list of names of contained TPs, can be retrieved by means of the operation getTPGroupingRelationships() with input tpPoolName.</p>
        @TODO: To be Completed
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPPoolResponse" type="tns:SingleTpPoolObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTPPool operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="getTPPoolException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTPPool operation</p>
        @TODO: To be Completed
EXCPT_NOT_IMPLEMENTED - Raised when OS does not support TP pools at all or does not support retrieval of TP pools by the NMS.
EXCPT_INTERNAL_ERROR - Raised in case of non-specific OS internal failure
EXCPT_INVALID_INPUT - Raised when tPPoolName does not reference a TPPool
EXCPT_ENTITY_NOT_FOUND - Raised when tPPoolName references a TPPool object that does not exist
EXCPT_COMM_FAILURE - Raised when communication to an entity (needed to help fulfill the request) is lost
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    </xsd:complexType>
  </xsd:element>
  <!-- ================= -->
  <!-- Definitions of Iterator messages for Object and Object Name retrievals  -->
  <!-- ================= -->
  <xsd:element name="getTpIterator" type="mtop.basic:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpIterator operation</p>
        <p>This is the iterator request to return the next batch of TPs from the OS to which an TP retrieval request was initially sent.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpIteratorResponse" type="tns:MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpIteratorException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getGtpIterator" type="mtop.basic:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getGtpIterator operation</p>
        <p>This is the iterator request to return the next batch of GTPs from the OS to which an GTP retrieval request was initially sent.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getGtpIteratorResponse" type="tns:MultipleGtpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getGtpIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getGtpIteratorException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getGtpIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpPoolIterator" type="mtop.basic:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpPoolIterator operation</p>
        <p>This is the iterator request to return the next batch of TpPool from the OS to which an TpPool retrieval request was initially sent.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpPoolIteratorResponse" type="tns:MultipleTpPoolObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpPoolIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpPoolIteratorException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpPoolIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================= -->
  <xsd:element name="getTpNamesIterator" type="mtop.basic:GetAllDataIterator_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the getTpNamesIterator operation</p>
        <p>This is the iterator request to return the next batch of TP names from the OS to which an TP retrieval request was initially sent.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpNamesIteratorResponse" type="mtop.basic:GetAllObjectNamesResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the getTpNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================== -->
  <xsd:element name="getTpNamesIteratorException" type="mtop.basic:GetAllDataIteratorException_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the getTpNamesIterator operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================= -->
  <!-- Type Definitions of various Object responses  -->
  <!-- ================= -->
  <xsd:complexType name="SingleTpObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a single TP object</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mtop.basic:CommonMessage_T">
        <xsd:sequence>
          <xsd:element name="tp" type="mtop.fulfillment:TerminationPoint_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The retrieved TP</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleTpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of TP objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mtop.basic:CommonMessage_T">
        <xsd:sequence>
          <xsd:element name="tpList" type="mtop.fulfillment:TerminationPointList_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The list of TPs</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SingleGtpObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a single GTP object</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mtop.basic:CommonMessage_T">
        <xsd:sequence>
          <xsd:element name="gtp" type="mtop.fulfillment:GroupTerminationPoint_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The retrieved GTP</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleGtpObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of GTP objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mtop.basic:CommonMessage_T">
        <xsd:sequence>
          <xsd:element name="gtpList" type="mtop.fulfillment:GroupTerminationPointList_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The list of GTPs</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="SingleTpPoolObjectResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a single TpPool object</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mtop.basic:CommonMessage_T">
        <xsd:sequence>
          <xsd:element name="tpPool" type="mtop.fulfillment:TPPool_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The retrieved TpPool</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================== -->
  <xsd:complexType name="MultipleTpPoolObjectsResponse_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure for a set of TpPool objects</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mtop.basic:CommonMessage_T">
        <xsd:sequence>
          <xsd:element name="tpPoolList" type="mtop.fulfillment:TPPoolList_T" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The list of TpPool</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================ -->
</xsd:schema>
