mtosi_2.0/2.0ME1/DDPs/ServiceActivation/IIS/wsdl/ServiceActivationInterface/ServiceActivationInterfacePortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ServiceActivation - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ServiceActivationInterfaceV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0" targetNamespace="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0">
  <wsdl:documentation>
    <p>DDP: ServiceActivation</p>
    <p>Module: ServiceActivationInterface Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP ServiceActivationInterface Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/sa/wsdl/sai/v1-0" location="ServiceActivationInterfaceMessages.wsdl"/>
  <wsdl:portType name="ServiceActivationInterface">
    <wsdl:documentation>
      <p>The ServiceActivationInterface porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="activate">
      <wsdl:input message="tns:activateRequest"/>
      <wsdl:output message="tns:activateResponse"/>
      <wsdl:fault name="activateException" message="tns:activateException"/>
    </wsdl:operation>
    <wsdl:operation name="amend">
      <wsdl:input message="tns:amendRequest"/>
      <wsdl:output message="tns:amendResponse"/>
      <wsdl:fault name="amendException" message="tns:amendException"/>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input message="tns:cancelRequest"/>
      <wsdl:output message="tns:cancelResponse"/>
      <wsdl:fault name="cancelException" message="tns:cancelException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivate">
      <wsdl:input message="tns:deactivateRequest"/>
      <wsdl:output message="tns:deactivateResponse"/>
      <wsdl:fault name="deactivateException" message="tns:deactivateException"/>
    </wsdl:operation>
    <wsdl:operation name="design">
      <wsdl:input message="tns:designRequest"/>
      <wsdl:output message="tns:designResponse"/>
      <wsdl:fault name="designException" message="tns:designException"/>
    </wsdl:operation>
    <wsdl:operation name="feasibilityCheck">
      <wsdl:input message="tns:feasibilityCheckRequest"/>
      <wsdl:output message="tns:feasibilityCheckResponse"/>
      <wsdl:fault name="feasibilityCheckException" message="tns:feasibilityCheckException"/>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <wsdl:input message="tns:modifyRequest"/>
      <wsdl:output message="tns:modifyResponse"/>
      <wsdl:fault name="modifyException" message="tns:modifyException"/>
    </wsdl:operation>
    <wsdl:operation name="provision">
      <wsdl:input message="tns:provisionRequest"/>
      <wsdl:output message="tns:provisionResponse"/>
      <wsdl:fault name="provisionException" message="tns:provisionException"/>
    </wsdl:operation>
    <wsdl:operation name="reserve">
      <wsdl:input message="tns:reserveRequest"/>
      <wsdl:output message="tns:reserveResponse"/>
      <wsdl:fault name="reserveException" message="tns:reserveException"/>
    </wsdl:operation>
    <wsdl:operation name="retire">
      <wsdl:input message="tns:retireRequest"/>
      <wsdl:output message="tns:retireResponse"/>
      <wsdl:fault name="retireException" message="tns:retireException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveServiceStates">
      <wsdl:input message="tns:retrieveServiceStatesRequest"/>
      <wsdl:output message="tns:retrieveServiceStatesResponse"/>
      <wsdl:fault name="retrieveServiceStatesException" message="tns:retrieveServiceStatesException"/>
    </wsdl:operation>
    <wsdl:operation name="terminate">
      <wsdl:input message="tns:terminateRequest"/>
      <wsdl:output message="tns:terminateResponse"/>
      <wsdl:fault name="terminateException" message="tns:terminateException"/>
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="tns:testRequest"/>
      <wsdl:output message="tns:testResponse"/>
      <wsdl:fault name="testException" message="tns:testException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
