Product/trunk/DDPs/ResourceProvisioning/IIS/xsd/ConnectionControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/conc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/conc/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ResourceProvisioning</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP ConnectionControl SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <!-- ================ -->
  <xsd:element name="activateSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the activateSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="activateSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the activateSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="activateSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the activateSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="addRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the addRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="addRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the addRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="addRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the addRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="checkValidSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the checkValidSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="checkValidSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the checkValidSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="checkValidSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the checkValidSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createAndActivateSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createAndActivateSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createAndActivateSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createAndActivateSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createAndActivateSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createAndActivateSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createModifiedSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createModifiedSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createModifiedSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createModifiedSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createModifiedSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createModifiedSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deactivateAndDeleteSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deactivateAndDeleteSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deactivateAndDeleteSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deactivateAndDeleteSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deactivateAndDeleteSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deactivateAndDeleteSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deactivateSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deactivateSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deactivateSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deactivateSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deactivateSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deactivateSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deleteSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deleteSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifySncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifySnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifySncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifySnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifySncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifySnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="removeRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the removeRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="removeRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the removeRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="removeRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the removeRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setIntendedRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setIntendedRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="setIntendedRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setIntendedRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="setIntendedRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setIntendedRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="setRoutesAdminStateRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the setRoutesAdminState operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="setRoutesAdminStateResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the setRoutesAdminState operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="setRoutesAdminStateException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the setRoutesAdminState operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="swapSncRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the swapSnc operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="swapSncResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the swapSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="swapSncException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the swapSnc operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="switchRouteRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the switchRoute operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="switchRouteResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the switchRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="switchRouteException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the switchRoute operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
