Product/trunk/DDPs/ResourceProvisioning/IIS/xsd/EventBackupStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Framework - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/bs/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/bs/v1" xmlns:cei="http://www.tmforum.org/mtop/fmw/xsd/cei/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:sdc="http://www.tmforum.org/mtop/rp/xsd/sdc/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Framework</p>
      <p>Module: Aggregate XSD Module</p>
      <p>Description: This module contains the XML Schema definitions of the BackupStatus event.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/CommonEventInformation.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/cei/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="SoftwareAndDataControlMessages.xsd" namespace="http://www.tmforum.org/mtop/rp/xsd/sdc/v1"/>
  <!-- ================ -->
  <xsd:element name="backupStatus" type="tns:BackupStatusType" substitutionGroup="cei:commonEventInformation">
    <xsd:annotation>
      <xsd:documentation>
        <p>The element definition of the BackupStatus event which is used as notification generated by a target OS (EMS) having received from the client OS (NMS) the backupMe SRR operation, which is implemented in the SoftwareAndDataControl service interface.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:complexType name="BackupStatusType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The type definition of the BackupStatus event.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cei:CommonEventInformationType">
        <xsd:sequence>
          <xsd:element name="status" type="sdc:BackupStatusType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p/>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="meName" type="nam:NamingAttributeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p/>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================ -->
</xsd:schema>
