Product/trunk/DDPs/ResourceProvisioning/IIS/xsd/FlowDomainControlMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/xsd/fdc/v1" xmlns:msg="http://www.tmforum.org/mtop/fmw/xsd/msg/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: ResourceProvisioning</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP FlowDomainControl SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/MessageDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/msg/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <!-- ================ -->
  <xsd:element name="addFpsToFdfrRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the addFpsToFdfr operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="addFpsToFdfrResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the addFpsToFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="addFpsToFdfrException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the addFpsToFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="assignCptpsToMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the assignCptpsToMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="assignCptpsToMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the assignCptpsToMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="assignCptpsToMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the assignCptpsToMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="associateCptpsWithFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the associateCptpsWithFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="associateCptpsWithFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the associateCptpsWithFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="associateCptpsWithFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the associateCptpsWithFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="associateMfdsWithFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the associateMfdsWithFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="associateMfdsWithFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the associateMfdsWithFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="associateMfdsWithFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the associateMfdsWithFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createAndActivateFdfrRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createAndActivateFdfr operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createAndActivateFdfrResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createAndActivateFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createAndActivateFdfrException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createAndActivateFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="createMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the createMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the createMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="createMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the createMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deactivateAndDeleteFdfrRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deactivateAndDeleteFdfr operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deactivateAndDeleteFdfrResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deactivateAndDeleteFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deactivateAndDeleteFdfrException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deactivateAndDeleteFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deAssociateCptpsFromFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deAssociateCptpsFromFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deAssociateCptpsFromFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deAssociateCptpsFromFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deAssociateCptpsFromFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deAssociateCptpsFromFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deAssociateMfdsFromFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deAssociateMfdsFromFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deAssociateMfdsFromFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deAssociateMfdsFromFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deAssociateMfdsFromFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deAssociateMfdsFromFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deleteFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deleteFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="deleteMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the deleteMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deleteMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the deleteMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="deleteMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the deleteMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyFdfrRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyFdfr operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifyFdfrResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifyFdfrException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyFlowDomainRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyFlowDomain operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifyFlowDomainResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifyFlowDomainException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyFlowDomain operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="modifyMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the modifyMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifyMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the modifyMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="modifyMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the modifyMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="removeFpsFromFdfrRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the removeFpsFromFdfr operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="removeFpsFromFdfrResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the removeFpsFromFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="removeFpsFromFdfrException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the removeFpsFromFdfr operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="unassignCptpsFromMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the unassignCptpsFromMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="unassignCptpsFromMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the unassignCptpsFromMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="unassignCptpsFromMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the unassignCptpsFromMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================ -->
  <xsd:element name="validateTmdAssignmentToMfdRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>Request message structure of the validateTmdAssignmentToMfd operation</p>
        <p>This operation .</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="validateTmdAssignmentToMfdResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>Response message structure of the validateTmdAssignmentToMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="validateTmdAssignmentToMfdException">
    <xsd:annotation>
      <xsd:documentation>
        <p>Exception message structure of the validateTmdAssignmentToMfd operation</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
