mtosi_2.0/2.0FullME/DDPs/ManageServiceInventory/IIS/wsdl/ServiceInventoryRetrieval/ServiceInventoryRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageServiceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ServiceInventoryRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:sir="http://www.tmforum.org/mtop/msi/xsd/sir/v1" xmlns:tns="http://www.tmforum.org/mtop/msi/wsdl/sir/v1-0" targetNamespace="http://www.tmforum.org/mtop/msi/wsdl/sir/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageServiceInventory</p>
    <p>Module: ServiceInventoryRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ServiceInventoryRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/msi/xsd/sir/v1" schemaLocation="../../xsd/ServiceInventoryRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getServiceInventoryRequest">
    <wsdl:documentation>
      <p>The getServiceInventory request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sir:getServiceInventoryRequest"/>
  </wsdl:message>
  <wsdl:message name="getServiceInventoryResponse">
    <wsdl:documentation>
      <p>The getServiceInventory response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sir:getServiceInventoryResponse"/>
  </wsdl:message>
  <wsdl:message name="getServiceInventoryException">
    <wsdl:documentation>
      <p>The getServiceInventory exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sir:getServiceInventoryException"/>
  </wsdl:message>
  <wsdl:message name="getServiceInventoryIteratorRequest">
    <wsdl:documentation>
      <p>The getServiceInventoryIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sir:getServiceInventoryIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getServiceInventoryIteratorResponse">
    <wsdl:documentation>
      <p>The getServiceInventoryIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="sir:getServiceInventoryIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getServiceInventoryIteratorException">
    <wsdl:documentation>
      <p>The getServiceInventoryIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="sir:getServiceInventoryIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
