mtosi_4.0/main/DDPs/TestManagement/IIS/wsdl/TestSpecControl/TestSpecControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM TestManagement - Copyright TeleManagement Forum 2014 -->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:ts="http://www.tmforum.org/mtop/tm/xsd/ts/v1" xmlns:tns="http://www.tmforum.org/mtop/tm/wsdl/tsc/v1-0" name="mTOP-TestSpecControl-V1-0" targetNamespace="http://www.tmforum.org/mtop/tm/wsdl/tsc/v1-0">
	<wsdl:documentation>
		<p>DDP: TestManagement</p>
		<p>Module: TestSpecControl Service Interface WSDL Message Module</p>
		<p>Description: This module contains all the mTOP TestSpecControl Service Interface WSDL message definitions.</p>
		<p>Version: 1.0</p>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.tmforum.org/mtop/tm/xsd/ts/v1" schemaLocation="../../xsd/TestSpecControlMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createTestSpecRequest">
		<wsdl:documentation>
			<p>The createTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:createTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="createTestSpecResponse">
		<wsdl:documentation>
			<p>The createTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:createTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="createTestSpecException">
		<wsdl:documentation>
			<p>The createTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="ts:createTestSpecException"/>
	</wsdl:message>
	<wsdl:message name="modifyTestSpecRequest">
		<wsdl:documentation>
			<p>The modifyTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:modifyTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="modifyTestSpecResponse">
		<wsdl:documentation>
			<p>The modifyTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:modifyTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="modifyTestSpecException">
		<wsdl:documentation>
			<p>The modifyTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="ts:modifyTestSpecException"/>
	</wsdl:message>
	<wsdl:message name="getTestSpecRequest">
		<wsdl:documentation>
			<p>The getTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:getTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="getTestSpecResponse">
		<wsdl:documentation>
			<p>The getTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:getTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="getTestSpecException">
		<wsdl:documentation>
			<p>The getTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="ts:getTestSpecException"/>
	</wsdl:message>
	<wsdl:message name="deleteTestSpecRequest">
		<wsdl:documentation>
			<p>The deleteTestSpec request message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:deleteTestSpecRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteTestSpecResponse">
		<wsdl:documentation>
			<p>The deleteTestSpec response message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopHeader" element="hdr:header"/>
		<wsdl:part name="mtopBody" element="ts:deleteTestSpecResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteTestSpecException">
		<wsdl:documentation>
			<p>The deleteTestSpec exception message.</p>
		</wsdl:documentation>
		<wsdl:part name="mtopBody" element="ts:deleteTestSpecException"/>
	</wsdl:message>
	<!-- startTest messages -->
	<!-- modifyTestSpec messages -->
	<!-- getTestSpec messages -->
	<!-- stopTest messages -->
	<!-- getTestResults messages -->
	<!-- deleteTestSpec messages -->
</wsdl:definitions>
