Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/OsRetrieval/OsRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-OsRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0" xmlns:osr="http://www.tmforum.org/mtop/mri/xsd/osr/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: OsRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP OsRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/osr/v1" schemaLocation="../../xsd/OsRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllOperationsSystemNamesRequest">
    <wsdl:documentation>
      <p>The getAllOperationsSystemNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemNamesResponse">
    <wsdl:documentation>
      <p>The getAllOperationsSystemNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemNamesException">
    <wsdl:documentation>
      <p>The getAllOperationsSystemNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsRequest">
    <wsdl:documentation>
      <p>The getAllOperationsSystems request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsResponse">
    <wsdl:documentation>
      <p>The getAllOperationsSystems response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllOperationsSystemsException">
    <wsdl:documentation>
      <p>The getAllOperationsSystems exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getAllOperationsSystemsException"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemRequest">
    <wsdl:documentation>
      <p>The getOperationsSystem request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemRequest"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemResponse">
    <wsdl:documentation>
      <p>The getOperationsSystem response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemResponse"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemException">
    <wsdl:documentation>
      <p>The getOperationsSystem exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemException"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOperationsSystemRequest">
    <wsdl:documentation>
      <p>The getSubordinateOperationsSystem request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getSubordinateOperationsSystemRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOperationsSystemResponse">
    <wsdl:documentation>
      <p>The getSubordinateOperationsSystem response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getSubordinateOperationsSystemResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubordinateOperationsSystemException">
    <wsdl:documentation>
      <p>The getSubordinateOperationsSystem exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getSubordinateOperationsSystemException"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getOperationsSystemNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getOperationsSystemNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemNamesIteratorException">
    <wsdl:documentation>
      <p>The getOperationsSystemNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemsIteratorRequest">
    <wsdl:documentation>
      <p>The getOperationsSystemsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemsIteratorResponse">
    <wsdl:documentation>
      <p>The getOperationsSystemsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getOperationsSystemsIteratorException">
    <wsdl:documentation>
      <p>The getOperationsSystemsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="osr:getOperationsSystemsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
