Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/OsRetrieval/OsRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-OsRetrievalHttpV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: OsRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains the mTOP OsRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/osr/v1-0" location="OsRetrievalMessages.wsdl"/>
  <wsdl:portType name="OsRetrieval_RPC">
    <wsdl:documentation>
      <p>The OsRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllOperationsSystemNames">
      <wsdl:documentation>
        <p>SIT operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllOperationsSystemNamesRequest"/>
      <wsdl:output message="tns:getAllOperationsSystemNamesResponse"/>
      <wsdl:fault name="getAllOperationsSystemNamesException" message="tns:getAllOperationsSystemNamesException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystems">
      <wsdl:documentation>
        <p>SIT operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getAllOperationsSystemsRequest"/>
      <wsdl:output message="tns:getAllOperationsSystemsResponse"/>
      <wsdl:fault name="getAllOperationsSystemsException" message="tns:getAllOperationsSystemsException"/>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystem">
      <wsdl:documentation>
        <p>SRR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getOperationsSystemRequest"/>
      <wsdl:output message="tns:getOperationsSystemResponse"/>
      <wsdl:fault name="getOperationsSystemException" message="tns:getOperationsSystemException"/>
    </wsdl:operation>
    <wsdl:operation name="getSubordinateOperationsSystem">
      <wsdl:documentation>
        <p>SRR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getSubordinateOperationsSystemRequest"/>
      <wsdl:output message="tns:getSubordinateOperationsSystemResponse"/>
      <wsdl:fault name="getSubordinateOperationsSystemException" message="tns:getSubordinateOperationsSystemException"/>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystemNamesIterator">
      <wsdl:documentation>
        <p>SRR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getOperationsSystemNamesIteratorRequest"/>
      <wsdl:output message="tns:getOperationsSystemNamesIteratorResponse"/>
      <wsdl:fault name="getOperationsSystemNamesIteratorException" message="tns:getOperationsSystemNamesIteratorException"/>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystemsIterator">
      <wsdl:documentation>
        <p>SRR operation.</p>
      </wsdl:documentation>
      <wsdl:input message="tns:getOperationsSystemsIteratorRequest"/>
      <wsdl:output message="tns:getOperationsSystemsIteratorResponse"/>
      <wsdl:fault name="getOperationsSystemsIteratorException" message="tns:getOperationsSystemsIteratorException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OsRetrievalSoapHttpBinding" type="tns:OsRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the OsRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllOperationsSystemNames">
      <soap:operation soapAction="getAllOperationsSystemNames" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllOperationsSystemNamesRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllOperationsSystemNamesResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemNamesException">
        <soap:fault name="getAllOperationsSystemNamesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllOperationsSystems">
      <soap:operation soapAction="getAllOperationsSystems" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllOperationsSystemsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllOperationsSystemsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllOperationsSystemsException">
        <soap:fault name="getAllOperationsSystemsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystem">
      <soap:operation soapAction="getOperationsSystem" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getOperationsSystemRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getOperationsSystemResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getOperationsSystemException">
        <soap:fault name="getOperationsSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubordinateOperationsSystem">
      <soap:operation soapAction="getSubordinateOperationsSystem" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getSubordinateOperationsSystemRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getSubordinateOperationsSystemResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getSubordinateOperationsSystemException">
        <soap:fault name="getSubordinateOperationsSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystemNamesIterator">
      <soap:operation soapAction="getOperationsSystemNamesIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getOperationsSystemNamesIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getOperationsSystemNamesIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getOperationsSystemNamesIteratorException">
        <soap:fault name="getOperationsSystemNamesIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationsSystemsIterator">
      <soap:operation soapAction="getOperationsSystemsIterator" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getOperationsSystemsIteratorRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getOperationsSystemsIteratorResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getOperationsSystemsIteratorException">
        <soap:fault name="getOperationsSystemsIteratorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OsRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the OsRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="OsRetrievalSoapHttp" binding="tns:OsRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/OsRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
