Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/OsRetrieval/OsRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-EquipmentInventoryRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0" xmlns:eir="http://www.tmforum.org/mtop/mri/xsd/eir/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/eir/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: EquipmentInventoryRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP EquipmentInventoryRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/eir/v1" schemaLocation="../../xsd/EquipmentInventoryRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllEquipmentRequest">
    <wsdl:documentation>
      <p>The getAllEquipment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentResponse">
    <wsdl:documentation>
      <p>The getAllEquipment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllEquipmentException">
    <wsdl:documentation>
      <p>The getAllEquipment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:getAllEquipmentException"/>
  </wsdl:message>
  <wsdl:message name="Request">
    <wsdl:documentation>
      <p>The  request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:Request"/>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:documentation>
      <p>The  response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="eir:Response"/>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:documentation>
      <p>The  exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="eir:Exception"/>
  </wsdl:message>
</wsdl:definitions>
