Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TransmissionDescriptorRetrieval/TransmissionDescriptorRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TransmissionDescriptorRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tmdr="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tmdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tmdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: TransmissionDescriptorRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP TransmissionDescriptorRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" schemaLocation="../../xsd/TransmissionDescriptorRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTransmissionDescriptorsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
