Product/trunk/DDPs/NetworkResourceFulfillment/IIS/xsd/Ftp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Network Resource Fulfillment - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1" xmlns:tns="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1" xmlns:gen="http://www.tmforum.org/mtop/fmw/xsd/gen/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:lp="http://www.tmforum.org/mtop/nrb/xsd/lp/v1" xmlns:cri="http://www.tmforum.org/mtop/nrb/xsd/cri/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/xsd/com/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Data Model Network Resource FulFillment</p>
      <p>Module: Aggregate XSD Module</p>
      <p>Description: This module contains the XML Schema type definition of the mTOP FTP XML structure.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ============== -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/gen/v1"/>
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/CommonResourceInfo.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/cri/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/LayeredParameters.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/lp/v1"/>
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/com/v1"/>
  <!-- ================= -->
  <xsd:element name="ftp" type="tns:FloatingTerminationPoint_T"/>
  <!-- ================= -->
  <xsd:complexType name="FloatingTerminationPoint_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>This aggregate defines the FloatingTerminationPoint mTOP network resource object.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cri:CommonResourceInfo_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="direction" type="com:Directionality_T" nillable="true" minOccurs="0">
          </xsd:element>
          <xsd:element name="tpProtectionAssociation" type="com:TPProtectionAssociation_T" nillable="true" minOccurs="0">
          </xsd:element>
          <xsd:element name="edgePoint" type="xsd:boolean" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Indicates if the TP is an edge point of at least one subnetwork, i.e. if it is an end point of a potential inter-subnetwork topological link.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="equipmentProtected" type="xsd:boolean" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The attribute indicates whether or not the TP is supported by a protected equipment. </p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="egressTMDState" type="com:TMDState_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Contains the state of consistency between a TP and its associated egress TransmissionDescriptor.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ingressTMDState" type="com:TMDState_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Contains the state of consistency between a TP and its associated eingress TransmissionDescriptor.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="connectionState" type="com:TPConnectionState_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute is only applicable to CTPs and FTPs. If the source is connected to one entity and the sink is connected to another entity then the value of this attribute is TPCS_BI_CONNECTED.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tpMappingMode" type="com:TerminationMode_T" nillable="true" minOccurs="0">
          </xsd:element>
          <xsd:element name="ingressTransmissionDescriptorName" type="nam:NamingAttributes_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A connection Floating Termination Point may have an optional reference to an ingress (incoming) Transmission Descriptor. The Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Ingress Descriptor name is that of a Transmission Descriptor then the Egress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="egressTransmissionDescriptorName" type="nam:NamingAttributes_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A connection Floating Termination Point may have an optional reference to an egress (outgoing) Transmission Descriptor. The Transmission Descriptor name will be empty if there is no associated Descriptor. It is expected that Transmission Descriptors are not mixed on a single TP. Therefore if the Egress Descriptor name is that of a Transmission Descriptor then the Ingress Descriptor name should either be that of a Transmission Descriptor or a null value.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="transmissionParams" type="lp:LayeredParametersList_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>A list of transmission parameters which can be set and/or retrieved on the TP at a specified layer. This attribute must contain the complete set of layer rates represented by a FTP - even if they have no parameters associated with them. The layerRates are listed in the order of their client-server relationship (see layering for more details).</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FloatingTerminationPointList_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>A list of FloatinglTerminationPoints.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="tns:ftp" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ========= FTPCreateData_T Declaration ======== -->
  <xsd:complexType name="FTPCreateData_T">
    <xsd:annotation>
      <xsd:documentation>
        The read/write attributes required for the creation of a
        floating termination point on the EMS are packed together in an 
        FTPCreateData structure which the NMS will pass to the EMS at 
        FTP creation time.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cri:CommonResourceInfo_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="equipmentName" type="nam:NamingAttributes_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				The identifier of the equipment hosting the new FTP in the NE
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="userLabel" type="gen:UserLabel_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				An userLabel may be specified by the NMS. May be empty.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="forceUniqueness" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				Specifies whether uniqueness of the userLabel is required amongst FTPs
				of the EMS. In case of uniqueness, the operation will fail if the
				userLabel is already in use.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="owner" type="gen:Owner_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				An owner may be specified by the NMS. May be empty.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ingressTrafficDescriptorName" type="nam:NamingAttributes_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				A connection termination point may have an optional reference to an 
				ingress (incoming)Traffic Descriptor or Transmission Descriptor.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="egressTrafficDescriptorName" type="nam:NamingAttributes_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				A connection termination point may have an optional reference to an 
				egress (outgoing)Traffic Descriptor or Transmission Descriptor.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="connectionState" type="com:TPConnectionState_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				This attribute is only applicable to CTPs and FTPs.
				If the source is connected to one entity and the sink is
				connected to another entity then the value of this attribute
				is TPCS_BI_CONNECTED.
				This is a readonly attribute.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tpMappingMode" type="com:TerminationMode_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				Within the fa?ade definition, the CTP/FTP can act as an 
				aggregate of associated G.805 TCPs, G.805 Termination Functions and G.805 
				CPs at one or more LayerRates. The CTP is contained within a PTP or FTP. 

				The TerminationMode attribute indicates and controls the connection of
				the named CP at a specified LayerRate to the dedicated G.805 TCP and 
				associated G.805 Termination Function at the same LayerRate within the 
				CTP/FTP.

				The TerminationMode is used, for example, to control the Termination and
				mapping to VT1.5 of an STS1 Trail within an OC3 port. This capability
				could potentially be used to terminate an STS1 backbone Trail within 
				a lower order mux that has the capability to alternatively 
				cross-connect the STS1 unterminated. The same capability is used in SDH
				and is potentially applicable to any LayerRate.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="directionality" type="com:Directionality_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				The direction of the termination point.
				It is a readonly attribute.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="transmissionParams" type="lp:LayeredParametersList_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				A list of layer rates on which connectivity can be established in the
				flow domain together with a set of connectionless technology parameters for 
				each layer rate. Refer to chapter "Connectionless Technology Parameters" of the
				supporting document LayeredParameters.pdf for details of the currently defined
				connectionless parameters.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tpProtectionAssociation" type="com:TPProtectionAssociation_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				The associated TP indication. The NMS is responsible to invoke
				the multiLayerSubnetwork::MultiLayerSubnetworkMgr_I::getAssociatedTP()
				service to obtain the related TP if any.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="edgePoint" type="xsd:boolean" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
				Indicates if the TP is an edge point of at least one subnetwork,
				i.e. if it is an end
				point of a potential inter-subnetwork topological link.
			  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
