Product/trunk/DDPs/NetworkResourceFulfillment/IIS/xsd/Mlsn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - Network Resource Fulfillment - Copyright TeleManagement Forum 2006 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/nrf/mlsn/v1" xmlns:tns="http://www.tmforum.org/mtop/nrf/mlsn/v1" xmlns:nrb.gen="http://www.tmforum.org/mtop/nrb/general/v1" xmlns:nrb.lay="http://www.tmforum.org/mtop/nrb/layers/v1" xmlns:nrb.cri="http://www.tmforum.org/mtop/nrb/cri/v1" xmlns:com="http://www.tmforum.org/mtop/nrf/common/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <!-- ============== -->
  <xsd:import schemaLocation="../../../../Framework/trunk/IIS/xsd/GeneralDefinitions.xsd" namespace="http://www.tmforum.org/mtop/nrb/general/v1"/>
  <xsd:import schemaLocation="../../../../NetworkResourceBasic/trunk/IIS/xsd/LayerRates.xsd" namespace="http://www.tmforum.org/mtop/nrb/layers/v1"/>
  <xsd:import schemaLocation="../../../../NetworkResourceBasic/trunk/IIS/xsd/CommonResourceInfo.xsd" namespace="http://www.tmforum.org/mtop/nrb/cri/v1"/>
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="http://www.tmforum.org/mtop/nrf/common/v1"/>
  <!-- ================= -->
  <xsd:complexType name="MultiLayerSubnetwork_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>This aggregate defines the Manage Domain mTOP network resource object.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nrb.cri:CommonResourceInfo_T">
        <xsd:annotation>
          <xsd:documentation>
            <p>This element entails the attributes common to all mTOP network resource objects.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="subnetworkType" type="com:Topology_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>The subnetworkType gives a coarse view of the topology of the subnetwork. It is a readonly attribute.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="supportedRates" type="nrb.lay:LayerRateList_T" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>This attribute is a list (possibly empty) of potential Cross Connection Rates at which it is possible to make SNCs within the subnetwork. It is a readonly attribute.</p>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="networkAccessDomain" type="nrb.gen:NetworkAccessDomain_T" nillable="true" minOccurs="0">
          </xsd:element>
          <xsd:element name="minorExtensions" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Containment for all minor version extensions</p>
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:any namespace="http://www.tmforum.org/mtop/nrf/mlsn/v1/ext" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="vendorExtensions" nillable="true" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                <p>Containment for all vendor extensions</p>
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MultiLayerSubnetworkList_T">
    <xsd:annotation>
      <xsd:documentation>
        <p>List of MultiLayerSubnetworks</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mlsn" type="tns:MultiLayerSubnetwork_T" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
