Product/trunk/DDPs/NetworkResourceFulfillment/IIS/xsd/ResourceInventoryLayoutNew.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/nrf/xsd/invdata/v1" xmlns:tns="http://www.tmforum.org/mtop/nrf/xsd/invdata/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:vro="http://www.tmforum.org/mtop/nrb/xsd/vro/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP InventoryRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/VendorResourceObject.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/vro/v1"/>
  <!-- ================ -->
  <xsd:complexType name="InventoryDataType">
    <xsd:sequence>
      <xsd:element name="mdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Management Domain inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mdInv" type="tns:MdInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An MD inventory with the OS relationship</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="topLevelTlList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of top level TL inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="topLevelTlInv" type="tns:TlInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TL inventory with the OS relationship</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tmdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of top level TMD inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tmdInv" type="tns:TmdInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TMD inventory with the OS relationship</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="osList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of OS inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osInv" type="tns:OsInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An OS inventory</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="voList" type="vro:VendorResourceObjectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Vendor Objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ==================== -->
  <xsd:complexType name="DataQualityIndicatorType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This is the in-line exception log found in the inventory report on object retrieval exception.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="suspect" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descendant" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to all the children of the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reason" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Free string to provide reason description on suspect data issue.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="OsInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Operations System as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/os/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the OS element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="subordinateOsNameList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the subordinate OS names.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osNm" type="xsd:string" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The name of a subordinate OS</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="supportedMdNameList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the supported Management Domain names.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mdNm" type="xsd:string" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The name of a supported MD.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on OS data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Management Domain as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/md/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the MD element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportingOsNameList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of OS names supporting this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osNm" type="xsd:string" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>The name of a supporting OS.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="meInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of ME inventories contained in this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="meInv" type="tns:MeInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A Managed Element inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mlsnInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of MLSN inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mlsnInv" type="tns:MlsnInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An MLSN inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TL inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tlInv" type="tns:TlInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A Topological Link inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MeInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Managed Element as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the ME element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="containingMlsnNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MLSN names that the Managed Element belongs to.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The equipment inventory contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An Equipment Holder inventory (note recursivity of EH)</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ptpInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ptpInv" type="tns:PtpInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A PTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ftpInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ftpInv" type="tns:FtpInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A FTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ccList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Cross Connects contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" processContents="lax" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Reference to the CC element.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:any>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pgpInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pgpInv" type="tns:PgpInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A PGP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="epgpInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of EPGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="epgpInv" type="tns:EpgpInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A EPGP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on ME data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EhInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Holder as returned in inventory report.
        Refer to the InventoryLayout and the EquipmentModel supporting documents.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/eh/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the EH element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="ehInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of contained equipments (EQ or EH).
            It is optional to terminate recursive definition.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventoryType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>Inventory of a contained Equipment Holder.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eqInv" type="tns:EqInventoryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The inventory of the Equipment contained directly in this Equipment Holder</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EH data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EqInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/eq/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the EQ element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportedPtpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The PTPs that are returned are those that share their physical layer with the primary equipment (i.e. that represent a port on the equipment or are connected by a fibre, wire, etc.). The FTPs that are returned are those which are implemented by the physical circuitry supported by the equipment and will include FTPs that are named from the specified equipment (the FTPs will depend upon the presence of that equipment for their most basic operation). When there is equipment protection, this list reports PTPs/FTPs for the primary equipment only. That is, when called on a protecting equipment (as opposed to the primary equipment), this list returns an empty list, irrespective of the current switch status.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedEqNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment names supported by a given piece of equipment, e.g., a power pack might support many circuit packs.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEqNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment that supports a given piece of equipment, e.g., the power pack and synchronization card that support a given piece of equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EQ data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Physical Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/ptp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the PTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventoryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A contained CTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Floating Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the FTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventoryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A contained CTP inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on FTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="CtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Connection Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/ctp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the CTP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on CTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TpPoolInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the TPPool as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the TPPool element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TPPool data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PgpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/pgp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the PGP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EpgpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/epgp/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the EPGP element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EPGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MlsnInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Multi Layer Subnetwork as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/mlsn/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the MLSN element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="sncInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of SubnetworkConnection inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sncInv" type="tns:SncInventoryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A SNC inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpPoolInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TPPool inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpPoolInv" type="tns:TpPoolInventoryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TPPool inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TL inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tlInv" type="tns:TlInventoryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>A TL inventory.</p>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associatedMeList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of ME names associated with the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="associatedMe" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  <p>An associated ME structure including the ME absolute name and edge PTPs/FTPs.</p>
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="name" type="nam:NamingAttributesType">
                    <xsd:annotation>
                      <xsd:documentation>
                        <p>An absolute ME name.</p>
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="edgePtpList" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>
                        <p>The list of edge PTP inventories associated with the MLSN. When this list is populated, the associated ME and the Topological Links are typically not provided.</p>
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="edgePtpList" type="nam:NamingAttributesListType" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation>
                              <p>The list of all edge PTP names.</p>
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="edgeFtpList" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>
                        <p>The list of edge FTP inventories associated with the MLSN. When this list is populated, the associated ME and the Topological Links are typically not provided.</p>
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="edgeFtpList" type="nam:NamingAttributesListType" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation>
                              <p>An edge FTP inventory.</p>
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MLSN data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="SncInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Subnetwork Connection as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the SNC element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/route/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the Route element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on SNC data retrieval .</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TlInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Topological Link as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the TL element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TL data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TmdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Transmission Descriptor as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1" processContents="lax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Reference to the TMD element.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TMD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
