Product/trunk/DDPs/NetworkResourceFulfillment/IIS/xsd/ResourceInventoryLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tmforum.org/mtop/nrf/xsd/invdata/v1" xmlns:tns="http://www.tmforum.org/mtop/nrf/xsd/invdata/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:vro="http://www.tmforum.org/mtop/nrb/xsd/vro/v1" xmlns:md="http://www.tmforum.org/mtop/nrf/xsd/md/v1" xmlns:me="http://www.tmforum.org/mtop/nrf/xsd/me/v1" xmlns:eq="http://www.tmforum.org/mtop/nrf/xsd/eq/v1" xmlns:eh="http://www.tmforum.org/mtop/nrf/xsd/eh/v1" xmlns:ptp="http://www.tmforum.org/mtop/nrf/xsd/ptp/v1" xmlns:ftp="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1" xmlns:ctp="http://www.tmforum.org/mtop/nrf/xsd/ctp/v1" xmlns:tppool="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1" xmlns:mlsn="http://www.tmforum.org/mtop/nrf/xsd/mlsn/v1" xmlns:snc="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" xmlns:cc="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" xmlns:os="http://www.tmforum.org/mtop/nrf/xsd/os/v1" xmlns:pgp="http://www.tmforum.org/mtop/nrf/xsd/pgp/v1" xmlns:epgp="http://www.tmforum.org/mtop/nrf/xsd/epgp/v1" xmlns:route="http://www.tmforum.org/mtop/nrf/xsd/route/v1" xmlns:fdfrroute="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1" xmlns:tl="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" xmlns:tmd="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1" xmlns:gtp="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1" xmlns:mfd="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1" xmlns:mfdfr="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1" xmlns:fd="http://www.tmforum.org/mtop/nrf/xsd/fd/v1" xmlns:fdfr="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>DDP: Manage Resource Inventory</p>
      <p>Module:  Message XSD Module</p>
      <p>Description: This module contains the XML Schema type definitions of all the mTOP InventoryRetrieval SI XML message structures.</p>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ================ -->
  <xsd:import schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd" namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1"/>
  <xsd:import schemaLocation="Cc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1"/>
  <xsd:import schemaLocation="Ctp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/ctp/v1"/>
  <xsd:import schemaLocation="Eh.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eh/v1"/>
  <xsd:import schemaLocation="Epgp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/epgp/v1"/>
  <xsd:import schemaLocation="Eq.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/eq/v1"/>
  <xsd:import schemaLocation="Ftp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/ftp/v1"/>
  <xsd:import schemaLocation="Gtp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1"/>
  <xsd:import schemaLocation="Md.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/md/v1"/>
  <xsd:import schemaLocation="Me.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1"/>
  <xsd:import schemaLocation="Mlsn.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mlsn/v1"/>
  <xsd:import schemaLocation="Os.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/os/v1"/>
  <xsd:import schemaLocation="Ptp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/ptp/v1"/>
  <xsd:import schemaLocation="Gtp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/gtp/v1"/>
  <xsd:import schemaLocation="Pgp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/pgp/v1"/>
  <xsd:import schemaLocation="Route.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/route/v1"/>
  <xsd:import schemaLocation="FdfrRoute.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1"/>
  <xsd:import schemaLocation="Snc.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1"/>
  <xsd:import schemaLocation="Tl.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tl/v1"/>
  <xsd:import schemaLocation="Tmd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tmd/v1"/>
  <xsd:import schemaLocation="Tp.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tp/v1"/>
  <xsd:import schemaLocation="Mfd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfd/v1"/>
  <xsd:import schemaLocation="Mfdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/mfdfr/v1"/>
  <xsd:import schemaLocation="fd.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fd/v1"/>
  <xsd:import schemaLocation="Fdfr.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1"/>
  <xsd:import schemaLocation="TpPool.xsd" namespace="http://www.tmforum.org/mtop/nrf/xsd/tppool/v1"/>
  <xsd:import schemaLocation="../../../NetworkResourceBasic/IIS/xsd/VendorResourceObject.xsd" namespace="http://www.tmforum.org/mtop/nrb/xsd/vro/v1"/>
  <!-- === InventoryData Definition === -->
  <xsd:complexType name="InventoryDataType">
    <xsd:sequence>
      <xsd:element name="mdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Management Domain inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="md" type="tns:MdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tmdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of top level TMD inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tmd" type="tns:TmdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="osList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of OS inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="os" type="tns:OsInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="voList" type="vro:VendorResourceObjectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Vendor Objects.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ==================== -->
  <xsd:complexType name="DataQualityIndicatorType">
    <xsd:annotation>
      <xsd:documentation>
        <p>This is the in-line exception log found in the inventory report on object retrieval exception.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="suspect" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descendant" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Flag to indicate suspect data is applicable to all the children of the associated network resource object.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reason" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Free string to provide reason description on suspect data issue.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="OsInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Operations System as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="osNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the OS.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="osAttrs" type="os:OperationsSystemType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the OS.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="subordinateOsNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the subordinate OS names.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedMdNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the supported Management Domain names.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="offersTmdNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of the TMD names associated with this OS.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on OS data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Management Domain as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mdNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mdAttrs" type="md:ManagementDomainType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingOsNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of OS names supporting this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="meList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of ME inventories contained in this MD.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="meInv" type="tns:MeInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mlsnList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of MLSN inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mlsnInv" type="tns:MlsnInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of FD inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fdInv" type="tns:FdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of TL inventories contained in this MD</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tlInv" type="tns:TlInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MeInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Managed Element as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the ME in the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="meAttrs" type="me:ManagedElementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="containingMlsnNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MLSN names that the Managed Element belongs to.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The equipment inventory contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ptpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ptpInv" type="tns:PtpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ftpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ftpInv" type="tns:FtpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ccList" type="cc:CrossConnectListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of Cross Connects contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pgpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pgpInv" type="tns:PgpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="epgpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of EPGP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="epgpInv" type="tns:EpgpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="gtpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of GTP inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gtpInv" type="tns:GtpInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mfdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MFD inventories contained in ME.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mfdInv" type="tns:MfdInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tlNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TL names associated with this ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on ME data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EhInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Holder as returned in inventory report.
        Refer to the InventoryLayout and the EquipmentModel supporting documents.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ehNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the Equipment Holder in the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehAttrs" type="eh:EquipmentHolderType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the Equipment Holder.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ehList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>List of contained equipments (EQ or EH).
            It is optional to terminate recursive definition.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ehInv" type="tns:EhInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eqInv" type="tns:EqInventoryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The inventory of the Equipment contained directly in this Equipment Holder</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EH data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EqInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="eqNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the EQ in the EH.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="eqAttrs" type="eq:EquipmentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the Equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedPptpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The PTPs that are returned are those that share their physical layer with the primary equipment (i.e. that represent a port on the equipment or are connected by a fibre, wire, etc.). The FTPs that are returned are those which are implemented by the physical circuitry supported by the equipment and will include FTPs that are named from the specified equipment (the FTPs will depend upon the presence of that equipment for their most basic operation). When there is equipment protection, this list reports PTPs/FTPs for the primary equipment only. That is, when called on a protecting equipment (as opposed to the primary equipment), this list returns an empty list, irrespective of the current switch status.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportedEqNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment names supported by a given piece of equipment, e.g., a power pack might support many circuit packs.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEqNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of equipment that supports a given piece of equipment, e.g., the power pack and synchronization card that support a given piece of equipment.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EQ data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Physical Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ptpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the PTP in the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ptpAttrs" type="ptp:PhysicalTerminationPointType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in PTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Floating Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ftpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the FTP in the ME.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpAttrs" type="ftp:FloatingTerminationPointType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="supportingEquipList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of absolute names of supporting equipment associated with the FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP inventories contained in FTP.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ctpInv" type="tns:CtpInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on FTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="CtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Connection Termination Point as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ctpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the CTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpAttrs" type="ctp:ConnectionTerminationPointType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the CTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on CTP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="GtpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the GTP as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gtpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the GTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gtpAttrs" type="gtp:GroupTerminationPointType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the GTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP (aboslute) names associated with GTP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on GTP data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MfdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the MFD as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mfdNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the MFD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mfdAttrs" type="mfd:MatrixFlowDomainType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the MFD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ptpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP (aboslute) names associated with MFD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP (aboslute) names associated with MFD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mfdfrInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of MFDFr inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mfdfrInv" type="tns:MfdfrInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MFD data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MfdfrInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the MFDFr as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mfdfrAttrs" type="mfdfr:MatrixFlowDomainFragmentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the MFDFr.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ctpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of CTP (aboslute) names associated with MFDFr.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP (aboslute) names associated with MFDFr.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MFDFr data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TpPoolInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the TPPool as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tppoolNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the TPPool.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tppoolAttrs" type="tppool:TpPoolType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the TPPool.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TPPool data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="PgpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pgpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the PGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pgpAttrs" type="pgp:ProtectionGroupType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the PGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on PGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="EpgpInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Equipment Protection Group as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="epgpNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the EPGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="epgpAttrs" type="epgp:EquipmentProtectionGroupType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the EPGP.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on EPGP data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="MlsnInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Multi Layer Subnetwork as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mlsnNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the MLSN in the MD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mlsnAttrs" type="mlsn:MultiLayerSubnetworkType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sncList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of SubnetworkConnection inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sncInv" type="tns:SncInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpPoolList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TPPool inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpPoolInv" type="tns:TpPoolInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fdList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FD inventories contained in the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fdInv" type="tns:FdInventoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associatedMeNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of ME names associated with the MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tlNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of TL names associated with this MLSN.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on MLSN data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="SncInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Subnetwork Connection as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sncNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The relative name of the SNC.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sncAttrs" type="snc:SubnetworkConnectionType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the SNC.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="route" type="route:RouteType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Route for the SNC (List of cross-connects)</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on SNC data retrieval .</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the FD as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fdNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TL.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fdAttrs" type="fd:FlowDomainType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the FD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ptpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of PTP (aboslute) names associated with FD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ftpNameList" type="nam:NamingAttributesListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FTP (aboslute) names associated with FD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fdfrInvList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The list of FDFr inventories.</p>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fdfrInv" type="tns:FdfrInventoryType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TL data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="FdfrInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the FDFr as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fdfrAttrs" type="fdfr:FlowDomainFragmentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the FDFr.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="route" type="fdfrroute:FdfrRouteType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>Route for the FDFr (List of MFDFr)</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on FDFr data retrieval</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TlInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Topological Link as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tlNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TL.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tlAttrs" type="tl:TopologicalLinkType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the TL.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TL data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================= -->
  <xsd:complexType name="TmdInventoryType">
    <xsd:annotation>
      <xsd:documentation>
        <p>The data structure of the Transmission Descriptor as returned in inventory report.
        Refer to the InventoryLayout supporting document.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tmdNm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The name of the TMD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tmdAttrs" type="tmd:TransmissionDescriptorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The specific attributes of the TMD.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qualityIndicator" type="tns:DataQualityIndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <p>The quality indicator used to report exception information on TMD data retrieval.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
