mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/wsdl/FlowDomainControl/FlowDomainControlPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-FlowDomainControlV1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: FlowDomainControl Service Interface WSDL PortType Module</p>
    <p>Description: This module contains all the mTOP FlowDomainControl Service Interface PortType WSDL definitions common to both Web Service deployment profiles; SOAP/HTTP and SOAP/JMS.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/rp/wsdl/fdc/v1-0" location="FlowDomainControlMessages.wsdl"/>
  <wsdl:portType name="FlowDomainControl">
    <wsdl:documentation>
      <p>The FlowDomainControl porttype (interface) common to both RPC (synchronous) and MSG (asynchronous) based client/server communication patterns.</p>
    </wsdl:documentation>
    <wsdl:operation name="assignConnectionlessPortTerminationPointsToMfd">
      <wsdl:input message="tns:assignConnectionlessPortTerminationPointsToMfdRequest"/>
      <wsdl:output message="tns:assignConnectionlessPortTerminationPointsToMfdResponse"/>
      <wsdl:fault name="assignConnectionlessPortTerminationPointsToMfdException" message="tns:assignConnectionlessPortTerminationPointsToMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="associateConnectionlessPortTerminationPointsWithFd">
      <wsdl:input message="tns:associateConnectionlessPortTerminationPointsWithFdRequest"/>
      <wsdl:output message="tns:associateConnectionlessPortTerminationPointsWithFdResponse"/>
      <wsdl:fault name="associateConnectionlessPortTerminationPointsWithFdException" message="tns:associateConnectionlessPortTerminationPointsWithFdException"/>
    </wsdl:operation>
    <wsdl:operation name="associateMatrixFlowDomainsWithFd">
      <wsdl:input message="tns:associateMatrixFlowDomainsWithFdRequest"/>
      <wsdl:output message="tns:associateMatrixFlowDomainsWithFdResponse"/>
      <wsdl:fault name="associateMatrixFlowDomainsWithFdException" message="tns:associateMatrixFlowDomainsWithFdException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndActivateFlowDomainFragment">
      <wsdl:input message="tns:createAndActivateFlowDomainFragmentRequest"/>
      <wsdl:output message="tns:createAndActivateFlowDomainFragmentResponse"/>
      <wsdl:fault name="createAndActivateFlowDomainFragmentException" message="tns:createAndActivateFlowDomainFragmentException"/>
    </wsdl:operation>
    <wsdl:operation name="createFlowDomain">
      <wsdl:input message="tns:createFlowDomainRequest"/>
      <wsdl:output message="tns:createFlowDomainResponse"/>
      <wsdl:fault name="createFlowDomainException" message="tns:createFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="createMatrixFlowDomain">
      <wsdl:input message="tns:createMatrixFlowDomainRequest"/>
      <wsdl:output message="tns:createMatrixFlowDomainResponse"/>
      <wsdl:fault name="createMatrixFlowDomainException" message="tns:createMatrixFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateAndDeleteFlowDomainFragment">
      <wsdl:input message="tns:deactivateAndDeleteFlowDomainFragmentRequest"/>
      <wsdl:output message="tns:deactivateAndDeleteFlowDomainFragmentResponse"/>
      <wsdl:fault name="deactivateAndDeleteFlowDomainFragmentException" message="tns:deactivateAndDeleteFlowDomainFragmentException"/>
    </wsdl:operation>
    <wsdl:operation name="deAssociateConnectionlessPortTerminationPointsFromFd">
      <wsdl:input message="tns:deAssociateConnectionlessPortTerminationPointsFromFdRequest"/>
      <wsdl:output message="tns:deAssociateConnectionlessPortTerminationPointsFromFdResponse"/>
      <wsdl:fault name="deAssociateConnectionlessPortTerminationPointsFromFdException" message="tns:deAssociateConnectionlessPortTerminationPointsFromFdException"/>
    </wsdl:operation>
    <wsdl:operation name="deAssociateMatrixFlowDomainsFromFd">
      <wsdl:input message="tns:deAssociateMatrixFlowDomainsFromFdRequest"/>
      <wsdl:output message="tns:deAssociateMatrixFlowDomainsFromFdResponse"/>
      <wsdl:fault name="deAssociateMatrixFlowDomainsFromFdException" message="tns:deAssociateMatrixFlowDomainsFromFdException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteFlowDomain">
      <wsdl:input message="tns:deleteFlowDomainRequest"/>
      <wsdl:output message="tns:deleteFlowDomainResponse"/>
      <wsdl:fault name="deleteFlowDomainException" message="tns:deleteFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteMatrixFlowDomain">
      <wsdl:input message="tns:deleteMatrixFlowDomainRequest"/>
      <wsdl:output message="tns:deleteMatrixFlowDomainResponse"/>
      <wsdl:fault name="deleteMatrixFlowDomainException" message="tns:deleteMatrixFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyFlowDomain">
      <wsdl:input message="tns:modifyFlowDomainRequest"/>
      <wsdl:output message="tns:modifyFlowDomainResponse"/>
      <wsdl:fault name="modifyFlowDomainException" message="tns:modifyFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyFlowDomainFragment">
      <wsdl:input message="tns:modifyFlowDomainFragmentRequest"/>
      <wsdl:output message="tns:modifyFlowDomainFragmentResponse"/>
      <wsdl:fault name="modifyFlowDomainFragmentException" message="tns:modifyFlowDomainFragmentException"/>
    </wsdl:operation>
    <wsdl:operation name="modifyMatrixFlowDomain">
      <wsdl:input message="tns:modifyMatrixFlowDomainRequest"/>
      <wsdl:output message="tns:modifyMatrixFlowDomainResponse"/>
      <wsdl:fault name="modifyMatrixFlowDomainException" message="tns:modifyMatrixFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="unassignConnectionlessPortTerminationPointsFromMfd">
      <wsdl:input message="tns:unassignConnectionlessPortTerminationPointsFromMfdRequest"/>
      <wsdl:output message="tns:unassignConnectionlessPortTerminationPointsFromMfdResponse"/>
      <wsdl:fault name="unassignConnectionlessPortTerminationPointsFromMfdException" message="tns:unassignConnectionlessPortTerminationPointsFromMfdException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
