mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/FlowDomainRetrieval/FlowDomainRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-FlowDomainRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:fdr="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: FlowDomainRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP FlowDomainRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" schemaLocation="../../xsd/FlowDomainRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllAssociatedMatrixFlowDomainsRequest">
    <wsdl:documentation>
      <p>The getAllAssociatedMatrixFlowDomains request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMatrixFlowDomainsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssociatedMatrixFlowDomainsResponse">
    <wsdl:documentation>
      <p>The getAllAssociatedMatrixFlowDomains response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMatrixFlowDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssociatedMatrixFlowDomainsException">
    <wsdl:documentation>
      <p>The getAllAssociatedMatrixFlowDomains exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMatrixFlowDomainsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainFragmentsRequest">
    <wsdl:documentation>
      <p>The getAllFlowDomainFragments request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainFragmentsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainFragmentsResponse">
    <wsdl:documentation>
      <p>The getAllFlowDomainFragments response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainFragmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainFragmentsException">
    <wsdl:documentation>
      <p>The getAllFlowDomainFragments exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainFragmentsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsRequest">
    <wsdl:documentation>
      <p>The getAllFlowDomains request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsResponse">
    <wsdl:documentation>
      <p>The getAllFlowDomains response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsException">
    <wsdl:documentation>
      <p>The getAllFlowDomains exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMatrixFlowDomainsRequest">
    <wsdl:documentation>
      <p>The getAllSupportedMatrixFlowDomains request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMatrixFlowDomainsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMatrixFlowDomainsResponse">
    <wsdl:documentation>
      <p>The getAllSupportedMatrixFlowDomains response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMatrixFlowDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMatrixFlowDomainsException">
    <wsdl:documentation>
      <p>The getAllSupportedMatrixFlowDomains exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMatrixFlowDomainsException"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMatrixFlowDomainRequest">
    <wsdl:documentation>
      <p>The getAssigningMatrixFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMatrixFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMatrixFlowDomainResponse">
    <wsdl:documentation>
      <p>The getAssigningMatrixFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMatrixFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMatrixFlowDomainException">
    <wsdl:documentation>
      <p>The getAssigningMatrixFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMatrixFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFlowDomainRequest">
    <wsdl:documentation>
      <p>The getAssociatingFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFlowDomainResponse">
    <wsdl:documentation>
      <p>The getAssociatingFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFlowDomainException">
    <wsdl:documentation>
      <p>The getAssociatingFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainRequest">
    <wsdl:documentation>
      <p>The getFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainResponse">
    <wsdl:documentation>
      <p>The getFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainException">
    <wsdl:documentation>
      <p>The getFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentRequest">
    <wsdl:documentation>
      <p>The getFlowDomainFragment request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentResponse">
    <wsdl:documentation>
      <p>The getFlowDomainFragment response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentException">
    <wsdl:documentation>
      <p>The getFlowDomainFragment exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentRouteRequest">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentRouteResponse">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentRouteException">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentRouteException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsByUserLabelException">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsWithTpRequest">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsWithTpResponse">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsWithTpException">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelException">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainRequest">
    <wsdl:documentation>
      <p>The getMatrixFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainResponse">
    <wsdl:documentation>
      <p>The getMatrixFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainException">
    <wsdl:documentation>
      <p>The getMatrixFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainsIteratorRequest">
    <wsdl:documentation>
      <p>The getMatrixFlowDomainsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainsIteratorResponse">
    <wsdl:documentation>
      <p>The getMatrixFlowDomainsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainsIteratorException">
    <wsdl:documentation>
      <p>The getMatrixFlowDomainsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsIteratorRequest">
    <wsdl:documentation>
      <p>The getFlowDomainsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsIteratorResponse">
    <wsdl:documentation>
      <p>The getFlowDomainsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsIteratorException">
    <wsdl:documentation>
      <p>The getFlowDomainsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsIteratorRequest">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsIteratorResponse">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsIteratorException">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
