mtosi_2.0/main/DDPs/ResourceProvisioning/IIS/wsdl/GuiCutThroughControl/GuiCutThroughControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-GuiCutThroughControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:gctc="http://www.tmforum.org/mtop/rp/xsd/gctc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/gctc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/gctc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: GuiCutThroughControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP GuiCutThroughControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/gctc/v1" schemaLocation="../../xsd/GuiCutThroughControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="destroyGctRequest">
    <wsdl:documentation>
      <p>The destroyGct request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:destroyGctRequest"/>
  </wsdl:message>
  <wsdl:message name="destroyGctResponse">
    <wsdl:documentation>
      <p>The destroyGct response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:destroyGctResponse"/>
  </wsdl:message>
  <wsdl:message name="destroyGctException">
    <wsdl:documentation>
      <p>The destroyGct exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="gctc:destroyGctException"/>
  </wsdl:message>
  <wsdl:message name="getGctProfileInfoRequest">
    <wsdl:documentation>
      <p>The getGctProfileInfo request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:getGctProfileInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="getGctProfileInfoResponse">
    <wsdl:documentation>
      <p>The getGctProfileInfo response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:getGctProfileInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="getGctProfileInfoException">
    <wsdl:documentation>
      <p>The getGctProfileInfo exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="gctc:getGctProfileInfoException"/>
  </wsdl:message>
  <wsdl:message name="launchGctRequest">
    <wsdl:documentation>
      <p>The launchGct request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:launchGctRequest"/>
  </wsdl:message>
  <wsdl:message name="launchGctResponse">
    <wsdl:documentation>
      <p>The launchGct response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="gctc:launchGctResponse"/>
  </wsdl:message>
  <wsdl:message name="launchGctException">
    <wsdl:documentation>
      <p>The launchGct exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="gctc:launchGctException"/>
  </wsdl:message>
</wsdl:definitions>
