mtosi_4.0/main/DDPs/ResourceProvisioning/IIS/wsdl/ConnectionControl/ConnectionControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceProvisioning - Copyright TeleManagement Forum 2008 -->
<wsdl:definitions name="mTOP-ConnectionControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:conc="http://www.tmforum.org/mtop/rp/xsd/conc/v1" xmlns:tns="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rp/wsdl/conc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceProvisioning</p>
    <p>Module: ConnectionControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ConnectionControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rp/xsd/conc/v1" schemaLocation="../../xsd/ConnectionControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="activateSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The activateSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:activateSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="activateSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The activateSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:activateSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="activateSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The activateSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:activateSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="addRouteRequest">
    <wsdl:documentation>
      <p>The addRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:addRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="addRouteResponse">
    <wsdl:documentation>
      <p>The addRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:addRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="addRouteException">
    <wsdl:documentation>
      <p>The addRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:addRouteException"/>
  </wsdl:message>
  <wsdl:message name="checkValidSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The checkValidSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:checkValidSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="checkValidSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The checkValidSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:checkValidSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="checkValidSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The checkValidSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:checkValidSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The createAndActivateSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createAndActivateSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The createAndActivateSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createAndActivateSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndActivateSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The createAndActivateSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:createAndActivateSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="createModifiedSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The createModifiedSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createModifiedSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="createModifiedSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The createModifiedSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createModifiedSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="createModifiedSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The createModifiedSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:createModifiedSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="createSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The createSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="createSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The createSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:createSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="createSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The createSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:createSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The deactivateAndDeleteSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateAndDeleteSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The deactivateAndDeleteSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateAndDeleteSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateAndDeleteSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The deactivateAndDeleteSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:deactivateAndDeleteSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="deactivateSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The deactivateSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="deactivateSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The deactivateSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deactivateSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="deactivateSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The deactivateSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:deactivateSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="deleteSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The deleteSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deleteSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The deleteSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:deleteSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The deleteSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:deleteSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="modifySubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The modifySubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:modifySubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="modifySubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The modifySubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:modifySubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="modifySubnetworkConnectionException">
    <wsdl:documentation>
      <p>The modifySubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:modifySubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="removeRouteRequest">
    <wsdl:documentation>
      <p>The removeRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:removeRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="removeRouteResponse">
    <wsdl:documentation>
      <p>The removeRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:removeRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="removeRouteException">
    <wsdl:documentation>
      <p>The removeRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:removeRouteException"/>
  </wsdl:message>
  <wsdl:message name="setIntendedRouteRequest">
    <wsdl:documentation>
      <p>The setIntendedRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setIntendedRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="setIntendedRouteResponse">
    <wsdl:documentation>
      <p>The setIntendedRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setIntendedRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="setIntendedRouteException">
    <wsdl:documentation>
      <p>The setIntendedRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:setIntendedRouteException"/>
  </wsdl:message>
  <wsdl:message name="setRoutesAdminStateRequest">
    <wsdl:documentation>
      <p>The setRoutesAdminState request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setRoutesAdminStateRequest"/>
  </wsdl:message>
  <wsdl:message name="setRoutesAdminStateResponse">
    <wsdl:documentation>
      <p>The setRoutesAdminState response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:setRoutesAdminStateResponse"/>
  </wsdl:message>
  <wsdl:message name="setRoutesAdminStateException">
    <wsdl:documentation>
      <p>The setRoutesAdminState exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:setRoutesAdminStateException"/>
  </wsdl:message>
  <wsdl:message name="swapSubnetworkConnectionRequest">
    <wsdl:documentation>
      <p>The swapSubnetworkConnection request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:swapSubnetworkConnectionRequest"/>
  </wsdl:message>
  <wsdl:message name="swapSubnetworkConnectionResponse">
    <wsdl:documentation>
      <p>The swapSubnetworkConnection response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:swapSubnetworkConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="swapSubnetworkConnectionException">
    <wsdl:documentation>
      <p>The swapSubnetworkConnection exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:swapSubnetworkConnectionException"/>
  </wsdl:message>
  <wsdl:message name="switchRouteRequest">
    <wsdl:documentation>
      <p>The switchRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:switchRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="switchRouteResponse">
    <wsdl:documentation>
      <p>The switchRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="conc:switchRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="switchRouteException">
    <wsdl:documentation>
      <p>The switchRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="conc:switchRouteException"/>
  </wsdl:message>
</wsdl:definitions>
