Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/FlowDomainRetrieval/FlowDomainRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-FlowDomainRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:fdr="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: FlowDomainRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP FlowDomainRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/fdr/v1" schemaLocation="../../xsd/FlowDomainRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllAssociatedMfdsRequest">
    <wsdl:documentation>
      <p>The getAllAssociatedMfds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMfdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAssociatedMfdsResponse">
    <wsdl:documentation>
      <p>The getAllAssociatedMfds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMfdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAssociatedMfdsException">
    <wsdl:documentation>
      <p>The getAllAssociatedMfds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllAssociatedMfdsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFdfrsRequest">
    <wsdl:documentation>
      <p>The getAllFdfrs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFdfrsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFdfrsResponse">
    <wsdl:documentation>
      <p>The getAllFdfrs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFdfrsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFdfrsException">
    <wsdl:documentation>
      <p>The getAllFdfrs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFdfrsException"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsRequest">
    <wsdl:documentation>
      <p>The getAllFlowDomains request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsResponse">
    <wsdl:documentation>
      <p>The getAllFlowDomains response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllFlowDomainsException">
    <wsdl:documentation>
      <p>The getAllFlowDomains exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllFlowDomainsException"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMfdsRequest">
    <wsdl:documentation>
      <p>The getAllSupportedMfds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMfdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMfdsResponse">
    <wsdl:documentation>
      <p>The getAllSupportedMfds response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMfdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllSupportedMfdsException">
    <wsdl:documentation>
      <p>The getAllSupportedMfds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAllSupportedMfdsException"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMfdRequest">
    <wsdl:documentation>
      <p>The getAssigningMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMfdResponse">
    <wsdl:documentation>
      <p>The getAssigningMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssigningMfdException">
    <wsdl:documentation>
      <p>The getAssigningMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssigningMfdException"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFdRequest">
    <wsdl:documentation>
      <p>The getAssociatingFd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFdResponse">
    <wsdl:documentation>
      <p>The getAssociatingFd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFdResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssociatingFdException">
    <wsdl:documentation>
      <p>The getAssociatingFd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getAssociatingFdException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRequest">
    <wsdl:documentation>
      <p>The getFdfr request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrResponse">
    <wsdl:documentation>
      <p>The getFdfr response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrException">
    <wsdl:documentation>
      <p>The getFdfr exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRouteRequest">
    <wsdl:documentation>
      <p>The getFdfrRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRouteResponse">
    <wsdl:documentation>
      <p>The getFdfrRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrRouteException">
    <wsdl:documentation>
      <p>The getFdfrRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrRouteException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getFdfrsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getFdfrsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsByUserLabelException">
    <wsdl:documentation>
      <p>The getFdfrsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsWithTpRequest">
    <wsdl:documentation>
      <p>The getFdfrsWithTp request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsWithTpRequest"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsWithTpResponse">
    <wsdl:documentation>
      <p>The getFdfrsWithTp response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsWithTpResponse"/>
  </wsdl:message>
  <wsdl:message name="getFdfrsWithTpException">
    <wsdl:documentation>
      <p>The getFdfrsWithTp exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFdfrsWithTpException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainRequest">
    <wsdl:documentation>
      <p>The getFlowDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainResponse">
    <wsdl:documentation>
      <p>The getFlowDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainException">
    <wsdl:documentation>
      <p>The getFlowDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelRequest">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelResponse">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsByUserLabelException">
    <wsdl:documentation>
      <p>The getFlowDomainsByUserLabel exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsByUserLabelException"/>
  </wsdl:message>
  <wsdl:message name="getMfdRequest">
    <wsdl:documentation>
      <p>The getMfd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMfdRequest"/>
  </wsdl:message>
  <wsdl:message name="getMfdResponse">
    <wsdl:documentation>
      <p>The getMfd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMfdResponse"/>
  </wsdl:message>
  <wsdl:message name="getMfdException">
    <wsdl:documentation>
      <p>The getMfd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMfdException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionParamsRequest">
    <wsdl:documentation>
      <p>The getTransmissionParams request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getTransmissionParamsRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionParamsResponse">
    <wsdl:documentation>
      <p>The getTransmissionParams response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getTransmissionParamsResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionParamsException">
    <wsdl:documentation>
      <p>The getTransmissionParams exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getTransmissionParamsException"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainsIteratorRequest">
    <wsdl:documentation>
      <p>The getMatrixFlowDomainsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainsIteratorResponse">
    <wsdl:documentation>
      <p>The getMatrixFlowDomainsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMatrixFlowDomainsIteratorException">
    <wsdl:documentation>
      <p>The getMatrixFlowDomainsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getMatrixFlowDomainsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsIteratorRequest">
    <wsdl:documentation>
      <p>The getFlowDomainsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsIteratorResponse">
    <wsdl:documentation>
      <p>The getFlowDomainsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainsIteratorException">
    <wsdl:documentation>
      <p>The getFlowDomainsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainsIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsIteratorRequest">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsIteratorResponse">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getFlowDomainFragmentsIteratorException">
    <wsdl:documentation>
      <p>The getFlowDomainFragmentsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="fdr:getFlowDomainFragmentsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
