Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/FlowDomainRetrieval/FlowDomainRetrievalHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-FlowDomainRetrievalV1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: FlowDomainRetrieval Service Interface WSDL HTTP Module</p>
    <p>Description: This module contains all the mTOP FlowDomainRetrieval Service Interface WSDL definitions for the Web Service deployment profile with SOAP/HTTP binding.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.tmforum.org/mtop/mri/wsdl/fdr/v1-0" location="FlowDomainRetrievalMessages.wsdl"/>
  <wsdl:portType name="FlowDomainRetrieval_RPC">
    <wsdl:documentation>
      <p>The FlowDomainRetrieval porttype (interface) for RPC (synchronous) based client/server communication patterns. All SIT operations use the specific get"ObjectType"Iterator operation to handle multiple responses.</p>
    </wsdl:documentation>
    <wsdl:operation name="getAllAssociatedMfds">
      <wsdl:input message="tns:getAllAssociatedMfdsRequest"/>
      <wsdl:output message="tns:getAllAssociatedMfdsResponse"/>
      <wsdl:fault name="getAllAssociatedMfdsException" message="tns:getAllAssociatedMfdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFdfrs">
      <wsdl:input message="tns:getAllFdfrsRequest"/>
      <wsdl:output message="tns:getAllFdfrsResponse"/>
      <wsdl:fault name="getAllFdfrsException" message="tns:getAllFdfrsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <wsdl:input message="tns:getAllFlowDomainsRequest"/>
      <wsdl:output message="tns:getAllFlowDomainsResponse"/>
      <wsdl:fault name="getAllFlowDomainsException" message="tns:getAllFlowDomainsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMfds">
      <wsdl:input message="tns:getAllSupportedMfdsRequest"/>
      <wsdl:output message="tns:getAllSupportedMfdsResponse"/>
      <wsdl:fault name="getAllSupportedMfdsException" message="tns:getAllSupportedMfdsException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMfd">
      <wsdl:input message="tns:getAssigningMfdRequest"/>
      <wsdl:output message="tns:getAssigningMfdResponse"/>
      <wsdl:fault name="getAssigningMfdException" message="tns:getAssigningMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFd">
      <wsdl:input message="tns:getAssociatingFdRequest"/>
      <wsdl:output message="tns:getAssociatingFdResponse"/>
      <wsdl:fault name="getAssociatingFdException" message="tns:getAssociatingFdException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfr">
      <wsdl:input message="tns:getFdfrRequest"/>
      <wsdl:output message="tns:getFdfrResponse"/>
      <wsdl:fault name="getFdfrException" message="tns:getFdfrException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfrRoute">
      <wsdl:input message="tns:getFdfrRouteRequest"/>
      <wsdl:output message="tns:getFdfrRouteResponse"/>
      <wsdl:fault name="getFdfrRouteException" message="tns:getFdfrRouteException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsByUserLabel">
      <wsdl:input message="tns:getFdfrsByUserLabelRequest"/>
      <wsdl:output message="tns:getFdfrsByUserLabelResponse"/>
      <wsdl:fault name="getFdfrsByUserLabelException" message="tns:getFdfrsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsWithTp">
      <wsdl:input message="tns:getFdfrsWithTpRequest"/>
      <wsdl:output message="tns:getFdfrsWithTpResponse"/>
      <wsdl:fault name="getFdfrsWithTpException" message="tns:getFdfrsWithTpException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <wsdl:input message="tns:getFlowDomainRequest"/>
      <wsdl:output message="tns:getFlowDomainResponse"/>
      <wsdl:fault name="getFlowDomainException" message="tns:getFlowDomainException"/>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <wsdl:input message="tns:getFlowDomainsByUserLabelRequest"/>
      <wsdl:output message="tns:getFlowDomainsByUserLabelResponse"/>
      <wsdl:fault name="getFlowDomainsByUserLabelException" message="tns:getFlowDomainsByUserLabelException"/>
    </wsdl:operation>
    <wsdl:operation name="getMfd">
      <wsdl:input message="tns:getMfdRequest"/>
      <wsdl:output message="tns:getMfdResponse"/>
      <wsdl:fault name="getMfdException" message="tns:getMfdException"/>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionParams">
      <wsdl:input message="tns:getTransmissionParamsRequest"/>
      <wsdl:output message="tns:getTransmissionParamsResponse"/>
      <wsdl:fault name="getTransmissionParamsException" message="tns:getTransmissionParamsException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlowDomainRetrievalSoapHttpBinding" type="tns:FlowDomainRetrieval_RPC">
    <wsdl:documentation>
      <p>SOAP HTTP binding definitions of the operations of the FlowDomainRetrieval RPC portType (interface)</p>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllAssociatedMfds">
      <soap:operation soapAction="getAllAssociatedMfds" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllAssociatedMfdsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllAssociatedMfdsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllAssociatedMfdsException">
        <soap:fault name="getAllAssociatedMfdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFdfrs">
      <soap:operation soapAction="getAllFdfrs" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFdfrsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFdfrsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFdfrsException">
        <soap:fault name="getAllFdfrsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllFlowDomains">
      <soap:operation soapAction="getAllFlowDomains" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllFlowDomainsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllFlowDomainsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllFlowDomainsException">
        <soap:fault name="getAllFlowDomainsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportedMfds">
      <soap:operation soapAction="getAllSupportedMfds" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAllSupportedMfdsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAllSupportedMfdsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAllSupportedMfdsException">
        <soap:fault name="getAllSupportedMfdsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssigningMfd">
      <soap:operation soapAction="getAssigningMfd" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssigningMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssigningMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssigningMfdException">
        <soap:fault name="getAssigningMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssociatingFd">
      <soap:operation soapAction="getAssociatingFd" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getAssociatingFdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getAssociatingFdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAssociatingFdException">
        <soap:fault name="getAssociatingFdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfr">
      <soap:operation soapAction="getFdfr" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFdfrRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFdfrResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrException">
        <soap:fault name="getFdfrException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrRoute">
      <soap:operation soapAction="getFdfrRoute" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFdfrRouteRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFdfrRouteResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrRouteException">
        <soap:fault name="getFdfrRouteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsByUserLabel">
      <soap:operation soapAction="getFdfrsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFdfrsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFdfrsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrsByUserLabelException">
        <soap:fault name="getFdfrsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdfrsWithTp">
      <soap:operation soapAction="getFdfrsWithTp" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFdfrsWithTpRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFdfrsWithTpResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFdfrsWithTpException">
        <soap:fault name="getFdfrsWithTpException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomain">
      <soap:operation soapAction="getFlowDomain" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainException">
        <soap:fault name="getFlowDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFlowDomainsByUserLabel">
      <soap:operation soapAction="getFlowDomainsByUserLabel" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getFlowDomainsByUserLabelRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getFlowDomainsByUserLabelResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getFlowDomainsByUserLabelException">
        <soap:fault name="getFlowDomainsByUserLabelException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMfd">
      <soap:operation soapAction="getMfd" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getMfdRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getMfdResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getMfdException">
        <soap:fault name="getMfdException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTransmissionParams">
      <soap:operation soapAction="getTransmissionParams" style="document"/>
      <wsdl:input>
        <soap:header message="tns:getTransmissionParamsRequest" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:getTransmissionParamsResponse" part="mtopHeader" use="literal"/>
        <soap:body parts="mtopBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getTransmissionParamsException">
        <soap:fault name="getTransmissionParamsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowDomainRetrievalHttp">
    <wsdl:documentation>
      <p>Example of the FlowDomainRetrieval WSDL Service definition as a deployment example of this mTOP Service Interface. It is expected to be modified to match the specific deployment configuration in a service provider's CCV.</p>
    </wsdl:documentation>
    <wsdl:port name="FlowDomainRetrievalSoapHttp" binding="tns:FlowDomainRetrievalSoapHttpBinding">
      <soap:address location="http://aserver/mtosi/FlowDomainRetrieval"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
