Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/TmdRetrieval/TmdRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-TpRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/tmdr/v1-0" xmlns:tmdr="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/tmdr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: tmdRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP tmdRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/tmdr/v1" schemaLocation="../../xsd/tmdRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllTransmissionDescriptorNamesRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsResponse">
    <wsdl:documentation>
      <p>The  response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptors exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTransmissionDescriptorsWrtOsException">
    <wsdl:documentation>
      <p>The getAllTransmissionDescriptorsWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getAllTransmissionDescriptorsWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptor exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorNamesIteratorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorNamesIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorNamesIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorNamesIteratorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorNamesIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorNamesIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorNamesIteratorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorNamesIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorNamesIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorRequest">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorResponse">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getTransmissionDescriptorsIteratorException">
    <wsdl:documentation>
      <p>The getTransmissionDescriptorsIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="tmdr:getTransmissionDescriptorsIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
