mtosi_2.0/2.0ME/DDPs/ResourcePerformanceManagement/IIS/wsdl/PerformanceManagementControl/PerformanceManagementControlMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourcePerformanceManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-PerformanceManagementControlV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:pmc="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" xmlns:tns="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0" targetNamespace="http://www.tmforum.org/mtop/rpm/wsdl/pmc/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourcePerformanceManagement</p>
    <p>Module: PerformanceManagementControl Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP PerformanceManagementControl Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rpm/xsd/pmc/v1" schemaLocation="../../xsd/PerformanceManagementControlMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="clearPmDataRequest">
    <wsdl:documentation>
      <p>The clearPmData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:clearPmDataRequest"/>
  </wsdl:message>
  <wsdl:message name="clearPmDataResponse">
    <wsdl:documentation>
      <p>The clearPmData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:clearPmDataResponse"/>
  </wsdl:message>
  <wsdl:message name="clearPmDataException">
    <wsdl:documentation>
      <p>The clearPmData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmc:clearPmDataException"/>
  </wsdl:message>
  <wsdl:message name="disablePmDataRequest">
    <wsdl:documentation>
      <p>The disablePmData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:disablePmDataRequest"/>
  </wsdl:message>
  <wsdl:message name="disablePmDataResponse">
    <wsdl:documentation>
      <p>The disablePmData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:disablePmDataResponse"/>
  </wsdl:message>
  <wsdl:message name="disablePmDataException">
    <wsdl:documentation>
      <p>The disablePmData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmc:disablePmDataException"/>
  </wsdl:message>
  <wsdl:message name="enablePmDataRequest">
    <wsdl:documentation>
      <p>The enablePmData request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:enablePmDataRequest"/>
  </wsdl:message>
  <wsdl:message name="enablePmDataResponse">
    <wsdl:documentation>
      <p>The enablePmData response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="pmc:enablePmDataResponse"/>
  </wsdl:message>
  <wsdl:message name="enablePmDataException">
    <wsdl:documentation>
      <p>The enablePmData exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="pmc:enablePmDataException"/>
  </wsdl:message>
</wsdl:definitions>
