mtosi_2.0/main/DDPs/ManageResourceInventory/IIS/wsdl/ResourceInventoryRetrieval/ResourceInventoryRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-ResourceInventoryRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:rir="http://www.tmforum.org/mtop/mri/xsd/rir/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/rir/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/rir/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: ResourceInventoryRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP ResourceInventoryRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/rir/v1" schemaLocation="../../xsd/ResourceInventoryRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getInventoryRequest">
    <wsdl:documentation>
      <p>The getInventory request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rir:getInventoryRequest"/>
  </wsdl:message>
  <wsdl:message name="getInventoryResponse">
    <wsdl:documentation>
      <p>The getInventory response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rir:getInventoryResponse"/>
  </wsdl:message>
  <wsdl:message name="getInventoryException">
    <wsdl:documentation>
      <p>The getInventory exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rir:getInventoryException"/>
  </wsdl:message>
  <wsdl:message name="getInventoryIteratorRequest">
    <wsdl:documentation>
      <p>The getInventoryIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rir:getInventoryIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getInventoryIteratorResponse">
    <wsdl:documentation>
      <p>The getInventoryIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="rir:getInventoryIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getInventoryIteratorException">
    <wsdl:documentation>
      <p>The getInventoryIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="rir:getInventoryIteratorException"/>
  </wsdl:message>
</wsdl:definitions>
