Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MdRetrieval/MdRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MdRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mdr/v1-0" xmlns:mdr="http://www.tmforum.org/mtop/mri/xsd/mdr/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mdr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: EquipmentInventoryRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MD Retrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mdr/v1" schemaLocation="../../xsd/MdRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllMdNamesRequest">
    <wsdl:documentation>
      <p>The getAllMdNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllMdNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMdNamesResponse">
    <wsdl:documentation>
      <p>The getAllMdNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllMdNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMdNamesException">
    <wsdl:documentation>
      <p>The getAllMdNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mdr:getAllMdNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllMdsRequest">
    <wsdl:documentation>
      <p>The getAllMds request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllMdsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMdsResponse">
    <wsdl:documentation>
      <p>The  response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllMdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMdsException">
    <wsdl:documentation>
      <p>The getAllMds exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mdr:getAllMdsException"/>
  </wsdl:message>
  <wsdl:message name="getMdRequest">
    <wsdl:documentation>
      <p>The getMd request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getMdRequest"/>
  </wsdl:message>
  <wsdl:message name="getMdResponse">
    <wsdl:documentation>
      <p>The getMd response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getMdResponse"/>
  </wsdl:message>
  <wsdl:message name="getMdException">
    <wsdl:documentation>
      <p>The getMd exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mdr:getMdException"/>
  </wsdl:message>
</wsdl:definitions>
