Product/trunk/DDPs/ManageResourceInventory/IIS/wsdl/MdRetrieval/MdRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MdRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mdr/v1-0" xmlns:mdr="http://www.tmforum.org/mtop/mri/xsd/mdr/v1" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mdr/v1-0">
  <wsdl:documentation>
    <p>DDP: Manage Resource Inventory</p>
    <p>Module: EquipmentInventoryRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MD Retrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mdr/v1" schemaLocation="../../xsd/MdRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllManagementDomainNamesRequest">
    <wsdl:documentation>
      <p>The getAllManagementDomainNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllManagementDomainNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagementDomainNamesResponse">
    <wsdl:documentation>
      <p>The getAllManagementDomainNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllManagementDomainNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagementDomainNamesException">
    <wsdl:documentation>
      <p>The getAllManagementDomainNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mdr:getAllManagementDomainNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAllManagementDomainsRequest">
    <wsdl:documentation>
      <p>The getAllManagementDomains request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllManagementDomainsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllManagementDomainsResponse">
    <wsdl:documentation>
      <p>The  response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getAllManagementDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllManagementDomainsException">
    <wsdl:documentation>
      <p>The getAllManagementDomains exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mdr:getAllManagementDomainsException"/>
  </wsdl:message>
  <wsdl:message name="getManagementDomainRequest">
    <wsdl:documentation>
      <p>The getManagementDomain request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getManagementDomainRequest"/>
  </wsdl:message>
  <wsdl:message name="getManagementDomainResponse">
    <wsdl:documentation>
      <p>The getManagementDomain response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mdr:getManagementDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getManagementDomainException">
    <wsdl:documentation>
      <p>The getManagementDomain exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mdr:getManagementDomainException"/>
  </wsdl:message>
</wsdl:definitions>
