mtosi_2.0/main/DDPs/ResourceTroubleManagement/IIS/wsdl/AsapRetrieval/AsapRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ResourceTroubleManagement - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-AsapRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:asapr="http://www.tmforum.org/mtop/rtm/xsd/asapr/v1" xmlns:tns="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0" targetNamespace="http://www.tmforum.org/mtop/rtm/wsdl/asapr/v1-0">
  <wsdl:documentation>
    <p>DDP: ResourceTroubleManagement</p>
    <p>Module: AsapRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP AsapRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/rtm/xsd/asapr/v1" schemaLocation="../../xsd/AsapRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllAsapNamesWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllAsapNamesWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAsapNamesWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAsapNamesWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllAsapNamesWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAsapNamesWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAsapNamesWrtOsException">
    <wsdl:documentation>
      <p>The getAllAsapNamesWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAllAsapNamesWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllAsapsWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllAsapsWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAsapsWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllAsapsWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllAsapsWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAllAsapsWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllAsapsWrtOsException">
    <wsdl:documentation>
      <p>The getAllAsapsWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAllAsapsWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAsapRequest">
    <wsdl:documentation>
      <p>The getAsap request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapRequest"/>
  </wsdl:message>
  <wsdl:message name="getAsapResponse">
    <wsdl:documentation>
      <p>The getAsap response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapResponse"/>
  </wsdl:message>
  <wsdl:message name="getAsapException">
    <wsdl:documentation>
      <p>The getAsap exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAsapException"/>
  </wsdl:message>
  <wsdl:message name="getAsapAssociatedResourceNamesRequest">
    <wsdl:documentation>
      <p>The getAsapAssociatedResourceNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapAssociatedResourceNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getAsapAssociatedResourceNamesResponse">
    <wsdl:documentation>
      <p>The getAsapAssociatedResourceNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapAssociatedResourceNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAsapAssociatedResourceNamesException">
    <wsdl:documentation>
      <p>The getAsapAssociatedResourceNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAsapAssociatedResourceNamesException"/>
  </wsdl:message>
  <wsdl:message name="getAsapByResourceRequest">
    <wsdl:documentation>
      <p>The getAsapByResource request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapByResourceRequest"/>
  </wsdl:message>
  <wsdl:message name="getAsapByResourceResponse">
    <wsdl:documentation>
      <p>The getAsapByResource response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="asapr:getAsapByResourceResponse"/>
  </wsdl:message>
  <wsdl:message name="getAsapByResourceException">
    <wsdl:documentation>
      <p>The getAsapByResource exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="asapr:getAsapByResourceException"/>
  </wsdl:message>
</wsdl:definitions>
